Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

add cuda test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: none

Rebase and address comments.
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU][DT] dce unused tensor.dim ops in SpecializeExports
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Common/test/specialize_exports.mlir
Due: none

Revert "[Codegen] Fix dominance issues blocking consumer fusions (#21551)"
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

Fix bitwidth check for complex types
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
Due: none

Add test for alloca complex for iree-llvmcpu-check-ir-before-llvm-conversion pass.
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion_expected_error.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion_not_fail_unbound.mlir
Due: bazel_to_cmake_2

[GPU][Codegen] Distribute to single subgroup for large parallel dimension in reduction (#21499)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_softmax_rocm.mlir
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp8_rocm.json
Due: none

Revert "[Codegen] Fix dominance issues blocking consumer fusions (#21…551)" (#21632)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[ROCM] Add PDL pattern driver for embedding ukernels
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_pdl_patterns.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f8.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ROCM] Add PDL pattern driver for embedding ukernels (#21591)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_pdl_patterns.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f8.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ROCM] Add ukernel descriptor lowering to pipeline
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update compiler/src/iree/compiler/Codegen/Common/test/specialize_exports.mlir
  compiler/src/iree/compiler/Codegen/Common/test/specialize_exports.mlir
Due: none

address reviwer comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTileAndConvertConvToMatmul.cpp
Due: none

[GPU] Add pass to tile convolution operations to matmul (#21552)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTileAndConvertConvToMatmul.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed fa2c3f8 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommonGPU/index.html
  search/search_index.json
Due: none

[GPU] Make dot/mma field optional and trim the IR.
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

update MLIR files
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/test/external_function_validation.mlir
  compiler/plugins/target/ROCM/test/smoketest_hsaco.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/propagate_dispatch_size_bounds.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/annotate_kernel_for_translation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/test_query_mma.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/emulate_i64.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/map_memref_storage_class.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
  samples/transform_dialect/example_module.mlir
Due: none

cosmetic improvements
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_partial_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: none

don't have variable only used in debug build
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

address some review comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

select neutral value in padded region
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_online_attention.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_partial_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Don't use linalg op after its been padded as it's in a bad state
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

[GPU][NFCI] Make dot/mma field optional and trim the IR. (#21626)
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/test/external_function_validation.mlir
  compiler/plugins/target/ROCM/test/smoketest_hsaco.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/propagate_dispatch_size_bounds.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/annotate_kernel_for_translation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/test_query_mma.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/emulate_i64.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/map_memref_storage_class.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
  samples/transform_dialect/example_module.mlir
Due: none

Add TileLargeTensors pass as a workaround for wrong lowering config propagation
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

WIP - Switching to data-tiling fusion.
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Due: none

Revert "Revert "[Codegen] Fix dominance issues blocking consumer fusions (#21…551)" (#21632)"
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[Codegen] Don't prematurely add ops to worklist in FuseTilableConsumers
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

[GPU][NFC] Deprecate iree-codegen-gpu-native-math-precision flag.
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
Due: none

Reapply "[Codegen] Fix dominance issues blocking consumer fusions (#21551)" (#21637)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

Use arithmetic intensity to guide gemm size categorization
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

use matchReduction (review comment)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_partial_reduction.mlir
Due: none

[GPU][NFC] Deprecate iree-codegen-gpu-native-math-precision flag. (#21636)
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
Due: none

[GlobalOpt] Sink transposes with multiple uses
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: none

push warp red later in select, add another tile and fuse selection just before it
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_softmax_rocm.mlir
Due: none
