Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Test cases and extra comments
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

[Codegen][CPU] Replace transposed_intrinsic with explicit pre-transposed enums.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1

[Codegen][CPU] Add e2e matmul tests for the inner_tiled lowering path.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Util] Demote unhoisted hoistable_conversion remark to LDBG.
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/eliminate_hoistable_conversions.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/EliminateHoistableConversions.cpp
Due: none

[Codegen][CPU] Support distinct LHS/RHS types in e2e matmul test framework.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_code.py
  tests/e2e/matmul/generate_e2e_matmul_tests.py
  tools/testing/e2e/iree-e2e-matmul-test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Preemptively duplicate operations before analysis
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorTileSizes.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_vector_tile_sizes.mlir
Due: none

[Codegen][CPU] Drop the power-of-two cap on `chooseUnrolling`.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

[Codegen][CPU] Add x86 AVX-512 VNNI vpdpbusd MMA intrinsic.
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Split *nextWindowDim++ into read, increment, and lookup
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
Due: none

Simplify comment
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

[Codegen][GPU] Avoid generic TileAndFuse promotion for convolutions.
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_convolution.mlir
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_hip_rdna3.json
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_hip_rdna4.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Require all producer uses to be fusable
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

drop unnecessary checks
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_convolution.mlir
Due: none

nit
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Have a proper fix.
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_convolution.mlir
Due: none

Remove unnecessary checks
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_convolution.mlir
Due: none

Revert "Remove unnecessary checks"
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_convolution.mlir
Due: none

Register missing interface
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: none

[Codegen] Register vector IndexedAccessOpInterface external models
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: none

try removing --iree-vulkan-target
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: none

Try shark01 without `--iree-vulkan-target=rdna3`
  .github/workflows/pkgci_test_torch.yml
Due: none

update path and names
  .github/workflows/pkgci_test_onnx.yml
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

Try shark55 with "--iree-vulkan-target=rdna3"
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: none

[CI] Update amdgpu_vulkan_O3 job name to reflect arch.
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: none

Pin to iree-w7900 (avoid shark55)
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: none

Add Test and Edit CmakeLists.txt and BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm_noalias.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Handle single-workgroup scatter dispatches
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/test/verify_workgroup_distribution.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Due: none

[Codegen] Avoid consumer fusion through scatter ops
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[Python] Preserve device-local buffer uploads
  runtime/bindings/python/hal.cc
  runtime/bindings/python/invoke.cc
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/bindings/python/iree/runtime/function.py
  runtime/bindings/python/tests/array_interop_test.py
  runtime/bindings/python/tests/function_test.py
Due: none

[Codegen] Split StableHLO/JAX select-style argmax reductions
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/test/split_reduction.mlir
Due: none

T -> op
  compiler/src/iree/compiler/GlobalOptimization/PromoteContractionOutputs.cpp
Due: none

pass the op instead of linalgOp so we don't need decltype(T)
  compiler/src/iree/compiler/GlobalOptimization/PromoteContractionOutputs.cpp
Due: none

move the promoteMatmul and promoteConv checks
  compiler/src/iree/compiler/GlobalOptimization/PromoteContractionOutputs.cpp
Due: none

preserve conv attributes
  compiler/src/iree/compiler/GlobalOptimization/PromoteContractionOutputs.cpp
Due: none

merge promote_contraction_outputs_from_bf16.mlir and promote_contraction_outputs_from_f16.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/promote_contraction_outputs.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/promote_contraction_outputs_from_f16.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
