Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[CodeGen] Make TilingConfig compatible with LoweringConfigAttrInterface. (#21323)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

[Codegen] Add AMDGPU specific narrow type emulation pass for AMDGPUDialect (#21333)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/AMDGPUEmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/amdgpu_emulate_narrow_type.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Integrate] Bump LLVM to 77914c96dfc55562404d18c1ab777137055679db (#21341)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Due: none

[Stream] Fix dominance error for multi-result dispatches (#21368)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
Due: none

Fix failure in Windows build. (#21369)
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
Due: none

Use `ShapedType::isStatic`. NFC. (#21385)
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupReordering.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/PadDynamicAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateConstantOffsets.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateDispatchSizeBounds.cpp
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Common/TensorDynamicDimAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerLinalgMicrokernels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilDialect.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ApplyPDLPatterns.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none

[Stream] New ElideAsyncTransfersPass (#21029)
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_transfers.mlir
Due: none

[VectorExt] Use ub.poison for padding in vector_ext vectorization (#21362)
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Make producer fusable via interchange (#20977)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[GlobalOpt] Delete experimental FuseSiluHorizontalMatmul pass. (#21350)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/FuseSiluHorizontalMatmul.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/Utils.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.h
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/fuse_silu_horizontal_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Implement lowering_config propagation for IREE::CPU::LoweringConfigAttr. (#21337)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[LLVMGPU] Add canonicalization for select(pred, true, false) -> broadcast(pred) (#21342)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

[Codegen] Distribute workgroups along X dim (#21334)
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[CPU] Teach TilingConfig about IREE::CPU::LoweringConfigAttr. (#21327)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Switch mmt4d pipeline to use IREE::CPU::LoweringConfigAttr. (#21326)
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[TensorExt] Mirror a tensor_ext version of flow.tensor.bitcast (#21277)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TypePropagationPass.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/bitcast.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_folding.mlir
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ShapeUtils.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Combine layout transformation after GPUFuseAndHoistParallelLoops (#21206)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[CPU] Implement OpAsmDialectInterface for IREE::CPU::LoweringConfigAttr. (#21325)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/roundtrip.mlir
Due: none

Add e2e test for split reduction using tiling. (#21374)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.h
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/check/test/failure.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/split_reduction_using_tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Use TilingConfig for lowering_config propagation. (#21336)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
Due: none

[Codegen][Tuner] remove decomposition attr for attention op (#21345)
  compiler/src/iree/compiler/Codegen/Common/StripCompilationInfoPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/strip_compilation_info.mlir
Due: none

Integrate LLVM to llvm/llvm-project@3ed3a33 (#21364)
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensionsOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/TransformExtensions/LinalgExtExtensionsOps.td
Due: none

[LinalgExt] Add decomposition for vector map_scatter (#21116)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeMapScatter.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_map_scatter.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[NFC] Fix smallvector size in kernel configattrs (#21348)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

[GlobalOptimization] Fix 1x1 Conv2D to Matmul pass ordering (#21355)
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

[DispatchCreation] Add a pass to split long running reduction loops. (#21280)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/MaterializeDefaultWorkgroupCountRegion.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
  compiler/src/iree/compiler/DispatchCreation/test/materialize_default_workgroup_count_region.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Cleanup uses of --verify-diagnostics in tests (#21340)
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/InputConversion/test/tosa_to_linalg_ext.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/convert_streamable_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/normalize_loop_bounds.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion_not_fail_unbound.mlir
  compiler/src/iree/compiler/ConstEval/test/compile_regressions.mlir
  compiler/src/iree/compiler/ConstEval/test/failing.mlir
  compiler/src/iree/compiler/ConstEval/test/scalar_values.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors_packing.mlir
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/create_serialized_module.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/DispatchCreation/test/transpose_generic_ops.mlir
Due: none

[e2e] Adding default tuning specs tests. (#21383)
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

[CPU][NFCI] Update tile sizes selection workaround if it has dynamic shape. (#21353)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

[Dispatch Creation] Remove assert and handle null map (#21380)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[CPU] Refactor logic to LoweringConfigGenerator. (#21352)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

[CPU] Improve TileRootAndFuseProducerConsumer like TileAndFuse pass. (#21351)
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

[GPU] Remove ROCm llvm plugin (#21311)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/CMakeLists.txt
  compiler/plugins/target/ROCM/test/opt_pass_plugin/GPUHello.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/gpu_hello.mlir
Due: bazel_to_cmake_2

Fix unsupported bitcasting of complex operands (#21367)
  compiler/src/iree/compiler/DispatchCreation/BitcastUnsupportedElementTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bitcast_unsupported_element_types.mlir
Due: none

Integrate LLVM at 8fff238b2c363b036ce9e7bf7abab3acafc87ab2 (#21463)
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
Due: none

[CPU][NFC] Update pack ops to not carry artificial padding. (#21440)
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[Codegen] Add llvm_unreachable for unhandled WorkgroupId cases (#21442)
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[Codegen] Materialize 0D set_encoding into no-op (#21418)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
Due: none

Add linalg.softmax e2e tests. (#21396)
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/softmax.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
