Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Metal] Carry export name separately from MSL entry point for name lookup (#24642)
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  runtime/src/iree/hal/drivers/metal/executable.m
  runtime/src/iree/schemas/metal_executable_def.fbs
Due: none

[Metal] Fix staging buffer overflow on large update_buffer uploads (#24643)
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
Due: none

[Metal] Fix indirect dispatch offset for sub-allocated parameter buffers (#24644)
  runtime/src/iree/hal/cts/command_buffer/dispatch_indirect_parameters_test.cc
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
Due: none

[Docs][Website] Add instructions of how to integrate newer LLVM
  docs/website/docs/developers/integrating-llvm.md
  docs/website/mkdocs.yml
Due: none

[CUDA][LLVMGPU] Fix sm_120 WGP params and add BF16 mma.sync coverage (#24648)
  compiler/plugins/target/CUDA/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/bf16_mma_sm80.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/config_tile_and_fuse_sm120.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/config_tile_and_fuse_sm80.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/pipeline_tile_and_fuse_mma_sync.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][DispatchCreation] Separate dispatch for `iree_linalg_ext.scan` producers
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_non_fusable.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply formatting fixes
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[Codegen][CPU] Drop the ACC stride from the inner_tiled ukernel ABI.
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512bf16_1x16x2_f32_bf16.c
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512vnni_16x16x2_i32_i8_casti16.c
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
Due: none

[Codegen][CPU] Fill in the bf16 and i8 ukernel bodies + e2e tests.
  compiler/plugins/target/LLVMCPU/builtins/ukernel/BUILD.bazel
  compiler/plugins/target/LLVMCPU/builtins/ukernel/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512bf16_1x16x2_f32_bf16.c
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512vnni_16x16x2_i32_i8_casti16.c
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/select_ukernel.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectUKernels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Add design doc for the LLVMCPU C-ukernel framework.
  compiler/plugins/target/LLVMCPU/builtins/ukernel/README.md
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512bf16_1x16x2_f32_bf16.c
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512vnni_16x16x2_i32_i8_casti16.c
Due: none

feat(tiling): forward InnerTileAlignment overloads on IREE TilingInterface ops
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

feat(tiling): add makeInnerTileAlignmentFn and thread it through tile-and-fuse
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse_producer_consumer_anchoring_root_op.mlir
Due: none

feat(tiling): thread InnerTileAlignment through tile-and-distribute
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

Move linalg_ext.scan test to fusion test
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_non_fusable.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Guard convolution widen operand fusion
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
Due: none

Address StableHLO preprocessing review feedback
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
Due: buildifier, bazel_to_cmake_1

Simplify non fusable users check
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

[Stream] Deduplicate identical tensor import/export ops
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_folding.mlir
Due: none

[Flow] Fold chained tensor.slice ops
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Due: none

[LLVMCPU] Add SME lowering-strategy tests for f64 and unsupported i8 matmuls
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

[Codegen][DispatchCreation] Separate dispatch for iree_linalg_ext.scan producers (#24651)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_ext_fusion.mlir
Due: none

[Docs][Website] Add instructions of how to integrate newer LLVM (#24631)
  docs/website/docs/developers/integrating-llvm.md
  docs/website/mkdocs.yml
Due: none

Avoid folding tensor slice-of-slice for multi-use producers
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Due: none

[Website] Update copyright year in the global footer
  docs/website/mkdocs.yml
Due: none

[Website] Update copyright year in the global footer (#24657)
  docs/website/mkdocs.yml
Due: none

update HoistUniformScalarCompute.cpp with ExtractOp candidates
  compiler/src/iree/compiler/DispatchCreation/HoistUniformScalarCompute.cpp
Due: none

add tests
  compiler/src/iree/compiler/DispatchCreation/HoistUniformScalarCompute.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_uniform_scalar_compute.mlir
Due: none

split mappable to flow helper, update HoistEncodingOps with it
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.h
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
Due: none

exclude reduce.mlir from webgpu e2e tests
  tests/e2e/stablehlo_ops/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][CPU] Drop the ACC stride from the inner_tiled ukernel ABI. (#24652)
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512bf16_1x16x2_f32_bf16.c
  compiler/plugins/target/LLVMCPU/builtins/ukernel/iree_uk_mma_x86_avx512vnni_16x16x2_i32_i8_casti16.c
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
Due: none

[LinalgExt] Separate ins and outs of Sort op
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgExt.cpp
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_ext.mlir
  compiler/plugins/input/Torch/InputConversion/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/sort.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_alloc_private_memory_for_dps_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/test_partitionable_loops_interface.mlir
  compiler/src/iree/compiler/Codegen/Common/test/type_propagation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_sort.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/distribution.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  tests/e2e/linalg_ext_ops/sort.mlir
  tests/e2e/linalg_ext_ops/topk_v2.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Hoist scalar tensor.extract and tensor.extract_slice (#24552)
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.h
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistUniformScalarCompute.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_uniform_scalar_compute.mlir
  tests/e2e/stablehlo_ops/CMakeLists.txt
Due: bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
