Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Tests] Add 1k, 2k, 4k, 8k coalesced DMA matmul e2e tests.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Preserve DPS when vectorizing iree_vector_ext.to_layout (#23285)
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
Due: none

[Codegen] Use safer hoisting in OptimizeTensorInsertExtractSlices
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/winograd_pipeline_test.mlir
Due: none

[RISCV] Separate bare-metal and Linux build scripts. (#21800)
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/generic_riscv32.cmake
  build_tools/cmake/generic_riscv64.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/linux_riscv32.cmake
  build_tools/cmake/linux_riscv64.cmake
  build_tools/cmake/riscv.toolchain.cmake
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/guides/deployment-configurations/bare-metal.md
Due: none

Deployed 3d3d912 with MkDocs version: 1.6.1
  building-from-source/riscv/index.html
  guides/deployment-configurations/bare-metal/index.html
  search/search_index.json
Due: none

Only use static shapes.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

disable cts tests
  runtime/src/iree/hal/drivers/hip/cts/CMakeLists.txt
Due: bazel_to_cmake_2

[AMDGPU][LDS] Adding 1k, 2k, 4k, 8k static shape e2e tests for coalesced gather DMA op (#22884)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Let's get the golden time
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1201_O3.json
Due: none

[Codegen] Use safer hoisting in OptimizeTensorInsertExtractSlices (#23280)
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/winograd_pipeline_test.mlir
Due: none

[GPU] Support some collapse_shape ops in GPUReduceBankConflicts
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/reduce_bank_conflicts.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

Revert "disable cts tests"
  runtime/src/iree/hal/drivers/hip/cts/CMakeLists.txt
Due: bazel_to_cmake_2

test exclude failing tests
  .github/workflows/pkgci_test_amd_w7900.yml
Due: none

fix
  .github/workflows/pkgci_test_amd_w7900.yml
  build_tools/cmake/ctest_all.sh
Due: none

fix
  .github/workflows/pkgci_test_amd_w7900.yml
Due: none

[LDS] Do not use DMA in the presence of tensor.pad
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matmul.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Defers pluginSession construction until after applyOptimizationDefaults
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
Due: none

Revert doc changes: iree-opt-level is the master flag
  docs/website/docs/guides/deployment-configurations/cpu.md
Due: none

Remove unnecessary code (address comments)
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

move the flag to codegen and remove scattering to HAL
  compiler/src/iree/compiler/Codegen/Common/test/resolve_workgroup_count_hints.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/EquivalenceUtils.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DONOTSUBMIT] Print benchmark stats for mi325
  .github/workflows/pkgci_test_torch.yml
Due: none

Rocm GPU MmaSchedule configuration crashes when lacking PerfTflops
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Move files to Utils
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/LoopMappingUtils.cpp
  compiler/src/iree/compiler/Utils/LoopMappingUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Support dynamic attention by tiling K1 when needed.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/dynamic_attention.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert accidentally updated part.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matmul.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
Due: none

Switch to rtol
  tests/e2e/regression/split_reduction_using_tiling.mlir
Due: none

Fix missing braces (lint error)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/RewriteFft.cpp
Due: none

Hack.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Remove conflicts.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Implement missing stablehlo.fft operations (#22829)
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgExt.cpp
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_ext.mlir
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/RewriteFft.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/stablehlo_ops/fft_complex.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Use another approach to work.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Keep only CHECK
  compiler/src/iree/compiler/Codegen/Common/test/decompose_conv2d.mlir
Due: none

adding tests
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

[LinalgExt] Add pattern to canonicalize away identity map_gather
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
Due: none

Change impl to convert to copy op
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
Due: none

Bail out on dynamic cases
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
Due: none

Fixed VectorExt::ScatterOp description
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
Due: none

[Encoding] Add verifier for encoding_dims on (Un)SetEncodingOp
  compiler/plugins/target/LLVMCPU/test/materialize_homogeneous_encodings.mlir
  compiler/plugins/target/VulkanSPIRV/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_for_iree_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_vmvx.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none
