Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Address comments
  compiler/src/iree/compiler/Codegen/Common/ForallToFor.cpp
  compiler/src/iree/compiler/Codegen/Common/test/forall_to_for.mlir
Due: none

[Codegen] Create `scf.forall` -> `scf.for` pass (#20962)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ForallToFor.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/forall_to_for.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMCPU] Select root op in tileDispatch using forall pass
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
Due: none

[LLVMCPU] Update tileRootFuseConsumerProducer taking changes from tileDispatchUsingForall
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
Due: none

Deployed 5be08ff with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

[ROCM] Fix tuning module string parameter
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.td
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ROCM] Fix tuning module string parameter (#21008)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.td
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Merge bubbling of expand and extract (#20989)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExtractSlices.cpp
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_extract_slice.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Somehow didn't update an include file name
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenEnums.h
Due: none

[LLVMCPU] Add option to `LLVMCPUTileRootAndFuseProducerConsumer` for tiling with `scf.forall`
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

format the code
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_ukernels.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Fix typo and maybe clean up the bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Template fuseConsumersInto* methods into one
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
Due: none

Remove the block for dilated convolutions to IGEMM
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Add test
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
Due: none

Remove restriction on IGEMM lowering for dilated convolutions (#21011)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
Due: none

remove hal.select.attr
  compiler/src/iree/compiler/Dialect/HAL/Analysis/Attributes/DeviceTargetPVS.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceSelection.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/memoize_device_selection.mlir
Due: none

[DispatchCreation] Add better extract of expand test
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_extract_slice.mlir
Due: none

some cleanup
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
Due: none

Review feedback, fix wrong include file
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenEnums.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[Codegen][ROCDL] Drop nominal support for dynamic shared mem (#20805)"
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/schemas/hip_executable_def.fbs
Due: none

[Doc] Add note about GPU time synchronization (#20997)
  docs/website/docs/developers/performance/profiling-with-tracy.md
Due: none

Deployed 900c6dc with MkDocs version: 1.6.1
  developers/performance/profiling-with-tracy/index.html
  search/search_index.json
Due: none

[LinalgExt] Add argmax op with rountrip and invalid mlir test
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

Revert "[Codegen][ROCDL] Drop nominal support for dynamic shared mem … (#21020) …(#20805)"
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/schemas/hip_executable_def.fbs
Due: none

Enable compilation of riscv_64 ukernels using system toolchains, add riscv_64 matmul ukernel tile size querying function, and use suffix 'v' for V extension ukernels
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/config_riscv_64.h.in
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_v.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/pack_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/pack_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/unpack_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/unpack_riscv_64_internal.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Use tile size = {7, 16, 1}, for riscv_64 mmt4d ukernel tests and benchmarks
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Due: none

[LLVMGPU] Fix linking error when one of the variants has no modules.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Due: none

[LLVMGPU] Fix linking error when one of the variants has no modules. (#21027)
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Due: none

Folding util.assume.int values that have a single possible value. (#21025)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/test/assume_folding.mlir
Due: none

hacky fix, I don't even care
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Due: none

ID was not guaranteed to be unique for outline dispatch extern
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchExterns.cpp
Due: none

maken new ops ConstantLike and some cleanup
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceSelection.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/memoize_device_selection.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/HALToHALInline/Patterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/Patterns.cpp
Due: none

clean up key building
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceSelection.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
