Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

lint fix
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

turning on skip untuned
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[Codegen][CPU] Replace transposed_intrinsic with explicit pre-transposed enums.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1

[Codegen][CPU] Add e2e matmul tests for the inner_tiled lowering path.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

plumb vdmfma through kernel selection
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/compilation_info.py
Due: bazel_to_cmake_2

[Utils] Add interactive debug-break pass-pipeline instrumentation
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/PassDebugBreak.cpp
  compiler/src/iree/compiler/Utils/PassDebugBreak.h
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/debug_break.mlir
  tools/test/debug_break_patch.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Fix RAW inbounds only
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  tests/e2e/regression/dynamic_gather_attention.mlir
Due: none

Deployed a65bb23 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

Krzysztof suggestion
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

rm int4
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

Add RDNA3 chipDetails
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

Revert "[Codegen][CPU] Add e2e matmul tests for the inner_tiled lowering path…"
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add pad lit test
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

nit comment
  tests/e2e/matmul/compilation_info.py
Due: none

[CUDA] Add Ada sm_89 target support
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/test/BUILD.bazel
  compiler/plugins/target/CUDA/test/CMakeLists.txt
  compiler/plugins/target/CUDA/test/sm89_target.mlir
  compiler/plugins/target/CUDA/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Enable NVIDIA BF16 mma.sync lowering
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/bf16_mma_sm80.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Guard convolution widen operand fusion
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
Due: none

[LLVMGPU] Avoid degenerate SIMT matmul unit tiles
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/config_tile_and_fuse_sm80.mlir
Due: none

Revert "[Codegen][CPU] Replace transposed_intrinsic with explicit pre-transpo…"
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1

[CUDA] Add Ada target feature tests
  compiler/plugins/target/CUDA/test/BUILD.bazel
  compiler/plugins/target/CUDA/test/CMakeLists.txt
  compiler/plugins/target/CUDA/test/target_device_features.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CUDA] Remove redundant Ada target smoke test
  compiler/plugins/target/CUDA/test/BUILD.bazel
  compiler/plugins/target/CUDA/test/CMakeLists.txt
  compiler/plugins/target/CUDA/test/sm89_target.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 0629d80 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

[LLVMGPU] Align matvec SIMT config test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
Due: none

Change mlir tests: Add noalias
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
Due: none

array to array
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm_noalias.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
Due: none

[Torch] Materialize flex_attention mask modifiers
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
Due: none

[Torch] Use broadcast utility for flex_attention mask
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: none

[Codegen] Test flex attention mask vectorization
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_configured.mlir
Due: none

Comments fix
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_configured.mlir
Due: none

[LinalgExt] Scalarize rank-0 score payloads in online attention
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_configured.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops.mlir
Due: none

Support swizzling in async_dma lowering
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerAsyncDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_async_dma.mlir
Due: none

[Torch] Address flex_attention mask review nits
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: none

Revert "Krzysztof suggestion"
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

Keep the fold simple
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  tests/e2e/regression/dynamic_gather_attention.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
