Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[CPU] Plumb through tuning spec support for LLVMCPU.
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/lowering_strategy_from_tuning_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tuning_spec_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed fa0fd44 with MkDocs version: 1.6.1
  reference/tuning/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Make var name consistent
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
Due: none

Advance LLVM to fbed673f5238f219e43af0f88802d5422a77218b: [mlir][amdgpu] Update TDM ops to use the new barrier type, improve docs (#180572) (Krzysztof Drewniak on 2026-02-09 13:37:57 -0800) (9 of 10)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: none

[CPU] Plumb through tuning spec support for LLVMCPU. (#23424)
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/lowering_strategy_from_tuning_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tuning_spec_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add additional search paths for tools and bitcode (#23399)
  compiler/src/iree/compiler/Utils/ToolUtils.cpp
Due: none

[DispatchCreation] Update split reduction heuristics for GEMM
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_gemm.mlir
Due: none

Update after fix e13bc59
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_gemm.mlir
Due: none

[Codegen][Tuner] Expose XOR swizzle sweep bounds and validation functions in c api bindings
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/CMakeLists.txt
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: bazel_to_cmake_2

fix lint
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/CMakeLists.txt
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
Due: bazel_to_cmake_2

undoing changes to comments
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

updating comment
  compiler/bindings/python/IREECompilerDialectsModule.cpp
Due: none

formating
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

[ROCM] Add workgroup reordering for data-tiling ukernels (#23358)
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

[Compiler] Remove shard dialect dependency
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/Patterns.h
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/channel_creation.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/collectives.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/InputConversion/Common/Passes.cpp
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove files added during rebase
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertShardToFlow.cpp
Due: buildifier, bazel_to_cmake_1

Final review comment
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Due: none

[fixup] Allow for a batch matmul with m/n/k dimension positions at 1/2/3, respectively.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

[Codegen] Create CombineSourceLayoutTransformation pass for MapGatherOp (#23165)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUCombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/combine_result_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 1320245 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

Register flow dialect in stablehlo plugin
  compiler/plugins/input/StableHLO/BUILD.bazel
  compiler/plugins/input/StableHLO/CMakeLists.txt
  compiler/plugins/input/StableHLO/PluginRegistration.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

init commit
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[e2e] Fix missed iree-hip-* to iree-rocm-* flag renames (#23443)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Compiler] Remove shard dialect dependency (#23133)
  compiler/plugins/input/StableHLO/BUILD.bazel
  compiler/plugins/input/StableHLO/CMakeLists.txt
  compiler/plugins/input/StableHLO/PluginRegistration.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/Patterns.h
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/channel_creation.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/ShardToFlow/test/collectives.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertShardToFlow.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/InputConversion/Common/Passes.cpp
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 32a7159 with MkDocs version: 1.6.1
  reference/mlir-passes/Flow/index.html
  search/search_index.json
Due: none

Update lowering_reduction.mlir test for gpu.subgroup_reduce CSE
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
Due: none

Integrate llvm/llvm-project@fbed673f5238f219e43af0f88802d5422a77218b (#23439)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
Due: none

Remove references to deleted Detensorize pass.
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
Due: none

[Codegen][PCF] Add PCF lowering passes to backend pipelines
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pcf_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pcf_lowering.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/pcf_lowering.mlir
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/test/pcf_lowering.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

addressing pr comments pt 1
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

[Codegen][PCF] Add convertForallToGenericNest transform
  compiler/src/iree/compiler/Codegen/Common/ConvertWorkgroupForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/GPUScopeExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ConvertForallToGenericNestGPU.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/convert_forall_to_generic_nest_gpu.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToLoops.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_generic_nest.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_loops.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CodegenExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint fix
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
Due: none
