Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[amdgpu] Implement host-queue alloca/dealloca over the pool API
  runtime/src/iree/hal/cts/queue/queue_alloca_test.cc
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/cts/backends.cc
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
  runtime/src/iree/hal/drivers/amdgpu/slab_provider.c
  runtime/src/iree/hal/drivers/amdgpu/slab_provider.h
  runtime/src/iree/hal/drivers/amdgpu/slab_provider_test.cc
  runtime/src/iree/hal/drivers/amdgpu/transient_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/transient_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/util/notification_ring.c
  runtime/src/iree/hal/drivers/amdgpu/util/notification_ring.h
  runtime/src/iree/hal/drivers/amdgpu/util/notification_ring_test.cc
  runtime/src/iree/hal/memory/passthrough_pool.c
  runtime/src/iree/hal/memory/passthrough_pool.h
  runtime/src/iree/hal/pool.h
  runtime/src/iree/hal/queue.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

update to hoistable conversions
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
Due: none

nit
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[SPIRV] Switch SPIR-V to module-scope pipeline. (#23998)
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRV.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_reduction_subgroup.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_sub_byte_dequant.mlir
Due: none

Avoid flatcc POSIX dependency in bare-metal runtime builds
  build_tools/third_party/flatcc/CMakeLists.txt
Due: none

Add expected_bf16_threshold support to iree-run-module
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/buffer_view_matchers.h
  runtime/src/iree/tooling/buffer_view_matchers_test.cc
  runtime/src/iree/tooling/comparison.cc
Due: none

Add pipeline test
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

Prevent incorrect folding of nested insert_slice ops in TensorExt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
Due: none

Add strnlen fallback for newlib in thread.c
  runtime/src/iree/base/threading/thread.c
Due: none

Nit fixes on tile size analysis
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorTileSizes.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_vector_tile_sizes.mlir
Due: none

Do not require mask for decoding case
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

Add prefill and decoding test cases
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

Add medium shape and increase large size
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
Due: bazel_to_cmake_2

Apply suggestions from code review
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

[Codegen] Make CreateDispatchConfig idempotent
  compiler/src/iree/compiler/Codegen/Common/CreateDispatchConfig.cpp
  compiler/src/iree/compiler/Codegen/Common/test/create_dispatch_config.mlir
Due: none

[Codegen] Fix workgroup consumer fusion for sibling map_store users
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

make code clearer
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
Due: none

address
  compiler/src/iree/compiler/Codegen/Common/test/create_dispatch_config.mlir
Due: none

Add optional CSPRNG stub for generic/bare-metal builds
  CMakeLists.txt
  build_tools/cmake/generic_riscv32.cmake
  build_tools/cmake/generic_riscv64.cmake
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/csprng.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Make CreateDispatchConfig idempotent (#24027)
  compiler/src/iree/compiler/Codegen/Common/CreateDispatchConfig.cpp
  compiler/src/iree/compiler/Codegen/Common/test/create_dispatch_config.mlir
Due: none

Added default true flag such that Outer Reductions use TileAndFuse Pipeline
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_outer_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Fix workgroup consumer fusion for sibling map_store users (#24029)
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

[LLVMGPU] Track shared parallel dimensions better in reduction config
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/SliceUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/SliceUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Outer Reductions should use TileAndFuse Pipeline for better performance (#23988)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_outer_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Track shared parallel dimensions better in reduction config (#23991)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/SliceUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/SliceUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Enable generalization of linalg.conv (#23377)
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/vae_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_960_1024_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/vae_cpu.json
Due: none

Address review: remove CollapseDimensions guard, update tests
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/convert_strided_insert_slice_to_generic.mlir
Due: none

[DispatchCreation] Skip collapse for scatter-like generics with tensor.extract
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

address review comments
  compiler/src/iree/compiler/Codegen/Common/ReinsertSwizzleHints.cpp
Due: none

[compiler] Retire DispatchWorkgroupCountFromDagRootOp.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/pipeline_vector_distribute_sm80.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/conv_pipeline_test_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transpose_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
