Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Bazel] Resolve IREE paths and labels in external consumers (#24977)
  build_tools/bazel/BZLMOD_LLVM.md
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel/iree_c_module.bzl
  build_tools/bazel/iree_cc_fuzz.bzl
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_flatcc.bzl
  build_tools/bazel/iree_hal_cts_test_suite.bzl
  build_tools/bazel/iree_vmasm_module.bzl
  build_tools/bazel/iree_wasm_library.bzl
Due: buildifier

[GlobalOptimization] Expose reusable transpose propagation patterns (#24978)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VM] Preserve 64-bit values in internal calls (#24946)
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/test/call_ops.vmasm
Due: none

[Bindings][Compiler] Add Bazel support for Python bindings
  compiler/bindings/python/BUILD.bazel
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/API/generate_exports.py
Due: buildifier, bazel_to_cmake_1

fix(PackConstants): don't start new storage buffer if current one is still empty (#23927)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
Due: none

[Bazel] use execution paths for genrule inputs
  build_tools/bazel/iree_genrule.bzl
Due: buildifier

Deployed 5503db0 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Integrate LLVM to llvm/llvm-project@a938559a9145
  compiler/plugins/target/LLVMCPU/LibraryBuilder.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferize.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamDialect.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
Due: none

Export the new MLIR dialect constant materialization API
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

[Codegen][LLVMCPU] Hoist RVV accumulator legalization
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Add RISC-V V f32 vfmacc.vf inner_tiled MMA.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

applied review nits and fixed failing CI run
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Add RDNA3 e2e attention correctness tests (#24948)
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][CPU] Add RISC-V V f32 vfmacc.vf inner_tiled MMA. (#24933)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed a3ec918 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

Restore vector lowering after the LLVM integrate
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUMmt4dVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
Due: none

Integrate LLVM to llvm/llvm-project@a938559a9145 (#24982)
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/target/LLVMCPU/LibraryBuilder.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferize.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtBase.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUMmt4dVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamDialect.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
Due: none

Preserve operation properties across compiler rewrites
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
  compiler/plugins/input/TOSA/InputConversion/Converti48Toi64.cpp
  compiler/plugins/input/TOSA/InputConversion/StripSignedness.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ArithToF32.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatToIntBuffers.cpp
  compiler/src/iree/compiler/Codegen/Common/TypePropagation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/type_propagation.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FoldForallIntoPCFLoop.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fold_forall_into_pcf_loop.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEmulateI64.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputs.cpp
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/raise_special_ops.mlir
  compiler/src/iree/compiler/InputConversion/Common/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PromoteLinalgOutputs.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/promote_linalg_outputs.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.h
Due: none

Remove unused GPU math scalarization template
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
Due: none

Use upstream cloning to preserve operation state
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
  compiler/plugins/input/TOSA/InputConversion/Converti48Toi64.cpp
  compiler/plugins/input/TOSA/InputConversion/StripSignedness.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ArithToF32.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatToIntBuffers.cpp
  compiler/src/iree/compiler/Codegen/Common/TypePropagation.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEmulateI64.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.cpp
  compiler/src/iree/compiler/InputConversion/Common/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
Due: none

Preserve native properties when rebuilding named Linalg ops
  compiler/src/iree/compiler/Codegen/Common/TypePropagation.cpp
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputs.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PromoteLinalgOutputs.cpp
Due: none

Fix tests for strict property parsing
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/GlobalOptimization/unittests/QuantizedContractionTest.cpp
Due: none

Fix custom dispatch samples for strict property parsing
  samples/custom_dispatch/cuda/kernels/example.mlir
  samples/custom_dispatch/hip/kernels/example.mlir
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
Due: none

[Integrate] Update torch-mlir to 528d3dcb
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna4_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

[NFC] Use checks from upstream MLIR
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/Utils/Permutation.h
Due: none

[iree-benchmark-module] Add dispatch timing rows
  docs/website/docs/developers/performance/benchmarking.md
  runtime/bindings/python/tests/benchmark_lifecycle_test.py
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/device_util_test.cc
  runtime/src/iree/tooling/run_module.c
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-benchmark-executable-main.c
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-replay-main.cc
  tools/iree-check-module-main.cc
  tools/iree-run-replay-main.c
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-benchmark-module-dispatch-statistics.mlir
  tools/testing/e2e/test_utils.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Runtime][Python] Keep all results in benchmark_module
  runtime/bindings/python/iree/runtime/benchmark.py
  runtime/bindings/python/tests/benchmark_test.py
Due: none

[iree-benchmark-module] Unify sync, async and dispatch execution
  docs/website/docs/developers/performance/benchmarking.md
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/tests/benchmark_lifecycle_test.py
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  tools/iree-benchmark-module-main.cc
Due: bazel_to_cmake_2

Preserve operation state across strict properties conversions
  compiler/plugins/input/TOSA/InputConversion/Converti48Toi64.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ArithToF32.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatToIntBuffers.cpp
  compiler/src/iree/compiler/Codegen/Common/TypePropagation.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputs.cpp
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/GlobalOptimization/unittests/QuantizedContractionTest.cpp
  compiler/src/iree/compiler/InputConversion/Common/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PromoteLinalgOutputs.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Utils/ConversionUtils.cpp
  compiler/src/iree/compiler/Utils/ConversionUtils.h
  compiler/src/iree/compiler/Utils/EquivalenceUtils.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.h
Due: none

Fixing missing dep
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Solve clang-tidy findings
  compiler/plugins/input/TOSA/InputConversion/Converti48Toi64.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
Due: none

Deployed c946164 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[CI] Add job with dynamic plugins enabled (#24893)
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang_dynamic_plugins.yml
  build_tools/github_actions/configure_ci.py
Due: none

[PluginAPI] Support in-tree dynamic compiler plugins
  build_tools/bazel/renamed_link.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_plugin_register.cmake
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/README.md
  compiler/src/iree/compiler/PluginAPI/test/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/dynamic_plugin.cpp
  compiler/src/iree/compiler/PluginAPI/test/dynamic_plugin.txt
  compiler/src/iree/compiler/PluginAPI/test/plugin_with_deps.txt
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_helper.cpp
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_helper.h
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_plugin.cpp
  compiler/src/iree/compiler/PluginAPI/test/plugins/shared_deps_plugin.cpp
  docs/website/docs/developers/building/bazel.md
  samples/compiler_plugins/example/BUILD.bazel
  samples/compiler_plugins/example/CMakeLists.txt
  samples/compiler_plugins/example/src/PluginRegistration.cpp
  samples/compiler_plugins/example/test/BUILD.bazel
  samples/compiler_plugins/example/test/CMakeLists.txt
  samples/compiler_plugins/example/test/duplicate_link.mlir
  samples/compiler_plugins/example/test/dynamic_link.mlir
  samples/compiler_plugins/example/test/static_link.mlir
  samples/lit.cfg.py
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Samples] Demonstrate an out-of-tree compiler plugin
  samples/compiler_plugins/iree_compiler_plugin.cmake
  samples/compiler_plugins/out_of_tree_example/BUILD.bazel
  samples/compiler_plugins/out_of_tree_example/CMakeLists.txt
  samples/compiler_plugins/out_of_tree_example/README.md
  samples/compiler_plugins/out_of_tree_example/src/PluginRegistration.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexDialect.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexDialect.h
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexOps.td
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/AnnotateMarkedFunctions.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/Passes.h
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/Passes.td
  samples/compiler_plugins/out_of_tree_example/test/BUILD.bazel
  samples/compiler_plugins/out_of_tree_example/test/CMakeLists.txt
  samples/compiler_plugins/out_of_tree_example/test/annotate.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[PluginAPI] Support plugins built against an installed compiler
  .github/workflows/ci_linux_x64_clang_dynamic_plugins.yml
  build_tools/cmake/CMakeLists.txt
  build_tools/cmake/IREECompilerConfig.cmake.in
  build_tools/cmake/IREECompilerPluginRules.cmake
  build_tools/testing/check_plugin_build_settings.py
  build_tools/testing/plugin_from_install/CMakeLists.txt
  build_tools/testing/plugin_from_install/helper.cpp
  build_tools/testing/plugin_from_install/helper.h
  build_tools/testing/plugin_from_install/plugin.cpp
  build_tools/testing/test_plugin_from_install.sh
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/README.md
  samples/compiler_plugins/out_of_tree_example/README.md
Due: bazel_to_cmake_2

[NFC] Use checks from upstream MLIR (#24984)
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/Utils/Permutation.h
Due: buildifier, bazel_to_cmake_1

[CI] Add RDNA3 and RDNA4 Vulkan e2e tests under rocjitsu
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/test_vulkan_targets_with_rocjitsu.sh
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
Due: bazel_to_cmake_2
