Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[RISCV] Address RVV int8 mmt4d ukernel review comments
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_v_i8.c
Due: none

add e2e
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/compilation_info.py
Due: bazel_to_cmake_2

static only
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

timeout 300
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

[LLVMGPU] Add CombineSourceLayoutTransformation to TileAndFuse pipeline (#24158)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Review comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[LLVMGPU] Add CombineSourceLayoutTransformation to GPUTileAndFusePipeline
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[LLVMGPU] Remove C promotion changes which can now be solved with MapLoad (#23735)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

Integrates/llvm@91339fd (#24153)
  .bazelversion
  MODULE.bazel
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel/iree_bitcode_library.bzl
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  tools/test/iree-tblgen-json.td
Due: buildifier

[HAL] Renumber export ordinals after pruning
  compiler/src/iree/compiler/Dialect/HAL/Transforms/PruneExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/prune_executables.mlir
Due: none

amdgpu: barrier command-buffer packets after inline waits
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer_test.cc
  runtime/src/iree/hal/drivers/amdgpu/host_queue_waits.c
Due: none

Build without benchmark
  CMakeLists.txt
  runtime/src/iree/testing/CMakeLists.txt
  tools/CMakeLists.txt
Due: bazel_to_cmake_2

Degrade fd_file to sync-only when async import fails.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

Allow unaligned memory file import for embedded VMFB parameters.
  runtime/src/iree/hal/utils/memory_file.c
Due: none

Cap pread/pwrite at INT32_MAX in fd_file.c platform functions.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

Add fast-path empty check to atomic slist pop/flush.
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/atomic_slist.c
  runtime/src/iree/base/internal/atomic_slist.h
  runtime/src/iree/base/internal/atomic_slist_benchmark.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Guard worker deinitialize against never-initialized workers.
  runtime/src/iree/task/worker.c
Due: none

Fix topology_sysfs.c: use uint64_t ops instead of affinity_set helpers.
  runtime/src/iree/task/topology_sysfs.c
Due: none

Add iree_hal_local_executable_dispatch_inline and use in local_sync.
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/local/BUILD.bazel
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/inline_dispatch.c
  runtime/src/iree/hal/local/inline_dispatch.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Rewrite local_sync queue_read/queue_write as direct synchronous I/O.
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/cts/backends.cc
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Factor local_sync queue ops into begin/end helpers.
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: none

Add block command buffer recording with direct fixup mapping and alignment fixes.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_builder.c
  runtime/src/iree/hal/drivers/local_task/block_builder.h
  runtime/src/iree/hal/drivers/local_task/block_builder_test.cc
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_isa_test.cc
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix CUDA timepoint_pool event leak on timepoint acquire failure.
  runtime/src/iree/hal/drivers/cuda/timepoint_pool.c
Due: none

Add executor process scheduling: immediate list, worker drain loop, Dekker sleeping protocol.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_process_test.cc
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add native queue alloca/dealloca with transient buffer and CTS tests.
  runtime/src/iree/hal/cts/queue/BUILD.bazel
  runtime/src/iree/hal/cts/queue/CMakeLists.txt
  runtime/src/iree/hal/cts/queue/queue_alloca_test.cc
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/local_task/transient_buffer.c
  runtime/src/iree/hal/drivers/local_task/transient_buffer.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add block command buffer issue path with process-based cooperative draining.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Eliminate cpu_set_t from sysfs sharing mask path (fixes >1024-CPU overflow).
  runtime/src/iree/task/topology_sysfs.c
Due: none

Rewrite task queue as persistent budget-1 process with MPSC ready list.
  runtime/src/iree/hal/cts/queue/queue_host_call_test.cc
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/local_task/task_queue_state.c
  runtime/src/iree/hal/drivers/local_task/task_queue_state.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Replace emulated queue_fill/update/copy with direct operations on local_sync.
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: none

Add iree_task_process_t: universal work unit for cooperative task scheduler.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/README.md
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add compute slots and clean up process drain API.
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_process_test.cc
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/task/worker.h
Due: none

Add executor benchmark, is_active optimization, and Dekker ordering fix.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_benchmark.cc
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add block-ISA command buffer: builder, processor, and ISA type definitions.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_builder.c
  runtime/src/iree/hal/drivers/local_task/block_builder.h
  runtime/src/iree/hal/drivers/local_task/block_builder_test.cc
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_isa_test.cc
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor.h
  runtime/src/iree/hal/drivers/local_task/block_processor_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Add opt-in XOR swizzle for LDS bank conflict elimination
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_bf16.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f16.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f8E4M3FN.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f8E4M3FNUZ.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/flatten_swizzle_hint_allocs.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_vector_alloc.mlir
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/absorb_swizzle_hint_to_alloc.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
