Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

fix build
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

fixing build issues
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixing failing ci tests
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Due: none

updating tests
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/external_function_validation.mlir
  compiler/plugins/target/ROCM/test/smoketest_hsaco.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/propagate_dispatch_size_bounds.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/annotate_kernel_for_translation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/test_query_mma.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/emulate_i64.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/map_memref_storage_class.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
  samples/transform_dialect/example_module.mlir
Due: none

fixing build
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixing lint issues
  compiler/plugins/target/ROCM/test/external_function_validation.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
Due: none

[CPU] Add more helpers to TilingConfig and use it in CPU strategy selection.
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

update LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
Due: none

[Codegen] Updated combinelayouttransformation pass for map_scatter insertion & fusion
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Move all producing uses of flow.bitcast to tensor_ext
  compiler/plugins/input/Torch/InputConversion/BitCastTensor.cpp
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/bitcast_tensor.mlir
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

missing dep
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move all producing uses of flow.bitcast to tensor_ext (#21279)
  compiler/plugins/input/Torch/InputConversion/BitCastTensor.cpp
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/bitcast_tensor.mlir
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Add pass to cast away unsupported element types
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/BitcastUnsupportedElementTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/bitcast_unsupported_element_types.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

bazel building
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.h
Due: none

Cleanup uses of --verify-diagnostics in tests
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/InputConversion/test/tosa_to_linalg_ext.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/convert_streamable_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/normalize_loop_bounds.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion_not_fail_unbound.mlir
  compiler/src/iree/compiler/ConstEval/test/compile_regressions.mlir
  compiler/src/iree/compiler/ConstEval/test/failing.mlir
  compiler/src/iree/compiler/ConstEval/test/scalar_values.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors_packing.mlir
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/create_serialized_module.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/DispatchCreation/test/transpose_generic_ops.mlir
Due: none

found typo
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

test fix
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Due: none

fixing mismatching k size failures
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add tests
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
Due: none

Bump LLVM to b293c8bfb6dd658c7e0197b93617b9083f2bb9cc
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Due: none

Cleanup uses of --verify-diagnostics in tests (#21340)
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/InputConversion/test/tosa_to_linalg_ext.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/convert_streamable_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/normalize_loop_bounds.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion_not_fail_unbound.mlir
  compiler/src/iree/compiler/ConstEval/test/compile_regressions.mlir
  compiler/src/iree/compiler/ConstEval/test/failing.mlir
  compiler/src/iree/compiler/ConstEval/test/scalar_values.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors_packing.mlir
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/create_serialized_module.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/DispatchCreation/test/transpose_generic_ops.mlir
Due: none

bazelllll
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Integrate] Bump LLVM to 77914c96dfc55562404d18c1ab777137055679db (#21341)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Due: none

[VectorDistribute] Fix buffer reduction during subgroup reduction (#21315)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Add canonicalization for select(pred, true, false) -> broadcast(pred)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Fix an issue in ReferencePatitioning.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
Due: none

fixing ci
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

address comments
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

[Codegen][GPU] Fuse nested warp and lane foralls
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: none

fix type
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

changing test output
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
Due: none

address comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: none

[CPU] Use TilingConfig for lowering_config propagation. (#21336)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
Due: none

[CPU] Implement lowering_config propagation for IREE::CPU::LoweringConfigAttr.
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none
