Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[GPU] Add lowering configuration logic for scatter (#19624)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[GPU] Add a pass to convert accumulating GEMMs to GEMMs (#19587)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_accgemm_to_gemm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[NFC] Comment fixes in iree_bitcode_library.
  build_tools/cmake/iree_bitcode_library.cmake
Due: none

Revert "[hip] Fixed a busy wait in event_semaphore." (#19548)
  runtime/src/iree/hal/drivers/hip/event_semaphore.c
Due: none

[Codegen][Tuner] verifier for the default tuning spec (#19525)
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Common/test/verify_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
  docs/website/docs/reference/tuning.md
Due: none

[runtime][python] Add debug sink to bindings (#19013)
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/binding.h
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/initialize_module.cc
  runtime/bindings/python/iree/runtime/__init__.py
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/bindings/python/iree/runtime/typing.py
  runtime/bindings/python/tests/hal_test.py
  runtime/bindings/python/vm.cc
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/hal/debugging.h
  runtime/src/iree/modules/hal/module.c
Due: bazel_to_cmake_2

[Codegen] Fix use after erase bug in optimize-tensor-extract-slices (#19460)
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

Bump version to 3.2.0 after releasing 3.1.0. (#19638)
  compiler/version.json
  runtime/version.json
Due: none

Add macOS workflow running on M1 (#19656)
  .github/workflows/ci_macos_arm64_clang.yml
  README.md
  build_tools/cmake/build_all.sh
  docs/website/docs/developers/general/github-actions.md
Due: none

Reshape propagation to enable broadcast(transpose) -> attention(q, kt, vt) fusion. (#19661)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
Due: none

[LLVMGPU] Add pass to distribute undistributed copies to threads (#19715)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeCopyUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_distribute_copy_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update PyTorch sample notebooks using latest iree-turbine code. (#19658)
  samples/colab/pytorch_huggingface_whisper.ipynb
  samples/dynamic_shapes/pytorch_dynamic_shapes.ipynb
Due: none

[Flow] Fix dispatch naming for dynamic shaped fusions (#19439)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Due: none

[Stream] Attach layouts to tensor ops in encoding specialization pass. (#19649)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/HAL/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Using tracy::GetQueue instead of the sketchy static variable reference. (#19653)
  runtime/src/iree/base/tracing/tracy.cc
  runtime/src/iree/base/tracing/tracy.h
Due: none

[Python] Enable building Python bindings as editable wheels, document it (#19716)
  compiler/setup.py
  docs/website/docs/building-from-source/getting-started.md
  runtime/CMakeLists.txt
  runtime/setup.py
Due: bazel_to_cmake_2

Clean up encoding-related code. NFC. (#19717)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoNop.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
Due: none

Bump torch-mlir to f92c587cb6150e73078f32cf847dc3892be16f93 (#19659)
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Due: none

Supporting file descriptors in iree_io_stream_open. (#19665)
  runtime/src/iree/io/BUILD.bazel
  runtime/src/iree/io/CMakeLists.txt
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/io/stdio_stream.c
  runtime/src/iree/io/stdio_stream.h
  runtime/src/iree/io/stream.c
  runtime/src/iree/io/stream.h
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-convert-parameters.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Convert barriers into copies during allocation (#19735)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
Due: none

[GPU] Add SwapExpandShapeWithSlice pattern to loop fusion pass (#19729)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispach] Clone chain of ops into dispatch (#19723)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/CloneProducersIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
Due: none

[LLVMGPU] Enable scf.forall distr. on vectorDistribute Pipeline (#19420)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_user_vector_distribute.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
Due: none

Update PkgCI test_amd to use MI300x conductor cluster (#19517)
  .github/workflows/pkgci_test_amd_mi300.yml
Due: none

[GPU] Add thread tile size inference for scatter (#19694)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_derived_thread_config.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Copy sample code into samples/dynamic_shapes/README.md. (#19699)
  samples/dynamic_shapes/README.md
Due: none

Revert (2nd) of "Propagate reshapes through generics with reduction" (#19647)
  .github/workflows/pkgci_regression_test.yml
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExtractSlices.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_extract_slice.mlir
Due: none

Revert "Increase default threshold of TileLargeTensor pass (#19671)" (#19693)
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/tile_large_tensors.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

[LLVMGPUVectorDistribute] Add support for inter-subgroup multi_reduction (#19596)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Sprinkle in PropagateDispatchSizeBounds passes (#19677)
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupReordering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
Due: none

Fix newlines in markdown mermaid.js diagrams. (#19657)
  docs/website/docs/developers/general/testing-guide.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
Due: none

[Codegen][Nearly NFC] Move PropagateDispatchSizeBounds to Common/ (#19650)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/PropagateDispatchSizeBounds.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/propagate_dispatch_size_bounds.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Use linearize_index op when swapping slice and expand (#19730)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[HAL] Use util.assume.int for memref alignments (#19691)
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
Due: none

Update IREE test suite to use iree-org/iree-test-suites@c47d13c (#19617)
  .github/workflows/pkgci_test_sharktank.yml
Due: none

Remove Upcasting schedule from TileAndFuse (#19669)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

Run on schedule in iree-org only (#19685)
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_gcc.yml
  .github/workflows/ci_macos_arm64_clang.yml
  .github/workflows/ci_macos_x64_clang.yml
Due: none

[LinalgExt] Implement PartialReductionOpInterface for OnlineAttentionOp (#19684)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Bump to llvm/llvm-project@3f1486f (#19683)
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_sub_byte_dequant.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  integrations/tensorflow/python_projects/iree_tflite/iree/tools/tflite/scripts/iree_import_tflite/__main__.py
  integrations/tensorflow/test/iree_tfl_tests/gpt2.run
  integrations/tensorflow/test/iree_tfl_tests/person_detect.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_person_detect.run
  tests/e2e/tosa_ops/pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
