Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen][NFC] Make namespace usage follow IREE::[Encoding|Codegen]. (#20894)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
Due: none

change assembly format and small style fixes
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/attributes.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
Due: none

remove whitespace
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
Due: none

add topology attr
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/attributes.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
Due: none

use getAffinityDevice()
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
Due: none

fix compile error
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
Due: none

[NFC] Rename load_from/store_to_memref to load_from/store_to_buffer
  compiler/src/iree/compiler/Codegen/Common/BufferizeDispatchTensorLoadStore.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/bufferize_dispatch_tensor_load_store.mlir
  compiler/src/iree/compiler/Codegen/Common/test/canonicalize_early_bufferization_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/eliminate_empty_tensors.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: none

[Codegen] Enable reshape into buffer folding in BlockDynamicDimensions
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
  compiler/src/iree/compiler/Codegen/Common/test/canonicalize_early_bufferization_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

Move LowerToGlobalLoads to earlier to avoid linalg.copy being dismantled
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Fix test
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1

Buffer alloc at GPUPromoteMatmul phase
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

Add a rocm e2e test
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Implement `GPULowerToGlobalLoadsPass`
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGreedilyDistributeToThreads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/LowerIREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Use affine index
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Fix load size.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Always use 32bit load
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Use AffineLinearizeIndexOp instead of affine exprs.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix tiny issue
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

Fix deps
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.h
  tests/e2e/rocm_specific/BUILD.bazel
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

We cannot buffer alloca at GPUMatMulOperand phase
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

Adding a unit test for it.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/direct_load.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update test file
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none

Linting
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  tests/e2e/linalg/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Cannot handle residual elements case.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none

Address some comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: none

Update according to comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  tests/e2e/rocm_specific/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Revert "Address some comments"
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: none

Fix check
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

adding a new restriction condition.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Use RewritePattern
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Adding a trivial e2e test.
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Refactor.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Update according to comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
  tests/e2e/rocm_specific/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none
