Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

fixup! Minor fixes on both test file and linter error
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/test/propagate_target_attrs.mlir
Due: buildifier, bazel_to_cmake_1

Removing virtual MMAs from vector distribute matmul/conv pipeline (#22202)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_horizontally_fused_ops.mlir
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
Due: none

update the example
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

[Codegen] Add transform op for matching convolution ops (#22194)
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

Revert "[GPU] Allow multi result and indexing compute generic ops in TilleAnd…"
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

Revert "[GPU] Allow multi result and indexing compute generic ops in TilleAndFuse pipeline" (#22205)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

[Codegen] add transform op for matching attention op
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DataTiling][GPU] Implement scaled matmul data tiling materialization
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/AnnotateDataTilingHints.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Fix premature return in iree_codegen.inner_tiled verifier (#22183)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_pack_to_instrinsics.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update, as per Kunwar's comment on Fabian's PR
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_vector_distribution.mlir
Due: none

guard transfer write with if
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
Due: none

[Preprocessing] Reorder the iterator dims to match forward NHWC-FHWC convs
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv_filter_to_channels_last.mlir
Due: none

update the td specs in test suite ci-extra: windows_x64_msvc Signed-off-by: Bangtian Liu <liubangtian@gmail.com>
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_flux_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: none

[Codegen][GPU] update the tuning spec using new transform ops
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
Due: none

update broadcast mmt cases
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
Due: none

fixup! Fix bazel build error
  compiler/plugins/target/LLVMCPU/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[Codegen][LLVMGPU] Later scf-to-cf to support math.erf (#21817)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  tests/e2e/regression/linalg_ops_dynamic.mlir
Due: none

update contraction ops by using -1 dims_equal
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_flux_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: none

fixup! Fix more bazel build failures
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixup! Import HAL::IR explicitly
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixup! Import mlir:Pass explicitly
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[samples] Update PyTorch JIT notebook for Python 3.12
  samples/colab/pytorch_jit.ipynb
Due: none

Add mmt4d ukernel implementation for riscv64 target(zvfhmin feature), for types f16xf16->fXX, using tile Size {M0,N0,K0} = {1,XX,1} to {6,XX,1}
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/config_riscv_64.h.in
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_zvfhmin.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
  runtime/src/iree/builtins/ukernel/tools/util.c
  runtime/src/iree/schemas/cpu_feature_bits.inl
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply pre-commit hooks
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_zvfhmin.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
  runtime/src/iree/schemas/cpu_feature_bits.inl
Due: none

[CI] Add dummy torch pkgci (#22203)
  .github/workflows/pkgci_test_torch.yml
Due: none

Fix old comment on ukernels
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

[PkgCI] Use urllib instead of github cli in pkgci artifact_run
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi325.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_pjrt.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_tensorflow.yml
  .github/workflows/pkgci_test_torch.yml
  .github/workflows/pkgci_unit_test.yml
  build_tools/pkgci/setup_venv.py
Due: none

Renaming + add more details on attribute
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

Simplify tests
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

Remove includes
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.h
Due: none

[DataTiling][GPU] Introduce DataTiledScaledMMAAttr
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
