Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[CodeGen] Re-enable memref::AssumeAlignmentOp for SPIRV pipelines.
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_fusion.mlir
Due: none

Moving prefetcher pass to be amdgpu specific
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
Due: none

Unit test fixes
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
Due: none

[Flow] Create FormSplitReductionDispatchesPass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][Tuner] expose python binding for attention op details (#21170)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert pass sequence change, introduce forROCDL
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
Due: none

re-hoist allocs after scf-to-cf
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

tuned off remote cache for testing
  build_tools/cmake/setup_ccache.sh
Due: none

remove unnessary checks
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

removed code to try to pinpoint issue
  build_tools/cmake/build_all.sh
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
Due: bazel_to_cmake_2

Fixing typos.
  build_tools/scripts/export_profdata_lcov.py
Due: none

added more changes
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
Due: bazel_to_cmake_2

tried standardizing dir names
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/API/internal/BUILD.bazel
  compiler/src/iree/compiler/API/internal/CMakeLists.txt
  compiler/src/iree/compiler/API/internal/CompilerDriver.cpp
  compiler/src/iree/compiler/API/internal/Diagnostics.cpp
  compiler/src/iree/compiler/API/internal/Diagnostics.h
  compiler/src/iree/compiler/API/internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/internal/IREECompileToolEntryPoint.cpp
  compiler/src/iree/compiler/API/internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/API/internal/IREEMLIRLSPServerToolEntryPoint.cpp
  compiler/src/iree/compiler/API/internal/IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/API/internal/IREEReduceToolEntryPoint.cpp
  compiler/src/iree/compiler/API/internal/LLDToolEntryPoint.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

tried standardizing dir names
  compiler/src/iree/compiler/Tools/CMakeLists.txt
Due: bazel_to_cmake_2

Fix op name & add builder
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

Add hacky creation of DispatchWorkgroupCountSplitKModifierOp
  compiler/src/iree/compiler/DispatchCreation/MaterializeDefaultWorkgroupCountRegion.cpp
Due: none

tried standardizing dir names
  compiler/src/iree/compiler/API/CMakeLists.txt
Due: bazel_to_cmake_2

[CPU] Use option to tile with `scf.forall` in TileRootAndFuseProducerConsumer pass
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Due: none

Added Vector rewrite for erf: Fastmath; Added Lit-test for the same
  compiler/src/iree/compiler/Codegen/Common/FastMathPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transforms_vector.mlir
Due: none

testing eol error
  compiler/src/iree/compiler/API/CMakeLists.txt
Due: bazel_to_cmake_2

Updated comments in the custom insertIdentityMapScatter function
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
Due: none

Updated combinelayouttransformation pass and removed cpromotion
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Cleaned updates made to Combinelayout, Added tests for it
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[VectorExt] Implement masked vectorization for linalg_ext.gather
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Lit test for not adding config to gather like op
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[COMMON] Fix gather fusion on vector distribute path
  compiler/src/iree/compiler/Codegen/Common/DecomposeSoftmax.cpp
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_softmax.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

improve comments
  compiler/src/iree/compiler/Codegen/Common/DecomposeSoftmax.cpp
Due: none

[DO NOT SUBMIT] Comment out metal-spirv cts_test_suite
  runtime/src/iree/hal/drivers/metal/cts/CMakeLists.txt
Due: bazel_to_cmake_2

LLVM / MLIR integrate for #21152
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinalgOpInfo.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/pad-tiling-interface.mlir
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none

Revert "[DO NOT SUBMIT] Comment out metal-spirv cts_test_suite"
  runtime/src/iree/hal/drivers/metal/cts/CMakeLists.txt
Due: bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
