Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Increase clip dispatch count by 2
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_rocm.json
Due: none

fix CI
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[GlobalOpt] Fix rank-reduced permutation in SinkTransposeThroughExtractSlice (#22754)
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: none

fix mask and collapse expand
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
Due: none

add non-dt kernel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

init dt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fix all indexing
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
Due: none

add more versions of non-dt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m64_n64_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m8_n128_k1024.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

try different tile sizes
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m32_n64_k2048.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n64_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m64_n64_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

more tuning
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n64_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

update and fix dt ukernel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n64_k1024.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m64_n64_k1024.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m8_n128_k1024.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_scaled_matmul_f4E2M1FN_m8_n64_k2048.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

remove some barriers
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
Due: none

add m256_n256_k128
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m256_n256_k128.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add m128_n256_k256
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

get rid of permutation from sub-32bit scale load
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
Due: none

m128_n128_k256
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n128_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fuse accumulation
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m256_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

same perf
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n64_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

add m256_n256_k256
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m256_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

collpase m128_n256_k256
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

Revert "remove some barriers"
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
Due: none

collapse dims further
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
Due: none

collapse dims
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m128_n256_k256.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN_m64_n128_k512.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
Due: none

Remove outdated test.
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update BAZEL and cmake.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma_2d_indices.mlir
Due: buildifier, bazel_to_cmake_1

Use e2e test framework to do the job.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update according to comments.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add GPULowerCoalescedDMAToGlobalLoads pass
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerCoalescedDMAToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma_2d_indices.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
  tests/e2e/rocm_specific/lds_matmul_coalesced_dma.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding a pipeline test.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix lowering mechanism.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Another small update
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Code clean up.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerCoalescedDMAToGlobalLoads.cpp
Due: none

Fix other tests.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
Due: none

merge tests.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
Due: none

Update small code formats.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Small update.
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Update CDNA3 workflow tests.
  .github/workflows/pkgci_test_amd_mi325.yml
  build_tools/cmake/ctest_all.sh
Due: none

Remove redundant coalesced DMA test.
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
  tests/e2e/rocm_specific/lds_matmul_coalesced_dma.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix build files for tests.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
