Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[NFC] Use ShapedType::isDynamicShape when possible.
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupReordering.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConv2DToWinograd.cpp
Due: none

PR review round 1
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

[NFC][Encoding] Move materializeEncodingValueFn to type converter (#20720)
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoNop.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
Due: none

Fix the last case, which depended on the other PR
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
Due: none

[NFC] Move pack/unpack e2e tests to linalg/.
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/pack.mlir
  tests/e2e/linalg/pack_dynamic_inner_tiles.mlir
  tests/e2e/linalg/pack_i8.mlir
  tests/e2e/linalg/unpack.mlir
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove LLVMGPU_SRCS
  tests/e2e/tensor_ops/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Adding user-defined IREE_ALLOCATOR_SYSTEM support. (#20727)
  CMakeLists.txt
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/allocator.c
  runtime/src/iree/base/allocator.h
  runtime/src/iree/base/allocator_libc.c
  runtime/src/iree/base/internal/flags.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add link to PR comments with additional information about mcpu
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: none

[DispatchCreation] Set limits on when padding encoding is applied.
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_padding.mlir
Due: none

[DispatchCreation] Avoid hoisting set encoding operations with padding encodings.
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

Added missing dependencies for the bazel build (#20719)
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Print opt flags to more accurately reproduce (.linked -> .optimized) (#20716)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: none

[NFC] Use ShapedType::isDynamicShape when possible. (#20731)
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupReordering.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConv2DToWinograd.cpp
Due: none

[Codegen][Common] Add transform op to check for lowering configs when matching (#20724)
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.h
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/check_for_config.mlir
  docs/website/docs/reference/tuning.md
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_flux_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Docs] Make op/attr/type summary styles consistent
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/UKernelOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensionsOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VMVX/IR/VMVXOps.td
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineOps.td
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderOps.td
  compiler/src/iree/compiler/Modules/IO/Parameters/IR/IOParametersOps.td
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

rebase
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
Due: none

[Codegen] Add pass to combine layout transformations
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed bf9b511 with MkDocs version: 1.6.1
  reference/tuning/index.html
  search/search_index.json
Due: none

[DispatchCreation] Avoid hoisting set encoding operations with padding encodings (#20733)
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

[Codegen] Add pass to combine layout transformations (#20655)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed cbf20c6 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

Update compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
Due: none

[NFC] Move pack/unpack e2e tests to linalg/. (#20728)
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/pack.mlir
  tests/e2e/linalg/pack_dynamic_inner_tiles.mlir
  tests/e2e/linalg/pack_i8.mlir
  tests/e2e/linalg/unpack.mlir
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: none

Update compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
Due: none

Adding mimalloc v3 as an optional system allocator. (#20730)
  CMakeLists.txt
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/allocator_mimalloc.c
Due: bazel_to_cmake_2

combine relayout hacks for c promotion
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Docs] Make op/attr/type summary styles consistent (#20726)
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/UKernelOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensionsOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VMVX/IR/VMVXOps.td
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineOps.td
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderOps.td
  compiler/src/iree/compiler/Modules/IO/Parameters/IR/IOParametersOps.td
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

Deployed 94f26c9 with MkDocs version: 1.6.1
  reference/mlir-dialects/Check/index.html
  reference/mlir-dialects/Encoding/index.html
  reference/mlir-dialects/Flow/index.html
  reference/mlir-dialects/HAL/index.html
  reference/mlir-dialects/HALInline/index.html
  reference/mlir-dialects/HALLoader/index.html
  reference/mlir-dialects/IOParameters/index.html
  reference/mlir-dialects/IREECodegen/index.html
  reference/mlir-dialects/IREEGPU/index.html
  reference/mlir-dialects/IREEVectorExt/index.html
  reference/mlir-dialects/LinalgExt/index.html
  reference/mlir-dialects/Stream/index.html
  reference/mlir-dialects/TensorExt/index.html
  reference/mlir-dialects/Util/index.html
  reference/mlir-dialects/VM/index.html
  reference/mlir-dialects/VMVX/index.html
  search/search_index.json
Due: none

early exit GPUPackToIntrinsics when no multi_mma is present
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
Due: none

support lowering strategy selection for map_scatter
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

add early bufferization and relayout combination passes
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Implement bufferization interface for map_scatter
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

[AMDGPU] Drop dynamic M bounds checks for pingpong
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
Due: none

[Codegen] Fix invalid use of iterators in `PropagateReshapesByExpansion`
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
Due: none

[DispatchCreation] Use patterns to bubble up expand shape across collapse shapes.
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/attr_based_pipeline.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
