Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Revert "[Util] Implement InferIntDivisibilityOpInterface for affine ops (#22723)"
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestIntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[Util] Implement InferIntDivisibilityOpInterface for affine o… (#22860)
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestIntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed ac28c58 with MkDocs version: 1.6.1
  reference/mlir-passes/Util/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[Codegen][GPU] Apply FoldTensorEmptyPatterns with single use only
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

[LDS] Improve coalesced gather dma lowering pattern
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/bufferize_coalesced_gather_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: none

[Codegen] Use workgroup_count_hint for most code paths (#22549)
  compiler/plugins/target/CUDA/test/smoketest.mlir
  compiler/plugins/target/LLVMCPU/test/smoketest_embedded.mlir
  compiler/plugins/target/LLVMCPU/test/smoketest_system.mlir
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/gpu_encoding_attrs.mlir
  compiler/plugins/target/ROCM/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VMVX/test/smoketest.mlir
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveWorkgroupCountHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_truncation_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_dispatch_instrumentation.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  runtime/src/iree/hal/cts/testdata/executable_cache_test.mlir
  tests/compiler_driver/streams.mlir
Due: none

[Codegen] Add PCF dialect
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCF.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/folders.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/types.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/write_ops.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  compiler/src/iree/compiler/Utils/CommonTypeConstraints.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Stream] Add UnifyEncodingForGlobals pass. 1/n (#22767)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 3585436 with MkDocs version: 1.6.1
  reference/mlir-passes/Stream/index.html
  search/search_index.json
Due: none

enable O2 to check CI
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/modules/scheduler_gfx942.json
Due: none

[Codegen] Add MergeExtractSliceThroughBlockArgPattern
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

try to fix the implementation
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[cuda] Remove redundant iree_wait_one.
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
Due: none

Missed a `.mlir` extension on an excluded Bazel test.
  tests/e2e/stablehlo_ops/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[DT][SVE] adjust tile sizes for mmt4d & disable transposition of narrow-N types
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixup test - remove module
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

address reviews & add comments
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Added roundtrip test for LinalgExt::AttentionOp with IndexOp in body
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

[Encoding] Add verifier for gpu/cpu/vmvx_encoding_resolver (#22838)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[libcall] Update musl Makefile to include missing files. (#22859)
  runtime/src/iree/builtins/musl/Makefile_wasm32.iree
  runtime/src/iree/builtins/musl/Makefile_wasm64.iree
  runtime/src/iree/builtins/musl/bin/build.sh
  runtime/src/iree/builtins/musl/bin/libmusl_wasm32_generic.bc
  runtime/src/iree/builtins/musl/bin/libmusl_wasm64_generic.bc
Due: none

adress comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

address comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

rebase and reformat tests
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Skip prologue barriers only for non-nested pipelined loops
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Add lit test for nested loop prologue barriers
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

[Encoding] Add resolver swizzle verification
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: none

fixed compile error
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAggregatedOps.cpp
Due: none

[Codegen][GPU]Skip prologue pipeline barriers only for non-nested pipelined loops (#22868)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
