Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[LinalgExt][DMA] Add Im2colOp async-copy decomposition mode
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtEnums.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col_async_copy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DMA] Clean up: dedup alignment logic, remove dead code, trim comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col_async_copy.mlir
Due: none

Drive im2col async-copy decomposition via lowering_config
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtEnums.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col_async_copy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

missing dep
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Add phase group information into a new enum for shared memory information
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

Addressing PR comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/KnownTargetsTest.cpp
Due: none

make finer resolution sharedMemModel enum
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/KnownTargetsTest.cpp
Due: none

adding default bank width
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

adding unit tests
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/KnownTargetsTest.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint fix
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/KnownTargetsTest.cpp
Due: none

bazel fix
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/unittests/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

remove resolved todo
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[Codegen][GPU] Phase-aware LDS bank conflict analysis and XOR swizzle search
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

adding negative test for phase model
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_no_phase_data.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

replacing mentions of bank width const
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

adding handling for identity swizzle + dropping dma transpose guards
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

fixing failing lit test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_no_phase_data.mlir
Due: none

fix lit test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Add timeout for downloading new weights
  .github/workflows/pkgci_test_torch.yml
Due: none

[Codegen][CPU] Fix lowerGenericScalarToVectorContract for rank-N inner tiles. (#24488)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
Due: none

[DMA] Post-rebase fixup: simplify + fix test merge
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

[Codegen][AMDGPU] Address review feedback on global_transpose_load pattern
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_global_transpose_load.mlir
Due: none

[CUDA] Add Ada sm_89 target support (#24422)
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/test/BUILD.bazel
  compiler/plugins/target/CUDA/test/CMakeLists.txt
  compiler/plugins/target/CUDA/test/smoketest.mlir
  compiler/plugins/target/CUDA/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Enable NVIDIA BF16 mma.sync lowering (#24423)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/NVVM/bf16_mma_sm80.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 35b1ae5 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

[CUDA] Update SM89 target feature test
  compiler/plugins/target/CUDA/test/target_device_features.mlir
Due: none

[Preprocessing] Canonicalize scatter operand dims before lowering (#24081)
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgExt.cpp
Due: none

[CUDA] Update SM89 target feature test (#24496)
  compiler/plugins/target/CUDA/test/target_device_features.mlir
Due: none

Preserve argmax combiner attrs when splitting reductions
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/test/split_reduction.mlir
Due: none

move pass from GlobalOptimization to Preprocessing
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.h
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/PromoteContractionOutputs.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/promote_contraction_outputs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

rename PromoteContractionOutputs to PromoteLinalgOutputs
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/PromoteLinalgOutputs.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/promote_linalg_outputs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

E2E test linalg_ext.scan on GPU
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/scan_configured.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Distribute vector.scan across subgroups
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_scan.mlir
  tests/e2e/linalg_ext_ops/scan_configured.mlir
Due: none

Address PR feedback and fix RDNA CI
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  tests/e2e/linalg_ext_ops/scan_configured.mlir
Due: none

Address more PR feedback
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_scan.mlir
  tests/e2e/linalg_ext_ops/scan_configured.mlir
Due: none

Fix Bazel tests
  tests/e2e/linalg_ext_ops/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

More patterns to optimize chains
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

Reorder patterns
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

Address PR feedback on folding patterns
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none
