Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen][AMDGPU] Add pingpong large to default tuning
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDropResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Codegen][GPU] Add placeholder op for buffer casts on tensors
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDropResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_drop_resource_casts.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add medium f16 pingpong definition
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
Due: none

[Preprocessing] Use value bounds for dim multiple checking
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

Rebase resource cast PR
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDropResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_drop_resource_casts.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address some comments
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/strided_contraction_to_contraction.mlir
Due: none

Fix missing dim remapping when computing 'batchPos'
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConvToIm2ColOp.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: none

[Codegen] Remove dependencies on Flow
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPromoteMatmulToFitMMA.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/ConvertTensorToFlow.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add ops to translate between tensor and memref
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Im2Col] Support converting group convs to im2col (#20611)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConvToIm2ColOp.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: none

[TensorExt][NFC] Remove dependency on Encoding through ExternalModel (#20612)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtTypes.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtTypes.h
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Do not collapse dimensions if there are encoded operands.
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

Move the tests to late materialization path
  tests/e2e/encoding/BUILD.bazel
  tests/e2e/encoding/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address Quinn's comments
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
Due: none

[DT][CodeGen] Use EncodingTypeInterface during the materialization.
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
Due: none

[AMDGPU] Define gfx950 target and its MFMAs
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_horizontally_fused_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/horizontal_fusion_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Preprocessing] Use value bounds for dim multiple checking (#20583)
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

[CodeGen] Clean up the IRs within the MaterializeEncoding pass.
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

[Codegen] Remove dependencies on Flow (#20615)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPromoteMatmulToFitMMA.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/ConvertTensorToFlow.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Regenerate API exports after `iree_input` removal (#20590)
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/API/generate_exports.py
Due: none

Added newline at EOF
  compiler/src/iree/compiler/Codegen/Common/FastMathDeviceLib.h
  compiler/src/iree/compiler/Codegen/Common/test/math_transform_devicelib.mlir
Due: none

Cleaned up implementation, lit-test
  compiler/src/iree/compiler/Codegen/Common/FastMathDeviceLib.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transform_devicelib.mlir
Due: none

Added MLIR rewrite equivalent of fast AMDGPU devicelib impl (erf)
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none

Added FastMathDeviceLib for device-lib scf/arith rewrites
  compiler/src/iree/compiler/Codegen/Common/FastMathDeviceLib.cpp
  compiler/src/iree/compiler/Codegen/Common/FastMathDeviceLib.h
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
Due: none

Added lit-test for exp, working pass for erf with -has-fast-exp enabled
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FastMathDeviceLib.cpp
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transform_devicelib.mlir
Due: bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
Due: none

[AMDGPU] Optimize masked transfer read in presence of fat raw buffers
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLBufferInstructionsOptimization.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/buffer_instructions_optimization.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address reviewer comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

typos
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[GPU] Bail out in matmul tile and fuse config if shape if inner dims are unaligned and the shape is dynamic
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[CodeGen] Clean up the IRs within the MaterializeEncoding pass. (#20625)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

missed one style change
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Fix attention tests to use mixed intrinsics
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
Due: none

[GPU] Bail out in matmul TileAndFuse config for unaligned dynamic shapes (#20622)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

use compatible shapes
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
Due: none

[GlobalOptimizations] Add a pass to simplify strided contraction-like ops (#20607)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/strided_contraction_to_contraction.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply suggestions from code review
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
Due: none
