Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[LDS] Improve multiple transfers per lane (#22879)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Encoding] Add EncodingProperties retrieval to SerializableAttr (#22905)
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Added support for LinalgExt::IndexOp(s) inside of attention regions (#22768)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtPureOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

[Encoding] Test i1 mask attention with packed_storage (#22756)
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/attention_i1_mask_encoding.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[e2e][ukernel] Remove dead/duplicate tests (#22834)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Input][Torch] Direct lowering of torch convolution_backward to linalg (#22904)
  compiler/plugins/input/Torch/InputConversion/Passes.h
Due: none

Reland "[LLVMGPU] Unroll elementwise operations #21665" (#22828)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

[Stream] Selecting unified encodings from encoding resolvers. (#22898)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Codegen] Add vector.to/from_elements to bf16 -> i16 conversion (#22846)
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ToUInt16Buffers.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_bf16_to_uint16_buffers.mlir
Due: none

[Stream] Add UnifyEncodingForGlobals pass. 1/n (#22767)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI][Torch Models] Tighten golden times (#22936)
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
Due: none

Update shark/SHARK to amd-shark/AMD-SHARK in documentation and URLs in IREE (#22883)
  .github/workflows/publish_website.yml
  docs/website/docs/community/index.md
  docs/website/docs/developers/debugging/model-development.md
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/testing-guide.md
  docs/website/docs/developers/update-sdxl-golden-outputs.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/reference/tuning.md
  samples/colab/pytorch_huggingface_whisper.ipynb
Due: none

ElideAsyncCopiesPass refactoring for SCF/transfer support. (#22739)
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_scf.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_tensor_import_consume.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_topology.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_transfers.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_materialized_copies.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Pkgci] Update golden dispatch counts (#22869)
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

[Codegen] Drop certain encoding attributes after type propagation (#22740)
  compiler/src/iree/compiler/Codegen/Common/TypePropagationPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/type_propagation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/type_propagation_packing.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI][Torch Models] Update golden binary size (#22951)
  tests/external/iree-test-suites/torch_models/sdxl/clip_compstat_gfx942.json
Due: none

Add myself to CODEOWNERS for tests/e2e (#22944)
  .github/CODEOWNERS
Due: none

[bindings] Add `iree_tensor_ext` to python bindings (#22872)
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/dialects/TensorExtBinding.td
  compiler/bindings/python/iree/compiler/dialects/iree_tensor_ext.py
  compiler/bindings/python/test/ir/dialects_test.py
Due: bazel_to_cmake_2

[Codegen][GPU]Skip prologue pipeline barriers only for non-nested pipelined loops (#22868)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Unify RISC-V toolchain environment variables and remove default path (#22710)
  .github/workflows/pkgci_test_riscv64.yml
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/cmake/run_riscv_test.sh
  build_tools/cmake/test_riscv.sh
  build_tools/riscv/riscv_bootstrap.sh
  docs/website/docs/building-from-source/riscv.md
Due: none

[bindings] Link CAPIAMDGPU into libIREECompiler (#22929)
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Allow channel first layouts to lower through direct convolution path (#22840)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
Due: none

Add CDNA3 test filtering to CI (#22848)
  .github/workflows/pkgci_test_amd_mi325.yml
  build_tools/cmake/ctest_all.sh
Due: none

[DT][GPU] Redefine intrinsics M/N interleaving (#22812)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
Due: none

[Codegen][GPU] Improve lowering strategy for direct convolution (#22937)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
Due: none

[Dispatch Creation] Create more multi-use dispatches (#22011)
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.h
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
Due: none

[Encoding] Add verifier for iree_encoding.layouts (#22850)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
Due: none

[libcall] Update musl Makefile to include missing files. (#22859)
  runtime/src/iree/builtins/musl/Makefile_wasm32.iree
  runtime/src/iree/builtins/musl/Makefile_wasm64.iree
  runtime/src/iree/builtins/musl/bin/build.sh
  runtime/src/iree/builtins/musl/bin/libmusl_wasm32_generic.bc
  runtime/src/iree/builtins/musl/bin/libmusl_wasm64_generic.bc
Due: none

[Codegen] Use workgroup_count_hint for most code paths (#22549)
  compiler/plugins/target/CUDA/test/smoketest.mlir
  compiler/plugins/target/LLVMCPU/test/smoketest_embedded.mlir
  compiler/plugins/target/LLVMCPU/test/smoketest_system.mlir
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/gpu_encoding_attrs.mlir
  compiler/plugins/target/ROCM/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VMVX/test/smoketest.mlir
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveWorkgroupCountHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_truncation_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_dispatch_instrumentation.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  runtime/src/iree/hal/cts/testdata/executable_cache_test.mlir
  tests/compiler_driver/streams.mlir
Due: none

Fix tests: `noubsan` was not being honored, and MXFP4 matmul tests are static-shape-only (#22836)
  build_tools/cmake/iree_check_test.cmake
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Bump stablehlo to 6fabd27 (#22927)
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
Due: none

Add Codegen/Dialect CODEOWNERS entries for myself (#22918)
  .github/CODEOWNERS
Due: none

[Codegen] Do not swap extract_slice and collapse_shape for a special case (#22870)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

Fix deadlock in `ROCMDialect::getMlirUKernels` (#22843)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMBuiltinManager.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
Due: none

[GlobalOpt] Fuse transpose into matmul-looking linalg.generic (#22901)
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/clip_rocm.json
  tests/external/iree-test-suites/torch_models/sdxl/modules/clip_gfx942.json
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
