Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

fixup: Add sanity checks against unsupported layout combinations
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/materialize_encoding_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][LLVMCPU] Split loadProcessorData: hoist only the alloca (#24786)
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
Due: none

fixup: clean up the helper
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
Due: none

fixup: more accurate wording
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
Due: none

[Flow] Track escaping tied aliases
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

[Flow] Fix escaping alias regression check
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
Due: none

[Flow] Fix alias cache include
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

[Tools] Allow explicit shape and type when loading NPY files
  runtime/src/iree/tooling/function_io.c
  runtime/src/iree/tooling/function_io.h
  tools/test/iree-run-module-expected.mlir
Due: none

[LLVMCPU] add inner-tile-alignment hint attribute (#24806)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed cf9453f with MkDocs version: 1.6.1
  pip-release-links.html
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[Codegen][LLVMCPU] Make cpu_data feature field a compile-time constant
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
Due: none

[LLVMCPU][ukernel] Strip per-function target attributes to allow inlining
  compiler/plugins/target/LLVMCPU/builtins/UKernel.cpp
Due: none

Deployed bff05a9 with MkDocs version: 1.6.1
  pip-release-links.html
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

[Codegen] Support multi-output consumers with permuted indexing maps (#24768)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/materialize_encoding_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

feat(KernelDispatch): set inner-tile alignment hints on scalable pack ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_v_lowering_strategy.mlir
Due: none

Update compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
Due: none

CR
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
Due: none

Add negative test and linalg.dim re-materialization
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

Add materialization test case for dequant/transpose
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
Due: none

add negative test case unpack->pack
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

Deployed 95a0035 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

[DispatchCreation] Fix GatherFusionPattern on a scalar producer operand (#24803)
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
Due: none

Reword comments
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

Fix Python HAL device creation params only last one used
  runtime/bindings/python/hal.cc
Due: none

Deployed 3c2a79f with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[task] Use NUMA/package for topology node id, not cluster_id (#24761)
  runtime/src/iree/task/topology_sysfs.c
Due: none

[base] Add iree_sysfs_set_root_path_for_testing (#24761)
  runtime/src/iree/base/internal/sysfs.c
  runtime/src/iree/base/internal/sysfs.h
  runtime/src/iree/base/internal/sysfs_test.cc
Due: none

[task] Harden node filter when mapping missing; assert fixture (#24761)
  runtime/src/iree/task/topology_sysfs.c
  runtime/src/iree/task/topology_sysfs_test.cc
Due: none

[task] Fix hybrid sysfs fixture core_id/cluster_id values (#24761)
  runtime/src/iree/task/testdata/sysfs/x86_hybrid_sparse_clusters.tar.gz
Due: none

[task] Fix topology_sysfs_test DATA path for CMake (#24761)
  runtime/src/iree/task/CMakeLists.txt
Due: bazel_to_cmake_2

[task] Add hybrid sparse-cluster sysfs fixture and topology tests (#24761)
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/capture_sysfs.sh
  runtime/src/iree/task/testdata/sysfs/x86_hybrid_sparse_clusters.tar.gz
  runtime/src/iree/task/topology_sysfs_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[task] clang-format topology_sysfs changes (#24761)
  runtime/src/iree/task/topology_sysfs.c
  runtime/src/iree/task/topology_sysfs_test.cc
Due: none

[task] Add GAN adversarial sysfs topology fixtures (#24761)
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/x86_bare_minimal.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_dual_numa_sparse_clusters.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_empty_cpulist_node.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_hybrid_smt_sparse_clusters.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_large_cluster_ids.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_missing_cluster_id.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_multi_package_no_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_no_numa_single_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_numa_missing_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_numa_uncovered_cpu.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_partial_cpus.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_single_socket_multi_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_sparse_kernel_numa.tar.gz
Due: none

[task] Expand topology_sysfs_test for full GAN matrix (#24761)
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/topology_sysfs_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[task] Re-anchor sysfs fixtures to issue/upstream corpus lineage (#24761)
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/x86_bare_minimal.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_dual_numa_sparse_clusters.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_empty_cpulist_node.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_hybrid_smt_sparse_clusters.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_hybrid_sparse_clusters.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_large_cluster_ids.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_missing_cluster_id.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_multi_package_no_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_no_numa_single_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_numa_missing_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_numa_uncovered_cpu.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_partial_cpus.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_single_socket_multi_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/x86_sparse_kernel_numa.tar.gz
  runtime/src/iree/task/topology_sysfs_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[task] Add labeled P-* property sysfs doubles for mapping paths (#24761)
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/prop_dual_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_empty_cpulist.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_numa_no_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_numa_over_package.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_package_multi.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_sparse_kernel_numa.tar.gz
  runtime/src/iree/task/testdata/sysfs/prop_uncovered_cpu.tar.gz
  runtime/src/iree/task/topology_sysfs_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
