Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Document iree-profile JSONL contracts
  runtime/src/iree/tooling/profile/export.c
  runtime/src/iree/tooling/profile/export.h
  runtime/src/iree/tooling/profile/help.c
  tools/iree_profile_render/common.py
  tools/iree_profile_render_test.py
Due: none

Reject invalid AMDGPU device masks
  runtime/src/iree/hal/drivers/amdgpu/util/topology.c
Due: none

Scale profile renderer lane allocation
  tools/iree-profile-render
Due: none

Split profile tooling build graph into leaves
  runtime/src/iree/tooling/profile/BUILD.bazel
  runtime/src/iree/tooling/profile/CMakeLists.txt
  runtime/src/iree/tooling/profile/att/BUILD.bazel
  runtime/src/iree/tooling/profile/att/CMakeLists.txt
  tools/BUILD.bazel
  tools/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Make profile summary chunk routing table-driven
  runtime/src/iree/tooling/profile/summary.c
Due: none

Tighten profile command option validation
  runtime/src/iree/tooling/profile/commands.c
Due: none

Tighten profile export routing
  runtime/src/iree/tooling/profile/export.c
Due: none

Validate iree-profile command options from descriptors
  runtime/src/iree/tooling/profile/BUILD.bazel
  runtime/src/iree/tooling/profile/CMakeLists.txt
  runtime/src/iree/tooling/profile/att/att.c
  runtime/src/iree/tooling/profile/commands.c
  runtime/src/iree/tooling/profile/commands.h
  runtime/src/iree/tooling/profile/commands_test.cc
  runtime/src/iree/tooling/profile/help.c
  tools/iree-profile-main.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Split profile executable report sections
  runtime/src/iree/tooling/profile/projection.c
Due: none

Refactor iree-profile-render backend modules
  tools/BUILD.bazel
  tools/iree-profile-render
  tools/iree_profile_render/__init__.py
  tools/iree_profile_render/backends.py
  tools/iree_profile_render/common.py
  tools/iree_profile_render/perfetto.py
  tools/iree_profile_render_test.py
Due: buildifier, bazel_to_cmake_1

Emit queue device spans for AMDGPU queue dispatch
  runtime/src/iree/hal/cts/queue/queue_dispatch_test.cc
  runtime/src/iree/hal/drivers/amdgpu/host_queue_dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_submission.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_submission.h
  runtime/src/iree/hal/profile_sink.h
  runtime/src/iree/tooling/profile/help.c
Due: none

Tighten profile projection rendering
  runtime/src/iree/tooling/profile/projection.c
Due: none

Extract AMDGPU host queue profile event rings
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer_test.cc
  runtime/src/iree/hal/drivers/amdgpu/host_queue_dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_profile.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_profile.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue_profile_events.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_profile_events.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue_submission.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/profile_counters.c
  runtime/src/iree/hal/drivers/amdgpu/profile_traces.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Use IREE status macros in profile tests
  runtime/src/iree/tooling/profile/commands_test.cc
  runtime/src/iree/tooling/profile/common_test.cc
Due: none

Share profile memory allocation rows
  runtime/src/iree/tooling/profile/memory.c
Due: none

Extract ATT ROCm library adapters
  runtime/src/iree/tooling/profile/att/BUILD.bazel
  runtime/src/iree/tooling/profile/att/CMakeLists.txt
  runtime/src/iree/tooling/profile/att/att.c
  runtime/src/iree/tooling/profile/att/comgr.c
  runtime/src/iree/tooling/profile/att/comgr.h
  runtime/src/iree/tooling/profile/att/rocm.c
  runtime/src/iree/tooling/profile/att/rocm.h
  runtime/src/iree/tooling/profile/att/rocm_test.cc
  runtime/src/iree/tooling/profile/att/rocprofiler.c
  runtime/src/iree/tooling/profile/att/rocprofiler.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Tighten profile dispatch report rendering
  runtime/src/iree/tooling/profile/projection.c
Due: none

Barrier indirect command buffer patch dispatches
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_command_buffer_test.cc
Due: none

Share profile memory balance accounting
  runtime/src/iree/tooling/profile/memory.c
Due: none

Table-drive profile model metadata routing
  runtime/src/iree/tooling/profile/model.c
Due: none

Split profile counter sample processing
  runtime/src/iree/tooling/profile/counter.c
Due: none

Split profile summary JSONL fields
  runtime/src/iree/tooling/profile/summary.c
Due: none

Split profile memory report sections
  runtime/src/iree/tooling/profile/memory.c
Due: none

Clarify profile memory allocation identity
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_memory.c
  runtime/src/iree/hal/drivers/amdgpu/slab_provider.c
  runtime/src/iree/hal/drivers/amdgpu/transient_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/transient_buffer.h
  runtime/src/iree/hal/profile_sink.h
  runtime/src/iree/hal/utils/profile_file.h
  runtime/src/iree/tooling/profile/common_test.cc
  runtime/src/iree/tooling/profile/export.c
  runtime/src/iree/tooling/profile/help.c
  runtime/src/iree/tooling/profile/memory.c
  runtime/src/iree/tooling/profile/memory.h
Due: none

Extract AMDGPU host queue pending operations
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_pending.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_pending.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Tighten profile counter report rendering
  runtime/src/iree/tooling/profile/counter.c
Due: none

Factor AMDGPU host queue deferred submission flow
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_pending.c
Due: none

Share explain device and queue rows
  runtime/src/iree/tooling/profile/explain.c
Due: none

Split profile counter metadata decoding
  runtime/src/iree/tooling/profile/counter.c
Due: none

Test AMDGPU host queue pending operations
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/host_queue_pending_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Split profile agent markdown help sections
  runtime/src/iree/tooling/profile/help.c
Due: none

Separate profile queue query state from model
  runtime/src/iree/tooling/profile/BUILD.bazel
  runtime/src/iree/tooling/profile/CMakeLists.txt
  runtime/src/iree/tooling/profile/dispatch.c
  runtime/src/iree/tooling/profile/dispatch.h
  runtime/src/iree/tooling/profile/explain.c
  runtime/src/iree/tooling/profile/model.c
  runtime/src/iree/tooling/profile/model.h
  runtime/src/iree/tooling/profile/projection.c
  runtime/src/iree/tooling/profile/queue_query.c
  runtime/src/iree/tooling/profile/queue_query.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Split profile summary report sections
  runtime/src/iree/tooling/profile/summary.c
Due: none

Split profile memory allocation updates
  runtime/src/iree/tooling/profile/memory.c
Due: none

Extract ATT profile bundle index
  runtime/src/iree/tooling/profile/att/BUILD.bazel
  runtime/src/iree/tooling/profile/att/CMakeLists.txt
  runtime/src/iree/tooling/profile/att/att.c
  runtime/src/iree/tooling/profile/att/bundle.c
  runtime/src/iree/tooling/profile/att/bundle.h
  runtime/src/iree/tooling/profile/att/bundle_test.cc
  runtime/src/iree/tooling/profile/att/util.c
  runtime/src/iree/tooling/profile/att/util.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Link dealloca pool releases to submissions
  runtime/src/iree/hal/drivers/amdgpu/host_queue_memory.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_submission.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_submission.h
Due: none

Extract ATT trace decode aggregation
  runtime/src/iree/tooling/profile/att/BUILD.bazel
  runtime/src/iree/tooling/profile/att/CMakeLists.txt
  runtime/src/iree/tooling/profile/att/att.c
  runtime/src/iree/tooling/profile/att/decode.c
  runtime/src/iree/tooling/profile/att/decode.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Tighten profile explain rendering
  runtime/src/iree/tooling/profile/explain.c
  runtime/src/iree/tooling/profile/projection.c
  runtime/src/iree/tooling/profile/summary.c
Due: none

Decouple profile event emission from aggregators
  runtime/src/iree/tooling/profile/common_test.cc
  runtime/src/iree/tooling/profile/counter.c
  runtime/src/iree/tooling/profile/counter.h
  runtime/src/iree/tooling/profile/dispatch.c
  runtime/src/iree/tooling/profile/dispatch.h
  runtime/src/iree/tooling/profile/explain.c
  runtime/src/iree/tooling/profile/memory.c
  runtime/src/iree/tooling/profile/memory.h
  runtime/src/iree/tooling/profile/projection.c
Due: none
