Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

__ attempts
  experimental/streaming/BUILD.bazel
  experimental/streaming/CMakeLists.txt
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/hip/api.c
  experimental/streaming/binding/hip/api.h
  experimental/streaming/context.c
  experimental/streaming/event.c
  experimental/streaming/graph.c
  experimental/streaming/internal.h
  experimental/streaming/memory.c
  experimental/streaming/registry.c
  experimental/streaming/stream.c
  experimental/streaming/test/BUILD.bazel
  experimental/streaming/test/CMakeLists.txt
  experimental/streaming/test/hip_demo.cc
  experimental/streaming/test/hip_graph_capture_api_demo.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/local/local_executable_cache.c
Due: buildifier, bazel_to_cmake_2

Adding HAL virtual memory APIs. (#22437)
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
Due: none

Added documents outlining the streaming API.
  experimental/streaming/docs/runtime.md
  experimental/streaming/docs/streaming_api.md
Due: none

Update the hip backend to support the stream api.
  experimental/streaming/binding/hip/api.c
  experimental/streaming/graph.c
  experimental/streaming/internal.h
  experimental/streaming/module.c
  experimental/streaming/registry.c
  experimental/streaming/stream.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
Due: bazel_to_cmake_2

[DispatchCreation] Fuse bit extends into split reduction dispatch
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
Due: none

Reorder
  docs/website/docs/developers/general/contributing.md
Due: none

Typo
  docs/website/docs/developers/general/contributing.md
Due: none

[docs] Clarify code review process (#22714)
  docs/website/docs/developers/general/contributing.md
Due: none

[docs] Fix a typo in code review process
  docs/website/docs/developers/general/contributing.md
Due: none

[docs] Fix a typo in code review process (#22716)
  docs/website/docs/developers/general/contributing.md
Due: none

Deployed 95b587e with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  search/search_index.json
Due: none

Deployed ea24b78 with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  search/search_index.json
Due: none

update golden values
  tests/external/iree-test-suites/torch_ops/torch_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

[DispatchCreation] Set split reduction size for ArgCompare
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_outer_reduction.mlir
Due: none

[Input] Register IREETensorExtDialect
  compiler/plugins/input/Torch/PluginRegistration.cpp
Due: none

add one negative test
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_outer_reduction.mlir
Due: none

use cli option directly
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
Due: none

drop blank lines
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_outer_reduction.mlir
Due: none

[DispatchCreation] Set split reduction size for ArgCompare (#22466)
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_outer_reduction.mlir
Due: none

[CI][TorchModels] Update SDXL int8 model CI (1/2) (#22621)
  tests/external/iree-test-suites/torch_models/sdxl/modules/punet_gfx942_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

[CI][TorchModels] Update flags for CLIP test.
  tests/external/iree-test-suites/torch_models/sdxl/clip_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/modules/clip_gfx942.json
Due: none

Add back horizontal fusion flag.
  tests/external/iree-test-suites/torch_models/sdxl/modules/clip_gfx942.json
Due: none

Fix linter.
  tests/external/iree-test-suites/torch_models/sdxl/modules/clip_gfx942.json
Due: none

major refactor to new config style
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUExpandDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_expand_dimensions.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matmul.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Utils/AttributeUtils.cpp
  compiler/src/iree/compiler/Utils/AttributeUtils.h
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

pre-commit
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Utils/AttributeUtils.cpp
  compiler/src/iree/compiler/Utils/AttributeUtils.h
Due: bazel_to_cmake_2

rename
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUExpandDimensions3.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Utils/EncodingUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

accidental file
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUExpandDimensions3.cpp
Due: none

pre-commit
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI][TorchModels] Add data-tiling for Llama 8B Fp8 on gfx942 (#22387)
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/modules/llama_gfx942_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
Due: none

Test cleanup.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
Due: none

[Util] Implement InferIntDivisibilityOpInterface for affine ops
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestIntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fixing barrier placement for hipblas style pipelining
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
Due: none

[Do not merge] Test split reduction on by default
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.h
Due: none

[Build] Optionally use hip headers from system Hip package (#22715)
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
Due: bazel_to_cmake_2

[Flow] Transfer globals per affinity instead of replicating (#22623)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ReplicateGlobalsPerAffinity.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/replicate_globals_per_affinity.mlir
Due: none

Deployed ab71094 with MkDocs version: 1.6.1
  reference/mlir-passes/Flow/index.html
  search/search_index.json
Due: none

relocate
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/fold_bitcast_into_interface_tensor.mlir
  compiler/src/iree/compiler/Codegen/Common/test/fold_bitcast_into_load_from_buffer.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
