Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[MetalSPIRV] Add external executable serialization for Metal target
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/MetalSPIRV/test/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/test/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/test/external_executable.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update CDNA4 scaled GEMM heuristic seeds for better performance
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

check point - functional
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_partial_dt_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint fix
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

removing unnecessary change
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

remove unnecessary change
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

resolving dependency issue
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

relax condition
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

Add test for delinearize_index 2d
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Remove getNumResult() != 1 guard
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Add support for util.func
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Add conversion for returnLike ops
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

Add comment
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Lint
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

Fix bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix the terminator on device_query.
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/testing/mock_device.c
Due: none

resolve dependency issue
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DMA][Swizzle] Apply inverse source swizzle in DMA lowering for swizzled destinations
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

fix minor comment
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

[LinalgExt] Move ArgCompareOp region verification to verifyRegions
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

[Codegen][PCF] Add convertForallToGenericNest transform
  compiler/src/iree/compiler/Codegen/Common/ConvertWorkgroupForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/GPUScopeExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ConvertForallToGenericNestGPU.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/convert_forall_to_generic_nest_gpu.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToLoops.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_generic_nest.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_loops.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CodegenExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add correctness test for partial dt path
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][PCF] Add foldForallIntoPCFLoop for split-k loop handling
  compiler/src/iree/compiler/Codegen/Common/ConvertWorkgroupForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_workgroup_forall_to_pcf.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FoldForallIntoPCFLoop.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fold_forall_into_pcf_loop.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][PCF] Address review comments on foldForallIntoPCFLoop
  compiler/src/iree/compiler/Codegen/Common/ConvertWorkgroupForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_workgroup_forall_to_pcf.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FoldForallIntoPCFLoop.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fold_forall_into_pcf_loop.mlir
Due: none

[GPU] Implement CDNA block intrinsics (6/6) (#24020)
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVConvertGPUTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none

[LinalgExt] Move ArgCompareOp region verification to verifyRegions (#24095)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

Add missing ViewLikeInterface Bazel dep for DMA lowering
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

windows CI
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Common/ConvertWorkgroupForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToPCF.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_generic_nest.mlir
Due: none

[Codegen][PCF] Address follow-up review comments
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FoldForallIntoPCFLoop.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FusePCFWrites.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fold_forall_into_pcf_loop.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fuse_pcf_writes.mlir
Due: none

Different CMAKE_ARGS
  build_tools/cmake/build_all.sh
Due: none

double k experiment
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[Codegen] Relax identity layout check in ResolveSwizzleHints verification (#24091)
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

Add transfer_gather to vector.gather lowering
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherToGather.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/lower_transfer_gather_to_vector_gather.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Enable sccache on windows.
  .github/workflows/ci_windows_x64_msvc.yml
  build_tools/cmake/build_all.sh
Due: none
