Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

use IGEMM dim mapping for padding convolutions
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

[Codegen] Add corner case for SwapExtractWithCollapsePattern (#21773)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

Update Bazel build dependencies
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Review comments v2.0
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
Due: none

Review comments v1.0
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

Review comments v3.0
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
Due: none

[ROCM] Update Ukernel infra to allow ROCM-specific bitcode ukernel lowering
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.td
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/roundtrip.mlir
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/lower_ukernel_bitcode_descriptor.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

Review comments v4.0
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

[ROCM] Fix redefinition of symbol error for including tensor ukernels
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
Due: none

[ROCM] Fix redefinition of symbol error for including tensor ukernels (#21780)
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
Due: none

Drop TensorCore/MMA pipelines.
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
Due: none

Fix/Remove tests and pre-commit failures.
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_mma_sync_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add back deleted pipeline test file.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Due: none

CUDA driver split
  experimental/streaming/binding/cuda/BUILD.bazel
  experimental/streaming/binding/cuda/CMakeLists.txt
  experimental/streaming/binding/cuda/api.h
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/cuda/driver.h
  experimental/streaming/binding/cuda/runtime.c
  experimental/streaming/binding/cuda/runtime.h
  experimental/streaming/test/BUILD.bazel
  experimental/streaming/test/CMakeLists.txt
  experimental/streaming/test/cuda_driver_api_demo.c
  experimental/streaming/test/cuda_runtime_api_demo.c
Due: buildifier

[Codegen][Tuner] expose python binding to query target info
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Keep nvvm_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add back VMVX tests.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix linter.
  tests/e2e/matmul/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

first run through
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

[Codegen][IGEMM] Fix and preserve padding dim order for convs (#21772)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Fix for renamed conv pass llvm/llvm-project@32a5adbd42b044eb5611ff26084d05880ea1b899
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/QuantizedConvToConv.cpp
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

Fix for llvm/llvm-project@003cbbd4ca10a79604f55eaa9ba144c614a1e593
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Due: none

address reviewer comments
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
Due: none

Review comment 6.0
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

add assert to check operand order
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[ROCM] Update Ukernel infra to allow ROCM-specific bitcode ukernel lowering (#21681)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.td
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/roundtrip.mlir
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/lower_ukernel_bitcode_descriptor.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ROCM] Update Ukernel infra to handle InnerTiledOp/Multi_MMA_MFMA
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.h
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/lower_ukernel_bitcode_descriptor.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Use UkernelDescriptor for Ukernel lowering paths
  compiler/plugins/target/ROCM/test/config_ukernel_argmax_gfx908.mlir
  compiler/plugins/target/ROCM/test/config_ukernel_argmax_gfx942.mlir
  compiler/plugins/target/ROCM/test/config_ukernel_data_tiled_mma_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUSelectUKernels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUSelectUKernels.h
Due: none

add lit tests
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
Due: none

[ROCM] Add zero fill check to ukernel patterns
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
Due: none

[Codegen] Add XOR-based Swizzle Attribute (#21562)
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Deployed 73c0d4f with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

Migrate ROCM ukernels from tuning spec to ukernel descriptor lowering
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
