Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[iree-benchmark-module] Unify sync, async and dispatch execution (#24986)
  docs/website/docs/developers/performance/benchmarking.md
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/tests/benchmark_lifecycle_test.py
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  tools/iree-benchmark-module-main.cc
Due: bazel_to_cmake_2

[iree-benchmark-module] Add dispatch timing rows
  docs/website/docs/developers/performance/benchmarking.md
  runtime/bindings/python/tests/benchmark_lifecycle_test.py
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/device_util_test.cc
  runtime/src/iree/tooling/run_module.c
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-benchmark-executable-main.c
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-replay-main.cc
  tools/iree-check-module-main.cc
  tools/iree-run-replay-main.c
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-benchmark-module-dispatch-statistics.mlir
  tools/testing/e2e/test_utils.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed b315d00 with MkDocs version: 1.6.1
  developers/performance/benchmarking/index.html
  search/search_index.json
Due: none

[iree-benchmark-module] Snapshot lists in profiled outputs
  runtime/bindings/python/tests/benchmark_lifecycle_test.py
  tools/iree-benchmark-module-main.cc
Due: none

[Integrate] Update torch-mlir to 528d3dcb
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna4_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

[GlobalOptimization] Propagate affine QDQ through tensor ops
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/TestReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/reshape_fusion.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PropagateAffineQuantization.cpp
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.cpp
  compiler/src/iree/compiler/GlobalOptimization/TransposePropagationPatterns.h
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_affine_quantization.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Integrate] Update torch-mlir to 528d3dcb (#24908)
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna4_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

[Torch] Preserve PT2E quantization as LinalgExt ops
  compiler/plugins/input/Torch/InputConversion/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/ConvertTorchQuantizationToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.td
  compiler/plugins/input/Torch/InputConversion/test/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/test/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/quantization_to_linalg_ext.mlir
  compiler/plugins/input/Torch/InputConversion/test/torch_to_iree.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Propagate tensor encodings outside dispatch regions
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_data_tiling_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Name the new pass after the ops it propagates through
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings_through_generic_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 8823fe6 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[GlobalOpt] Keep strided input maps when the producer can fuse (#24950)
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/strided_contraction_to_contraction.mlir
Due: none

[Bindings][Compiler] Add Bazel support for Python bindings (#24980)
  compiler/bindings/python/BUILD.bazel
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/API/generate_exports.py
Due: buildifier, bazel_to_cmake_1

[CI] Add RDNA3 and RDNA4 Vulkan e2e tests under rocjitsu
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/test_vulkan_targets_with_rocjitsu.sh
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
Due: bazel_to_cmake_2

[DispatchCreation] Propagate tensor encodings outside dispatch regions (#24966)
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings_through_generic_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 466f8d3 with MkDocs version: 1.6.1
  reference/mlir-passes/DispatchCreation/index.html
  search/search_index.json
Due: none

[CI] Add RDNA3 and RDNA4 Vulkan SPIR-V e2e tests under rocjitsu (#24990)
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/test_vulkan_targets_with_rocjitsu.sh
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][CPU] Lower RISC-V V f16 vfmacc, vfwmacc, and Zvfhmin inner_tiled MMA.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Run Vulkan HAL CTS under rocjitsu
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/test_vulkan_targets_with_rocjitsu.sh
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Torch] Preserve PT2E quantization as LinalgExt ops (#24918)
  compiler/plugins/input/Torch/InputConversion/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/ConvertTorchQuantizationToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.td
  compiler/plugins/input/Torch/InputConversion/test/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/test/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/quantization_to_linalg_ext.mlir
  compiler/plugins/input/Torch/InputConversion/test/torch_to_iree.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 4fc29b6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Update release process docs and make pypi_deploy.sh dry-run by default
  RELEASING.md
  build_tools/python_deploy/pypi_deploy.sh
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/release-tracker-template.md
Due: none

[Vulkan] Keep a rejected queue_dealloca from clearing a pending one
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/queue_test.cc
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 1d34a28 with MkDocs version: 1.6.1
  community/blog/2025-08-25-data-tiling-walkthrough/index.html
  pip-release-links.html
  reference/mlir-dialects/Flow/index.html
  reference/mlir-dialects/HAL/index.html
  reference/mlir-dialects/IREECodegen/index.html
  reference/mlir-dialects/IREEVectorExt/index.html
  reference/mlir-dialects/LinalgExt/index.html
  reference/mlir-dialects/Stream/index.html
  reference/mlir-dialects/Util/index.html
  reference/mlir-dialects/VM/index.html
  search/search_index.json
Due: none

Fix build
  compiler/plugins/input/Torch/InputConversion/test/quantization_to_linalg_ext.mlir
Due: none

Fix build after properties migration (#25004)
  compiler/plugins/input/Torch/InputConversion/test/quantization_to_linalg_ext.mlir
Due: none

The macOS 14 runner image will be retired
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/ci_macos_arm64_clang.yml
Due: none

[CI] Run Vulkan HAL CTS under rocjitsu (#25001)
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/test_vulkan_targets_with_rocjitsu.sh
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply suggestion from @AGindinson
  docs/website/docs/community/index.md
Due: none

Apply batched suggestions from code review
  docs/website/docs/community/index.md
Due: none

Fix trailing whitespace
  docs/website/docs/community/index.md
Due: none

Update to IREE website community sections (#24995)
  docs/website/docs/community/index.md
  docs/website/docs/index.md
Due: none

Deployed 705c948 with MkDocs version: 1.6.1
  community/index.html
  index.html
  search/search_index.json
Due: none

[Vulkan] Accept non-local semaphores in queue operations
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: none

Integrate LLVM to llvm/llvm-project@7e751154a0e5
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArith.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLAnnotateKernelForTranslation.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl_gfx1201.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl_gfx1250.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

ensure the number of output sizes is not less than the number of batch dims
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
Due: none

[CI] Migrate macOS 14 to macOS 15 (#25006)
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/ci_macos_arm64_clang.yml
Due: none

[GlobalOptimization] Fold empty-set reductions to their init operand.
  compiler/src/iree/compiler/GlobalOptimization/RemoveZeroExtentTensors.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/remove_zero_extent_tensors.mlir
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna4_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
