Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

add affine dep
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add ValueBoundInterface to Flow::DispatchWorkloadOrdinalOp
  compiler/src/iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  compiler/src/iree/compiler/ExternalInterfaces/FlowExternalModels.cpp
Due: none

[Preprocessing] Use value bounds for dim multiple checking
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

Add test
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

Integrate llvm/llvm-project@f0a59c4
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

[Codegen] Add op for swizzling memory accesses (#20547)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

BlockDynamicDimensions: Fold remaining reshapes with bindings (#20580)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

Deployed b485d5d with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

[Codegen] Update warp reduction config for multiple reduction
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Add ValueBoundInterface to flow.dispatch.workload.ordinal (#20582)
  compiler/src/iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  compiler/src/iree/compiler/ExternalInterfaces/FlowExternalModels.cpp
Due: none

[Codegen] Use bubble up expand shapes past collapse shapes while blocking dynamic dims.
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
Due: none

Integrate llvm/llvm-project@f0a59c4 (#20584)
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

Add tensor bubbling patterns
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
Due: none

[Codegen][GPU] Add placeholder op for buffer casts on tensors
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDropResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_drop_resource_casts.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add option to expand subview metadata
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Codegen][AMDGPU] Add pingpong large to default tuning
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDropResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Add factor to 256 blocking hack
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
Due: none

Flip tuning default specs on by default
  compiler/src/iree/compiler/Codegen/Common/MaterializeTuningSpecsPass.cpp
Due: none

Regenerate API exports after `iree_input` removal
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/API/generate_exports.py
Due: none

Add tests and pass subgroup size
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
Due: none

[BlockDynamicDimensions] Add tensor bubbling patterns (#20588)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

Use EncodingNopLayoutAttr (which should be merged into the one in Encoding dialect)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Add KnownTargets dep
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update failing tests
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Due: none

[Codegen] Add option to expand subview metadata
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/iree_expand_strided_metadata_with_subview_expansion.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Bail out the split reduction if the mamtul has encodings. (#20415)
  compiler/src/iree/compiler/DispatchCreation/SplitReduction.cpp
  compiler/src/iree/compiler/DispatchCreation/test/split_reduction.mlir
Due: none

[Codegen] Update warp reduction config for multiple reduction (#20585)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Due: none

[CPU][NFC] Refresh debugging log with LDBG.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUPeel.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
Due: none

[Codegen] Use GPUPadLayoutAttr to resolve layouts. (#20565)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Conserve dynamic dimension of result when not collapsing dimensions of op.
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

[VectorExt] Add generic vectorization to iree_vector_ext.transfer_gather
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[build] Fix Bazel dependencies for shared library builds
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/BUILD.bazel
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[fixup] apply linter
  compiler/src/iree/compiler/API/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[build] Provide a Bazel config for the Torch plugin
  .bazelrc
  WORKSPACE
  compiler/plugins/input/Torch/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/Config/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[fixup] Bazel-to-CMake mapping for LinalgInterfaces
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/llvm-project/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
Due: bazel_to_cmake_2

Fix from comments.
  experimental/webgpu/nop_semaphore.c
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
  runtime/src/iree/hal/drivers/hip/event_pool.c
  runtime/src/iree/hal/drivers/hip/event_semaphore.c
  runtime/src/iree/hal/drivers/hip/event_semaphore.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_semaphore.c
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
  runtime/src/iree/hal/drivers/metal/shared_event.m
  runtime/src/iree/hal/drivers/null/semaphore.c
  runtime/src/iree/hal/drivers/vulkan/native_semaphore.cc
Due: none
