Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

more sanity check
  .github/workflows/pkgci_test_sharktank.yml
Due: none

[Dispatch Creation] Enable more reshape movement
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/SinkReshapes.cpp
Due: none

[Stream] Add support for materialize stream.tensor.encode ops.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodeOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encode_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm-project@7af0bfe62 (#20315)
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
Due: none

Capture result dynamic dyms as well
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodeOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encode_ops.mlir
Due: none

[DispatchCreation] Convert top-level encoding ops to flow.tensor.encode.
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/ConvertEncodingToFlow.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/convert_encoding_to_flow.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Do not wrap a single set_encoding op into flow.dispatch.region.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

[DT] Disable early materialization by default.
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Due: none

[DispatchCreation] Delete pad->set_encoding fusion logic.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Registering (and depending on) required dialects in torch input plugin.
  compiler/plugins/input/Torch/CMakeLists.txt
  compiler/plugins/input/Torch/PluginRegistration.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestConversion.cpp
Due: bazel_to_cmake_2

Fixing python lint mismatch.
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: none

Moving func-to-util patterns to Util/Conversion/.
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestConversion.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Preventing func dialect conflicts in util conversion test pass.
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestConversion.cpp
Due: none

Adding bazel dep.
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Review feedback.
  compiler/plugins/input/Torch/PluginRegistration.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.cpp
Due: none

Moving func-to-util patterns to Util/Conversion/. (#20262)
  compiler/plugins/input/Torch/CMakeLists.txt
  compiler/plugins/input/Torch/PluginRegistration.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestConversion.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Delete flaky gisel_abort test. (#20319)
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/gisel_abort.mlir
Due: bazel_to_cmake_2

Skip flaky test_top_k onnx op test on rdna3.
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
Due: none

Skip related tests too.
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
Due: none

Skip flaky test_top_k onnx op test on rdna3. (#20327)
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
Due: none

Run `windows_x64_msvc` on postsubmit and opt-in on presubmit. (#20306)
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Due: none

[DataTiling][Codegen] Use iree.encoding.resolver to decide encoding resolvers
  compiler/plugins/target/LLVMCPU/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/vmvx_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: none

update flags in e2e tests
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Deployed bcd1879 with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  developers/general/github-actions/index.html
  search/search_index.json
Due: none

[DispatchCreation] Delete pad->set_encoding fusion logic. (#20324)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Fix asm parsing for `Util_PreprocessingPipelineAttr` (#20314)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/attributes.mlir
  compiler/src/iree/compiler/Preprocessing/Common/AttrBasedPipelinePass.cpp
Due: none

Address comments
  runtime/src/iree/hal/drivers/hip/hip_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_buffer.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

Deployed 5a33e92 with MkDocs version: 1.6.1
  reference/mlir-dialects/Util/index.html
  search/search_index.json
Due: none

fixed style issues
  .github/workflows/pkgci_regression_test.yml
Due: none

[Encoding] Use testing_encoding<> in lit tests when possible.
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fuse_encoding_ops_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/tensor_pad_to_tensor_insert_slice.mlir
Due: none

Extend IGEMM utils to support conv2d_chwn_chwf ops
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

reverted changes because they didnt work
  .github/workflows/pkgci_regression_test.yml
Due: none

cahgned back
  .github/workflows/pkgci_regression_test.yml
Due: none

tested to see if syntax error
  .github/workflows/pkgci_regression_test.yml
Due: none

[DataTiling][Codegen] Use iree.encoding.resolver to decide encoding resolvers (#20271)
  compiler/plugins/target/LLVMCPU/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/vmvx_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Keep lowering config when decomposing linalg.pack
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_pack_unpack_ops.mlir
Due: none
