Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Stream] Add async.cast for lifetime refinement
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/global_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Due: none

[Stream] Preserve borrowed imports during copy elision
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_tensor_import_consume.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_materialized_copies.mlir
Due: none

Add experimenal flag to enable vectorization to transfer_gather
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_gather_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Utils/CodegenOptions.cpp
  compiler/src/iree/compiler/Codegen/Utils/CodegenOptions.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed c32f992 with MkDocs version: 1.6.1
  reference/mlir-dialects/Stream/index.html
  search/search_index.json
Due: none

Outline transpose logic in ContractToChainFMA (NFC).
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

Outline flattening logic in ContractToChainFMA (NFC).
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

[Bazel] Configure static compiler plugins
  MODULE.bazel
  build_tools/bazel/BZLMOD_LLVM.md
  build_tools/bazel/default_compiler_plugins.bzl
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/bin/iree-bazel-configure
  compiler/plugins/BUILD.bazel
  compiler/plugins/input/Torch/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/BUILD.bazel
  compiler/plugins/input/Torch/InputConversion/test/CMakeLists.txt
  compiler/plugins/plugins.bzl
  compiler/src/iree/compiler/PluginAPI/Config/BUILD.bazel
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  configure_bazel.py
  docs/website/docs/developers/building/bazel.md
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Compiler] Preserve resources in local-scope IR output
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/compile_to_resources.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Don't clone into insert slice dest
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

[ROCDL] Add pass to group buffer loads for better instruction scheduling
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLGroupBufferLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
Due: bazel_to_cmake_2

Deployed a064835 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

lint
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLGroupBufferLoads.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add dlmalloc third-party source.
  MODULE.bazel
  build_tools/bazel/extensions.bzl
  build_tools/third_party/dlmalloc/BUILD.overlay
  build_tools/third_party/dlmalloc/CMakeLists.txt
  third_party/dlmalloc/LICENSE
  third_party/dlmalloc/malloc.c
Due: buildifier

Add unrolling for vector.interleave
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Unroll vector.deinterleave
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

fix pre-commit
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Divide by 1.1
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/vae_benchmark_mi325.json
Due: none

Remove golden times to regenerate them
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

Deployed adc7ca7 with MkDocs version: 1.6.1
  developers/building/bazel/index.html
  search/search_index.json
Due: none

new times
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
Due: none

add folding patterns for (un)pack/transpose
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
Due: none

Fix HALToStream import dims test after alias lowering
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/import_dims.mlir
Due: none

[HAL/Replay] Plumb replay tools through packages
  docs/website/docs/developers/performance/device-replay.md
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_benchmark_replay/__main__.py
  runtime/bindings/python/iree/_runtime/scripts/iree_dump_replay/__main__.py
  runtime/bindings/python/iree/_runtime/scripts/iree_run_replay/__main__.py
  runtime/bindings/python/iree/runtime/_package_test.py
  runtime/setup.py
  runtime/src/iree/hal/replay/dump.c
  runtime/src/iree/hal/replay/dump.h
  runtime/src/iree/hal/replay/dump_test.cc
  runtime/src/iree/hal/replay/recorder_allocator.c
  runtime/src/iree/hal/replay/recorder_file.c
  tools/iree-dump-replay-main.c
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-replay-tools.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL/Replay] Use status codes in execute tests
  runtime/src/iree/hal/replay/execute_test.cc
Due: none

[HAL/Replay] Align imported host allocation tests
  runtime/src/iree/hal/replay/execute_test.cc
  runtime/src/iree/hal/replay/recorder_test.cc
Due: none

[HAL/Replay] Tighten scoped replay benchmarking
  runtime/src/iree/hal/replay/execute.c
  tools/iree-benchmark-module-main.cc
Due: none

[HAL/Replay] Prepare replay execution plans
  runtime/src/iree/hal/replay/execute.c
  runtime/src/iree/hal/replay/execute.h
  runtime/src/iree/hal/replay/execute_test.cc
  tools/iree-benchmark-replay-main.cc
Due: none

[HAL/Replay] Gate local-sync replay tests in CMake
  runtime/src/iree/hal/replay/BUILD.bazel
  runtime/src/iree/hal/replay/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL/Replay] Add scoped replay markers
  docs/website/docs/developers/performance/device-replay.md
  runtime/src/iree/hal/replay/dump.c
  runtime/src/iree/hal/replay/dump_test.cc
  runtime/src/iree/hal/replay/execute.c
  runtime/src/iree/hal/replay/execute.h
  runtime/src/iree/hal/replay/execute_test.cc
  runtime/src/iree/hal/replay/format.c
  runtime/src/iree/hal/replay/format.h
  runtime/src/iree/hal/replay/help.c
  runtime/src/iree/hal/replay/recorder.c
  runtime/src/iree/hal/replay/recorder.h
  runtime/src/iree/hal/replay/recorder_test.cc
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/run_module.c
  tools/iree-benchmark-replay-main.cc
Due: none

[HAL/Replay] Keep replay help in tool binaries
  runtime/src/iree/hal/replay/BUILD.bazel
  runtime/src/iree/hal/replay/CMakeLists.txt
  runtime/src/iree/hal/replay/help.c
  runtime/src/iree/hal/replay/help.h
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-replay-main.cc
  tools/iree-dump-replay-main.c
  tools/iree-run-module-main.c
  tools/iree-run-replay-main.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update golden time
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
Due: none

Again
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1201_O3.json
Due: none

[ROCDL] Address review feedback on group-buffer-loads pass
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLGroupBufferLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_group_buffer_loads.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

super simplifying the pack and unpack handling
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_result_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
