Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

format
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
Due: none

rename to TensorLikeTypeExternalModel
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
Due: none

Use Ian's changes.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Add workaround
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: none

fix bazel dep
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[Codegen] Change swizzle hint offset logic to use arith
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
Due: none

[Integrate] Update bufferization related codes for upstream custom types support. (#21250)
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: buildifier, bazel_to_cmake_1

[Codegen] Change swizzle hint offset logic to use arith (#21237)
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
Due: none

Deployed a7a248e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[Im2col] Fuse pad op into im2col decomposition loops
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

Changed pass name and removed from Stream phase
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/CSEInitializers.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

optional in asm format
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/resolve_topology_queries.mlir
Due: none

walk instead of rewriter
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveTopologyQueries.cpp
Due: none

spelling
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveTopologyQueries.cpp
Due: none

fix build
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveTopologyQueries.cpp
Due: none

formatting
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveTopologyQueries.cpp
Due: none

whitespace
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
Due: none

[NFC] Expose internal LLVMGPU APIs for vector_distribute (#21161)
  compiler/src/iree/compiler/Codegen/LLVMGPU/InternalAPI.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.h
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorExt] Implement BufferizationInterface for transfer_gather (#21219)
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BufferizationInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

save
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
Due: none

[VectorExt] Implement masked vectorization for iree_linalg_ext.gather (#21189)
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: buildifier, bazel_to_cmake_1

Deployed a073601 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEVectorExt/index.html
  search/search_index.json
Due: none

[KernelConfig] Add config to select multi subgroup paged attention
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Update compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

Pad OnlineAttention
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

Connect simplifications and shape reification to make PadOp static
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Tools/init_mlir_passes.h
Due: none

pr comments
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideTransferOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_transfers.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_transfer_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Fix ArrayRef(std::nullopt) deprecation warnings
  compiler/plugins/input/StableHLO/Conversion/MapStableHLOToScalarOp.h
Due: none

more pr comments
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

spelling
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
Due: none

[CodeGen] Fix gather fusion on vector distribute path (#21117)
  compiler/src/iree/compiler/Codegen/Common/DecomposeSoftmax.cpp
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_softmax.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

update test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

[Encoding] Add new identity encoding attribute
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[StableHLO] Fix ArrayRef(std::nullopt) deprecation warnings (#21257)
  compiler/plugins/input/StableHLO/Conversion/MapStableHLOToScalarOp.h
Due: none

bazel build
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments, fix bug
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/UKernelOps.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
