Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

address comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

Initial commit
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/scaled_matmul.mlir
Due: buildifier, bazel_to_cmake_1

PR Review round 1
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/scaled_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fix indexing maps
  tests/e2e/linalg/scaled_matmul.mlir
Due: none

[DataTiling][GPU] Introduce DataTiledScaledMMAAttr (#22176)
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 2d131fa with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

[DataTiling][GPU] Implement scaled matmul data tiling materialization
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update CODEOWNERS to include new test and dialect owners
  .github/CODEOWNERS
Due: none

fixing lint issues
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Preprocessing] Reorder the iterator dims to match forward NHWC-FHWC convs (#22208)
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv_filter_to_channels_last.mlir
Due: none

LLVM bump, carry reverts, namespace fix
  compiler/src/iree/compiler/Dialect/VM/Tools/VMOpEncoderGen.cpp
Due: none

Fix CI
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_dynamic_shapes_gfx942.mlir
Due: none

Update decode time
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b_f16_decode_rocm.json
Due: none

address comments
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Decrease llama 8b_f16_decode golden time (#22220)
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b_f16_decode_rocm.json
Due: none

Carry encoding in the preferred storage type of a hoistable type
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/test/invalid.mlir
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DataTiling][GPU] Implement scaled matmul data tiling materialization (#22189)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Make constExprHoisting default to true
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_region_formation_preprocessing.mlir
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_pipeline.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
Due: none

Ignore fill and empty in count
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

[WIP]: Try to limit operands
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

Check reductions have the same loops
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[Dispatch Creation] Create more multi-use dispatches
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
Due: none

Fix break
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

Reapply "[Dispatch Creation] Rework dispatch formation logic (#21854)" (#22058)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Integrate llvm/llvm-project@95e0ae9f (#22214)
  compiler/src/iree/compiler/Dialect/VM/Tools/VMOpEncoderGen.cpp
Due: none

[ROCm] Enable e2e stablehlo tests
  tests/e2e/stablehlo_models/CMakeLists.txt
  tests/e2e/stablehlo_ops/CMakeLists.txt
Due: bazel_to_cmake_2

Fix g++ warning -Werror=parentheses
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
Due: none

Control const expr hoisting in Dispatch Creation (#22164)
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.h
Due: none

[GlobalOpt] Use Option<> for TransformOptions
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

fix test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: none

optimize for perfectly tiled case
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_partial_reduction.mlir
Due: none

address Jakub's review comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

[codegen] Fix test after PR 22196 (#22218)
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_dynamic_shapes_gfx942.mlir
Due: none

[codegen][gpu] GPUApplyPaddingLevel: fold case where no padding (#22193)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_padding_partial_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: none

[GlobalOpt] Use Option<> for TransformOptions (#22222)
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

[ROCm] Enable e2e stablehlo tests (#22224)
  tests/e2e/stablehlo_models/CMakeLists.txt
  tests/e2e/stablehlo_ops/CMakeLists.txt
Due: bazel_to_cmake_2

Adding a LiftCFGToSCFPass. This is similar to the upstream ControlFlowToSCFPass and reuses the upstream infrastructure but focuses it on IREE::Util ops.
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/LiftCFGToSCF.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/lift_cfg_to_scf.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[debugging][gpu] Add --iree-rocm-debug-symbols flag to preserve debug info
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/emit_debug_info.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
Due: bazel_to_cmake_2

Adding a LiftCFGToSCFPass. (#22101)
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/LiftCFGToSCF.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/lift_cfg_to_scf.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 8581c18 with MkDocs version: 1.6.1
  reference/mlir-passes/Util/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
