Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[NFC] Extract common reshape patterns to dedicated file (#21111)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvolutionToIGEMM.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Fix crash when flow.return has no operands (#21132)
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_ops.mlir
Due: none

Implement PartitionableLoopsInterface for tensor.concat (#21082)
  compiler/src/iree/compiler/Codegen/Common/test/test_partitionable_loops_interface.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
Due: none

Adding dummy AMDGPU channel/event. (#21041)
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/channel.c
  runtime/src/iree/hal/drivers/amdgpu/channel.h
  runtime/src/iree/hal/drivers/amdgpu/event.c
  runtime/src/iree/hal/drivers/amdgpu/event.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix missing return in `DeviceOptimalAttr::joinOR` (#21228)
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Due: none

CMake: catch some recurring problems with LLVM configuration. (#21174)
  build_tools/cmake/iree_llvm.cmake
  build_tools/cmake/presets/options.json
Due: none

[Flow] Improve reduction dispatch names (#21139)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Due: none

[Codegen][Tuner] expose python binding isa_attention_op (#21216)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Support early bufferization ops in ConvertToDPS (#21136)
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
Due: none

Adding AMDGPU semaphore (WIP) and semaphore pool. (#21201)
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/semaphore.c
  runtime/src/iree/hal/drivers/amdgpu/device/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/info.c
  runtime/src/iree/hal/drivers/amdgpu/util/info.h
  runtime/src/iree/hal/semaphore.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Move LLVMGPUPrefetching pass to be invoked from only amdgpu backend (#21190)
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fixing typo in #21142 that was causing failures on MSVC. (#21211)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ExpandUndistributedInnerTiles.cpp
Due: none

[Codegen][Tuner] expose python binding for attention op details (#21170)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Add option to `LLVMCPUTileRootAndFuseProducerConsumer` to tiling with `scf.forall` (#21009)
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

[DispatchCreation] Add pass to hoist scalar ops out of dispatch regions (#21210)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistUniformScalarCompute.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/hoist_uniform_scalar_compute.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Expand all affine applies before and during Flow (#21169)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Canonicalize.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/canonicalize.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/tensor_pad_to_tensor_insert_slice.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/raise_special_ops.mlir
Due: none

Integrate LLVM at c5b256a0e480 (#21162)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

Adding IREE_ENABLE_RUNTIME_COVERAGE cmake mode. (#21191)
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/scripts/export_profdata_lcov.py
  docs/website/docs/developers/building/cmake-options.md
  docs/website/docs/developers/general/testing-guide.md
  runtime/src/CMakeLists.txt
  tools/CMakeLists.txt
Due: bazel_to_cmake_2

[NFC] remove redundant checks in the TilingInterface (#21225)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

[DispatchCreation] Don't pad on attention in producer dispatch (#21134)
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_padding.mlir
Due: none

Extending AMDGPU tests, fixing issues, and cleaning up comments. (#21200)
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.c
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.h
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
Due: none

Bump LLVM to 4ac4726d00644f6c6b0e2de1df0d00deed0015bf (#21175)
  compiler/plugins/input/StableHLO/Conversion/MapStableHLOToScalarOp.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinalgOpInfo.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/Patterns.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none

Integrate LLVM @ c73e5e3e209c (#21224)
  compiler/plugins/target/LLVMCPU/ResolveCPUAndCPUFeatures.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/DispatchCreation/test/tensor_pad_to_tensor_insert_slice.mlir
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
Due: none

[LinalgExt] Add simple vectorization for map_scatter (#21090)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/VectorizeIREELinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/vectorize_iree_linalg_ext_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Re-run alloc hoisting after SCFToControlFlow (#21193)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Codegen][GPU] Add a inner tiled op descriptor for scaled MMA (#21141)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/drop_inner_tiled_unit_dims.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/unroll_multi_mma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/vectorize_iree_gpu_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Utils/Indexing.cpp
Due: none

[ROCMTarget] Make all pingpong arithmetic nsw and nuw (#21248)
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
Due: none

Integrate LLVM to llvm/llvm-project@a99fee69 (#21242)
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefs.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Reducer/Framework/Oracle.cpp
Due: none

[Codegen] Fix TileLargeTensors handling of dynamic reduction dims (#21244)
  compiler/src/iree/compiler/Codegen/Common/TileLargeTensors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_large_tensors.mlir
Due: none

[doc] Add tips of reading input from a file (#21143)
  docs/website/docs/developers/general/developer-overview.md
Due: none

[Integrate] Update bufferization related codes for upstream custom types support. (#21250)
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: buildifier, bazel_to_cmake_1

Don't use dl_tensor.byte_offset when exporting capsules. (#21153)
  runtime/bindings/python/hal.cc
Due: none

[Integrate] Drop revert for vectorization API change (#21239)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
Due: none

[ROCMTarget] Add pass for applying builtin specialization patterns (#21001)
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.h
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_pdl_patterns.mlir
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/builtins/specialization/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/specialization/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/specialization/specialization_patterns_gfx942.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Adding scheduling barrier between compute and write stage in prefetcher (#21151)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

[Dispatch Creation] Add concat expand_shape bubbling (#21158)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
Due: none

[Util] Add folder for assumes of X / C * C (#21168)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/assume_folding.mlir
Due: none

[Codegen][GPU] Support fission of loops with multiple transfer_reads/writes (#21213)
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
Due: none

[doc] Fix tip render to mkdocs style (#21145)
  docs/website/docs/developers/general/developer-overview.md
Due: none

[Integrate] Drop the revert of unknown type conversion in bufferization. (#21243)
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
Due: none
