Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen] Materialize 0D set_encoding into no-op (#21418)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
Due: none

[Dispatch Creation] Remove assert and handle null map (#21380)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[Codegen] Combine layout transformation after GPUFuseAndHoistParallelLoops (#21206)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[CPU] Switch convolution pipelines to IREE::CPU::LoweringConfigAttr. (#21347)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  tests/e2e/regression/lowering_config.mlir
Due: none

[CPU] Refactor logic to LoweringConfigGenerator. (#21352)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

[Codegen] Don't add map_scatter for only reshapes (#21414)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

[Codegen] Support multi-result and interchanged generic materialization (#21416)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
Due: none

[DT][SVE] DT support for scalable tiles - encoding materialization for mmt4d (#21304)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/unittests/UtilsTest.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[CPU] Get rootOp based on lowering config in TileRootAndFuseProducerConsumer pass. (#21394)
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

Use `ShapedType::isStatic`. NFC. (#21385)
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupReordering.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/PadDynamicAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateConstantOffsets.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateDispatchSizeBounds.cpp
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Common/TensorDynamicDimAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerLinalgMicrokernels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilDialect.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ApplyPDLPatterns.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none

[e2e] Adding default tuning specs tests. (#21383)
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

[CPU] Propagate cache tiling sizes in lowering config propagation. (#21410)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_lowering_strategy_without_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[WIP] Expose multi-use fusion flag to pipeline options. (#21400)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Due: none

[CPU][NFC] Switch infusible pack tests to use imperfect tiling case. (#21404)
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

[CPU] Use IREE::CPU::TilingLevel in TileRootAndFuseProducerConsumer pass (#21370)
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

Simplify the resolution of `scf.forall` created by split reductions. (#21422)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FoldSplitReductionAndWorkgroupMappingLoopsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/fold_split_reduction_workgroup_mapping_loops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Distribute workgroups along X dim (#21334)
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Reapply "[Codegen] Don't fold workgroup loops during workgroup tiling (#21137)" (#21382)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Stream] New ElideAsyncTransfersPass (#21029)
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_transfers.mlir
Due: none

[Stream] Fix dominance error for multi-result dispatches (#21368)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
Due: none

[DispatchCreation] Add pass to cast away unsupported element types (#21339)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/BitcastUnsupportedElementTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/bitcast_unsupported_element_types.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add llvm_unreachable for unhandled WorkgroupId cases (#21442)
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

Implementing AMDGPU logical/physical devices and skeleton queues. (#21251)
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/device_queue.c
  runtime/src/iree/hal/drivers/amdgpu/device_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.h
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
  runtime/src/iree/hal/drivers/amdgpu/registration/driver_module.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
  runtime/src/iree/hal/drivers/amdgpu/system_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/error_callback.h
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.c
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.h
  runtime/src/iree/hal/utils/file_registry.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add linalg.softmax e2e tests. (#21396)
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/softmax.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Don't place bit-truncate in consumer dispatch (#21379)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Add e2e test for split reduction using tiling. (#21374)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.h
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/check/test/failure.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/split_reduction_using_tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Collect slices to fuse producers of loop destinations into lane foralls. (#21432)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/DistributeInnerTiledToLanes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
Due: none

Fix failure in Windows build. (#21369)
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
Due: none

[Codegen][GPU] Fuse nested warp and lane foralls (#21295)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Fuse bit-truncate ops with producers (#21346)
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/FuseMultiUseElementwiseProducer.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.h
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests_aggressive.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_cpu.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix string parsing of i8 and i16 cl values (#21409)
  runtime/src/iree/hal/string_util.c
  tools/test/iree-run-module-inputs.mlir
Due: none

Adding `iree-hal-drivers-amdgpu-tests` target. (#21389)
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_test.cmake
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/host_service_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Add canonicalization for select(pred, true, false) -> broadcast(pred) (#21342)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

[TensorExt] Add inliner interface (#21437)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtDialect.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/inline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][Tuner] add python binding for VirtualMMAIntrinsic (#21403)
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

[DispatchCreation] Add a pass to split long running reduction loops. (#21280)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/MaterializeDefaultWorkgroupCountRegion.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
  compiler/src/iree/compiler/DispatchCreation/test/materialize_default_workgroup_count_region.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix unsupported bitcasting of complex operands (#21367)
  compiler/src/iree/compiler/DispatchCreation/BitcastUnsupportedElementTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bitcast_unsupported_element_types.mlir
Due: none

[Codegen] Rename `thread_basis` to `lane_basis`. NFC. (#21412)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Due: none
