Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[LLVMGPU] Vector distribute config to handle dyn dims (#20603)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

jerry's inflight work
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[iree-benchmark] Ensure destructors run before `IREE_TRACE_APP_EXIT` (#20694)
  tools/iree-benchmark-module-main.cc
Due: none

[NFC] Converting the VM dialect to use tablegen passes. (#20698)
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_view_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/devices_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/assignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/comparison_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/constant_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/nesting.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/structural_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/alignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/assignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/list_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/structural_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/DeduplicateRodata.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/DropEmptyModuleInitializers.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/DropUnusedCalls.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/VM/Transforms/ReifyRodataTables.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/ResolveRodataLoads.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/SinkDefiningOps.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Im2col] Fix bug when there is no batch dimension (#20711)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

[DispatchCreation] Set padding encodings on intermediate tensors. (#20634)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Canonicalizer.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_padding.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Im2col] Remain batch dimension untiled during decomposition when it is contiguous and innermost (#20633)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

[GPU] Cross lane reduction rather than serial (#20680)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: none

Revert "Update workflows to run on macOS 15 (#20675)" (#20690)
  .github/workflows/ci.yml
  .github/workflows/ci_macos_arm64_clang.yml
Due: none

Call IREE_TRACE_APP_ENTER/EXIT in compiler tool main functions. (#20686)
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-compile-main.cc
  tools/iree-opt-main.cc
  tools/iree-reduce.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fold iree_tensor_ext.dispatch.workload.ordinal on constants. (#20687)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtBase.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtDialect.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/dispatch_workload_ordinal_folding.mlir
Due: none

[Dispatch Creation] Fix infinite reshape loop (#20162)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/vae_rocm.json
Due: none

[Encoding] Allow `PadEncodingAttribute` to support dynamic padding. (#20662)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/unittests/EncodingAttrTest.cpp
Due: none

Add `flow.tensor.bitcast` for torch view as complex/real. (#20689)
  compiler/plugins/input/Torch/InputConversion/BitCastTensor.cpp
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.td
  compiler/plugins/input/Torch/InputConversion/test/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/bitcast_quant_tensor.mlir
  compiler/plugins/input/Torch/InputConversion/test/bitcast_tensor.mlir
Due: bazel_to_cmake_2

[Codegen][GPU] Add placeholder op for buffer casts on tensors (#20589)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUBubbleResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_bubble_resource_casts.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Runtime float type conversion helpers: Fix handling of denormals. (#20676)
  runtime/src/iree/base/internal/math.h
  runtime/src/iree/base/internal/math_test.cc
Due: none

Add relative error for buffer comparison (#19464)
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/buffer_view_matchers.h
  runtime/src/iree/tooling/buffer_view_matchers_test.cc
  runtime/src/iree/tooling/comparison.cc
Due: none

[Codegen] Drop read_only from LoadFromMemrefOp. (#20693)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
Due: none

[VectorDistribution] Improve vector.broadcast distribution (#20652)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
Due: none

Revert "Call IREE_TRACE_APP_ENTER/EXIT in compiler tool main functions." (#20691)
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-compile-main.cc
  tools/iree-opt-main.cc
  tools/iree-reduce.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Clean up TilingInterfaceUtils. NFC. (#20661)
  compiler/src/iree/compiler/Codegen/Common/TileInferenceUtils.cpp
Due: none

[Encoding] Drop resolver interface implementation for SpecializedEncodingAttr (#20718)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
Due: none

Bump version to 3.5.0 after 3.4.0 release.
  build_tools/python_deploy/pypi_deploy.sh
  compiler/version.json
  runtime/version.json
Due: none

[LinalgExt] Implement tiling interface for map_scatter
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Bump version to 3.5.0 after 3.4.0 release. (#20721)
  build_tools/python_deploy/pypi_deploy.sh
  compiler/version.json
  runtime/version.json
Due: none

Address some comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: none

PR review round 2
  docs/website/docs/reference/tuning.md
Due: none

[Codegen][Common] Add pattern to check for lowering configs when matching
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.h
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/check_for_config.mlir
  docs/website/docs/reference/tuning.md
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_flux_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

move transformation back to op
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Removing overview, improving dispatch explanation
  docs/website/docs/reference/tuning.md
Due: none

[LinalgExt] Implement tiling interface for map_scatter (#20688)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Fix for changes to LLVM::GEPOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
Due: none

Fix tests after https://github.com/llvm/llvm-project/commit/1a44f38d2af8724e9819f03d4b76a50615217a8d
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Due: none

Deployed 947e138 with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

Remove trailing spaces from tuning.md
  docs/website/docs/reference/tuning.md
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
