Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[CPU] Use rootOp in distribution.
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
Due: none

Move utils to TileAndFuseUtils.[h|cpp]
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
Due: none

Add and swithc to CPUTileAndDistributeToWorkgroupsPass
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUTileAndDistributeToWorkgroups.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert unnecessary changes
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
Due: none

Fix missing return in `DeviceOptimalAttr::joinOR` (#21228)
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Due: none

only enable for mmt4d pipeline
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUTileAndDistributeToWorkgroups.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

Add tests
  compiler/src/iree/compiler/Codegen/Common/CPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/test/tile_and_distribute_to_workgroups.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

minor cleanup
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
Due: none

Rewrote the pass
  compiler/src/iree/compiler/Dialect/Util/Transforms/OptimizeGlobalDuplicates.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.h
Due: none

[mlir][Codegen] Remove workaround for handling consumer fusion along multiple operands.
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

[Codegen] Add pass to propagate constant offsets towards accesses
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/PropagateConstantOffsets.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/propagate_constant_offsets.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_extract_address_computation.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Change swizzle hint offset logic to use arith
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
Due: none

respond to review
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveTopologyQueries.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/resolve_topology_queries.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/Patterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/test/parameter_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Implement Unit Dim folding for slice dimensions
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/fold_unit_dims.mlir
Due: none

fix e2e test
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
Due: none

remove line
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/fold_unit_dims.mlir
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: buildifier, bazel_to_cmake_1

[VectorExt] Implement masked vectorization for linalg_ext.gather
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Address more comments
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Cleanup
  compiler/src/iree/compiler/Dialect/Util/Transforms/OptimizeGlobalDuplicates.cpp
Due: none

[LinalgExt] Implement Unit Dim folding for slice dimensions (#21220)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/fold_unit_dims.mlir
Due: none

address comments
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
Due: none

[NFC] Expose internal LLVMGPU APIs for vector_distribute
  compiler/src/iree/compiler/Codegen/LLVMGPU/InternalAPI.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.h
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Integrate] Drop revert for vectorization API change
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
Due: none

use func pointer directly
  compiler/bindings/python/IREECompilerDialectsModule.cpp
Due: none

[Codegen][GPU] Adding scheduling barrier between compute and write stage in prefetcher (#21151)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Adding IREE_ENABLE_RUNTIME_COVERAGE cmake mode. (#21191)
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/scripts/export_profdata_lcov.py
  docs/website/docs/developers/building/cmake-options.md
  docs/website/docs/developers/general/testing-guide.md
  runtime/src/CMakeLists.txt
  tools/CMakeLists.txt
Due: bazel_to_cmake_2

Deployed 7a8e43d with MkDocs version: 1.6.1
  developers/building/cmake-options/index.html
  developers/general/testing-guide/index.html
  search/search_index.json
Due: none

Advance LLVM to a99fee6989a66ca7cb73fc2fcbac0f693d122326: [OpenACC][CIR] Implement 'exit data' construct + clauses (#146167) (Erich Keane on 2025-06-30 06:19:43 -0700) (23 of 25)
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
Due: none

[Codegen][GPU] Support fission of loops with multiple transfer_reads/writes (#21213)
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
Due: none

Extending AMDGPU tests, fixing issues, and cleaning up comments. (#21200)
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.c
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.h
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
Due: none

[Integrate] Drop revert for vectorization API change (#21239)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
