Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
Due: none

Adress PR feedback
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
Due: none

[GPU] Make GPUVectorAlloc allocate shared memory based on layout analysis (#23631)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtInterfaces.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
Due: none

[Codegen] Remove attention transpose intrinsic hacks
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: none

[docs] Update python versions listed on the website
  docs/website/docs/developers/debugging/integration-tests.md
  docs/website/docs/developers/debugging/releases.md
  docs/website/docs/reference/bindings/python.md
Due: none

[docs] Update python versions listed on the website (#23647)
  docs/website/docs/developers/debugging/integration-tests.md
  docs/website/docs/developers/debugging/releases.md
  docs/website/docs/reference/bindings/python.md
Due: none

Deployed ce92d23 with MkDocs version: 1.6.1
  developers/debugging/integration-tests/index.html
  developers/debugging/releases/index.html
  reference/bindings/python/index.html
  search/search_index.json
Due: none

Update code comment
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
Due: none

Enable real multi-buffering through async mark
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm/llvm-project@386a3afa553fbf2854ee9d002e83bd456942ad39 (#23639)
  build_tools/linters/typos.toml
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileToVectorSize.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransposeLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Adding barrier after async read
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

[Codegen] Remove attention transpose intrinsic hacks (#23633)
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
Due: none

[test] Enable e2e attention tests for arm64 targets. (#23635)
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

Address comments.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[GPUHeuristics] Prefer larger MMA intrinsics for very large compute-bound GEMMs (#23641)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Add samples/hal/hello: pure HAL buffer fill, copy, and readback. (#23645)
  samples/CMakeLists.txt
  samples/hal/BUILD.bazel
  samples/hal/CMakeLists.txt
  samples/hal/hello/BUILD.bazel
  samples/hal/hello/CMakeLists.txt
  samples/hal/hello/hello.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Async] Gracefully degrade io_uring slab registration on RLIMIT_MEMLOCK
  runtime/src/iree/async/cts/buffer/registration_test.cc
  runtime/src/iree/async/platform/io_uring/proactor_registration.c
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/region.h
Due: none

[Codegen] Introduce VectorizableOpInterface and migrate LinalgExt::GatherOp
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.h
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Rename iface -> vectorizableOp for VectorizableOpInterface variables.
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
Due: none

[DispatchCreation] Fix fusion of scalar reduction with scalar consumer
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/LoopMappingUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[CPU] Propagate the reduction tile sizes to producers because of fusion.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Do not vectorize with invalid vector sizes from lowering config
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Due: none

[DispatchCreation] Fix fusion of scalar reduction with consumer (#23659)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/LoopMappingUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[Async] Gracefully degrade io_uring slab registration on RLIMIT_MEMLOCK (#23654)
  runtime/src/iree/async/cts/buffer/registration_test.cc
  runtime/src/iree/async/platform/io_uring/proactor_registration.c
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/region.h
Due: none

Fix semaphore failure detection and fd exhaustion diagnostics.
  runtime/src/iree/base/internal/wait_handle_posix.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
Due: none

Fix CI failures: compiler guards, device aliases, and atomic memcpy.
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  runtime/src/iree/hal/cts/queue/queue_host_call_test.cc
  runtime/src/iree/hal/drivers/metal/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add iree_hal_executable build rules for compiling HAL executables.
  CMakeLists.txt
  build_tools/bazel/iree_hal_executable.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_hal_executable.cmake
  build_tools/cmake/iree_macros.cmake
Due: buildifier

Add CTS2 test suite macros and migrate all HAL drivers.
  CMakeLists.txt
  build_tools/bazel/iree_hal_cts2_test_suite.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_hal_cts2_test_suite.cmake
  experimental/webgpu/cts/CMakeLists.txt
  experimental/webgpu/cts/backends.cc
  runtime/src/iree/hal/drivers/amdgpu/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/cts/backends.cc
  runtime/src/iree/hal/drivers/cuda/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cts/backends.cc
  runtime/src/iree/hal/drivers/hip/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/hip/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/cts/backends.cc
  runtime/src/iree/hal/drivers/metal/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/cts/backends.cc
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/backends.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix Windows C++17 and runtime_small CI failures.
  experimental/webgpu/cts/backends.cc
  runtime/src/iree/hal/drivers/amdgpu/cts/backends.cc
  runtime/src/iree/hal/drivers/cuda/cts/backends.cc
  runtime/src/iree/hal/drivers/hip/cts/backends.cc
  runtime/src/iree/hal/drivers/local_sync/cts/backends.cc
  runtime/src/iree/hal/drivers/local_task/cts/backends.cc
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
  runtime/src/iree/hal/drivers/metal/cts/backends.cc
  runtime/src/iree/hal/drivers/vulkan/cts/backends.cc
Due: none

Add flag_values mechanism for build-setting-driven compilation.
  MODULE.bazel
  build_tools/bazel/BUILD.bazel
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree_directory.bzl
  build_tools/bazel/iree_hal_executable.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/third_party/amdgpu_device_libs/BUILD.overlay
  docs/website/docs/developers/building/bazel.md
  runtime/src/iree/hal/drivers/amdgpu/README.md
Due: buildifier
