Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Cleaning up move bit handling for disassembly/verifier/dispatch. (#23020)
  build_tools/bazel/iree_c_module.bzl
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/VMAnalysis.h
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/native_module_packing.h
  runtime/src/iree/vm/native_module_test.cc
  runtime/src/iree/vm/native_module_test.h
  runtime/src/iree/vm/ref.c
  runtime/src/iree/vm/ref.h
  runtime/src/iree/vm/test/call_ops.mlir
  runtime/src/iree/vm/test/ref_ops.mlir
  samples/custom_module/async/module.cc
  samples/custom_module/basic/module.cc
  samples/custom_module/dynamic/module.cc
  samples/custom_module/static/module.cc
  samples/custom_module/sync/module.cc
  tools/testing/e2e/iree-e2e-attention-test.cc
  tools/testing/e2e/iree-e2e-conv2d-test.cc
  tools/testing/e2e/iree-e2e-matmul-test.cc
Due: buildifier

[CI] Bump MacOS x64 version used in CI (#22991)
  .github/workflows/ci_macos_x64_clang.yml
Due: none

[Dispatch Creation] Move two flags to pipeline options (#23067)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

[Codegen] Add FuseConsumersPass (#22912)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FuseConsumers.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fuse_consumers.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Resolve memref.dim ops inside narrow type emulation pass (#23029)
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/amdgpu_emulate_narrow_type.mlir
Due: none

[CI] Upgrade to GCC 11 to fix stablehlo template instantiation error (#23008)
  .github/workflows/ci_linux_x64_gcc.yml
  docs/website/docs/developers/debugging/releases.md
Due: none

Integrate llvm/llvm-project@eec258dcf38d (#23068)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  compiler/src/iree/compiler/Tools/init_mlir_passes.h
Due: none

Add Unicode utilities for text processing (tokenization, normalization, matching). (#23054)
  build_tools/scripts/unicode_tables_gen.py
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/unicode.c
  runtime/src/iree/base/internal/unicode.h
  runtime/src/iree/base/internal/unicode_tables.c
  runtime/src/iree/base/internal/unicode_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GlobalOpt] Add a flag to enable aggressive propagation through convolutions (#23025)
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: none

[CI] Add ci-extra flags for scheduled builds. (#23033)
  .github/workflows/ci.yml
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
Due: none

[CI] Reclaim disk space on macos arm runners (#22998)
  .github/workflows/ci_macos_arm64_clang.yml
Due: none

[LinalgExt] Add map_gather op and verifier (#23041)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

[ROCM] Move ukernel required dependency under ROCM dialect (#23061)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add zero-copy JSON/JSONC/JSONL parsing utilities. (#23057)
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
  runtime/src/iree/io/formats/safetensors/BUILD.bazel
  runtime/src/iree/io/formats/safetensors/CMakeLists.txt
  runtime/src/iree/io/formats/safetensors/safetensors_parser.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Stream] Update executables in UnifyEncodingForGlobals pass. (#23059)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL] Avoid segfault in dealloca verifier (#22988)
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/test/invalid.mlir
Due: none

Unicode normalization and JSON parsing enhancements. (#23088)
  build_tools/scripts/unicode_tables_gen.py
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
  runtime/src/iree/base/internal/unicode.c
  runtime/src/iree/base/internal/unicode.h
  runtime/src/iree/base/internal/unicode_tables.c
  runtime/src/iree/base/internal/unicode_test.cc
  runtime/src/iree/base/string_view.h
  runtime/src/iree/base/string_view_test.cc
Due: none

[AMDGPU][LDS] Prefer contiguous subviews in `GPUConvertToCoalescedDMA` (#23011)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
Due: none

[LinalgExt] Simplify linearize-delinearize pairs in map_scatter (#22958)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeMapScatter.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_map_scatter.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[NFC][PCF] Drop clear method from fusion struct (#23065)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FuseConsumers.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
Due: none

[Flow][Stream] Fix assertions in build function (#23058)
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
Due: none

[Codegen] Add ConvertForallToLoopsPass (#22911)
  compiler/src/iree/compiler/Codegen/BUILD.bazel
  compiler/src/iree/compiler/Codegen/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConversionDialectInterface.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToLoops.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_loops.mlir
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/RewriteUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[NFC] Adding iree_vm_bytecode_module_create flag enum arg. (#23017)
  build_tools/cmake/static_linker_test.c.in
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  experimental/web/sample_dynamic/main.c
  experimental/web/sample_static/main.c
  experimental/web/sample_webgpu/main.c
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  runtime/bindings/python/vm.cc
  runtime/bindings/tflite/model.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/runtime/session.c
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/run_module.c
  runtime/src/iree/vm/bytecode/dispatch_async_test.cc
  runtime/src/iree/vm/bytecode/dispatch_test.cc
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/bytecode/module.h
  runtime/src/iree/vm/bytecode/module_benchmark.cc
  runtime/src/iree/vm/bytecode/module_size_benchmark.cc
  runtime/src/iree/vm/bytecode/module_test.cc
  samples/custom_module/basic/main.c
  samples/external_transients/main.c
  samples/simple_embedding/simple_embedding.c
  samples/static_library/create_bytecode_module.c
Due: none

[Codegen][ROCDL] Improve dynamic dimension bounds handling in ROCDLConfigureBufferInstructions (#22892)
  compiler/src/iree/compiler/Codegen/Common/PadDynamicAlloc.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLConfigureBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/configure_buffer_instructions.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add FusePCFWritesPass (#22914)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FusePCFWrites.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fuse_pcf_writes.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[AMDGPU][LDS] Unify DMA transfer linearization based on destination contiguity (#22995)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: none

[DispatchCreation] Extend gather fusion to allow transpose producers (#23063)
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
Due: none

[CI] Allow macos checks to be triggered with ci-extra (#23001)
  .github/workflows/ci.yml
  .github/workflows/ci_macos_arm64_clang.yml
  .github/workflows/ci_macos_x64_clang.yml
  build_tools/github_actions/configure_ci.py
  docs/website/docs/developers/general/contributing.md
Due: none

Disable simplify regions after scf-to-cf (#22946)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenAffineExpandIndexOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenFoldMemRefAliasOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenLowerAffine.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_lower_to_llvmgpu.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Drop macos job concurrency block (#23004)
  .github/workflows/ci_macos_arm64_clang.yml
  .github/workflows/ci_macos_x64_clang.yml
Due: none

[CI] Allow ci-extra to be set on integrates. (#23034)
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Due: none

[LinalgExt] Fix map_scatter verifier (#22994)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
Due: none

[GPU] Fix data-tiling materialization for matvec/vecmat ops. (#23049)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Fix RISC-V toolchain prefix usage and add RISCV_TOOLCHAIN_TRIPLE (#22853)
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/riscv.toolchain.cmake
Due: none

[VM] Fix integer to f64 cast folding (#22997)
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/test/conversion_folding.mlir
Due: none

[CI] Enable split dwarf and debug info in CI builds (#22993)
  build_tools/cmake/build_all.sh
Due: none
