Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Dispatch Creation] Remove collapse softmax-like check (#20544)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

[LLVMGPU] Set thread tile sizes to 1 when reshapes are present (#20455)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[VectorExt] Add canonicalizations for iree_vector_ext.transfer_gather (#20454)
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtBase.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
Due: none

Always fuse encodings into dispatch region when the encoding is MatmulK. (#20527)
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fuse_encoding_ops_into_dispatch_regions.mlir
Due: none

[DT] Split out iree_encoding.layout from EncodingAttr. (#20507)
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingBase.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingDialect.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Fix reshapes created by collapse dimensions (#20515)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

[Util] Allow inlining on cast_and_call (#20406)
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.cpp
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.td
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/symbol_transforms.mlir
Due: none

[AMDGPU] Optimize masked transfer read in presence of fat raw buffers (#20604)
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLBufferInstructionsOptimization.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/buffer_instructions_optimization.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CodeGen] Clean up the IRs within the MaterializeEncoding pass. (#20625)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

[TensorExt][NFC] Remove dependency on Encoding through ExternalModel (#20612)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtTypes.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtTypes.h
  compiler/src/iree/compiler/ExternalInterfaces/TensorExtExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix IREE_FILE_IO_ENABLE check (#20573)
  runtime/src/iree/modules/hal/debugging.c
  runtime/src/iree/modules/hal/debugging.h
Due: none

Integrate llvm/llvm-project@0c61b24 (#20630)
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Hoist leaf expand_shapes out before collapsing dimensions (#20552)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

[DispatchCreation] Add back dim resolution patterns in `BubbleUpExpandShapePass`. (#20647)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
Due: none

[GPU] Use upstream barrier elimination pass (#20534)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
Due: none

[Dispatch Creation] Disable broken reshape fusion by collapsing (#20576)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/SinkReshapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/sink_reshapes.mlir
Due: none

[Codegen] Use GPUPadLayoutAttr to resolve layouts. (#20565)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GlobalOptimizations] Add a pass to simplify strided contraction-like ops (#20607)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/ConvertStridedContractionToContraction.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/strided_contraction_to_contraction.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorExt] Add generic vectorization to iree_vector_ext.transfer_gather (#20476)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Bail out the split reduction if the mamtul has encodings. (#20415)
  compiler/src/iree/compiler/DispatchCreation/SplitReduction.cpp
  compiler/src/iree/compiler/DispatchCreation/test/split_reduction.mlir
Due: none

[build] Fix Bazel dependencies for shared library builds (#20596)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/llvm-project/CMakeLists.txt
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/BUILD.bazel
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[AMDGPU] Reorder MFMAs to put newer / wider ones first (#20566)
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

[Codegen] Add option to expand subview metadata (#20591)
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/iree_expand_strided_metadata_with_subview_expansion.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Disable rope fusion with attention. (#20605)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

[DT][GPU] Retire experimental AMDGPU data-tiling flag. (#20644)
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[NFC] Restructure the lit tests for materialize encoding pass. (#20629)
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx908.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx90a.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add op for swizzling memory accesses (#20547)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Preprocessing] Use value bounds for dim multiple checking (#20583)
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

[Codegen] Remove dependencies on Flow (#20615)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPromoteMatmulToFitMMA.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/ConvertTensorToFlow.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Do not collapse dimensions if there are encoded operands (#20621)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
  tests/e2e/encoding/BUILD.bazel
  tests/e2e/encoding/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[runtime] Fix missing zone names in GPU Tracy profiling (#20297)
  runtime/src/iree/base/tracing/tracy.cc
Due: none

[Im2Col] Support converting group convs to im2col (#20611)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConvToIm2ColOp.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: none

[CPU][NFC] Refresh debugging log with LDBG. (#20592)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUPeel.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
