Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Change to avoid promoting to DMA for Im2col.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
Due: none

fix linting.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
Due: none

nit
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix tests.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
Due: none

Add fast-path empty check to atomic slist pop/flush.
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/atomic_slist.c
  runtime/src/iree/base/internal/atomic_slist.h
  runtime/src/iree/base/internal/atomic_slist_benchmark.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL Remote] Improve error diagnostics across async and session code
  runtime/src/iree/async/platform/io_uring/uring.c
  runtime/src/iree/async/socket.c
  runtime/src/iree/hal/remote/server/session.c
Due: none

Cap pread/pwrite at INT32_MAX in fd_file.c platform functions.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

update old tests
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
Due: none

[Async] Add IREE_ASYNC_FORCE_POSIX_PROACTOR compile flag
  runtime/src/iree/async/proactor_platform.c
Due: none

Degrade fd_file to sync-only when async import fails.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

Add synchronous I/O fallback for queue_read/queue_write.
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Due: none

[io_uring] Support SOCKET_RECV_POOL without PBUF_RING (single-shot)
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
Due: none

plumb vdmfma
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

Rewrite local_sync queue_read/queue_write as direct synchronous I/O.
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/cts/backends.cc
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL Remote] recv_pool: retain proactor_pool and fallback slab registration
  runtime/src/iree/hal/remote/util/recv_pool.c
Due: none

Replace emulated queue_fill/update/copy with direct operations on local_sync.
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: none

fix nits
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

[HAL Remote] Fix client buffer access default and preserve connect status
  runtime/src/iree/hal/remote/client/buffer.c
  runtime/src/iree/hal/remote/client/driver.c
Due: none

Add iree_hal_local_executable_dispatch_inline and use in local_sync.
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/local/BUILD.bazel
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/inline_dispatch.c
  runtime/src/iree/hal/local/inline_dispatch.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL Remote] Set max_endpoint_count=4 in HAL remote TCP callers
  runtime/src/iree/hal/remote/client/registration/driver_module.c
  runtime/src/iree/net/carrier/tcp/factory.c
  tools/iree-serve-device-main.c
Due: none

Factor local_sync queue ops into begin/end helpers.
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: none

[HAL Remote] CTS: simplify backend setup with recv_pool
  runtime/src/iree/hal/remote/cts/backends.cc
Due: none

[HAL Remote] Tests: use recv_pool for buffer management
  runtime/src/iree/hal/remote/BUILD.bazel
  runtime/src/iree/hal/remote/CMakeLists.txt
  runtime/src/iree/hal/remote/remote_session_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL Remote] iree-serve-device: use recv_pool and notification shutdown
  tools/BUILD.bazel
  tools/iree-serve-device-main.c
Due: buildifier, bazel_to_cmake_1

implement VDMFMA virtual intrinsics
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
Due: none

Fix TSAN race in transient_buffer_commit: don't overwrite buffer metadata.
  runtime/src/iree/hal/drivers/local_task/transient_buffer.c
Due: none

add WidenInnerTiledReduction pass
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/WidenInnerTiledReduction.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/widen_inner_tiled_reduction.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix TSAN race in compute process two-phase completion.
  runtime/src/iree/hal/drivers/local_task/task_queue.c
Due: none

Fix CUDA timepoint_pool event leak on timepoint acquire failure.
  runtime/src/iree/hal/drivers/cuda/timepoint_pool.c
Due: none

Allow unaligned memory file import for embedded VMFB parameters.
  runtime/src/iree/hal/utils/memory_file.c
Due: none

Guard worker deinitialize against never-initialized workers.
  runtime/src/iree/task/worker.c
Due: none

Eliminate cpu_set_t from sysfs sharing mask path (fixes >1024-CPU overflow).
  runtime/src/iree/task/topology_sysfs.c
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
