Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Adding a unit test for it.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/direct_load.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Always use 32bit load
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Linting
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  tests/e2e/linalg/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Fix tiny issue
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

Move LowerToGlobalLoads to earlier to avoid linalg.copy being dismantled
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

We cannot buffer alloca at GPUMatMulOperand phase
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

Use affine index
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Revert "Address some comments"
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: none

Cannot handle residual elements case.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none

Address some comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none

Update test file
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
Due: none

Update according to comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  tests/e2e/rocm_specific/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Adding a trivial e2e test.
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix load size.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
Due: none

Fix test
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1

Buffer alloc at GPUPromoteMatmul phase
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
Due: none

address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Create assume_alignment op in post bufferization.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/bufferization.mlir
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_inject_assume_alignment.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pack_unpack_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/lowering_scalar_dispatch.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/linalg_transform.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transpose_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[PJRT] Support PJRT_Memory related APIs in IREE PJRT plugin
  .github/workflows/pkgci_test_pjrt.yml
  integrations/pjrt/README.md
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/api_impl.h
Due: none

Fix some SPIRV tests
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_scalar_dispatch.mlir
Due: none

Disable memref.assume_alignment for few SPIRV tests.
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Due: none

Add TODO
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Due: none

lint
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
Due: none

Increase DFX Solver max iterations
  compiler/src/iree/compiler/Dialect/Util/Analysis/DFX/Solver.cpp
Due: none

Add more cleanup patterns...
  compiler/src/iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/ResolveBufferDescriptors.cpp
Due: none

address self review comments
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

disable memref.assume_alignment check in bufferize_copy_only_dispatches
  compiler/src/iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
Due: none

Lower `linalg.copy` to direct global load (#20568)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGreedilyDistributeToThreads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/LowerIREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
  tests/e2e/rocm_specific/lds_matmul.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add tests
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/test/resolve_buffer_descriptors.mlir
Due: none

Deployed 5612a26 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  reference/mlir-passes/CodegenCommonGPU/index.html
  search/search_index.json
Due: none

add doc
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none

fix summary in oneline
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none

[PJRT] Support PJRT_Memory related APIs in IREE PJRT plugin (#20911)
  .github/workflows/pkgci_test_pjrt.yml
  integrations/pjrt/README.md
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/api_impl.h
Due: none

Fix how we calculate alignment
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_inject_assume_alignment.mlir
Due: none

[NFC] Simplify constant checks with isZeroInteger and isOneInteger utils.
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.h
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGreedilyDistributeToThreads.cpp
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Common/TensorDynamicDimAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/v
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionPreprocessing.cpp
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: none
