Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[DispatchCreation] Add unset encoding through generic bubbling
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

[DT][VMVX] Rename and update VMVX encoding materialization tests.
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_vmvx.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU][NFC] Delete unused legacy LLVMGPUTensorPad pass.
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorPad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/tensor_pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

WIP - Switching to data-tiling fusion.
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Due: none

[CPU] Switch CPUDoubleTilingExpert pipeline to use IREE::CPU::LoweringConfigAttr.
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/2d_scalable_to_1d_scalable.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_arm_sme_streaming_mode_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_peel_and_vectorize_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_split_reduction_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sme_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  tests/e2e/regression/lowering_config.mlir
Due: none

[CPU] Switch matmul dispatches to use IREE::CPU::LoweringConfigAttr.
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_lowering_strategy_without_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Convert matmul that takes readonly init to a canonical form.
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

Move the pattern to MaterializeEncoding pass cleanup.
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

Switch to ConvertAccGEMMToGEMM pass
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[Codegen] Add padding for convolutions before IGEMM
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPadConvs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_pad_convs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

update test
  compiler/src/iree/compiler/Codegen/Common/test/convert_accgemm_to_gemm.mlir
Due: none

[DT][VMVX][NFC] Rename and update VMVX encoding materialization tests. (#21488)
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_vmvx.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU][NFC] Delete unused legacy LLVMGPUTensorPad pass. (#21489)
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorPad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/tensor_pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add condition to scale only behaviour
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
Due: none

Deployed 06257d2 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenLLVMGPU/index.html
  search/search_index.json
Due: none

Use const
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Due: none

Add to Passes.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Codegen][LLVMGPU] Remove math scalarization patterns
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize.mlir
Due: none

[LinalgExt] Add pattern to make attention more static (#21481)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/reshape_fusion.mlir
Due: none

Only allow linalg.pack op outside scf.forall loop
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

Cherry-pick: [Codegen] Convert matmul that takes readonly init to a canonical form.
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_accgemm_to_gemm.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

Cherry-pick: [CPU] Add CombineLayoutTransformation passes after distribution passes.
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

[DispatchCreation] Add unset encoding through generic propagation (#21426)
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

update transpose_matmul test
  compiler/src/iree/compiler/Preprocessing/Common/test/transpose_matmul.mlir
Due: none

getOperation
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
Due: none

more fixes to plain matmul check
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/Preprocessing/Common/GeneralizeLinalgMatMul.cpp
Due: none

use tag dispatch
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
Due: none

fix PropagateLinalgTranspose
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
Due: none

Fix paranthesis issue in IREEGPUDialectCAPI
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
Due: none

fix e2e matmul
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: none

[CI] Fix build issues
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGeneralizeNamedOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
  compiler/src/iree/compiler/Preprocessing/Common/GeneralizeLinalgMatMul.cpp
Due: none

lit tests
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_pdl_patterns.mlir
  compiler/plugins/target/ROCM/builtins/tuning/test/spec_gfx942.mlir
  compiler/plugins/target/ROCM/test/lowering_strategy_from_tuning_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_generalize_named_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convert_accgemm_to_gemm.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/specialize_exports.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_warp_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_generalize_named_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fuse_horizontal_contractions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
  compiler/src/iree/compiler/DispatchCreation/test/sink_reshapes.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs_to_bf16.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/raise_special_ops.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/conv_to_channels_last.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_wmma.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/transpose_matmul.mlir
Due: none

[AArch64] Add matmul microkernels for SVE/FEAT_I8MM
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  runtime/src/iree/builtins/ukernel/arch/arm_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/arm_64/common_arm_64.h
  runtime/src/iree/builtins/ukernel/arch/arm_64/config_arm_64.h.in
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_sve_i8mm.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/arm_64/query_tile_sizes_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
  runtime/src/iree/builtins/ukernel/tools/util_test.c
Due: bazel_to_cmake_2

add utility functions to check matmul without transpose
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
Due: none
