Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Apply UnsignedWhenEquivalent at the ModuleOp level. (#21743)
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
Due: none

[ROCM] Readd SpecializeExports pass (#21727)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: none

Fixing flake-y host call CTS test.
  runtime/src/iree/hal/cts/queue_host_call_test.h
Due: none

Expose loops transforms through python api (#21710)
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/test/ir/dialects_test.py
Due: bazel_to_cmake_2

[DT][CPU] Exclude pack ops with reshape producers from lowering config setting (#21675)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[Codegen] Add matmul and batched matmul to list of ops to generalize (#21720)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGeneralizeNamedOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/linalg_transform.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_foreach_to_gpu_spec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul.mlir
  samples/transform_dialect/example_module.mlir
  samples/transform_dialect/transform_library.mlir
Due: none

Revert "[codegen][gpu] Add the `iree-rocdl-use-buffer-instructions` pass (#21335)" (#21695)
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLUseBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/use_configure_buffer_instructions.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch] CollapseDims for extract_slice and scf.forall (#21708)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

[Codegen] Improve early bufferized padding codegen (#21694)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_relayout_ops.mlir
Due: none

[DispatchCreation] Drop unit dims for flow.parameter.named (#21687)
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

Fix misc coding issues. NFC. (#21713)
  compiler/src/iree/compiler/Codegen/Common/HoistUnrolledVectorExtractInsertSlice.cpp
  compiler/src/iree/compiler/Codegen/Common/NormalizeLoopBounds.cpp
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

[Codegen][LLVMGPU] Give ops same config irrespective of generalized/specialized (#21769)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGeneralizeNamedOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matmul.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
Due: none

[DT] Graduate data-tiling fusion from experimental flag to binding option. (#21745)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_pipeline.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorDistribute] Correctly find new dimensions during reduction config (#21797)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[Codegen][GPU] Use arithmetic intensity to guide gemm size categorization - step 2 (#21691)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matmul.mlir
Due: none

Drop TensorCore/MMA pipelines. (#21741)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_mma_sync_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][Tuner] expose python binding to query target info (#21782)
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[RISCV] Remove unused cmake variables. (#21746)
  build_tools/cmake/riscv.toolchain.cmake
Due: none

Temporarily disable the circular buffer for parameter uploads. (#21758)
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

Integrate LLVM at llvm/llvm-project@4b84223aad4f (#21791)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/QuantizedConvToConv.cpp
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

[GPU][DT] Fix matmul narrow dim selection (#21764)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
Due: none

[codegen] more consumer fusion (#21521)
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

[DispatchCreation] Fix trailing unit dims case for collapse of expand folding (#21677)
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

[NFC] Change debug messages (#21768)
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
Due: none

[ROCM] Fix redefinition of symbol error for including tensor ukernels (#21780)
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
Due: none

[Codegen] Add XOR-based Swizzle Attribute (#21562)
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[ROCM] Port mlir ukernels to ukernel descriptor lowering flow (#21683)
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns.mlir
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_bf16.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f16.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_matmul_f8.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx942.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.h
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch][GlobalOpt] Improve transpose fusion for conv (#21778)
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/generalize_named_ops.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/attr_based_pipeline.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Due: none

[Codegen] PV and QK matmul's must have same acc layout (#21729)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx950.mlir
Due: none

[GPU][DT] Fix LHS operand offset calculation for DataTiledMMAAttr (#21808)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
Due: none

[VectorDistribute] Do not handle bit extend during matmul configuration (#21798)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

[ROCM] Update Ukernel infra to allow ROCM-specific bitcode ukernel lowering (#21681)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.td
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/test/roundtrip.mlir
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/LowerUKernelDescriptors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/lower_ukernel_bitcode_descriptor.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Corrected computation for better accuracy.
  compiler/src/iree/compiler/Codegen/Common/FastMathPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transforms_vector.mlir
Due: none

[Codegen][IGEMM] Fix and preserve padding dim order for convs (#21772)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

[Codegen][GPU] Adding new heuristics to take all dimensions into account when distributing tiles (#21803)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none
