Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Dynamic worker_budget and CLOSED bail-out fix for multi-worker scheduling.
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor.h
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
Due: none

Growable recording item pool: arena-allocated items with pointer-based compute_current.
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Due: none

Add deferred fixup for buffers not mappable at recording time.
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Due: none

Reorder worker pump loop: drain compute slots before immediate list.
  runtime/src/iree/task/worker.c
Due: none

Canonicalize transient buffer params through allocator in queue_alloca.
  runtime/src/iree/hal/drivers/local_task/task_device.c
Due: none

[HAL Remote] Propagate server errors to client via ADVANCE frames
  runtime/src/iree/hal/remote/client/queue.c
  runtime/src/iree/hal/remote/protocol/queue.h
  runtime/src/iree/hal/remote/server/session.c
Due: none

WIP: disable resource releases to work around control/queue channel race
  REMOTING-WIP.md
  runtime/src/iree/hal/remote/server/session.c
Due: none

nits
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[CI][Torch Models] Add full SDXL tests
  tests/external/iree-test-suites/torch_models/sdxl/clip/benchmark_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/compstat_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/modules/cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/modules/gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/quality_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip/quality_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/e2e_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/fp8_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/fp8_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/fp8_quality_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/modules/fp8_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/modules/gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet/quality_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_v2/benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_v2/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_v2/modules/gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/modules/cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/modules/gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/quality_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/unet/quality_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/vae/benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/vae/modules/cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/vae/modules/gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/vae/quality_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/vae/quality_gfx942.json
Due: none

Deployed 954eddc with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  reference/mlir-passes/GlobalOptimization/index.html
  search/search_index.json
Due: none

A couple of fixes for compressed ccob files.
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
Due: bazel_to_cmake_2

Refactor HIP driver to use int32 for device index and enhance offload bundle handling
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
Due: none

Allow handling some hidden args and more device properties.
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/executable.h
Due: none

Added functionality to allow copies do/from device symbols.
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/buffer_transfer.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/executable.c
  runtime/src/iree/hal/executable.h
  runtime/src/iree/hal/queue.h
Due: none

Added warp size and some debugging.
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
Due: none

Merged all changes for naitve executables.
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/util/tree.c
  runtime/src/iree/hal/drivers/hip/util/tree_test.cc
Due: bazel_to_cmake_2

Added hal_device_query_string.
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Due: none

Added total memory tracking to hip_device.
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

Fixes from rebase
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Due: bazel_to_cmake_2

Some fixes for passthrough buffers.
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
Due: none

Fix doc and remove unused function
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
Due: none

[Tuner][Codegen] Add convert constraints to smt pass (#23801)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_constraints_to_smt.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Expose iree codegen ops to py binding and add test
  compiler/bindings/python/iree/compiler/__init__.py
  compiler/bindings/python/iree/compiler/dialects/IREECodegenBinding.td
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

Revert "[GPUHeuristics] Further tune `LargeGemm` perf (#23652)"
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[GPUHeuristics] Further tune `LargeGemm` perf (#23652)" (#23833)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Small fix
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

Move unrolling to common
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/UnrollElementwiseOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

test
  .github/workflows/pkgci_test_amd_mi325.yml
Due: none

[Tuner][Codegen] Expose iree codegen ops to py bindings (#23832)
  compiler/bindings/python/iree/compiler/__init__.py
  compiler/bindings/python/iree/compiler/dialects/IREECodegenBinding.td
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

[Codegen] Fix the reshape propagation in InsertBatchDimForBatchlessConv
  compiler/src/iree/compiler/Codegen/Common/InsertBatchDimForBatchlessConv.cpp
  compiler/src/iree/compiler/Codegen/Common/test/insert_batch_dim_for_batchless_conv.mlir
Due: none

Deployed f013181 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

Reapply "[GPUHeuristics] Further tune `LargeGemm` perf (#23652)"
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Drop legacy split-reduction handling from ReconcileTranslationInfo pass (#23815)
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_legacy_resolve_split_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize_legacy_resolve_split_reduction.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed ab7773d with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

[Codegen][NFC] Move PipelineAttr external model comment to tablegen
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

[Codegen] Add CodegenPipelineOptions and wire GPU pipeline via external model
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/GPUPipelineExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/GPUPipelineExternalModels.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUDialect.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/CodegenPipelineOptions.cpp
  compiler/src/iree/compiler/Codegen/Utils/CodegenPipelineOptions.h
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerExecutableTarget.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
