Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[DispatchCreation] Refactor and add low-parallelism split reduction parameter set
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_conv.mlir
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_gemm.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

fixing implementation
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
Due: none

[LLVMGPU] Address review for skinny attention bailouts
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

improve comment
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
Due: none

renaming shuffle to swizzle
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Add unshuffled_operands attribute to DataTiledScaledMMAAttr
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Add operation example
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
Due: none

compiler/plugins/input/TOSA: fix: TOSA arith lowering must handle apply scale introduced by linalg lowering
  compiler/plugins/input/TOSA/InputConversion/Passes.cpp
  compiler/plugins/input/TOSA/InputConversion/test/BUILD.bazel
  compiler/plugins/input/TOSA/InputConversion/test/CMakeLists.txt
  compiler/plugins/input/TOSA/InputConversion/test/apply_scale_lowering.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Preserve unmasked online attention finalize IR
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/TileAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_online_attention.mlir
Due: none

Restoration[1]
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_online_attention.mlir
Due: none

Deployed 48738aa with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

Lower and distribute async_dma to amdgpu.gather_to_lds
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerAsyncDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutUtils.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_async_dma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Replace layout with transfer type
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerAsyncDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_async_dma.mlir
Due: none

Bufferize async_dma
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/bufferize_async_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Pass preTensorToVector to vectorizeGatherLikeGeneric.
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: none

Test
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather_masked.mlir
Due: none

Add mxfp4 gemm e2e test for unaligned case
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][CPU] Materialize data-tiled encodings to inner_tiled.
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

Make shuffle width a parameter
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
Due: none

Deployed 798e137 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECPU/index.html
  search/search_index.json
Due: none

move test to easy_large_static
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

[Codegen][CPU] Pick inner-tiled unroll factors from a register budget.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

Address review comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

NFC: Export getMmaScheduleFromProblemAndTarget and padding utilities
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
Due: none

remove unstable test change
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
Due: none

remove unrelated e2e test
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Add --iree-gpu-partial-dt-scaled-mma flag with schedule-based tiling
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

updating shuffle -> swizzle
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

updating flag name
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Wire up unshuffled operands in ConfigUtils and GPUUtils
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

updating shuffle -> swizzle
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
Due: none

updating shuffle -> swizzle
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
Due: none

Add gfx950-specific scale-only hoisting in HoistEncodingOps
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

PR review 1
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encodings_ops_pdt.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encodings_ops_scaled_gemm_no_hoist_flag.mlir
Due: none
