Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Integrate llvm/llvm-project@50ef746a12 (#22046)
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Due: none

Fix break
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

[Encoding] Propagate layout encodings through tensor.cast ops (#21970)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/PropagateEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1

move to regression/stablehlo; fix and enable globals_ml_program.mlir test
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/globals_ml_program.mlir
  tests/e2e/regression/stablehlo/BUILD.bazel
  tests/e2e/regression/stablehlo/CMakeLists.txt
  tests/e2e/regression/stablehlo/dynamic_abs.mlir
  tests/e2e/regression/stablehlo/dynamic_add.mlir
  tests/e2e/regression/stablehlo/dynamic_dot.mlir
  tests/e2e/regression/stablehlo/dynamic_reduce_min.mlir
  tests/e2e/regression/stablehlo/dynamic_torch_index_select_high_rank.mlir
  tests/e2e/regression/stablehlo/dynamic_torch_index_select_negative.mlir
  tests/e2e/regression/stablehlo/dynamic_torch_index_select_scalar.mlir
  tests/e2e/regression/stablehlo/dynamic_torch_index_select_vector.mlir
  tests/e2e/regression/stablehlo/globals_ml_program.mlir
  tests/e2e/regression/stablehlo/lowering_config.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Run buildifier
  tests/e2e/regression/stablehlo/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

fix a typo (should exclude CHECK_TESTS from lit tests)
  tests/e2e/regression/stablehlo/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Adding support for multiple reduction dimensions
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

Drop compiler_flags from iree_lit_test_suite config
  tests/e2e/regression/stablehlo/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

moves checkout repository up
  .github/workflows/pkgci_test_amd_mi355.yml
Due: none

Add hostonly and lld tool
  tests/e2e/regression/stablehlo/BUILD.bazel
  tests/e2e/regression/stablehlo/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

changes to pickup sharktank test
  .github/workflows/pkgci_test_sharktank.yml
Due: none

use the padded propagation in post dispatch creation passes
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
Due: none

Fix according to comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/bufferize_coalesced_gather_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

follow the naming style
  tests/e2e/regression/stablehlo/BUILD.bazel
  tests/e2e/regression/stablehlo/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add driver
  tests/e2e/regression/stablehlo/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

bazel_to_cmake
  tests/e2e/regression/stablehlo/CMakeLists.txt
Due: bazel_to_cmake_2

[python] Expose python bindings for nvvm in iree.compiler.dialects (#21993)
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/test/ir/dialects_test.py
Due: bazel_to_cmake_2

use lhs and rhs type instead of input type
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

fixes to address the failure
  .github/workflows/pkgci_test_amd_mi355.yml
Due: none

[Codegen] add transform op for match dimension sizes
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

test stubgen v2
  .gitmodules
Due: none

commented the deDuplication pass and added a pass to add the padding value as an attribute to convolution function
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/GetPaddingValue.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  tools/iree-dump-slfb-main.cc
Due: bazel_to_cmake_2

[Sharktank]: Add Tests For Llama 8b Models
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp16-decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp16-prefill_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp8-decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp8-prefill_rocm.json
Due: none

Change Gold
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp16-decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp16-prefill_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp8-decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b-fp8-prefill_rocm.json
Due: none

make type non-optional
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none

Revert "[Dispatch Creation] Rework dispatch formation logic (#21854)"
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Don't revert FusionUtils change
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
Due: none

Dont't fuse producer matmuls
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Update ci_windows_x64_msvc.yml
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

Test capacity.
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

add a test with lowering config
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
Due: none
