Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

nit fix
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[Codegen] Improve transfer_gather vectorization method.
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather_masked.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather_unmasked.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move virtual method to :IR
  compiler/src/iree/compiler/Dialect/HAL/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move comments
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
Due: none

[Async] Align frontier headers by pointer size
  runtime/src/iree/async/frontier.h
Due: none

[Build] Expand CTS format variables in CMake
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  runtime/src/iree/hal/drivers/amdgpu/cts/CMakeLists.txt
Due: bazel_to_cmake_2

[HAL/API] Pass queue allocation pools by handle
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/iree_helpers.h
  runtime/bindings/python/hal.cc
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/memory_pools.c
  runtime/src/iree/hal/drivers/hip/memory_pools.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/testing/mock_device.c
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/hal/module.c
  samples/custom_module/async/module.cc
Due: none

[Task] Avoid fixed cpu_set_t masks in sysfs topology
  runtime/src/iree/task/topology_sysfs.c
Due: none

[HAL/API] Require allocator virtual-memory vtable hooks
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
  runtime/src/iree/hal/drivers/null/allocator.c
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/debug_allocator.c
Due: none

[HAL/API] Add structured device profiling sessions
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/profile_metrics.c
  runtime/src/iree/hal/profile_metrics.h
  runtime/src/iree/hal/profile_metrics.inc
  runtime/src/iree/hal/profile_metrics_test.cc
  runtime/src/iree/hal/profile_options.c
  runtime/src/iree/hal/profile_options.h
  runtime/src/iree/hal/profile_schema.h
  runtime/src/iree/hal/profile_sink.c
  runtime/src/iree/hal/profile_sink.h
  runtime/src/iree/hal/testing/mock_device.c
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/profile_file.c
  runtime/src/iree/hal/utils/profile_file.h
  runtime/src/iree/hal/utils/profile_file_test.cc
  runtime/src/iree/hal/utils/statistics_sink.c
  runtime/src/iree/hal/utils/statistics_sink.h
  runtime/src/iree/hal/utils/statistics_sink_test.cc
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/run_module.c
  tools/iree-benchmark-executable-main.c
  tools/iree-benchmark-module-main.cc
  tools/iree-check-module-main.cc
  tools/testing/e2e/test_utils.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL] Forward virtual memory through allocator wrappers
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/debug_allocator.c
Due: none

[Async] Formalize fixed frontier storage
  runtime/src/iree/async/frontier.h
Due: none

[Task] Align executor and local-task device allocations
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/task/executor.c
Due: none

[HAL/Vulkan] Suppress ICD physical-device enumeration leaks
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
Due: none

[Task] Avoid statuses for optional sysfs topology probes
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/sysfs.c
  runtime/src/iree/base/internal/sysfs.h
  runtime/src/iree/base/internal/sysfs_test.cc
  runtime/src/iree/task/topology_sysfs.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL/Memory] Keep pool tests C++17-compatible
  runtime/src/iree/hal/memory/fixed_block_allocator.h
  runtime/src/iree/hal/memory/fixed_block_pool_test.cc
  runtime/src/iree/hal/memory/passthrough_pool_test.cc
  runtime/src/iree/hal/memory/tlsf_pool_test.cc
Due: none

[Async] Make frontier header alignment portable to MSVC
  runtime/src/iree/async/frontier.h
Due: none

[Runtime/Python] Install iree-profile with runtime package
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_profile/__main__.py
Due: bazel_to_cmake_2

[HAL/Memory] Harden pool slab providers and routing
  runtime/src/iree/hal/memory/BUILD.bazel
  runtime/src/iree/hal/memory/CMakeLists.txt
  runtime/src/iree/hal/memory/arena.h
  runtime/src/iree/hal/memory/arena_benchmark.cc
  runtime/src/iree/hal/memory/arena_test.cc
  runtime/src/iree/hal/memory/cpu_slab_provider.c
  runtime/src/iree/hal/memory/cpu_slab_provider.h
  runtime/src/iree/hal/memory/fixed_block_allocator.c
  runtime/src/iree/hal/memory/fixed_block_allocator.h
  runtime/src/iree/hal/memory/fixed_block_allocator_benchmark.cc
  runtime/src/iree/hal/memory/fixed_block_allocator_test.cc
  runtime/src/iree/hal/memory/fixed_block_pool.h
  runtime/src/iree/hal/memory/passthrough_pool.c
  runtime/src/iree/hal/memory/passthrough_pool.h
  runtime/src/iree/hal/memory/slab_cache.c
  runtime/src/iree/hal/memory/slab_cache.h
  runtime/src/iree/hal/memory/slab_provider.c
  runtime/src/iree/hal/memory/slab_provider.h
  runtime/src/iree/hal/memory/tlsf.c
  runtime/src/iree/hal/memory/tlsf.h
  runtime/src/iree/hal/memory/tlsf_benchmark.cc
  runtime/src/iree/hal/memory/tlsf_test.cc
  runtime/src/iree/hal/pool.c
  runtime/src/iree/hal/pool.h
  runtime/src/iree/hal/pool_set.c
  runtime/src/iree/hal/pool_set.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Async] Keep frontier merge overflow status-free
  runtime/src/iree/async/cts/sync/semaphore_sync_test.cc
  runtime/src/iree/async/frontier.c
  runtime/src/iree/async/frontier.h
  runtime/src/iree/async/frontier_test.cc
  runtime/src/iree/async/semaphore.c
  runtime/src/iree/async/semaphore.h
Due: none

[HAL/CUDA] Release events on timepoint acquisition failure
  runtime/src/iree/hal/drivers/cuda/timepoint_pool.c
Due: none

[Async] Add notification observe-check-wait tokens
  runtime/src/iree/async/cts/sync/notification_test.cc
  runtime/src/iree/async/frontier_tracker.c
  runtime/src/iree/async/frontier_tracker.h
  runtime/src/iree/async/frontier_tracker_test.cc
  runtime/src/iree/async/notification.c
  runtime/src/iree/async/notification.h
  runtime/src/iree/async/operation.c
  runtime/src/iree/async/operations/scheduling.h
  runtime/src/iree/async/platform/io_uring/notification.c
  runtime/src/iree/async/platform/io_uring/notification.h
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/platform/iocp/proactor.c
  runtime/src/iree/async/platform/iocp/proactor_submit.c
  runtime/src/iree/async/platform/posix/proactor.c
  runtime/src/iree/async/proactor.h
Due: none

[Build] Tighten local developer wrappers
  build_tools/bazel/iree.bazelrc
  build_tools/bin/iree-bazel-try
Due: none

[Docs] Wire device profiling guides into the website
  docs/website/docs/developers/design-docs/metal-hal-driver.md
  docs/website/mkdocs.yml
Due: none

[Async] Add frontier helpers for queue scheduling
  runtime/src/iree/async/frontier.c
  runtime/src/iree/async/frontier.h
  runtime/src/iree/async/frontier_benchmark.cc
  runtime/src/iree/async/frontier_test.cc
  runtime/src/iree/async/semaphore.c
  runtime/src/iree/async/semaphore.h
  runtime/src/iree/base/alignment.h
  runtime/src/iree/base/allocator.h
  runtime/src/iree/hal/semaphore.h
Due: none

[HAL] Split oversized emulated queue updates
  runtime/src/iree/hal/cts/queue/queue_transfer_test.cc
  runtime/src/iree/hal/drivers/local_task/task_device.h
  runtime/src/iree/hal/utils/queue_emulation.c
Due: none

[HAL/Memory] Keep pool headers C++17-compatible
  runtime/src/iree/hal/pool.h
Due: none

[Task] Guard teardown of never-initialized workers
  runtime/src/iree/task/worker.c
Due: none

[Base] Avoid locking empty atomic slist pops
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/atomic_slist.c
  runtime/src/iree/base/internal/atomic_slist.h
  runtime/src/iree/base/internal/atomic_slist_benchmark.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Tools] Package profiling capture tools
  .gitignore
  build_tools/bazel/iree.bazelrc
  build_tools/bin/iree-bazel-lib
  build_tools/bin/iree-bazel-run
  build_tools/tracing/iree_tracy_capture.py
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_profile/__main__.py
  runtime/bindings/python/iree/runtime/_package_test.py
  runtime/setup.py
Due: bazel_to_cmake_2

[Async] Keep io_uring notifications event-backed
  runtime/src/iree/async/cts/sync/relay_test.cc
  runtime/src/iree/async/notification.h
  runtime/src/iree/async/platform/io_uring/notification.c
  runtime/src/iree/async/proactor.h
Due: none

[HAL] Harden file-backed import paths
  runtime/src/iree/hal/utils/fd_file.c
  runtime/src/iree/hal/utils/memory_file.c
Due: none

[Async] Own frontier trackers as ref-counted objects
  runtime/src/iree/async/BUILD.bazel
  runtime/src/iree/async/CMakeLists.txt
  runtime/src/iree/async/frontier_tracker.c
  runtime/src/iree/async/frontier_tracker.h
  runtime/src/iree/async/frontier_tracker_benchmark.cc
  runtime/src/iree/async/frontier_tracker_test.cc
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Runtime] Preserve joined status diagnostics
  runtime/src/iree/base/status.c
  runtime/src/iree/base/status.h
  runtime/src/iree/base/status_test.cc
Due: none

[HAL/CTS] Run direct queue dispatch in driver suites
  build_tools/bazel/iree_hal_cts_test_suite.bzl
  build_tools/cmake/iree_hal_cts_test_suite.cmake
Due: buildifier

[HAL] Validate resource set block capacity
  runtime/src/iree/hal/utils/resource_set.c
  runtime/src/iree/hal/utils/resource_set_test.cc
Due: none
