Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Add paged-KV CUDA runtime correctness test
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_paged_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

Keep Stage 2 focused on paged KV
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

Format paged attention test
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: none

[Runtime] Fix sysfs incorrect topology
  runtime/src/iree/base/internal/sysfs.c
  runtime/src/iree/base/internal/sysfs.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/utils/platform_topology.h
  runtime/src/iree/hal/utils/platform_topology_sysfs.c
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/api.c
  runtime/src/iree/task/api.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/expanded_snapshots.bzl
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket_no_siblings.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_fragmented_cpulist.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_sparse_node_ids.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_too_many_nodes.sysfs.txt
  runtime/src/iree/task/topology.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_darwin.c
  runtime/src/iree/task/topology_fallback.c
  runtime/src/iree/task/topology_sysfs.c
  runtime/src/iree/task/topology_test.cc
  runtime/src/iree/task/topology_wasm.c
  runtime/src/iree/task/topology_win32.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 7778c15 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[Vulkan] Disable sparse binding default (#24738)
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.c
Due: none

[Vulkan] Mark vkGetMemoryHostPointerPropertiesEXT as optional (#24737)
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan_tables.h
Due: none

Apply pre-commit formatting
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/FP8Lowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/FP8Lowering.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

compiler: add dynamic plugin mechanism
  compiler/bindings/c/BUILD.bazel
  compiler/bindings/python/BUILD.bazel
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/IREECompilerRegistration.cpp
  compiler/lit.cfg.py
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/PluginAPI/PluginManager.cpp
  compiler/src/iree/compiler/PluginAPI/PluginManager.h
  compiler/src/iree/compiler/PluginAPI/test/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/invalid_options.txt
  compiler/src/iree/compiler/PluginAPI/test/invalid_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/valid_plugin.c
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  lib/BUILD.bazel
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

compiler: add dynamic plugin mechanism
  compiler/bindings/python/BUILD.bazel
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/IREECompilerRegistration.cpp
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/API/generate_exports.py
  compiler/src/iree/compiler/PluginAPI/test/invalid_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/valid_plugin.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

build: symbol renaming
  CMakeLists.txt
  build_tools/bazel/BUILD.bazel
  build_tools/bazel/gen_rename_map.py
  build_tools/bazel/gen_rename_map_test.py
  build_tools/bazel/renamed_link.bzl
  build_tools/cmake/iree_renamed_link.cmake
  compiler/CMakeLists.txt
  compiler/bindings/c/BUILD.bazel
  compiler/bindings/python/BUILD.bazel
  compiler/bindings/python/CMakeLists.txt
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/dynamic_plugin.cpp
  lib/BUILD.bazel
  lib/exported_symbols_test.py
  lib/hide_iree_runtime_capi.ld
  lib/hide_iree_runtime_capi.macos.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

feat(KernelDispatch): set inner-tile alignment hints on scalable unpack ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_v_lowering_strategy.mlir
Due: none

[Runtime][Build] Enable freestanding builds for IREE_PLATFORM_GENERIC (#24820)
  build_tools/bazel/BUILD.bazel
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  runtime/src/iree/async/BUILD.bazel
  runtime/src/iree/async/CMakeLists.txt
  runtime/src/iree/async/proactor_platform.c
  runtime/src/iree/async/util/signal.c
  runtime/src/iree/async/util/signal.h
  runtime/src/iree/base/config.h
  runtime/src/iree/base/internal/csprng.c
  runtime/src/iree/base/threading/thread.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMCPU] set inner-tile alignment hints on scalable unpack ops (#24808)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_v_lowering_strategy.mlir
Due: none

feat(TileAndFuse): add makeInnerTileAlignmentFn and thread it through vector-level tiling
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse_producer_consumer_anchoring_root_op.mlir
Due: none

address comments, guardrails are added while setting alignment hints
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse_producer_consumer_anchoring_root_op.mlir
Due: none

[LLVMCPU][ukernel] Strip per-function target attributes to allow inlining
  compiler/plugins/target/LLVMCPU/builtins/UKernel.cpp
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/BUILD.bazel
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/ukernel_inlining.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ci] [test] Route Windows choco installs through cluster-local Nexus mirror
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

Use VectorType cloneWith for FP8 lowering
  compiler/src/iree/compiler/Codegen/LLVMGPU/FP8Lowering.cpp
Due: none

Deployed b48a595 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[LLVMCPU] strip per-function target attributes to allow inlining ukernels (#24833)
  compiler/plugins/target/LLVMCPU/builtins/UKernel.cpp
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/BUILD.bazel
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/builtins/ukernel/test/ukernel_inlining.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL] Complete unfinished doc comment on plugin load()
  runtime/src/iree/hal/local/executable_plugin.h
Due: none

Deployed ee89ff3 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[Metal] Support queue operations on standalone devices
  runtime/src/iree/hal/drivers/metal/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/metal/metal_device_test.cc
Due: bazel_to_cmake_2

[Metal] Fall back to the system default device
  runtime/src/iree/hal/drivers/metal/metal_driver.m
Due: none

[Vulkan] Add fall-back to ANY queue affinity on fill/update
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: none

[Runtime] Fix sysfs incorrect topology
  runtime/src/iree/base/internal/sysfs.c
  runtime/src/iree/base/internal/sysfs.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/utils/platform_topology.h
  runtime/src/iree/hal/utils/platform_topology_sysfs.c
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/api.c
  runtime/src/iree/task/api.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/testdata/sysfs/BUILD.bazel
  runtime/src/iree/task/testdata/sysfs/CMakeLists.txt
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/expanded_snapshots.bzl
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket_no_siblings.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_fragmented_cpulist.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_sparse_node_ids.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_too_many_nodes.sysfs.txt
  runtime/src/iree/task/topology.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_darwin.c
  runtime/src/iree/task/topology_fallback.c
  runtime/src/iree/task/topology_sysfs.c
  runtime/src/iree/task/topology_test.cc
  runtime/src/iree/task/topology_wasm.c
  runtime/src/iree/task/topology_win32.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update comment
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: none

[Vulkan] Fix unaligned fill/update (#24838)
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: none

Fix clang format
  runtime/src/iree/hal/drivers/vulkan/allocator.c
Due: none

[Stream] Fix ARC double-dealloca of aliased control-flow results
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AutomaticReferenceCounting.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/automatic_reference_counting_scf.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/stream_reference_counting_aliased_loop_results.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Include @maxbartel into IREE authors for citation
  CITATION.cff
Due: none

[Runtime] CTS fix sporadic timeouts
  runtime/src/iree/async/cts/core/error_propagation_test.cc
  runtime/src/iree/async/cts/core/sequence_test.cc
  runtime/src/iree/async/cts/socket/lifecycle_test.cc
  runtime/src/iree/async/cts/util/socket_test_base.h
  runtime/src/iree/async/cts/util/test_base.h
Due: none

[Runtime] CTS fix sporadic timeouts
  runtime/src/iree/async/cts/util/socket_test_base.h
Due: none

Fix inline execution models (initializer inlining and dispatch ABI)
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineDialect.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderDialect.cpp
  runtime/src/iree/modules/hal/loader/module.c
  runtime/src/iree/modules/hal/module.c
  tests/compiler_driver/BUILD.bazel
  tests/compiler_driver/CMakeLists.txt
  tests/compiler_driver/inline_dynamic_hal_executable.mlir
  tests/compiler_driver/inline_hal_mutable_global.mlir
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-run-module-inline-dynamic.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
