Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[HAL Remote] Implement command buffer recording, dispatch, and CTS enablement
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/remote/BUILD.bazel
  runtime/src/iree/hal/remote/CMakeLists.txt
  runtime/src/iree/hal/remote/client/BUILD.bazel
  runtime/src/iree/hal/remote/client/CMakeLists.txt
  runtime/src/iree/hal/remote/client/buffer.h
  runtime/src/iree/hal/remote/client/command_buffer.c
  runtime/src/iree/hal/remote/client/command_buffer.h
  runtime/src/iree/hal/remote/client/device.c
  runtime/src/iree/hal/remote/client/executable_cache.c
  runtime/src/iree/hal/remote/client/queue.c
  runtime/src/iree/hal/remote/cts/BUILD.bazel
  runtime/src/iree/hal/remote/cts/CMakeLists.txt
  runtime/src/iree/hal/remote/cts/backends.cc
  runtime/src/iree/hal/remote/protocol/control.h
  runtime/src/iree/hal/remote/remote_session_test.cc
  runtime/src/iree/hal/remote/server/BUILD.bazel
  runtime/src/iree/hal/remote/server/CMakeLists.txt
  runtime/src/iree/hal/remote/server/session.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

WIP: in-progress remote-hal changes (will be squashed after rebase)
  runtime/src/iree/hal/remote/client/device.c
  runtime/src/iree/hal/remote/client/device.h
  runtime/src/iree/hal/remote/client/driver.c
  runtime/src/iree/hal/remote/client/registration/driver_module.c
  tools/BUILD.bazel
  tools/iree-serve-device-main.c
Due: buildifier, bazel_to_cmake_1

[LLVMGPU] Add CombineSourceLayoutTransformation to TileAndFuse pipeline (#23745)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Growable recording item pool: arena-allocated items with pointer-based compute_current.
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Due: none

[HAL Remote] Add iree_hal_remote_recv_pool_t and simplify device/driver
  runtime/src/iree/hal/remote/client/BUILD.bazel
  runtime/src/iree/hal/remote/client/CMakeLists.txt
  runtime/src/iree/hal/remote/client/api.h
  runtime/src/iree/hal/remote/client/device.c
  runtime/src/iree/hal/remote/client/device.h
  runtime/src/iree/hal/remote/client/driver.c
  runtime/src/iree/hal/remote/cts/BUILD.bazel
  runtime/src/iree/hal/remote/cts/CMakeLists.txt
  runtime/src/iree/hal/remote/cts/backends.cc
  runtime/src/iree/hal/remote/util/BUILD.bazel
  runtime/src/iree/hal/remote/util/CMakeLists.txt
  runtime/src/iree/hal/remote/util/recv_pool.c
  runtime/src/iree/hal/remote/util/recv_pool.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL Remote] CTS: share single proactor pool between server and client
  runtime/src/iree/hal/remote/cts/backends.cc
Due: none

[HAL Remote] Fix TSAN: slab registration race and teardown ordering
  runtime/src/iree/hal/remote/cts/backends.cc
  runtime/src/iree/hal/remote/util/recv_pool.c
  runtime/src/iree/hal/remote/util/recv_pool.h
Due: none

Add deferred fixup for buffers not mappable at recording time.
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Due: none

Split TransferOpAdaptor into explicit specializations
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
Due: none

Add mask to scatter distribution test
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
Due: none

Fix >2GB file reads: cap per-operation size and retry on partial reads.
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/platform/iocp/proactor_submit.c
  runtime/src/iree/async/platform/posix/worker.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
Due: none

Delete LowerTransferGatherOps.cpp, clean up Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
Due: none

Fix out-of-bounds mask offset for projected masks
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Fix dependencies
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove header file
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ContractCanonicalizationPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/ContractCanonicalizationPatterns.h
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Rename
  compiler/src/iree/compiler/Codegen/Common/ContractCanonicalizationPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/contract_canonicalize_layout.mlir
Due: none

Renamed files
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ContractToBMNKPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/contract_to_bmnk.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix copyright year and restore descriptive comments
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
Due: none

[LLVMGPU] Remove special bufferization pipeline for VectorDistribute
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Address PR #23784 review comments
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

[Codegen][Map] Add PackLayout distribution pattern for transfer_gather
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/MapDistributeMemoryOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/MapPatterns.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/Transforms/test/map_distribute_memory_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Drop invalid ref from workflow-dispatch in build_package.yml
  .github/workflows/build_package.yml
Due: none

[Codegen] Fix ArgCompare vectorization (#23775)
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_inferred.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: none

Restore separate removeDim0 methods with original documentation
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
Due: none

Dynamic worker_budget and CLOSED bail-out fix for multi-worker scheduling.
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor.h
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
Due: none

[Codegen] Remove dead ExtractAddressComputation passes
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.cpp
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/ExtractAddressComputationGPUPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/extract_address_computation_gpu.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove mask from scatter distribution test to match gather
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
Due: none

Reorder worker pump loop: drain compute slots before immediate list.
  runtime/src/iree/task/worker.c
Due: none

[Codegen] Remove dead ExtractAddressComputation passes (#23810)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.cpp
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/ExtractAddressComputationGPUPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/extract_address_computation_gpu.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix hip_allocator_test segfault: provide proactor pool for device creation.
  runtime/src/iree/hal/drivers/hip/BUILD.bazel
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_allocator_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Remove special bufferization pipeline for VectorDistribute (#23808)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Deployed f32efb6 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  reference/mlir-passes/CodegenLLVMGPU/index.html
  search/search_index.json
Due: none

Fix BUILD dep: numa is part of :threading, not a separate target.
  runtime/src/iree/hal/drivers/hip/BUILD.bazel
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[LLVMGPU] Add CombineSourceLayoutTransformation to TileAndFuse pipeline (#23745)"
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[LinalgExt] Add unified offset attributes to im2col op definition (#23784)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_derived_thread_config.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convolution_to_igemm.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConvToIm2ColOp.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm/llvm-project@9a42e5ba6fd8
  build_tools/linters/typos.toml
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

Deployed c87b6b9 with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
