Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[GPU] Take element type bitwidth into account with vector size. (#19987)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
Due: none

[hip] Fix async read offsets. (#19999)
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

[runtime][python] Allow to deref from VmRef to HalCommandBuffer (#19629)
  runtime/bindings/python/hal.cc
  runtime/bindings/python/iree/runtime/_binding.pyi
Due: none

[Encoding][NFC] Move non attribute implementation to EncodingTypes.cpp (#20045)
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CUDA] Remove handling for block ID ranges (#20009)
  compiler/plugins/target/CUDA/BUILD.bazel
  compiler/plugins/target/CUDA/CMakeLists.txt
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Change transfers to do pulls on multi transfer (#19931)
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ExecutionPlacement.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/execution_placement.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation][Encoding] Move collapse shapes before set encoding (#20070)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Add dispatch annotation for horizontal contract fusion (#20096)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Due: none

[Encoding] Clarify IREE::Encoding interfaces. (#20037)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Utils/ElementPackingUtils.cpp
Due: none

[SPIRV] Fix softmax compilation failure (#19985)
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_reduction_subgroup.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[hip] Post the correct error to the semaphores. (#20000)
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

[DispatchCreation] Modify the generated fused op to not use concats. (#19980)
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/fuse_horizontal_contractions.mlir
  experimental/regression_suite/shark-test-suite-models/sd3/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_mmdit.py
Due: none

[Stream][NFC] Remove unnecessary IRs from specialize_encodings.mlir (#20013)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[AMDGPU] Add RDNA4 targets and WMMA (#20048)
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_amdgpu.mlir
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_multi_mma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/concretize_mma_shapes.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_mma_to_lanes.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/cast_type_to_fit_mma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

Pinning affinity on stream tensor import/export. (#20016)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/annotate_affinities.mlir
Due: none

Revert "[runtime][python] Allow to deref from VmRef to HalCommandBuffer (#19629)" (#20057)
  runtime/bindings/python/hal.cc
  runtime/bindings/python/iree/runtime/_binding.pyi
Due: none

[Codegen][Tuner]: remove attrs inside decomposeConfig for attention op (#20081)
  compiler/src/iree/compiler/Codegen/Common/StripCompilationInfoPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/strip_compilation_info.mlir
Due: none

[Stream] Add support for executable duplication for tied operand cases. (#19953)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[VM] Add support for UI64 to F32 casts (#19556)
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/utils/generated/op_table.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
Due: none

[VMVX] Check the batch_gemm in ukernel lowering only when cDims is available. (#19997)
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
Due: none

[GPU] fix bug in expand permutation calculation when concretizing MMA shapes (#20049)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ConcretizeMmaShapes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/concretize_mma_shapes.mlir
Due: none

[DT][GPU] Implement SerializableEncodingAttrInterface (#20083)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
Due: none

[DT] Switching to use encoding attributes for late materialization path (#20023)
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "Disable ubuntu-24.04-arm workflows until the runners are stable." (#20018)
  .github/workflows/ci.yml
Due: none

Refactor the GPU target attribute key strings into kGPUTargetAttrName (#20034)
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

[docs] Fix snippet start line to avoid markdownlint comment. (#20062)
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
Due: none

[hip] Move alloc operations off the main stream (#20001)
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/per_device_information.h
Due: none

[hip] Move calls to hipFree and similar to the cleanup thread. (#20020)
  runtime/src/iree/hal/drivers/hip/cleanup_thread.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.h
Due: none

[Flow] Improve canonicalizer to remove redundantly returned results. (#20065)
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/flow_canonicalize.mlir
Due: none

[Stream][Encoding] Filter out unrecognized dispatches in specialization. (#20010)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[LLVMGPUVectorDistribute] Add support for distributing masked reads/writes (#19830)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPUVectorDistribute] Infer sizes for dynamic shapes from lowering config (#19973)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
Due: none

[DT] Don't materialize encodings in case of missing information (#20051)
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

[Dispatch Creation] Don't propagate through attention k1 dims (#20052)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
Due: none

[Stream] Drop encodings when they are not recognized by specialization. (#19983)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

Refactor the encoding resolver key string into kEncodingResolverAttrName (#20046)
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/gpu_encoding_attrs.mlir
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPUVectorDistribute] Support vector.mask + vector.contract (#19899)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtInterfaces.td
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
