Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[NFC][LinalgExt] Remove unused scatter member fns
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

[LinalgExt] Add gather operation (1/5)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

Add e2e tests for gather (4/5)
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/gather.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Only build runtime demo when IREE_BUILD_SAMPLES
  runtime/src/iree/runtime/demo/CMakeLists.txt
Due: bazel_to_cmake_2

Fix StableHLO BUILD.bazel
  compiler/plugins/input/StableHLO/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Do not unconditionally build runtime demo (#20380)
  runtime/src/iree/runtime/demo/CMakeLists.txt
Due: bazel_to_cmake_2

Introduce IREE_USE_SYSTEM_DEPS
  CMakeLists.txt
Due: none

[GPU] Vector distribution on arbitrary dispatches.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

correct binding_count bug, that also exists in example.
  runtime/src/iree/hal/nonlocal/elf_module_test_client.c
Due: none

Allow compatibility for compile backends targeting "local" devices.
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
Due: none

Adjust for iree=>nl changes
  runtime/src/iree/hal/drivers/nonlocal_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.h
Due: bazel_to_cmake_2

README with build and run instructions
  runtime/src/iree/hal/nonlocal/README.md
Due: none

only use embedded-elf loader
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
Due: none

driver copied from iree local-sync
  runtime/src/iree/hal/drivers/nonlocal_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_sync/device.h
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.c
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.h
  runtime/src/iree/hal/drivers/nonlocal_sync/event.c
  runtime/src/iree/hal/drivers/nonlocal_sync/event.h
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.h
  runtime/src/iree/hal/drivers/nonlocal_sync/semaphore.c
  runtime/src/iree/hal/drivers/nonlocal_sync/semaphore.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add elf loading, initialization and execution into nl_api
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.c
  runtime/src/iree/hal/nonlocal/nl_api.c
  runtime/src/iree/hal/nonlocal/nl_api.h
Due: none

use device memory for elf client test
  runtime/src/iree/hal/nonlocal/elf_module_test_client.c
Due: none

elf module client as nl_api implementation
  runtime/src/iree/hal/nonlocal/nl_api_client.c
Due: none

command data test client
  runtime/src/iree/hal/nonlocal/command_test_client.c
Due: none

Change cuda to nl in allocator and buffer
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/allocator.h
  runtime/src/iree/hal/nonlocal/buffer.c
  runtime/src/iree/hal/nonlocal/buffer.h
Due: none

Changes to adapt nonlocal plugin for direct compile.
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/init.c
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
  runtime/src/iree/hal/nonlocal/CMakeLists.txt
Due: bazel_to_cmake_2

elf client: update to use nl api
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/nonlocal/elf_module_test_client.c
Due: bazel_to_cmake_2

remove device buffer map during dispatch
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: none

Pass dispatch attributes using nl api.
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.c
Due: none

Update to avoid using memory map for memory reference, copy, and write.
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.c
Due: none

adjust to iree upstream changes (to Mon Dec 9 17:21:45 2024 -0800)
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue.h
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: none

malloc implementation of basic cuda-like functions
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/nonlocal/nl_api.c
  runtime/src/iree/hal/nonlocal/nl_api.h
Due: bazel_to_cmake_2

replace iree_hal_local prefix with iree_hal_nonlocal
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.c
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.h
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
  runtime/src/iree/hal/nonlocal/local_executable.c
  runtime/src/iree/hal/nonlocal/local_executable.h
Due: bazel_to_cmake_2

Replace command buffer memory map copy with memcpy using device and host pointers
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: none

use nl executable loader.
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
Due: none

iree_hal_inline_command_buffer => iree_hal_nonlocal_inline_command_buffer
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
  runtime/src/iree/hal/nonlocal/inline_command_buffer.h
Due: none

replace iree_hal_buffer_map_write (which maps memory) with memcpy
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: none

client/server: add copy and dispatch functions
  runtime/src/iree/hal/nonlocal/nl_api.c
  runtime/src/iree/hal/nonlocal/nl_api.h
Due: none

local_executable and embedded_elf_loader from iree runtime hal local
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.c
  runtime/src/iree/hal/nonlocal/embedded_elf_loader.h
  runtime/src/iree/hal/nonlocal/local_executable.c
  runtime/src/iree/hal/nonlocal/local_executable.h
Due: none

Change nonlocal-task to use nl loader.
  runtime/src/iree/hal/drivers/nonlocal_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
Due: bazel_to_cmake_2

Changes due to iree changes. Up to iree commit: iree changes to Thu Jan 2 11:54:22 2025 -0800
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/buffer.c
  runtime/src/iree/hal/nonlocal/buffer.h
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: bazel_to_cmake_2

changes from allocator_heap
  runtime/src/iree/hal/nonlocal/allocator.c
Due: none

iree_hal_task => iree_hal_nl_task
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.c
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.h
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.h
  runtime/src/iree/hal/drivers/nonlocal_task/driver.c
  runtime/src/iree/hal/drivers/nonlocal_task/driver.h
  runtime/src/iree/hal/drivers/nonlocal_task/event.c
  runtime/src/iree/hal/drivers/nonlocal_task/event.h
  runtime/src/iree/hal/drivers/nonlocal_task/queue.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue.h
  runtime/src/iree/hal/drivers/nonlocal_task/queue_state.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue_state.h
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
  runtime/src/iree/hal/drivers/nonlocal_task/semaphore.c
  runtime/src/iree/hal/drivers/nonlocal_task/semaphore.h
Due: none

Changes to adapt nonlocal plugin for direct compile.
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
