Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Remove additional changes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
Due: none

[Codegen] Don't fold workgroup loops during workgroup tiling (#21137)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
Due: none

update tests
  compiler/src/iree/compiler/Codegen/Common/test/decompose_affine_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/conv2d_to_img2col.mlir
Due: none

address comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
Due: none

Improve test naming
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

[DispatchCreation] Fold collapse(expand) unit dims (#21274)
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

[VectorDistribute][NFC] Refactor subgroup reduction distribution (#21305)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.h
Due: none

[DT] add control function to FoldIntoPackUnpackPatterns (#21276)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
Due: none

[CPU] Disable lowering_config propagation for Mmt4dTilingExpert pipeline (#21298)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[Preprocessing][NFC] Drop dependency workaround from TransposeMatmulPass. (#21296)
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: none

Clean TBD
  compiler/src/iree/compiler/Codegen/Common/PatchFuncOps.cpp
Due: none

[DataTiling] Enable combine layout transformation in CDNA3 DT e2e matmul tests
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[CodeGen] Add a pass that patches func ops for debugging purpose. (#21229)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/PatchFuncOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/patch_func_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/patch_func_ops_spec.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenLibraryManager.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 1d65b89 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

[Integrate] Integrate llvm-project @0f391d6f51217de5cb6735b17f359eb078bbe94e (#21302)
  compiler/src/iree/compiler/Codegen/Common/DropVectorUnitDims.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_affine_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv2d_to_img2col.mlir
Due: none

[DataTiling] Enable layout transformation combination in GPU DT e2e tests (#21163)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[DT] Improve encoding hoisting pass. (#21275)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed db97528 with MkDocs version: 1.6.1
  reference/mlir-passes/DispatchCreation/index.html
  search/search_index.json
Due: none

[docs] Add 2025 AsiaLLVM talk about data-tiling from Hanhan.
  README.md
Due: none

[CodeGen][NFC] Delete DeadMemAlloc patterns.
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEraseStorageBufferStaticShape.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/erase_storage_buffer_static_shape.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: none

shrink the title
  README.md
Due: none

[LinalgExt] Add an `DeviceMappingInterfaceAttribute` to tag split-k loops.
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1

[LinalgExt] Add an `DeviceMappingInterfaceAttribute` to tag split-k loops (#21309)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1

[CodeGen][NFC] Delete DeadMemAlloc patterns. (#21310)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEraseStorageBufferStaticShape.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/erase_storage_buffer_static_shape.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: none

Deployed 414c2d0 with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

[Codegen][AMDGPU] Allow vector distribute configuration selection to handle `scf.forall` from split-reduction.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[Codegen][AMDGPU] Allow vector distribute configuration selection to handle `scf.forall` from split-reduction. (#21281)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

Recover the title and expand `H/W` to `Hardware`.
  README.md
Due: none

[CPU] Introduce dictinoary-based lowering_config attribute.
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add a comment
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
Due: none

[Codegen][Common] Teach `VerifyWorkgroupDistribution` to allow `scf.forall` generated by split reduction.
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/test/verify_workgroup_distribution.mlir
Due: none

[Codegen][Common] Teach `VerifyWorkgroupDistribution` to allow `scf.forall` generated by split reduction. (#21282)
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/test/verify_workgroup_distribution.mlir
Due: none

Revert "[Codegen] Don't fold workgroup loops during workgroup tiling (#21137)"
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
Due: none

move scalable vectorization flag & utility func
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
Due: none

[LinalgExt] Improve Attention partial tiling new batch dimension insertion
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Revert "[DataTiling] Enable layout transformation combination in GPU DT e2e tests (#21163)"
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2
