Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

add more constraints into verifier
  compiler/src/iree/compiler/Codegen/Common/test/materialize_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Common/test/verify_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
  docs/website/docs/reference/tuning.md
Due: none

Add hanhanW to the author list
  docs/website/docs/community/blog/.authors.yml
Due: none

Clarify documentation for working on the website.
  docs/website/README.md
Due: none

PR comments
  .github/workflows/pkgci_sharktank_regression.yml
  docs/website/docs/developers/general/testing-guide.md
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
  tests/external/iree-test-suites/test_suite_files/sdxl_pipeline_bench_f16.mlir
Due: none

Clarify documentation for working on the website. (#20195)
  docs/website/README.md
Due: none

Format code block better
  docs/website/docs/community/blog/posts/data-tiling-with-encoding-specialization.md
  docs/website/docs/community/blog/posts/demo-data-tiling-with-multi-device.md
Due: none

address comments and update flags/logs
  docs/website/docs/community/blog/posts/data-tiling-with-encoding-specialization.md
  docs/website/docs/community/blog/posts/demo-data-tiling-with-multi-device.md
Due: none

disable lint for collapsable sections
  docs/website/docs/community/blog/posts/data-tiling-with-encoding-specialization.md
Due: none

Export affine dialect python bindings.
  compiler/bindings/python/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][Tuner] merge the default td specs
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/link_tuning_specs.mlir
Due: none

solve the name confliction
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
Due: none

plumb through MaterializeTuningSpecsPass
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/lowering_strategy_from_tuning_spec.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeTuningSpecsPass.cpp
Due: none

rebase and simplfiy the code
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/merge_default_tuning_specs.mlir
Due: none

address reviewer comments
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/lowering_strategy_from_tuning_spec.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse_default.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/merge_default_tuning_specs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address reviewer comments: further solve name confliction, format code and add test
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/link_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Common/test/merge_default_tuning_specs.mlir
Due: none

Update hip-hal-driver.md
  docs/website/docs/developers/design-docs/hip-hal-driver.md
Due: none

foo
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/Check/check.imports.mlir
  compiler/src/iree/compiler/Modules/Check/test/ops.mlir
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/check/test/BUILD.bazel
  runtime/src/iree/modules/check/test/CMakeLists.txt
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/disable_demote_f64_to_f32.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

simplify the code based on improved verifier
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse_default.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/link_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Common/test/merge_default_tuning_specs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update hip-hal-driver.md (#20197)
  docs/website/docs/developers/design-docs/hip-hal-driver.md
Due: none

Deployed 0093394 with MkDocs version: 1.6.1
  developers/design-docs/hip-hal-driver/index.html
  search/search_index.json
Due: none

review-comment
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
Due: none

review-comment
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.cpp
Due: none

[python] Register affine dialect python bindings. (#20196)
  compiler/bindings/python/CMakeLists.txt
Due: bazel_to_cmake_2

Improvements to `check.expect_almost_eq` and FP8 support (#20198)
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/Check/check.imports.mlir
  compiler/src/iree/compiler/Modules/Check/test/ops.mlir
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/check/test/BUILD.bazel
  runtime/src/iree/modules/check/test/CMakeLists.txt
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/disable_demote_f64_to_f32.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 1aa968d with MkDocs version: 1.6.1
  reference/mlir-dialects/Check/index.html
  search/search_index.json
Due: none

[GPU] Add support for conv padding when decomposing im2col
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

Delete broken bump_torch_mlir.yml.
  .github/workflows/bump_torch_mlir.yml
Due: none

Delete broken bump_torch_mlir.yml. (#20205)
  .github/workflows/bump_torch_mlir.yml
Due: none

disable markdown lint for a single violation
  docs/website/docs/community/blog/posts/demo-data-tiling-with-multi-device.md
Due: none

first try to do llvm integration
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransposeLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Dialect/HAL/Utils/LLVMLinkerUtils.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
