Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Pattern to optimize masked read/write in loops
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

Use util.hoistable_conversion
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

Fix ASAN error
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

Use clone to construct transfer_read/write
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

[VectorDistribute] Distribute `vector.scan` across subgroups (#24475)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_scan.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/scan_configured.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Fix vector alloc swizzle review issues
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/reduce_bank_conflicts.mlir
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_swizzle_gfx942.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Fold masked transfer_read/write in loops (#24449)
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
Due: none

address review comments
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

[DMA] Support DMA in convolution lowering (#23907)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_im2col_dma_gfx950.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  tests/e2e/rocm_specific/im2col_dma_conv.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Skip swizzle transpose when permutation is a no-op modulo unit dims.
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
Due: none

[Python] Preserve device-local buffer uploads (#24444)
  runtime/bindings/python/hal.cc
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/bindings/python/iree/runtime/function.py
  runtime/bindings/python/tests/array_interop_test.py
  runtime/bindings/python/tests/function_test.py
Due: none

[Vulkan] Enumerate physical devices
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/driver.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Route transfers through native queue resources
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/allocator.c
  runtime/src/iree/hal/drivers/vulkan/buffer.c
  runtime/src/iree/hal/drivers/vulkan/buffer.h
  runtime/src/iree/hal/drivers/vulkan/builtins.c
  runtime/src/iree/hal/drivers/vulkan/builtins.h
  runtime/src/iree/hal/drivers/vulkan/command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/command_buffer.h
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Stress descriptor block growth
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/queue_descriptor_cache_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Centralize API wrappers in libvulkan
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
  runtime/src/iree/hal/drivers/vulkan/util/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan.c
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan.h
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan_tables.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Add direct buffer allocation
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/allocator.c
  runtime/src/iree/hal/drivers/vulkan/allocator.h
  runtime/src/iree/hal/drivers/vulkan/api.c
  runtime/src/iree/hal/drivers/vulkan/buffer.c
  runtime/src/iree/hal/drivers/vulkan/buffer.h
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan.c
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan.h
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan_tables.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Use memory-type allocation limits
  runtime/src/iree/hal/drivers/vulkan/allocator.c
Due: none

[Vulkan] Cover explicit multi-queue waits
  runtime/src/iree/hal/cts/queue/semaphore_submission_test.cc
Due: none

[Vulkan] Wrap external logical devices
  runtime/src/iree/hal/drivers/vulkan/api.c
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/driver.c
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
Due: none

[Vulkan] Sort reported memory heaps
  runtime/src/iree/hal/drivers/vulkan/allocator.c
Due: none

[Vulkan] Scope BDA publication mappings
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: none

[Vulkan] Stage queue reads into native buffers
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: none

[Vulkan] Submit sparse queue allocas as queue work
  runtime/src/iree/hal/drivers/vulkan/allocator.c
  runtime/src/iree/hal/drivers/vulkan/allocator.h
  runtime/src/iree/hal/drivers/vulkan/cts/allocator_guardrail_test.cc
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.c
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.h
Due: none

[Vulkan] Harden deferred queue promotion
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: none

[Vulkan] Route sparse binds through queue lanes
  runtime/src/iree/hal/drivers/vulkan/allocator.c
  runtime/src/iree/hal/drivers/vulkan/allocator.h
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.c
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.h
Due: none

[Vulkan] Harden BDA executable serialization
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  runtime/src/iree/hal/drivers/vulkan/queue.c
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Load VKE1 compute executables
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/executable.c
  runtime/src/iree/hal/drivers/vulkan/executable.h
  runtime/src/iree/hal/drivers/vulkan/executable_cache.c
  runtime/src/iree/hal/drivers/vulkan/executable_cache.h
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan_tables.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Suppress loader leaks in check tests
  build_tools/bazel/iree_check_test.bzl
Due: buildifier

[Vulkan] Cover reusable dispatch profile filters
  runtime/src/iree/hal/cts/command_buffer/dispatch_reuse_test.cc
Due: none

[Vulkan] Record queue-device profile timestamps
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/api.c
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/command_buffer.h
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan.c
  runtime/src/iree/hal/drivers/vulkan/util/libvulkan_tables.h
  runtime/src/iree/hal/local/profile.c
  runtime/src/iree/hal/local/profile.h
  runtime/src/iree/hal/local/profile_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Add BDA executable metadata
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/executable.c
  runtime/src/iree/hal/drivers/vulkan/executable.h
  runtime/src/iree/hal/drivers/vulkan/executable_test.cc
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/schemas/vulkan_executable_def.fbs
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Submit direct dispatches from the queue
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
Due: none

[Vulkan] Pool command buffer replay descriptors
  runtime/src/iree/hal/drivers/vulkan/command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/command_buffer.h
  runtime/src/iree/hal/drivers/vulkan/cts/queue_descriptor_cache_test.cc
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
Due: none

[Vulkan] Add sparse bind queue submissions
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
Due: none

[Vulkan] Record queue profile events
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/profiling_test.cc
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/queue.c
  runtime/src/iree/hal/drivers/vulkan/queue.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
