Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen] Gate swizzle transpose fold to CPU (no CrossThread dims).
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
Due: none

[Codegen][AMDGPU] Pattern match transfer_read+transpose to global_transpose_load for RDNA4 (#24467)
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_global_transpose_load.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Initialize top-k output values in test
  tests/e2e/linalg_ext_ops/top-k.mlir
Due: none

[Codegen][GPU] Verify per-allocation swizzle hint consistency (#24460)
  compiler/src/iree/compiler/Codegen/Common/IREECodegenFoldMemRefAliasOps.cpp
  compiler/src/iree/compiler/Codegen/Common/ReinsertSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reinsert_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

[Codegen][CPU] Run HoistInnerTiledAccReshapes before vector lowering.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[Codegen][CPU] Add e2e matmul tests for the inner_tiled lowering path.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[AMDGPU] Embed prebuilt AMDGPU device binaries
  MODULE.bazel
  build_tools/bazel/amdgpu_device_toolchain_repo.bzl
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_amdgpu_binary.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/scripts/BUILD.bazel
  build_tools/scripts/amdgpu_device_binaries.py
  build_tools/scripts/amdgpu_target_map.py
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/README.md
  runtime/src/iree/hal/drivers/amdgpu/abi/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/README.md
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx10-1-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx10-3-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx11-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx12-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx9-4-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx9-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx90a.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/targets.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/target_map.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/target_map.cmake
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/targets.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/device_bitcode_sources.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_target_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/target_id.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Remove deprecated transform.iree.match_callback tests
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/batch_matmul_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/batch_matmuls.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convolution_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convolutions.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions_codegen_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/repeated_matcher_use.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_match_partial_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_ops_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add prototype amdgcn spirv codegen for rocm
  CMakeLists.txt
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_llvm.cmake
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLConfigureBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrepareForSPIRV.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_spirv_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_prepare_for_spirv.mlir
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add Benchmarks for fp8/i8 types and revert ALTERA workaround
  bench/matmul_fp8E4M3FN.mlir
  bench/matmul_fp8E5M2.mlir
  bench/matmul_i8.mlir
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: bazel_to_cmake_2

Set cmdline options and fix spilling
  bench/README.md
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrepareForSPIRV.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_prepare_for_spirv.mlir
  spirv-repros/README.md
  spirv-repros/spill_repro/README.md
  spirv-repros/spill_repro/matmul_f32_buffer.ll
  spirv-repros/spill_repro/matmul_f32_global.ll
Due: none

Add repro for SPIRV JIT excessive scratch use
  spirv-repros/wmma_spill/README.md
  spirv-repros/wmma_spill/aot.ll
  spirv-repros/wmma_spill/jit.ll
  spirv-repros/wmma_spill/matmul_f16.mlir
  spirv-repros/wmma_spill/run_llc_repro.py
  spirv-repros/wmma_spill/spirv_backend_input.ll
Due: none

Example test where not all [1 x T] phi values are unwrapped
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_unwrap_singleton.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Serialize SPIR_V based on target attr instead of cmdline options
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_serialize.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Additional serialization tests
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_serialize.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_serialize_target_attr.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Prevent duplication of @llvm.cmdline if present in module
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrepareForSPIRV.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_prepare_for_spirv.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_serialize.mlir
Due: none

Add summary and reproducers
  spirv-repros/README.md
  spirv-repros/altera_extension.ll
  spirv-repros/assume_crash.ll
  spirv-repros/bitcast_crash.ll
  spirv-repros/int4_extension.ll
  spirv-repros/unmerge_crash.ll
  spirv-repros/vector_gep_crash.ll
Due: none

Restrict SPIR-V extensions for AMD HIP SPIR-V JIT
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
Due: bazel_to_cmake_2

Fix compare.py to collect per-function statistics
  bench/compare.py
Due: none

Add aggregate phi crash repro
  spirv-repros/README.md
  spirv-repros/aggregate_phi_crash.ll
Due: none

Clean up previous scaffolding in unwrapSingleElementArrayTypes
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocm_spirv_unwrap_singleton.mlir
Due: none

Add LLVMSPIRVCodeGen build dependencies
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Run HoistInnerTiledAccReshapes before vector lowering. (#24491)
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[Codegen][CPU] Add e2e matmul tests for the inner_tiled lowering path. (#24492)
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Drop the power-of-two cap on `chooseUnrolling`.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_aarch64.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

[Codegen][CPU] Support distinct LHS/RHS types in e2e matmul test framework.
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_code.py
  tests/e2e/matmul/generate_e2e_matmul_tests.py
  tools/testing/e2e/iree-e2e-matmul-test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Add x86 AVX-512 VNNI vpdpbusd MMA intrinsic.
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/lower_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][NFC] Fix stale comment on `reshapeToSwizzleDistributed`.
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/MMAUtils.cpp
Due: none

[LLVMGPU] Guard sub-bank vector alloc swizzles
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_vector_alloc.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_swizzle_gfx942.mlir
Due: none

[VM] Retain bytecode modules for rodata refs
  runtime/src/iree/vm/buffer.c
  runtime/src/iree/vm/buffer.h
  runtime/src/iree/vm/buffer_test.cc
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/module.c
Due: none

[AMDGPU] Embed prebuilt AMDGPU device binaries (#24498)
  MODULE.bazel
  build_tools/bazel/amdgpu_device_toolchain_repo.bzl
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_amdgpu_binary.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/scripts/BUILD.bazel
  build_tools/scripts/amdgpu_device_binaries.py
  build_tools/scripts/amdgpu_target_map.py
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/README.md
  runtime/src/iree/hal/drivers/amdgpu/abi/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/README.md
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx10-1-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx10-3-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx11-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx12-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx9-4-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx9-generic.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/prebuilt/amdgcn-amd-amdhsa--gfx90a.so
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/source/targets.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/target_map.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/target_map.cmake
  runtime/src/iree/hal/drivers/amdgpu/device/binaries/targets.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/device_bitcode_sources.bzl
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_target_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/target_id.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Remove deprecated transform.iree.match_callback tests (#24500)
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/batch_matmul_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/batch_matmuls.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convolution_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/convolutions.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions_codegen_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/repeated_matcher_use.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_match_partial_reduction.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_ops_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Document device compatibility
  docs/website/docs/developers/vulkan-environment-setup.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/buffer.c
  runtime/src/iree/hal/drivers/vulkan/command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/backends.cc
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.h
  runtime/src/iree/hal/drivers/vulkan/queue.c
Due: buildifier, bazel_to_cmake_1

[Vulkan] Extract logical device planning
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/device_plan.c
  runtime/src/iree/hal/drivers/vulkan/device_plan.h
  runtime/src/iree/hal/drivers/vulkan/device_plan_test.cc
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Vulkan] Share logical device initialization
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: none

[Vulkan] Split request flags from device features
  runtime/src/iree/hal/drivers/vulkan/api.c
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/device_plan.c
  runtime/src/iree/hal/drivers/vulkan/device_plan_test.cc
  runtime/src/iree/hal/drivers/vulkan/driver.c
  runtime/src/iree/hal/drivers/vulkan/physical_device.c
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.c
Due: none

[Vulkan] Carry request flags through device plans
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/device_plan.c
  runtime/src/iree/hal/drivers/vulkan/device_plan.h
  runtime/src/iree/hal/drivers/vulkan/device_plan_test.cc
  runtime/src/iree/hal/drivers/vulkan/logical_device.c
Due: none
