Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[GlobalOptimization] Move ConvertConv2DToImg2Col pass from Preprocessing
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/ConvertConv2DToImg2Col.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: bazel_to_cmake_2

[GlobalOptimization] Update tests for Conv2D to Img2Col pass
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/conv2d_to_img2col.mlir
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  tests/compiler_driver/preprocessing_flags.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GlobalOptimization] Add opt-in flag for Conv2D to Img2Col transformation
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

Apply code formatting fixes
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/ConvertConv2DToImg2Col.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Rename enableConv2DToImg2Col option to useIm2colForConvs
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

[GlobalOpt] Support Img2Col Transformation for Conv2D Including Quantized Types (#23278)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/ConvertConv2DToImg2Col.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/conv2d_to_img2col.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  tests/compiler_driver/preprocessing_flags.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[stream] Prevent CSE from aliasing dispatch-allocated buffers
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_cow_dispatch_cse_aliasing.mlir
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/scatter_multi_consumer.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Support dynamic head dimension in TMTensor attention conversion
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/attention.mlir
Due: none

[NFC][Codegen] Move distribution pattern infrastructure to VectorExt (#23669)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.h
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/DistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/DistributionPatterns.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 7de2750 with MkDocs version: 1.6.1
  reference/mlir-passes/GlobalOptimization/index.html
  reference/mlir-passes/Preprocessing/index.html
  search/search_index.json
Due: none

Handle dynamic head dimensions in attention op conversion
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/attention.mlir
Due: none

Use 1/sqrt instead of rsqrt for attention scale computation
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/attention.mlir
Due: none

Revert "Use 1/sqrt instead of rsqrt for attention scale computation"
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/attention.mlir
Due: none

Add TorchOnnxToTorchPassesGen dep to TorchDialectPasses
  compiler/plugins/input/Torch/torch-mlir/CMakeLists.txt
Due: bazel_to_cmake_2

Use f32 scale
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
Due: none

[Codegen] Design doc: direct-load heuristic seeds for gfx950
  docs/plans/2026-03-06-direct-load-seeds-design.md
Due: none

[Codegen] Add direct-load heuristic seed path for gfx950
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Fix return type for changes in llvm@ecec7920c636
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
Due: none

[VectorExt] Add TransferScatterOp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/roundtrip.mlir
Due: none

[SPIRV] Rework on rootOp selection in kernel config.
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_softmax.mlir
Due: none

[GPU] Make VectorReductionToGPU forall-aware
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/vector_reduction_to_gpu.mlir
Due: none

Fix fn name for llvm@613a5c555ebf and integrate to ab10f0848b22
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
Due: none

Fix iree test for llvm@d0dd37124979 and drop revert
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
Due: none

Try fix for llvm@d0dd37124979
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
Due: none

[Codegen] Add PipelineAttrInterface and PassPipelineAttr
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/test/custom_pass_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add PipelineAttrInterface and PassPipelineAttr (#23590)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/custom_pass_pipeline.mlir
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/test/custom_pass_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 314b4e6 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

implement vdmfma
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_inner_tiled.mlir
Due: none

hard switch vdmfma
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Add tests to the list..
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm/llvm-project@ab10f0848b22417afc6352051b6e26c7704084d2 (#23683)
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
Due: none

[Async] Fix send data lifetime during CQE callback processing
  runtime/src/iree/async/cts/socket/BUILD.bazel
  runtime/src/iree/async/cts/socket/CMakeLists.txt
  runtime/src/iree/async/cts/socket/data_lifetime_test.cc
  runtime/src/iree/async/operations/net.h
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/proactor.h
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Async] Add carrier freelist pool to IOCP proactor
  runtime/src/iree/async/platform/iocp/proactor.c
  runtime/src/iree/async/platform/iocp/proactor.h
  runtime/src/iree/async/platform/iocp/proactor_submit.c
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
