Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

nit to test
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_expand_dimensions.mlir
Due: none

Fix code review issues in Shardy plugin
  compiler/plugins/input/Shardy/CMakeLists.txt
  compiler/plugins/input/Shardy/InputConversion/CMakeLists.txt
  compiler/plugins/input/Shardy/InputConversion/Passes.cpp
  compiler/plugins/input/Shardy/InputConversion/Passes.h
  compiler/plugins/input/Shardy/InputConversion/StripShardyDialect.cpp
  compiler/plugins/input/Shardy/PluginRegistration.cpp
Due: bazel_to_cmake_2

Add expected_f16_threshold to punet_quality_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_quality_gfx942.json
Due: none

[LinalgExt] Enable tensor map_scatter lowering
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeMapScatter.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_map_scatter.mlir
Due: none

[Encoding] Test i1 mask attention with packed_storage (#22756)
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/attention_i1_mask_encoding.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Fold unit dims with encoding
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

Do not fold tensors with non-collapsible encoding
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

[LLVMCPU][AArch64] New heuristic for matmul vector tile sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
Due: none

[bindings] Link CAPIAMDGPU into libIREECompiler
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
Due: none

[bindings] Link CAPIAMDGPU into libIREECompiler (#22929)
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Added Tiling failure for nested linalg_ext.index inside AttentionOp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

[LinalgExt] Added support for LinalgExt::IndexOp(s) inside of attention regions (#22768)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtPureOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

update punet tolerance
  tests/external/iree-test-suites/torch_models/sdxl/punet_quality_gfx942.json
Due: none

[CI][torch models] Increase acceptable tolerance in punet (#22935)
  tests/external/iree-test-suites/torch_models/sdxl/punet_quality_gfx942.json
Due: none

[DispatchCreation] Sink bit-extend producers into split-reduction `forall` loop (#21850)
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
Due: none

update golden times
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
Due: none

[Codegen][GPU] Improve lowering strategy for direct convolution
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
Due: none

Improve tests.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Stream] Prioritize NamedParameterAttr in UnifyEncodingForGlobals source tracing. 4/n (#22922)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

fix comment
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeMapScatter.cpp
Due: none

Only run UnifyEncoding pass.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Due: none

[GPU] Implement dummy getUnifiedEncoding method for GPU encoding resolver.
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Encoding] Add support for bitcast conversion
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

owners
  .github/CODEOWNERS
Due: none

fix e2e matmul tests
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add myself to CODEOWNERS for tests/e2e (#22944)
  .github/CODEOWNERS
Due: none

Disable simplify regions after conversion to control flow
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenAffineExpandIndexOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenFoldMemRefAliasOps.cpp
  compiler/src/iree/compiler/Codegen/Common/IREECodegenLowerAffine.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

e2e matmul tests: fix some recent CDNA3-only tests (#22945)
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
