Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen][GPU] Add fusion barrier after result promotion (#21709)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
Due: none

[tests][e2e] Add custom mxfp4 gemm test to verify shape of interest. (#22775)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Redundant change (Another PR)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Due: none

Add SCF support and fence coverage to ElideTimepointsPass. (#22611)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.h
  compiler/src/iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AutomaticReferenceCounting.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_timepoints_coverage.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_timepoints_fold.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_timepoints_immediate.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_timepoints_scf.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints_scf.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/PropagateSubranges.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/fold_globals.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/propagate_subranges.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Input] Register IREETensorExtDialect for Torch plugin (#22719)
  compiler/plugins/input/Torch/PluginRegistration.cpp
Due: none

Added CHECK-NOT statements for no func references
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
Due: none

Add jtuyls and Yu-Zhewen to CODEOWNERS for ROCM plugin and Encoding (#22810)
  .github/CODEOWNERS
Due: none

[Runtime][HIP] Correct O(log n) bound search logic and eliminate O(n) loop(#22733) (#22734)
  runtime/src/iree/hal/drivers/hip/util/tree.c
  runtime/src/iree/hal/drivers/hip/util/tree_test.cc
Due: none

[SPIRV][Codegen] Use single subgroup when reduction consumer has non-distributable broadcast (#22832)
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
Due: none

[Stream] Handle AsyncCloneOp in UnifyEncodingForGlobals tracing. (#22895)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Torch Models] Fix SDXL golden dispatch counts (#22855)
  tests/external/iree-test-suites/torch_models/sdxl/clip_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

[ROCM][DT] Add architecture matching to ukernel_info attribute (#22899)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.h
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_matmul_f16.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_matmul_f8E4M3FNUZ.mlir
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/materialize_encoding_ukernel_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Implement dummy getUnifiedEncoding method for GPU encoding resolver. (#22923)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[CI] Update golden dispatch counts (#22950)
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/vae_rocm.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

[DT][SVE] adjust tile sizes for mmt4d & disable transposition of narrow-N matmuls (#21701)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add PCF bufferization interfaces (#22805)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Preserve loop domain when collapsing dims in Conv to Matmul conversion (#22821)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTileAndConvertConvToMatmul.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
Due: none

[Encoding] Add verifier for gpu/cpu/vmvx_encoding_resolver (#22838)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[Util] Implement InferIntDivisibilityOpInterface for affine o… (#22860)
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestIntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Encoding] Improve specialized encoding usage in lit test (#22851)
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
Due: none

[Stream] Encode packed_storage device and host tensors (#22722)
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors_encoding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_packing.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Encoding] Add resolver swizzle verification (#22867)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: none

[LDS] Add AMDGPULowerCoalescedDMAToGatherLDS pass for direct global to LDS loads (#22356)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/rocm_specific/BUILD.bazel
  tests/e2e/rocm_specific/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Ignore unfusable consumer (#22874)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[LDS] Remove `GPULowerToGlobalLoadsPass` and `GlobalLoadDMAOp` (#22862)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/LowerIREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[tests][e2e] Add more llama related shapes (#22831)
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

[Util] Implement InferIntDivisibilityOpInterface for affine ops (#22723)
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestIntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Sink bit-extend producers into split-reduction `forall` loop (#21850)
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_split_reduction_dispatches.mlir
Due: none

[Codegen] Add PCF dialect (#22804)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCF.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/folders.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/types.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/write_ops.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  compiler/src/iree/compiler/Utils/CommonTypeConstraints.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate LLVM at 60e7c47 (#22952)
  MODULE.bazel
Due: buildifier

[LinalgExt] Added DecomposeAggregatedOp Pass (#22779)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAggregatedOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_filtered.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_invalid_bad_op_name.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_invalid_unimplemented_interface.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_noop.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Encoding] Use struct directive for TestingAttr assembly format (#22826)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encodings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fuse_encoding_ops_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
Due: none

[Stream] Update dispatch sites encodings in UnifyEncodingForGlobals pass 2/n (#22886)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Stream] Prioritize NamedParameterAttr in UnifyEncodingForGlobals source tracing. 4/n (#22922)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

e2e matmul tests: fix some recent CDNA3-only tests (#22945)
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
