Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

adding new flag
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encodings_ops_pdt.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL/VMVX] Own bytecode executable data
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
Due: none

[LLVMGPU] Remove unused `--iree-codegen-llvmgpu-use-unaligned-gemm-vector-distribution` flag
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx950.mlir
Due: none

[build] Add IREE_BUILD_BENCHMARKS option.
  CMakeLists.txt
  docs/website/docs/developers/building/cmake-options.md
  runtime/bindings/python/CMakeLists.txt
  runtime/src/iree/testing/CMakeLists.txt
  tools/CMakeLists.txt
Due: bazel_to_cmake_2

Reword comment add indentation
  CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  tools/CMakeLists.txt
Due: bazel_to_cmake_2

adding handling for padDistributionConfigFn
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.h
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

Remove unnecessary insertion point management
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
Due: none

[LLVMGPU] Route skinny attention fallback through Distribute
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: none

Added TODO and comment explaining the K1/N checks
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Support GQA in torch flex attention lowering
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
Due: none

Use torch utils in flex attention GQA preprocessing
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: bazel_to_cmake_2

Lit test already covers asymmetric Q/K/V heads
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
Due: none

Lambda for repeated heads
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: none

Merge conflict fixes
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
Due: bazel_to_cmake_2

Update CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
Due: bazel_to_cmake_2

[runtime] Fix Python buffer allocation to respect caller memory types
  runtime/bindings/python/hal.cc
  runtime/bindings/python/invoke.cc
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator_test.cc
Due: none

init commit
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_batch_matmul_tests.py
Due: bazel_to_cmake_2

relocate utility function
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

move inside SwizzleOffset
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

add one more test
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
Due: none

[Codegen] Convert BranchOpInterface block-args in EmulateNarrowType
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Use upstream ConvertExtractStridedMetadata for narrow-type emulation
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: none

[Codegen] Fix cf.assert legality in EmulateNarrowType
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: none

Divide by 1.1
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/vae_benchmark_mi325.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1201_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

More flexibility on elf executable running
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/aql_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/executable.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/util/hsaco_metadata.c
  runtime/src/iree/hal/executable.h
Due: none

Try benchmarking with rocprofv3
  .github/workflows/pkgci_test_torch.yml
Due: none

More work to get more general binaries working
  runtime/src/iree/hal/drivers/amdgpu/abi/kernel_args.h
  runtime/src/iree/hal/drivers/amdgpu/aql_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/device/dispatch.h
  runtime/src/iree/hal/drivers/amdgpu/device/dispatch_test.cc
  runtime/src/iree/hal/drivers/amdgpu/executable.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_dispatch.c
Due: none

Remove from vulkan and gfx942
  .github/workflows/pkgci_test_torch.yml
Due: none

Update iree-test-suite ref
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/prefill_benchmark_seq2048_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_cpu.json
  tests/external/iree-test-suites/torch_models/sdxl/clip_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/vae_benchmark_mi325.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1201_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

Moved checks to new test file; Covering iree_gpu.pipeline<Distribute> pipeline check
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_distribute.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: none

Ease contention on rdna4 machine
  .github/workflows/pkgci_test_torch.yml
Due: none

Run torch_ops cpu on ubuntu runners
  .github/workflows/pkgci_test_torch.yml
Due: none

Some small fixes for getting iree to work.
  runtime/src/iree/hal/drivers/amdgpu/aql_command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue_dispatch.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
  runtime/src/iree/hal/drivers/amdgpu/util/hsaco_metadata.c
  runtime/src/iree/hal/drivers/amdgpu/util/hsaco_metadata_test.cc
Due: none

API changes
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

Group independent buffer load index deps
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLGroupBufferLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_group_buffer_loads.mlir
Due: none

Generalize load grouping pass
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUGroupGlobalLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/llvmgpu_group_global_loads.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
