Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Preprocessing] Apply a pass-pipeline based on attributes on func-like ops. (#20287)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.h
  compiler/src/iree/compiler/Preprocessing/Common/AttrBasedPipelinePass.cpp
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/attr_based_pipeline.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Allow expand shape propagation through attention reduction dimensions (#20221)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
Due: none

[DispatchCreation] Delete pad->set_encoding fusion logic. (#20324)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[Encoding] Implement isIdentityLayout interface method. (#20286)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/unittests/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/unittests/EncodingAttrTest.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Removing use if the `iree_input` dialect from linalgext. (#20255)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/PadContractionToBlockSize.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/pad_contraction_to_block_size.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Introduce a new process for requesting iree-org membership. (#20174)
  docs/website/docs/developers/general/contributing.md
Due: none

[docs] Update Optimization Options (#20216)
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-optimization-options.md
  docs/website/docs/reference/optimization-options.md
Due: none

Emit an error message if a device alias is used but is missing targets. (#20288)
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveDeviceAliases.cpp
Due: none

[ConstEval] Expand to parents of nested immediate root uses (#20214)
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
Due: none

[LLVMGPU][DT] Add MaterializeDeviceEncodingPass to LLVMGPU passes behind flag (#19849)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix floating point type conversions when the result is in the denormal range (#20242)
  runtime/src/iree/base/internal/math.h
  runtime/src/iree/base/internal/math_test.cc
Due: none

[ConstEval] Don't create ops with partially uninitialized ConstValueInfo (#20228)
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
Due: none

Integrates/llvm 20250312 llvm/llvm-project@cdf10d7 (#20229)
  compiler/plugins/input/TOSA/InputConversion/test/apply_pdl_patterns_tosa.mlir
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/select_lowering_strategy.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa.mlir
  tests/e2e/tosa_ops/negate.mlir
Due: none

[Global Opt] Prevent expanding reduction dims (#20290)
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: none

[LLVMCPU] Set stack allocation limit as a HAL target property (#20209)
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.h
  compiler/plugins/target/LLVMCPU/test/BUILD.bazel
  compiler/plugins/target/LLVMCPU/test/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/test/hal_target_device_attributes.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Stream][NFC] Delete iree-stream-experimental-specialize-encodings flag. (#20279)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding utility print to resource usage analysis.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
Due: none

Fix libdevice `iree_f2h_ieee` conversion (#20248)
  runtime/src/iree/builtins/device/device_generic.c
  runtime/src/iree/builtins/device/tools/BUILD.bazel
  runtime/src/iree/builtins/device/tools/CMakeLists.txt
  runtime/src/iree/builtins/device/tools/libdevice_test.cc
  tests/e2e/math/math_ops_llvm-cpu.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Delete flaky gisel_abort test. (#20319)
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/gisel_abort.mlir
Due: bazel_to_cmake_2

Temporarily disabling the ElideAsyncTransfers pass. There's larger issues to fix in resource usage analysis and lifetime assignment.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Due: none

[GPU] Pad fusion support for TileAndDistributeToWorkgroupsUsingForall (#20258)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

[Preprocessing] Form single dispatch programs. (#20265)
  compiler/src/iree/compiler/Preprocessing/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/MakeSingleDispatchForFunction.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/make_single_dispatch_for_function.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Stream] Implement folders for stream.tensor.encode op. (#20298)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_folding.mlir
Due: none

Clarify error message for missing module dependencies. (#20036)
  runtime/src/iree/tooling/modules/resolver.c
Due: none

[DataTiling][GPU] Add layout resolver option to ROCMTarget (#20250)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/gpu_encoding_attrs.mlir
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: none

[CPU] Improve Fusions and KernelConfig heuristics for Attention (#20245)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVerifyVectorSizeLegality.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

Deprecate `--iree-codegen-gpu-native-math-precision` (#20299)
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/index.html
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/CMakeLists.txt
Due: bazel_to_cmake_2

[DT] Add bcast_map to user_indexing_maps in EncodingAttr (#20210)
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

Fix result type mismatch of tiled ops (#20211)
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

[Codegen] Keep lowering config when decomposing linalg.pack (#20311)
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_pack_unpack_ops.mlir
Due: none

Run `windows_x64_msvc` on postsubmit and opt-in on presubmit. (#20306)
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Due: none

[docs] Mention TRACY_PORT in tracy profiling docs (#20296)
  docs/website/docs/developers/performance/profiling-with-tracy.md
Due: none

[ci] Clean up runner-env and runner-group tags. (#20175)
  .github/workflows/build_package.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/setup.yml
  build_tools/github_actions/configure_ci.py
  docs/website/docs/developers/general/contributing.md
Due: none

Integrate llvm-project@681b2413 (#20274)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
Due: none

[Runtime] Preserve denormals in floating point conversions (#20252)
  runtime/src/iree/base/internal/math.h
  runtime/src/iree/base/internal/math_test.cc
Due: none

Only build elf_module_test when IREE_BUILD_TESTS is ON (#20351)
  runtime/src/iree/hal/local/elf/BUILD.bazel
  runtime/src/iree/hal/local/elf/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DataTiling] Don't set encodings in dispatch.region ops with workgroup counts (#20387)
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
Due: none

Add passes to do more preprocessing when creating single dispatch (#20394)
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/test/attr_based_pipeline.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

[Flow][Stream][NFC] Use parser.parseArgument() for custom parsers. (#20333)
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
