Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

compile nonlocal-sync as plugin
  iree_compiler_plugin.cmake
Due: none

Use custom allocator and buffer. Replace heap device allocator.
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
Due: bazel_to_cmake_2

set IREE_HAL_BUFFER_COMPATIBILITY_LOW_PERFORMANCE, which will cause mem map not to be used in iree/runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/nonlocal/allocator.c
Due: none

remove creation of heap allocator in driver_module.c.
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_sync/device.h
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.c
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.h
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
Due: none

copy cuda allocator/buffer from iree ( Wed Oct 16 13:02:19 2024 +0200 )
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/allocator.h
  runtime/src/iree/hal/nonlocal/buffer.c
  runtime/src/iree/hal/nonlocal/buffer.h
Due: none

just use NULL environment for executable load.
  runtime/src/iree/hal/nonlocal/nl_api.c
Due: none

change command_data read to recv. Use larger server read buffer.
  runtime/src/iree/hal/nonlocal/command_data.c
Due: none

Change local-sync to nonlocal-sync
  runtime/src/iree/hal/drivers/nonlocal_sync/device.c
  runtime/src/iree/hal/drivers/nonlocal_sync/device.h
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.c
  runtime/src/iree/hal/drivers/nonlocal_sync/driver.h
  runtime/src/iree/hal/drivers/nonlocal_sync/event.c
  runtime/src/iree/hal/drivers/nonlocal_sync/event.h
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.c
  runtime/src/iree/hal/drivers/nonlocal_sync/registration/driver_module.h
  runtime/src/iree/hal/drivers/nonlocal_sync/semaphore.c
  runtime/src/iree/hal/drivers/nonlocal_sync/semaphore.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

move device allocator creation from driver registration to device.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.h
  runtime/src/iree/hal/drivers/nonlocal_task/driver.c
  runtime/src/iree/hal/drivers/nonlocal_task/driver.h
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
Due: none

disallow mapping of device memory.
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/buffer.c
Due: none

only support allocations of device visible memmory (not host).
  runtime/src/iree/hal/nonlocal/allocator.c
Due: none

use nl memory copy functions
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
Due: none

Add debug and debug wrapper.
  runtime/src/iree/hal/nonlocal/command_data.c
  runtime/src/iree/hal/nonlocal/debug.h
  runtime/src/iree/hal/nonlocal/elf_module_server.c
  runtime/src/iree/hal/nonlocal/nl_api.c
  runtime/src/iree/hal/nonlocal/nl_api.h
  runtime/src/iree/hal/nonlocal/nl_api_client.c
Due: none

remove unused host-registered and async type buffers
  runtime/src/iree/hal/nonlocal/allocator.c
  runtime/src/iree/hal/nonlocal/buffer.h
  runtime/src/iree/hal/nonlocal/nl_api.c
  runtime/src/iree/hal/nonlocal/nl_api.h
Due: none

from iree runtime/src/iree/hal/loccl/elf/elf_module_test_main.c
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/nonlocal/elf_module_test_client.c
Due: bazel_to_cmake_2

copy inline command buffer from iree hal local
  runtime/src/iree/hal/nonlocal/inline_command_buffer.c
  runtime/src/iree/hal/nonlocal/inline_command_buffer.h
Due: none

elf module loading server
  runtime/src/iree/hal/drivers/nonlocal_sync/CMakeLists.txt
  runtime/src/iree/hal/nonlocal/command_data.c
  runtime/src/iree/hal/nonlocal/command_data.h
  runtime/src/iree/hal/nonlocal/command_op.h
  runtime/src/iree/hal/nonlocal/elf_module_server.c
Due: bazel_to_cmake_2

remove allocator mapping and unused flag conditions
  runtime/src/iree/hal/nonlocal/allocator.c
Due: none

copy iree/runtime/src/iree/hal/drivers/local_task ( Wed Oct 16 13:02:19 2024 +0200 )
  runtime/src/iree/hal/drivers/nonlocal_task/BUILD.bazel
  runtime/src/iree/hal/drivers/nonlocal_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.c
  runtime/src/iree/hal/drivers/nonlocal_task/command_buffer.h
  runtime/src/iree/hal/drivers/nonlocal_task/device.c
  runtime/src/iree/hal/drivers/nonlocal_task/device.h
  runtime/src/iree/hal/drivers/nonlocal_task/driver.c
  runtime/src/iree/hal/drivers/nonlocal_task/driver.h
  runtime/src/iree/hal/drivers/nonlocal_task/event.c
  runtime/src/iree/hal/drivers/nonlocal_task/event.h
  runtime/src/iree/hal/drivers/nonlocal_task/queue.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue.h
  runtime/src/iree/hal/drivers/nonlocal_task/queue_state.c
  runtime/src/iree/hal/drivers/nonlocal_task/queue_state.h
  runtime/src/iree/hal/drivers/nonlocal_task/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/nonlocal_task/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.c
  runtime/src/iree/hal/drivers/nonlocal_task/registration/driver_module.h
  runtime/src/iree/hal/drivers/nonlocal_task/semaphore.c
  runtime/src/iree/hal/drivers/nonlocal_task/semaphore.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

collapse commits
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenVectorExtractInsertPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/ForOpCanonicalizationPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/flatten_vector_extract_insert.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Due: bazel_to_cmake_2

debug llama, rank-0 vectors
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

lit tests: noise (load-insert-load-insert becamse load-load-insert-insert) and disables
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_mma_sync_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

pre-commit run --all-files
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

add bazel
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

fix logic
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

add missing mlir files to cmake/bazel
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Changed OutlineDispatchRegion.cpp to extract data
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
Due: bazel_to_cmake_2

Upgrade to run on macOS 15
  .github/workflows/ci_macos_arm64_clang.yml
Due: none

[VectorExt] Add canonicalizers for iree_vector_ext.transfer_gather
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtBase.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
Due: none

Fix test
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
Due: none

[VectorExt] Add canonicalizations for iree_vector_ext.transfer_gather (#20454)
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtBase.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
Due: none

[Util] Allow inlining on cast_and_call
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.cpp
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.td
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/symbol_transforms.mlir
Due: none
