Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Codegen][NFC] Use singleton for GPU pipeline builder callback
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/ExternalInterfaces/GPUPipelineExternalModels.cpp
Due: none

[Codegen] Update pipeline keyword to #iree_gpu.pipeline<...> syntax
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/Codegen/Common/test/convert_constraints_to_smt.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: none

[Codegen][NFC] Make CodegenPipelineOptions ctor protected
  compiler/src/iree/compiler/Codegen/Utils/CodegenPipelineOptions.h
Due: none

[Codegen][NFC] Drop llvm:: prefix on dyn_cast_if_present
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[compiler][nfc] Fix up file comments to match the filenames. (#23817)
  compiler/src/iree/compiler/Codegen/Common/BubbleUpOrdinalOps.cpp
  compiler/src/iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatches.cpp
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocView.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRV.cpp
Due: none

[DMA] Do not promote `im2col` op to use_global_load_dma (#23818)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
Due: none

[Codegen][NFC] Remove stale PassManager.h include from IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

Unroll vectors at basic block boundary.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/NDTo1DVectorUnrolling.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/nd_to_1d_vector_unrolling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply suggestion from @kuhar
  compiler/src/iree/compiler/Codegen/Common/UnrollElementwiseOps.cpp
Due: none

Deployed f69c15c with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

Fix DMA dst indices to match gather_to_lds op contract
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

[ResolveSwizzleHints] Handle reshape/subview as transparent users
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

Fix mi355 issue.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Fix DMA pre-check incorrectly upgrading scale operand copies
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
Due: none

Change to small test.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Use DMA for LHS/RHS only in scaled matmul
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix clang-format
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

[e2e] Fix MX DMA test to use static-only dynamicity
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Update pipeline keyword after rebase
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

Revert "Add F16 support to contraction input demotion pass (#23621)"
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs_to_bf16.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GlobalOptimization] Fix MSVC ambiguous constructor in DemoteContractionInputsPass
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputs.cpp
Due: none

Revert "Add F16 support to contraction input demotion pass" (#23842)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/DemoteContractionInputsToBF16.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/demote_contraction_inputs_to_bf16.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 24ffa06 with MkDocs version: 1.6.1
  reference/mlir-passes/GlobalOptimization/index.html
  search/search_index.json
Due: none

[nfc] Simplify op rewrite pattern inheriting constructor definitions.
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/UnfuseBatchNorm.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Patterns.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/FoldReshapesIntoTensorBarriers.cpp
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvToChannelsLast.cpp
Due: none

[nfc] Simplify op rewrite pattern inheriting constructor definitions. (#23849)
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/UnfuseBatchNorm.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEInjectAssumeAlignment.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Patterns.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/FoldReshapesIntoTensorBarriers.cpp
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvToChannelsLast.cpp
Due: none

[GlobalOptimization] Add PromoteContractionOutputsPass
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PromoteContractionOutputs.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/promote_contraction_outputs_from_bf16.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/promote_contraction_outputs_from_f16.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix TOSA pipeline to pass target options through addTosaToLinalgPasses
  compiler/plugins/input/TOSA/InputConversion/Passes.cpp
Due: none

Refactor proactor pool, add frontier-carrying signals, and fix shared infra. (#23804)
  build_tools/bazel/iree_cc_test.bzl
  build_tools/bazel/iree_hal_cts_test_suite.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/sanitizer/lsan_suppressions_vulkan.txt
  runtime/bindings/python/hal.cc
  runtime/bindings/python/loop.cc
  runtime/src/iree/async/frontier.h
  runtime/src/iree/async/util/BUILD.bazel
  runtime/src/iree/async/util/CMakeLists.txt
  runtime/src/iree/async/util/proactor_pool.c
  runtime/src/iree/async/util/proactor_pool.h
  runtime/src/iree/async/util/proactor_pool_types.h
  runtime/src/iree/async/util/proactor_thread_runner.c
  runtime/src/iree/async/util/proactor_thread_runner.h
  runtime/src/iree/base/threading/call_once.h
  runtime/src/iree/hal/cts/core/BUILD.bazel
  runtime/src/iree/hal/cts/core/CMakeLists.txt
  runtime/src/iree/hal/cts/core/semaphore_test.cc
  runtime/src/iree/hal/cts/core/semaphore_thread_test.cc
  runtime/src/iree/hal/cts/queue/queue_host_call_test.cc
  runtime/src/iree/hal/cts/queue/semaphore_submission_test.cc
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/fence.c
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/hal/semaphore.h
  runtime/src/iree/hal/utils/deferred_work_queue.c
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/hal/utils/memory_file.c
  runtime/src/iree/hal/utils/queue_host_call_emulation.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add fast-path empty check to atomic slist pop/flush.
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/atomic_slist.c
  runtime/src/iree/base/internal/atomic_slist.h
  runtime/src/iree/base/internal/atomic_slist_benchmark.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Cap pread/pwrite at INT32_MAX in fd_file.c platform functions.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

Fix CUDA timepoint_pool event leak on timepoint acquire failure.
  runtime/src/iree/hal/drivers/cuda/timepoint_pool.c
Due: none

Degrade fd_file to sync-only when async import fails.
  runtime/src/iree/hal/utils/fd_file.c
Due: none

Guard worker deinitialize against never-initialized workers.
  runtime/src/iree/task/worker.c
Due: none

Allow unaligned memory file import for embedded VMFB parameters.
  runtime/src/iree/hal/utils/memory_file.c
Due: none

Eliminate cpu_set_t from sysfs sharing mask path (fixes >1024-CPU overflow).
  runtime/src/iree/task/topology_sysfs.c
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
