Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[StableHLO] Clamp gather start indices on the torch_index_select path
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/GatherToTorchIndexSelect.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/gather_to_torch_index_select.mlir
  tests/e2e/stablehlo_ops/gather.mlir
Due: none

Deployed cdf4e1f with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[Flow] Limit required tie preservation to live Sort results
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

[Flow] Create required Sort bindings during dispatch conversion
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/DispatchCreation/test/convert_region_to_workgroups.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: none

[Flow] Check distinct types for required Sort results
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

[Flow] Isolate escaping Sort alias coverage
  compiler/src/iree/compiler/DispatchCreation/test/convert_region_to_workgroups.mlir
Due: none

[Flow] Use the null-safe tensor view query
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
Due: none

[Flow] Cover returned Sort ties and shared key consumers
  compiler/src/iree/compiler/DispatchCreation/test/convert_region_to_workgroups.mlir
Due: none

[LIT] Migrate compiler lit config to the internal shell
  compiler/lit.cfg.py
Due: none

[Codegen] Keep bounded dynamic dims for masked vectorization in TileLargeTensors
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/TileLargeTensors.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_large_tensors.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Remove --iree-hal-target-backends
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_e2e_generated_runner_test.bzl
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_static_linker_test.cmake
  compiler/bindings/python/iree/compiler/tools/core.py
  compiler/bindings/python/test/api/output_buffer_reference_test.py
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.h
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetOptions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetOptions.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/AssignLegacyTargetDevices.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/assign_legacy_target_devices.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/Passes.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Transforms/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  docs/website/docs/guides/deployment-configurations/index.md
  tests/e2e/regression/transients_test.mlir
  tests/e2e/rocm_specific/im2col_dma_conv.mlir
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/e2e_rocm.json
  tests/external/iree-test-suites/torch_ops/torch_ops_cpu_llvm_sync.json
  tools/iree-run-mlir-main.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LIT] Migrate compiler lit config to the internal shell (#24883)
  compiler/lit.cfg.py
Due: none

Deployed ce36167 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[CUDA] Preserve export names
  compiler/plugins/target/CUDA/CUDATarget.cpp
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/schemas/cuda_executable_def.fbs
Due: none

[Codegen] Verify compute ops after workgroup distribution
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Compiler] Rename the compiler's LLVM/MLIR symbols
  CMakeLists.txt
  build_tools/bazel/BUILD.bazel
  build_tools/bazel/abi_prefix.bzl
  build_tools/bazel/gen_rename_map.py
  build_tools/bazel/gen_rename_map_test.py
  build_tools/bazel/renamed_link.bzl
  build_tools/cmake/build_all.sh
  build_tools/cmake/iree_renamed_link.cmake
  compiler/CMakeLists.txt
  compiler/bindings/c/BUILD.bazel
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/developers/building/cmake-options.md
  lib/BUILD.bazel
  lib/exported_symbols_test.py
  lib/hide_iree_runtime_capi.ld
  lib/hide_iree_runtime_capi.macos.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[PluginAPI] Experimental support for dynamic compiler plugins
  build_tools/scripts/BUILD.bazel
  build_tools/scripts/gen_plugin_abi_hash.py
  build_tools/scripts/gen_plugin_abi_hash_test.py
  compiler/lit.cfg.py
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/Pipelines/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/PluginEntryPoint.h
  compiler/src/iree/compiler/PluginAPI/PluginManager.cpp
  compiler/src/iree/compiler/PluginAPI/PluginManager.h
  compiler/src/iree/compiler/PluginAPI/README.md
  compiler/src/iree/compiler/PluginAPI/test/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/abi_hash_mismatch.txt
  compiler/src/iree/compiler/PluginAPI/test/hidden_visibility.txt
  compiler/src/iree/compiler/PluginAPI/test/invalid_options.txt
  compiler/src/iree/compiler/PluginAPI/test/invalid_plugin.txt
  compiler/src/iree/compiler/PluginAPI/test/plugins/abi_hash_mismatch_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/plugins/hidden_visibility_plugin.cpp
  compiler/src/iree/compiler/PluginAPI/test/plugins/invalid_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/plugins/undefined_symbol_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/plugins/valid_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/plugins/version_mismatch_plugin.c
  compiler/src/iree/compiler/PluginAPI/test/undefined_symbol.txt
  compiler/src/iree/compiler/PluginAPI/test/valid_plugin.txt
  compiler/src/iree/compiler/PluginAPI/test/version_mismatch.txt
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  compiler/src/iree/compiler/Utils/BUILD.bazel
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Add job with dynamic plugins enabled
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang_dynamic_plugins.yml
  build_tools/github_actions/configure_ci.py
Due: none

[PluginAPI] Declare a dynamic plugin in the build
  build_tools/bazel/renamed_link.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_plugin_register.cmake
  compiler/src/iree/compiler/PluginAPI/test/BUILD.bazel
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/test/dynamic_plugin.cpp
  compiler/src/iree/compiler/PluginAPI/test/dynamic_plugin.txt
  compiler/src/iree/compiler/PluginAPI/test/plugin_with_deps.txt
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_helper.cpp
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_helper.h
  compiler/src/iree/compiler/PluginAPI/test/plugins/deps_plugin.cpp
  samples/compiler_plugins/example/BUILD.bazel
  samples/compiler_plugins/example/CMakeLists.txt
  samples/compiler_plugins/example/src/PluginRegistration.cpp
  samples/compiler_plugins/example/test/BUILD.bazel
  samples/compiler_plugins/example/test/CMakeLists.txt
  samples/compiler_plugins/example/test/duplicate_link.mlir
  samples/compiler_plugins/example/test/dynamic_link.mlir
  samples/compiler_plugins/example/test/static_link.mlir
  samples/lit.cfg.py
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[PluginAPI] Link the Bazel compiler shared
  compiler/src/iree/compiler/API/BUILD.bazel
  docs/website/docs/developers/building/bazel.md
  samples/compiler_plugins/example/test/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[Samples] Add an out-of-tree compiler plugin
  samples/compiler_plugins/iree_compiler_plugin.cmake
  samples/compiler_plugins/out_of_tree_example/BUILD.bazel
  samples/compiler_plugins/out_of_tree_example/CMakeLists.txt
  samples/compiler_plugins/out_of_tree_example/README.md
  samples/compiler_plugins/out_of_tree_example/src/PluginRegistration.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexDialect.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexDialect.h
  samples/compiler_plugins/out_of_tree_example/src/ootex/IR/OotexOps.td
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/AnnotateMarkedFunctions.cpp
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/Passes.h
  samples/compiler_plugins/out_of_tree_example/src/ootex/Transforms/Passes.td
  samples/compiler_plugins/out_of_tree_example/test/BUILD.bazel
  samples/compiler_plugins/out_of_tree_example/test/CMakeLists.txt
  samples/compiler_plugins/out_of_tree_example/test/annotate.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[PluginAPI] Build a plugin against an install tree
  .github/workflows/ci_linux_x64_clang_dynamic_plugins.yml
  build_tools/cmake/CMakeLists.txt
  build_tools/cmake/IREECompilerConfig.cmake.in
  build_tools/cmake/IREECompilerPluginRules.cmake
  build_tools/testing/plugin_from_install/CMakeLists.txt
  build_tools/testing/plugin_from_install/helper.cpp
  build_tools/testing/plugin_from_install/helper.h
  build_tools/testing/plugin_from_install/plugin.cpp
  build_tools/testing/test_plugin_from_install.sh
  compiler/src/iree/compiler/PluginAPI/CMakeLists.txt
  samples/compiler_plugins/out_of_tree_example/README.md
Due: bazel_to_cmake_2

[NFC] Correct two stale comments
  build_tools/bazel/iree.bazelrc
  compiler/src/iree/compiler/API/generate_exports.py
Due: none

[DispatchCreation] Add an option to block matmul producers from being fused in the same dispatch region
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/cpu_mmt4d_stack_overflow_guard.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ARM64] Add base bf16 mmt4d tiles for cores without the BF16 extension
  build_tools/linters/typos.toml
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_base.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_tiles.inl
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Due: none

fix(HoistEncoding): hoist entire chains of hoistable ops from set_encoding
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

[ukernel] Stop flushing bf16 subnormals in fp conversion
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_base.c
  runtime/src/iree/builtins/ukernel/common.h
Due: none

add linalg_ext.quantize_affine and linalg_ext.dequantize_affine
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_quantization.mlir
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ARM64] Add base bf16 mmt4d tiles for cores without the BF16 extension (#24900)
  build_tools/linters/typos.toml
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_base.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_tiles.inl
  runtime/src/iree/builtins/ukernel/common.h
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Due: none

publish_website: only publish from main, verify-only on release candidates
  .github/workflows/publish_website.yml
Due: none
