Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

try http 2
  .github/workflows/pkgci_test_torch.yml
Due: none

update tuning document and format the c test code
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/tuning_spec_c_api_test.c
  compiler/src/iree/compiler/Codegen/Common/MaterializeTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  docs/website/docs/reference/tuning.md
Due: none

[VM] Add sub-byte integer support to ArithToVM.
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/conversion_ops.mlir
Due: none

[VM] Add small float type support to VM conversion.
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
Due: none

[Codegen] Enable fp8/fp4 software emulation for all GPU targets
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add a flag to control software emulation
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VM] Add buffer ops for 8-bit and 16-bit floats in UtilToVM.
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
Due: none

Drop workaround
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: none

[Codegen] Switch narrow type emulation to use nonAtomic operations.
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: none

[Codegen] Add an option to enable fp8/fp4 software emulation for all GPU targets. (#23238)
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Change code convention to llvm::map_to_vector
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
Due: none

backup where we have both mnkshape and parallel dims
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

adding parallel and red dims
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

use gtest-based C API test
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/rocm_c_api_test.cc
  compiler/plugins/target/ROCM/test/tuning_spec_c_api_test.c
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  docs/website/docs/reference/tuning.md
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add Tmp Test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm_noalias_e2e.mlir
Due: none

Add Tmp Test 2
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm_noalias.mlir
Due: none

Review comment v1.0
  compiler/src/iree/compiler/Codegen/Common/InsertBatchDimForBatchlessConv.cpp
  compiler/src/iree/compiler/Codegen/Common/test/insert_batch_dim_for_batchless_conv.mlir
Due: none

[CPU] Enable linalg.conv generalization
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/vae_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_960_1024_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/vae_cpu.json
Due: none

update test suite
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
Due: none

[Codegen][GPU] Add multi-buffering support for gather_to_lds async copy mode (#23354)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint fix
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[Encoding] Add encoding_dims flow/stream conversion
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encodings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
  compiler/src/iree/compiler/DispatchCreation/ConvertEncodingToFlow.cpp
  compiler/src/iree/compiler/DispatchCreation/test/convert_encoding_to_flow.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add prefill and decoding test cases
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

Do not require mask for decoding case
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

Fix unit dims
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Add codeowner for compiler API and Pipelines directories (#23364)
  .github/CODEOWNERS
Due: none

Apply suggestions from code review
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

Trim iree_gpu.target
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
Due: none

address other comments
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
Due: none

Got too aggressive with the un-bazel-ing
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Templatized a lot of Gather/Scatter patterns/canonicalizations; Added common utilities wherever possible
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
Due: none

add one negative testcase
  compiler/plugins/target/ROCM/test/rocm_c_api_test.cc
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
