Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

fix e2e test errors
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  tests/e2e/tosa_ops/const.mlir
  tests/e2e/tosa_ops/gather.mlir
  tests/e2e/tosa_ops/matmul.mlir
  tests/e2e/tosa_ops/mul.mlir
  tests/e2e/tosa_ops/mul_shift.mlir
  tests/e2e/tosa_ops/pad.mlir
  tests/e2e/tosa_ops/reshape.mlir
  tests/e2e/tosa_ops/while.mlir
Due: none

fix ctest errors
  compiler/plugins/input/TOSA/InputConversion/test/apply_pdl_patterns_tosa.mlir
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/InputConversion/test/tosa.pdl.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa_spec.pdl.mlir
Due: none

use VectorTransformOptions to pick up default value
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
Due: none

[LLVMCPU] Set stack allocation limit as a HAL target property
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_target_device_attributes.mlir
Due: none

[fixup] clang-format issue
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
Due: none

[fixup] Register LIT test with Bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[fixup] unsigned -> int64_t
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.h
Due: none

[fixup] Run bazel_to_cmake conversion
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
Due: bazel_to_cmake_2

Address comments
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Utils/OptionUtils.cpp
  compiler/src/iree/compiler/Utils/OptionUtils.h
  compiler/src/iree/compiler/Utils/unittests/UtilsTest.cpp
Due: none

[fixup] use `PowerOf2ByteSize`
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.h
Due: none

make parallel dims non-unit
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

[fixup] add a negative LIT
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_target_device_attributes.mlir
Due: none

Revert "[fixup] add a negative LIT"
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_target_device_attributes.mlir
Due: none

mathtests
  CMakeLists.txt
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_genrule.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_genrule.cmake
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  runtime/src/iree/modules/check/module.cc
  tests/e2e/math/BUILD.bazel
  tests/e2e/math/CMakeLists.txt
  tests/e2e/math/generate.py
  tests/e2e/math/math_ops_llvm-cpu.json
  tests/e2e/math/math_ops_rocm.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Re-apply "[fixup] add a negative LIT"
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_target_device_attributes.mlir
Due: buildifier, bazel_to_cmake_1

[fixup] Run bazel_to_cmake
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
Due: bazel_to_cmake_2

[LLVMGPU][DT] Add MaterializeDeviceEncodingPass to LLVMGPU passes behind flag
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

address comments, remove ROCDL config changes
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: none

E2E tests for math ops. (#20169)
  CMakeLists.txt
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_genrule.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_genrule.cmake
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  runtime/src/iree/modules/check/module.cc
  tests/e2e/math/BUILD.bazel
  tests/e2e/math/CMakeLists.txt
  tests/e2e/math/generate.py
  tests/e2e/math/math_ops_llvm-cpu.json
  tests/e2e/math/math_ops_rocm.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

no-approx-on-rocm
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transform.mlir
Due: none

Deployed 1193f50 with MkDocs version: 1.6.1
  reference/mlir-dialects/Check/index.html
  search/search_index.json
Due: none

[GPU] Add support for conv padding when decomposing im2col (#20203)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

update-json
  tests/e2e/math/math_ops_llvm-cpu.json
  tests/e2e/math/math_ops_rocm.json
Due: none

[Codegen] Set full workgroup tile sizes to 0
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

Integrates/llvm 20250310: Bump to llvm/llvm-project@967ab7e (#20207)
  compiler/plugins/input/TOSA/InputConversion/test/apply_pdl_patterns_tosa.mlir
  compiler/plugins/input/TOSA/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/InputConversion/test/tosa.pdl.mlir
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransposeLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Dialect/HAL/Utils/LLVMLinkerUtils.cpp
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa_spec.pdl.mlir
  tests/e2e/tosa_ops/const.mlir
  tests/e2e/tosa_ops/gather.mlir
  tests/e2e/tosa_ops/matmul.mlir
  tests/e2e/tosa_ops/mul.mlir
  tests/e2e/tosa_ops/mul_shift.mlir
  tests/e2e/tosa_ops/pad.mlir
  tests/e2e/tosa_ops/reshape.mlir
  tests/e2e/tosa_ops/while.mlir
Due: none

[AMDGPU] Do not rewrite or approximate math functions on ROCm (#19970)
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/math_transform.mlir
  tests/e2e/math/math_ops_llvm-cpu.json
  tests/e2e/math/math_ops_rocm.json
Due: none

[Codegen] Set full workgroup tile sizes to 0 (#20159)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
Due: none

Rebase onto working compiler, update new pipeline tests
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
Due: none

Fix bazel issue, deal with an early bufferization that got introduced
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[fixup] Improve CheckIRBeforeConversion readability
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
Due: none

[fixup] move LIT to plugins/target
  compiler/plugins/target/LLVMCPU/test/BUILD.bazel
  compiler/plugins/target/LLVMCPU/test/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/test/hal_target_device_attributes.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fixing compile flags for sd3
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/clip_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/mmdit_rocm.json
Due: none

[fixup] Clean up CMake leftover
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
Due: bazel_to_cmake_2

[fixup] CMake fix
  compiler/plugins/target/LLVMCPU/test/CMakeLists.txt
Due: bazel_to_cmake_2
