Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Adding stream.async.parameter.* ops. (#22797)
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_parameter_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_parameter_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_parameter_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_parameter_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ReuseAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/e2e/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/e2e/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/e2e/async_parameters.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/ParamsToVM/Patterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/ParamsToVM/test/parameter_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GlobalOpt] Move conv propagation flag to pipeline options (#23079)
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

Move SinkTransposeThroughPad preprocessing pass to PropagateLinalgTranspose (#23080)
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/SinkTransposeThroughPad.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/sink_transpose_through_pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add ConvertSRefToMemRefPass (#22916)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConversionDialectInterface.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertSRefToMemRef.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_sref_to_memref.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Implement workgroup execution scope (#23052)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_sref_to_memref.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/lower_structural_pcf.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CodegenExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CodegenExternalModels.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Interfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Implement reshape propagation by expansion for inner_tiled (#23118)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[TensorExt] Improves `BitCastOfTensorCastStaticInfo` to handle constant dynamic dims (#23183)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_folding.mlir
  compiler/src/iree/compiler/Utils/ShapeUtils.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.h
Due: none

[Dispatch Creation] Add FoldReshapesIntoTensorBarriers to pass pipeline (#23222)
  compiler/src/iree/compiler/DispatchCreation/InsertTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/insert_tensor_barriers.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/transformation_pipeline.mlir
Due: none

Integrate torch-mlir@ac33bab4 (#23138)
  compiler/plugins/input/Torch/InputConversion/Passes.h
Due: none

[CI] Enable reverse iteration in UBsan workflow (#23178)
  .github/workflows/ci_linux_x64_clang_ubsan.yml
  build_tools/cmake/build_and_test_ubsan.sh
Due: none

Prefer `.contains()` and `.empty()`. NFC. (#23206)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/PropagateSubranges.cpp
  compiler/src/iree/compiler/Dialect/VM/Analysis/LinearScan/LiveIntervals.cpp
  compiler/src/iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Analysis/ValueLiveness.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/MaterializeRefDiscards.cpp
  compiler/src/iree/compiler/Dialect/VM/Utils/TypeTable.cpp
Due: none

[DispatchCreation] Fold extract_slice of broadcast during split reduction tiling (#23012)
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
Due: none

[Codegen][MXFP4] Adding SwizzleHintOp alloc flattening pass (#23083)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/flatten_swizzle_hint_allocs.mlir
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Reapply "LLVM Integrate@6cc18a8e4338 (#23226)" (#23236)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/IntegerDivisibilityAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/IntegerDivisibilityAnalysis.h
  compiler/src/iree/compiler/Dialect/Util/Analysis/Position.cpp
Due: none

Implement to-nearest-even for denormals (#23134)
  runtime/src/iree/base/internal/math.h
  runtime/src/iree/base/internal/math_test.cc
Due: none

[ReductionVectorDistribute] Avoid adding lowering configs on failure (#23228)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[SPIRV][Codegen] Refine consumer compatibility checks for SPIRVSubgroupReduce (#23176)
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
Due: none

[CI] Update iree-test-suite (#23135)
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_ops/torch_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

[Codegen] Extend small float emulation to support f4E2M1FN types. (#23151)
  compiler/src/iree/compiler/Codegen/Common/ConvertUnsupportedFloatArithPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_unsupported_float_arith.mlir
  tests/e2e/linalg/small_float_arith.mlir
Due: none

[Samples] Fix hal.executable.export syntax in custom dispatch samples. (#23154)
  samples/custom_dispatch/cuda/kernels/README.md
  samples/custom_dispatch/cuda/kernels/example.mlir
  samples/custom_dispatch/hip/kernels/example.mlir
Due: none

[docs] Add policy for AI tool use (#23188)
  docs/website/docs/developers/general/contributing.md
Due: none

[Codegen] Add pass to remove iree_codegen.index_hint ops (#23139)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/RemoveIndexHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/remove_index_hints.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add build flag to enable reverse iteration over llvm maps (#23161)
  CMakeLists.txt
Due: none

Fix test failures revealed by reverse iteration (nondeterminism) (#23162)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AutomaticReferenceCounting.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/HoistIntoGlobals.cpp
Due: none

[CI][Torch] Enable split reduction and O3 for llama_8b_fp16 gfx942 config (#23231)
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/modules/scheduler_gfx942.json
Due: none

LLVM Integrate@6cc18a8e4338 (#23226)
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Position.cpp
Due: none

[DispatchCreation] Include TensorExt ops in compute regions for barrier insertion (#23181)
  compiler/src/iree/compiler/DispatchCreation/InsertTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/test/insert_tensor_barriers.mlir
Due: none

Integrate llvm-project@ad947503831a [ours a60d6603fbf8] (#23130)
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Due: none

Adding iree-bazel-* wrapper tools for improved Bazel workflows. (#23123)
  .gitignore
  build_tools/bazel/build_test_all.sh
  build_tools/bazel/iree.bazelrc
  build_tools/bin/README.md
  build_tools/bin/iree-bazel-build
  build_tools/bin/iree-bazel-configure
  build_tools/bin/iree-bazel-fuzz
  build_tools/bin/iree-bazel-lib
  build_tools/bin/iree-bazel-query
  build_tools/bin/iree-bazel-run
  build_tools/bin/iree-bazel-test
  build_tools/bin/iree-bazel-try
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/MlirTransformHarness.h
  compiler/src/iree/compiler/Tools/MlirTransformHarnessDemo.cpp
  compiler/src/iree/compiler/Tools/MlirTransformHarnessDemo.mlir
  configure_bazel.py
  docs/website/docs/developers/building/bazel.md
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/gbenchmark_harness.h
  runtime/src/iree/testing/gbenchmark_harness_demo.cc
  runtime/src/iree/testing/gtest_harness.h
  runtime/src/iree/testing/gtest_harness_demo.cc
Due: buildifier, bazel_to_cmake_1

[Transforms] fix const member initializes for HoistIntoGlobalsPass (#23167)
  compiler/src/iree/compiler/Dialect/Util/Transforms/HoistIntoGlobals.cpp
Due: none

[LinalgExt] Add verifier check to disallow index_base in explicit-index mode (#23198)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Add initial clang-tidy configuration (#23203)
  CMakeLists.txt
  build_tools/cmake/iree_llvm.cmake
  compiler/.clang-tidy
  llvm-external-projects/iree-dialects/.clang-tidy
Due: none

Enforce braces in llvm-external-projects. NFC. (#23204)
  llvm-external-projects/iree-dialects/.clang-format
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/StructuredTransformOpsExt.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Transforms/TransformMatchers.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
  llvm-external-projects/iree-dialects/lib/Transforms/TransformMatchers.cpp
Due: none

Add static linkage to file-local functions and globals. NFC. (#23207)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[CPU] Fix nondeterminism in host cpu features (#23179)
  compiler/plugins/target/LLVMCPU/ResolveCPUAndCPUFeatures.cpp
Due: none

[Util] Fix `util.func` printer with untied result (#23187)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/test/structural_ops.mlir
Due: none

[CI] Update torch_ops config file and run tests when config files are modified (#23168)
  build_tools/github_actions/configure_ci.py
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1201_O3.json
Due: none
