Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Move LinalgExt::SortOp to LLVMGPUTileAndFuse pipeline (#20358)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

meeting coding standards
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

adding newline at the end of file
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_sort.mlir
Due: none

updating distribution verificaiton to skip for workgroup size 1
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
Due: none

[GPU] Add canonicalize and cse after im2col decomposition (#20414)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

adding pipeline test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding newline at the end of file
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
Due: none

dns bench
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/drivers/amdgpu/device/tracing.h
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.c
Due: none

Deployed e8032e3 with MkDocs version: 1.6.1
  reference/mlir-dialects/HAL/index.html
  reference/mlir-dialects/IOParameters/index.html
  reference/mlir-dialects/VMVX/index.html
  search/search_index.json
Due: none

fixing various issues
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_sort.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
Due: none

lint fix
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_sort.mlir
Due: none

Only include googletest if IREE_BUILD_TESTS
  CMakeLists.txt
Due: none

[Codegen] Allow folding collapse shape into partial store
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

Simplify
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

setup release callback for cuda buffers
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
Due: none

[LLVMGPU] Support linalg.pack through LLVMGPUTileAndFuse (#20312)
  compiler/src/iree/compiler/Codegen/Common/TileInferenceUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pack_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add HIP data-tiling resolver to e2e encoding.mlir tests. (#20416)
  tests/e2e/encoding/BUILD.bazel
  tests/e2e/encoding/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Pin the code object versio to 5 for IREE and its microkernels
  build_tools/bazel/iree_bitcode_library.bzl
  build_tools/cmake/iree_bitcode_library.cmake
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/ROCM/builtins/ukernel/compile_flags.txt
Due: buildifier

Missing comma
  build_tools/bazel/iree_bitcode_library.bzl
Due: buildifier

address comments
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[Codegen] Teach MaterializeEncodingIntoPadding about resolved layouts. (#20393)
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
Due: none

Introduce getL1CacheInfo method
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

[GPU] Move the padding cache config to cloneWithSimplifiedConfig.
  compiler/plugins/target/ROCM/test/gpu_encoding_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[GlobalOpt] Generalize named conv generalization
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/generalize_named_ops.mlir
Due: none

[GPU] Enable e2e matmul tests for padding approach.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Allow folding collapse shape into partial store (#20417)
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[DT][CodeGen] Use EncodingTypeInterface during the materialization.
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.h
Due: none

Add i8.i8.i32 to the test suites
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2
