Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

CR
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

[async] Clamp file read/write lengths to the platform transfer limit
  runtime/src/iree/async/cts/file/BUILD.bazel
  runtime/src/iree/async/cts/file/CMakeLists.txt
  runtime/src/iree/async/cts/file/file_test.cc
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/platform/iocp/proactor_submit.c
  runtime/src/iree/async/platform/posix/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix Linux task topology treating cluster_id as NUMA node.
  runtime/src/iree/task/topology_sysfs.c
Due: none

[DispatchCreation] Allow hoisting of set_encoding through generics with a transposed output map (#24800)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

[Docs][GitHub] Improve the automated PR greeting message
  build_tools/github_actions/github_automation.py
Due: none

[fixup] Formatting/rewording
  build_tools/github_actions/github_automation.py
Due: none

disable Vulkan default target
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/VulkanSPIRV/test/hal_target_device_attributes.mlir
  runtime/src/iree/hal/drivers/vulkan/cts/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/modules/check/test/BUILD.bazel
  runtime/src/iree/modules/check/test/CMakeLists.txt
  samples/simple_embedding/BUILD.bazel
  samples/simple_embedding/CMakeLists.txt
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/stablehlo/BUILD.bazel
  tests/e2e/regression/stablehlo/CMakeLists.txt
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tosa_ops/BUILD.bazel
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_vulkan.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Docs][GitHub] Improve the automated PR greeting message (#24819)
  build_tools/github_actions/github_automation.py
Due: none

Fix Python HAL device creation params only last one used (#24812)
  runtime/bindings/python/hal.cc
Due: none

[iree-benchmark-module] transfer outputs to host in case of enable_output_processing
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-benchmark-module-main.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Deduplicate required tie analysis
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
Due: none

[Runtime] Refactor sysfs testdata capture
  runtime/src/iree/task/testdata/sysfs/.gitignore
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.tar.gz
  runtime/src/iree/task/testdata/sysfs/capture_sysfs.sh
  runtime/src/iree/task/testdata/sysfs/synthetic_big_little.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket_no_siblings.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_fragmented_cpulist.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_invalid_package.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_memory_only_node.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_meteor_lake.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_raptor_lake.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_snc.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/x86_64_ryzen9_7950x.sysfs.txt
Due: none

[iree-benchmark-module] transfer outputs to host in case of enable_output_processing (#24821)
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-benchmark-module-main.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 8d489e2 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[local-task] Clamp file read/write lengths to the platform transfer limit (#24816)
  runtime/src/iree/async/cts/file/BUILD.bazel
  runtime/src/iree/async/cts/file/CMakeLists.txt
  runtime/src/iree/async/cts/file/file_test.cc
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/platform/iocp/proactor_submit.c
  runtime/src/iree/async/platform/posix/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Avoid caching custom tie policies
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/FlowOpsTest.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Format tie policy analysis
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
Due: none

[Flow] Remove stale tied-use cache invalidation
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/FlowOpsTest.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

address comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

Integrate LLVM to llvm/llvm-project@d37fa5a838db
  compiler/plugins/input/TOSA/InputConversion/Passes.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

[LLVMCPU] set inner-tile alignment hints on scalable pack ops (#24807)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_v_lowering_strategy.mlir
Due: none

Integrate LLVM to llvm/llvm-project@d37fa5a838db (#24825)
  compiler/plugins/input/TOSA/InputConversion/Passes.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

Deployed 9983d03 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable freestanding builds for IREE_PLATFORM_GENERIC
  build_tools/bazel/BUILD.bazel
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  runtime/src/iree/async/BUILD.bazel
  runtime/src/iree/async/CMakeLists.txt
  runtime/src/iree/async/proactor_platform.c
  runtime/src/iree/async/util/signal.c
  runtime/src/iree/async/util/signal.h
  runtime/src/iree/base/config.h
  runtime/src/iree/base/internal/csprng.c
  runtime/src/iree/base/threading/thread.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
Due: none

change comment
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
Due: none

[LLVMCPU] Make cpu_data feature field a compile-time constant (#24811)
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
Due: none

Fix inline execution models (initializer inlining and dispatch ABI)
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineDialect.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderDialect.cpp
  runtime/src/iree/modules/hal/loader/module.c
  runtime/src/iree/modules/hal/module.c
  tests/compiler_driver/BUILD.bazel
  tests/compiler_driver/CMakeLists.txt
  tests/compiler_driver/inline_dynamic_hal_executable.mlir
  tests/compiler_driver/inline_hal_mutable_global.mlir
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-run-module-inline-dynamic.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Runtime] Refactor sysfs testdata capture (#24823)
  runtime/src/iree/task/testdata/sysfs/.gitignore
  runtime/src/iree/task/testdata/sysfs/README.md
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/arm64_pixel6_tensor.tar.gz
  runtime/src/iree/task/testdata/sysfs/capture_sysfs.sh
  runtime/src/iree/task/testdata/sysfs/synthetic_big_little.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_dual_socket_no_siblings.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_fragmented_cpulist.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_invalid_package.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_memory_only_node.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_meteor_lake.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_raptor_lake.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/synthetic_snc.sysfs.txt
  runtime/src/iree/task/testdata/sysfs/x86_64_ryzen9_7950x.sysfs.txt
Due: none

Deployed 4aaf948 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[GlobalOpt][Flow][Quant] Fix segfault on unlowered quant.uniform types
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/VerifyInputLegality.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/verify_input_ir.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add TODO comments
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
Due: none

Fix inline HAL storage buffer leak on release
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/vm/buffer.c
  runtime/src/iree/vm/buffer.h
  runtime/src/iree/vm/buffer_test.cc
Due: none

Add CUDA attention decode smoke test
  tests/e2e/attention/CMakeLists.txt
Due: bazel_to_cmake_2

Document paged attention generator origin
  tests/e2e/attention/generate_e2e_paged_attention_tests.py
Due: none
