Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

fixes for https://github.com/llvm/llvm-project/pull/162924
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

Fixing Windows iree-tblgen test from #22603.
  tools/test/iree-tblgen-json.td
Due: none

[CI] Update clip benchmark (#22612)
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_cpu.json
Due: none

[Codegen][Tuner] Extend ireeGPUTargetInfo constructor with new added attributes (#22597)
  compiler/bindings/c/iree/compiler/dialects/iree_gpu.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/Internal/IREEGPUDialectCAPI.cpp
Due: none

[TensorExt] Add barrier ops and roundtrip tests 1/2 (#22577)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix bugs in CombineSplitKWorkgroup and add to pipeline
  compiler/src/iree/compiler/Codegen/Common/CombineSplitKWorkgroupLoop.cpp
  compiler/src/iree/compiler/Codegen/Common/FuseTensorToBufferConverters.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_splitk_workgroup_loop.mlir
Due: none

Deployed e21ef98 with MkDocs version: 1.6.1
  reference/mlir-dialects/TensorExt/index.html
  search/search_index.json
Due: none

[TensorExt] Add barrier ops and roundtrip tests
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

[DispatchCreation] Add tensor barrier passes
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FoldReshapesIntoTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/InsertTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/RemoveTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/fold_reshapes_into_tensor_barriers.mlir
  compiler/src/iree/compiler/DispatchCreation/test/insert_tensor_barriers.mlir
  compiler/src/iree/compiler/DispatchCreation/test/remove_tensor_barriers.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/transformation_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add invalid.mlir and remove dead code
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

Add builder methods
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

Remove reshape folding pass
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/FoldReshapesIntoTensorBarriers.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/fold_reshapes_into_tensor_barriers.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/transformation_pipeline.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Improving support for iree_codegen.extract_strided_metadata.
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_expand_strided_metadata.mlir
  samples/custom_dispatch/cpu/embedded/example_hal.mlir
  samples/custom_dispatch/cpu/embedded/example_stream.mlir
  samples/custom_dispatch/cpu/embedded/functions.c
  samples/custom_dispatch/cpu/mlp_plugin/mlp_spec.mlir
  samples/custom_dispatch/cpu/plugin/standalone_example.mlir
  samples/custom_dispatch/cpu/plugin/standalone_plugin.c
  samples/custom_dispatch/cpu/plugin/system_example.mlir
  samples/custom_dispatch/cpu/plugin/system_plugin.c
Due: none

Improving support for iree_codegen.extract_strided_metadata. (#22606)
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_expand_strided_metadata.mlir
  samples/custom_dispatch/cpu/embedded/example_hal.mlir
  samples/custom_dispatch/cpu/embedded/example_stream.mlir
  samples/custom_dispatch/cpu/embedded/functions.c
  samples/custom_dispatch/cpu/mlp_plugin/mlp_spec.mlir
  samples/custom_dispatch/cpu/plugin/standalone_example.mlir
  samples/custom_dispatch/cpu/plugin/standalone_plugin.c
  samples/custom_dispatch/cpu/plugin/system_example.mlir
  samples/custom_dispatch/cpu/plugin/system_plugin.c
Due: none

[StreamToHAL] Annotate unreachable dispatch variant switch defaults
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
Due: none

[LinalgExt] unmask improvements
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

[DT][SVE] adjust tile sizes for scalable unpack op
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

Fix bazel build failure
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Enable shared memory read stage and refine stage naming
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
Due: none

init commit
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  compiler/bindings/c/iree/compiler/embedding_api.h
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Integrates/llvm 2025-11-10 (part 2) (#22613)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

fix bazel
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding HAL virtual memory APIs. (#22437)
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
Due: none

[PJRT] Update rocm pjrt (#22317)
  .github/workflows/pkgci_test_pjrt.yml
  integrations/pjrt/python_packages/iree_rocm_plugin/setup.py
  integrations/pjrt/src/CMakeLists.txt
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/rocm/CMakeLists.txt
  integrations/pjrt/src/iree_pjrt/rocm/client.cc
  integrations/pjrt/src/iree_pjrt/rocm/client.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

[GPU] Revamp usage of GPUApplyPaddingLevel
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Interfaces/TensorMaskingOpInterface.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/TensorMaskingOpInterface.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: none

[GPU] Use padding in reduction config VectorDistribute
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
Due: none

Add test
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_conv.mlir
Due: none

add new punet tests + update compstat test
  tests/external/iree-test-suites/torch_models/sdxl/modules/punet_gfx942_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_benchmark_mi325_v2.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942.json
Due: none

Update split reduction cutoff conditions (#22596)
  compiler/src/iree/compiler/DispatchCreation/SetSplitReductionSizes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_split_reduction_sizes_conv.mlir
Due: none

[DispatchCreation] Enable split reduction by default
  compiler/src/iree/compiler/Pipelines/Options.h
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
