Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Spaces instead of tabs
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Trace local-task worker wake attribution
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/worker.c
Due: none

[Codegen] Use DMA for LHS/RHS only in scaled matmul
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Change to small test.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen] Update pipeline keyword after rebase
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

Fix clang-format
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

[Codegen] Enable DMA for scale operands in scaled matmul
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

[ResolveSwizzleHints] Handle reshape/subview as transparent users
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

Fix DMA dst indices to match gather_to_lds op contract
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

Fix DMA pre-check incorrectly upgrading scale operand copies
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
Due: none

[e2e] Fix MX DMA test to use static-only dynamicity
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Fix mi355 issue.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Simplify DMA alignment helpers and remove duplication
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
Due: none

[Codegen] Fix scale DMA alignment check to use Ko-element count
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[Codegen] Fix DMA for f8E8M0FNU scale operands in small matmuls
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[E2E] Add mxfp4 DMA e2e test for 128x128x256
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

update mlir lit test file.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

Simplify
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
Due: none

[Codegen] Use identity tiling for workgroup-aligned per-warp-sub-aligned scale DMA copies
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_scaled_matmul_dma.mlir
Due: none

[Codegen] Address review feedback on PR #23760
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

Vectorize linalg_ext.scan to vector.scan
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_configured.mlir
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_scan.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ci]Disable sharktank tests
  .github/workflows/pkgci.yml
Due: none

Define and expand iree_gpu.subgroup_scan
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/expand_gpu_ops_scan.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Make subgroup_scan exclusive
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/expand_gpu_ops_scan.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
Due: none

Support inclusive in subgroup_scan
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/expand_gpu_ops_scan.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/invalid.mlir
Due: none

[Codegen] Drop warp guard for single-subgroup DMA copies
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeForall.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/NormalizeLoopBounds.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Unify task warm-retention waits
  runtime/src/iree/base/threading/BUILD.bazel
  runtime/src/iree/base/threading/CMakeLists.txt
  runtime/src/iree/base/threading/wait_address.c
  runtime/src/iree/base/threading/wait_address.h
  runtime/src/iree/base/threading/wait_address_test.cc
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Support vector.scan in layout analysis
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/test/vector_layout_analysis.mlir
Due: none

Move scan vectorization tests
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_unmasked.mlir
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_scan.mlir
Due: none

Add pattern for transfer_read
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Add masked support
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Add support for transfer_write
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Bounds test
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

Tests
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none

Maybe drop this commit and rewrite manually
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

Revert "Maybe drop this commit and rewrite manually"
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

Use getMinorSubMap
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

outline getInnerInboundsAttr
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
Due: none

Use creatOrFoldDimOp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULegalizeNDVectors.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/legalize_nd_vectors.mlir
Due: none
