Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Pkgci] Update golden dispatch counts
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

[Codegen] Do not swap extract_slice and collapse_shape for a special case
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

hugepage
  runtime/src/iree/io/file_contents.c
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/io/formats/gguf/gguf_parser.c
  runtime/src/iree/io/formats/irpa/irpa_parser.c
  runtime/src/iree/io/formats/safetensors/safetensors_parser.c
Due: none

init commit
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
Due: none

[Pkgci] Update golden dispatch counts (#22869)
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/compstat_gfx942_data_tiling.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942.json
  tests/external/iree-test-suites/torch_models/sdxl/punet_compstat_gfx942_v2.json
Due: none

Apply pre-commit formatting changes.
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgExt.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/RewriteFft.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  tests/e2e/stablehlo_ops/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

address review comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

[bindings] Add `iree_tensor_ext` to python bindings
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/dialects/TensorExtBinding.td
  compiler/bindings/python/iree/compiler/dialects/iree_tensor_ext.py
  compiler/bindings/python/test/ir/dialects_test.py
Due: bazel_to_cmake_2

[DT][GPU] Redefine intrinsics M/N interleaving (#22812)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
Due: none

Add ComplexDialect to LinalgExt.
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed d2e92fa with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

Address comment
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

Move the check up
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

[bindings] Add `iree_tensor_ext` to python bindings (#22872)
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/dialects/TensorExtBinding.td
  compiler/bindings/python/iree/compiler/dialects/iree_tensor_ext.py
  compiler/bindings/python/test/ir/dialects_test.py
Due: bazel_to_cmake_2

[Dispatch Creation] Ignore unfusable consumer
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[DT][SVE] adjust tile sizes for mmt4d & disable transposition of narrow-N matmuls (#21701)
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DT][SVE] adjust tile sizes for scalable unpack op
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

address comments
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

[DT][CPU] adjust tile sizes and scalable flags for unpack op - data-tiling fusion
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
Due: none

[Encoding] Add resolver swizzle verification (#22867)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: none

[LLVMCPU] Add MaterializeTuningSpecsPass to codegen pipeline
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[LDS] Improve multiple transfers per lane.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Improve wording and rename interfaces to *Interface
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.cpp
Due: none

Adding a new test.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Do not swap extract_slice and collapse_shape for a special case (#22870)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
Due: none

rename SyncOnParent to SyncOnReturn
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFBase.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFTypes.cpp
Due: none

Missed a test
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/invalid.mlir
Due: none

[Codegen] Add PCF bufferization interfaces
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update according to comments.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
Due: none

Reduce the size of the constants in the stablehlo e2e FFT tests.
  tests/e2e/stablehlo_ops/fft_complex.mlir
Due: none

[LDS] Improve multiple transfers per lane (#22879)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update fuse and hoist.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/bufferize_coalesced_gather_dma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: none

Update op definition
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
Due: none
