Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Back out change to add `tileUingForall` pass option
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
Due: none

Fix asserts-off build
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
Due: none

Guard HIP macro against redefinition (#21061)
  runtime/src/iree/hal/drivers/hip/hip_headers.h
Due: none

Bump llvm to llvm/llvm-project@0a6463039da89914c7a0f99622fb7a0 (#21072)
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTileReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[VectorDistribution] Add support for distributing vector.constant_mask
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
Due: none

Pad + transfer_read folding
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  unaligned.mlir
Due: none

Update compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

GPUApplyPaddingLevel
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Avoid failing when padding fails to apply
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

Add pattern to fold WAR with masks and padding
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none

Cleanups and add test
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  unaligned.mlir
Due: none

Enable masking
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Drop spurious debug spew
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
Due: none

Remove padding cleanup pattern as they work with in_bounds not masking
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
Due: none

address reviewer comments and move the pattern to OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
Due: none

[build] Fix Bazel dependency in EncodingUtils for shared library builds
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update test
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Due: none

Update test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
Due: none

Fix trivial typos - thanks Max!
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: none

[build] Fix Bazel dependency in EncodingUtils for shared library builds (#21085)
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Enable hip e2e tests for map_scatter
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Enable hip e2e tests for map_scatter (#21079)
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding dummy AMDGPU channel/event. I still need to rip out events and change them to be something command buffer local.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/channel.c
  runtime/src/iree/hal/drivers/amdgpu/channel.h
  runtime/src/iree/hal/drivers/amdgpu/event.c
  runtime/src/iree/hal/drivers/amdgpu/event.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

More review comments, including a nice bit of code nicked from Linalg
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/DistributeInnerTiledToLanes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1

Adding dummy AMDGPU channel/event. (#21041)
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/channel.c
  runtime/src/iree/hal/drivers/amdgpu/channel.h
  runtime/src/iree/hal/drivers/amdgpu/event.c
  runtime/src/iree/hal/drivers/amdgpu/event.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding device-side signal/queue utils. The signal and queue headers are derived from the HSA spec, ROCR implementation, and LLVM device library/codegen.
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/support/mutex.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/signal.h
Due: bazel_to_cmake_2

Adding device-side AMDGPU signal/queue utils. (#21042)
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/support/mutex.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/signal.h
Due: bazel_to_cmake_2

Adding iree_hal_amdgpu_system_t to manage HSA/topology/pools. (#21043)
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding skeleton AMDGPU buffer handle and handle pool.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding skeleton AMDGPU allocator. This doesn't do anything but is enough to satisfy build requirements of future PRs.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/allocator.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Add simple vectorization for map_scatter
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/VectorizeIREELinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/vectorize_iree_linalg_ext_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] add TilingInterface support for ArgmaxOp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Split checking for distributability and getting worker count
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: buildifier, bazel_to_cmake_1

Adding _base variants of all string view int parsing and clean up hip options. (#21086)
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view.h
  runtime/src/iree/hal/drivers/hip/api.h
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/drivers/hip/registration/driver_module.c
Due: none

Review feedback that doesn't apply as a suggestion, one last call for bazeling
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
