Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[DispatchCreation] Skip Pad decomposition within dispatches. (#20373)
  compiler/src/iree/compiler/DispatchCreation/TensorPadToTensorInsertSlice.cpp
  compiler/src/iree/compiler/DispatchCreation/test/tensor_pad_to_tensor_insert_slice.mlir
Due: none

[Codegen] Allow folding collapse shape into partial store (#20417)
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

Only fuse gather-like producer for query operand of attention ops. (#19829)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Mark e2e testonly (#20370)
  tools/testing/e2e/BUILD.bazel
  tools/testing/e2e/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Allow pre-distributed multi_mma ops in distribution (#20407)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/DistributeMmaToLanes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_mma_to_lanes.mlir
Due: none

Mark tensorflow_hub_import.ipynb expected to pass. (#20356)
  samples/colab/test_notebooks.py
Due: none

[python] Do not conflate hip and amdgpu targets in iree.build (#20372)
  compiler/bindings/python/iree/build/target_machine.py
Due: none

Move sharktank and regression-test MI300 jobs to the ossci cluster. (#20359)
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_sharktank.yml
Due: none

[DispatchCreation] Convert top-level encoding ops to flow.tensor.encode. (#20300)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/ConvertEncodingToFlow.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/WrapEncodingOpInDispatchRegion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/convert_encoding_to_flow.mlir
  compiler/src/iree/compiler/DispatchCreation/test/wrap_encoding_op_in_dispatch_region.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "Integrate LLVM at 94783a8199c5e589d8efd6d4530482d72bf98f4d" (#20399)
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
Due: none

[Flow] Support dispatch tracing when encodings are present (#20447)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/inject_dispatch_tracing.mlir
Due: none

[Encoding] Introduce matmul_k encoding. (#20484)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingDialect.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
Due: none

[DataTiling] Add matmul_k option to SetEncoding pass. (#20529)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.h
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Due: none

[GPU] Add col_major optional attribute to MMAAttr (#19860)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/lower_multi_mma.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_mma_to_lanes.mlir
Due: none

Llama 8b f16 regression tests using random weights and inputs (#20487)
  .github/workflows/pkgci_test_sharktank.yml
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b_f16_decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/llama/8b_f16_prefill_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/llama/8b_f16_decode_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/llama/8b_f16_prefill_rocm.json
Due: none

[Encoding][NFC] Trim dependencies for Encoding dialect. (#20469)
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.h
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Preprocessing] Add op for matching dimension bounds (#20502)
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Properly set the upper bound of gpu.lane_id when rewriteForallToLanes. (#20513)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_distribute_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/distribute_lane_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

[tuner] expose python binding for getting the tuner root ops (#20438)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/CMakeLists.txt
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: bazel_to_cmake_2

Only include googletest if IREE_BUILD_TESTS (#20413)
  CMakeLists.txt
Due: none

[Encoding] Implement matmul_k encoding propagation across reshapes. (#20367)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/PropagateEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move LinalgExt::SortOp to LLVMGPUTileAndFuse pipeline (#20358) (#20411)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVerifyDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_verify_distribution.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_sort.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/sort_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Support `TRACY_MANUAL_LIFETIME=ON` (#20448)
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Utils/TracingUtils.h
  runtime/src/iree/base/tracing/tracy.cc
Due: none

[hip] Re-enable peering for compatible devices. (#20481)
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

Introduce IREE_USE_SYSTEM_DEPS (#20471)
  CMakeLists.txt
Due: none

[NFC][AMDGPU] Refactor getSingleSubgroupLayout() for MFMAs (#20561)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

Add e2e tests for gather (4/5) (#20465)
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/gather.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Tooling] Improve descriptions and warnings in command line tools for npy file inputs (#20433)
  runtime/src/iree/tooling/run_module.c
  tools/iree-benchmark-module-main.cc
Due: none

[Encoding] Remove padFactor in set encoding pass (#20532)
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Due: none

Teach PropagateDispatchSizeBounds about gpu.lane_id (#20456)
  compiler/src/iree/compiler/Codegen/Common/PropagateDispatchSizeBounds.cpp
  compiler/src/iree/compiler/Codegen/Common/test/propagate_dispatch_size_bounds.mlir
Due: none

Add tip about `TdrValue` to GPU debugging playbook (#20516)
  docs/website/docs/developers/debugging/gpu.md
Due: none

Integrate llvm-project@79487757b7 (#20434)
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Due: none

Integrate llvm-project@bafa2f4442bc (#20492)
  compiler/plugins/target/LLVMCPU/LibraryBuilder.cpp
  compiler/plugins/target/LLVMCPU/internal/WindowsLinkerTool.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/CombineInitializers.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
Due: none

[Encoding][NFC] Use assemblyFormat for testing encodings. (#20520)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
Due: none

[GlobalOpt] Generalize 1x1 group convolutions (#20480)
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/generalize_named_ops.mlir
Due: none

[LinalgExt] Add gather operation (1/5) (#20460)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
