Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

address review comments v2
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN.mlir
Due: none

Add test for comment
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/lower_structural_pcf.mlir
Due: none

Add Unicode utilities for text processing (tokenization, normalization, matching). (#23054)
  build_tools/scripts/unicode_tables_gen.py
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/unicode.c
  runtime/src/iree/base/internal/unicode.h
  runtime/src/iree/base/internal/unicode_tables.c
  runtime/src/iree/base/internal/unicode_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding zero-copy JSON parsing utilities.
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
  runtime/src/iree/io/formats/safetensors/BUILD.bazel
  runtime/src/iree/io/formats/safetensors/CMakeLists.txt
  runtime/src/iree/io/formats/safetensors/safetensors_parser.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
Due: none

add step to lane_increment
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
Due: none

Adding JSONL (JSON Lines) support to json utilities.
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
Due: none

Adding JSONC support and robustness improvements to JSON parser.
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
Due: none

Add zero-copy JSON/JSONC/JSONL parsing utilities. (#23057)
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/json.c
  runtime/src/iree/base/internal/json.h
  runtime/src/iree/base/internal/json_test.cc
  runtime/src/iree/io/formats/safetensors/BUILD.bazel
  runtime/src/iree/io/formats/safetensors/CMakeLists.txt
  runtime/src/iree/io/formats/safetensors/safetensors_parser.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Fix map_scatter verifier (#22994)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
Due: none

[Flow][Stream] Fix assertions in build function
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
Due: none

[GPU] Fix data-tiling materialization for matvec/vecmat ops. (#23049)
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Refactor methods that can be shared to Utils.h/cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Implement tiling interface for map_gather
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

Review comments v1.0
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Due: none

[Stream] Update executables in UnifyEncodingForGlobals pass.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

[Codegen] Add index_hint op and lane hint attributes for GPU optimization (#23037)
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
Due: none

Deployed 2741520 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

[Encoding] Add dynamic encoding dims to (Un)SetEncodingOp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

[ROCM][DT] Add mxfp4 pingpong ukernel (#22981)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/test/apply_builtin_ukernel_pdl_patterns_driver.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/iree_uk_amdgpu_dt_scaled_matmul_f4E2M1FN.mlir
  compiler/plugins/target/ROCM/builtins/mlir_ukernel/ukernel_patterns_gfx950.mlir
  compiler/plugins/target/ROCM/builtins/specialization/specialization_patterns_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

init commit
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/ApplyBuiltinPDLPatterns.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Extend gather fusion to allow transpose producers
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.h
Due: none

[NFC][PCF] Drop clear method from fusion struct
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FuseConsumers.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
Due: none

backup prior to cleanup
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Align build_riscv.sh with build_all.sh (#23047)
  build_tools/cmake/build_riscv.sh
Due: none

Windows DLL colocation fix
  compiler/bindings/python/CMakeLists.txt
Due: bazel_to_cmake_2

Resolve circular dependency
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.h
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/Utils.h
Due: none

mi35x -> mi355x
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_amd_mi355x.yml
Due: none

[ci] Add CI for MI35x machines
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_amd_mi35x.yml
Due: none

Fix name
  .github/workflows/pkgci_test_amd_mi355x.yml
Due: none

backup
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: none

backup
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[GPU] C promote (I)GEMM when there is elementwise with additonal operands
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

removing failing tests temporarily
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

migrating to TW mi355 runner
  .github/workflows/pkgci_test_amd_mi355x.yml
Due: none
