Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Add file async I/O infrastructure: hal/file API, fd_file proactor, io_uring ring_enable.
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/uring.c
  runtime/src/iree/async/platform/io_uring/uring.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/file.c
  runtime/src/iree/hal/file.h
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/fd_file.c
  runtime/src/iree/hal/utils/fd_file.h
  runtime/src/iree/hal/utils/file_registry.c
  runtime/src/iree/hal/utils/file_registry.h
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/hal/utils/memory_file.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add constraintop to smt conversion
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
Due: none

Add lowering pass
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
Due: none

Add cpp to cmake
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
Due: bazel_to_cmake_2

Run clang format
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
Due: none

Improve fn
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
Due: none

Add test and change func type
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_constraints_to_smt.mlir
Due: bazel_to_cmake_2

Fix cmake
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMTpass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_constraints_to_smt.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DMA] Fix DMA `tensor.empty` tracing through swizzle promotion ops (#23799)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
Due: none

[Codegen][nfc] Restructure and improve the vectorization tests. (#23798)
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_fold_cast.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_map_store.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_configured.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_inferred.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_unmasked.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Replace raw io_uring setup_flags with threading_mode enum.
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/uring.c
  runtime/src/iree/async/platform/io_uring/uring.h
  runtime/src/iree/async/proactor.h
  runtime/src/iree/async/util/proactor_pool.c
Due: none

Fix flaky CTS tests: replace timing-based poll loops with PollUntilCondition.
  runtime/src/iree/async/cts/event/event_source_posix_test.cc
  runtime/src/iree/async/cts/sync/relay_test.cc
  runtime/src/iree/async/cts/util/test_base.h
Due: none

Integrate llvm-project@9d3d0d7bb692 (#23796)
  compiler/src/iree/compiler/Codegen/Common/test/decompose_conv2d.mlir
Due: none

[Codegen] Use `ub::m_Poison` matchers. NFC.
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
Due: none

[Codegen] Use `ub::m_Poison` matchers. NFC. (#23802)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
Due: none

Rename file
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add doc
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
Due: none

Use llvm:Twine
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
Due: none

Add comments
  compiler/src/iree/compiler/Codegen/Common/ConvertConstraintsToSMT.cpp
Due: none

Deployed d7f5aba with MkDocs version: 1.6.1
  reference/bindings/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

[Codegen] Fix ArgCompare vectorization
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_inferred.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: none

format the test
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_masked_inferred.mlir
Due: none

use inferSizesFromIR on the input operand
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
Due: none

Rewrite task queue as persistent budget-1 process with MPSC ready list.
  runtime/src/iree/hal/cts/queue/queue_host_call_test.cc
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/local_task/task_queue_state.c
  runtime/src/iree/hal/drivers/local_task/task_queue_state.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add iree_task_process_t: universal work unit for cooperative task scheduler.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/README.md
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add native queue alloca/dealloca with transient buffer and CTS tests.
  runtime/src/iree/hal/cts/queue/BUILD.bazel
  runtime/src/iree/hal/cts/queue/CMakeLists.txt
  runtime/src/iree/hal/cts/queue/queue_alloca_test.cc
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/local_task/transient_buffer.c
  runtime/src/iree/hal/drivers/local_task/transient_buffer.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Guard worker deinitialize against never-initialized workers.
  runtime/src/iree/task/worker.c
Due: none

Add block command buffer recording with direct fixup mapping and alignment fixes.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_builder.c
  runtime/src/iree/hal/drivers/local_task/block_builder.h
  runtime/src/iree/hal/drivers/local_task/block_builder_test.cc
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_isa_test.cc
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add executor benchmark, is_active optimization, and Dekker ordering fix.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_benchmark.cc
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add block-ISA command buffer: builder, processor, and ISA type definitions.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_builder.c
  runtime/src/iree/hal/drivers/local_task/block_builder.h
  runtime/src/iree/hal/drivers/local_task/block_builder_test.cc
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_isa.h
  runtime/src/iree/hal/drivers/local_task/block_isa_test.cc
  runtime/src/iree/hal/drivers/local_task/block_processor.c
  runtime/src/iree/hal/drivers/local_task/block_processor.h
  runtime/src/iree/hal/drivers/local_task/block_processor_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Eliminate cpu_set_t from sysfs sharing mask path (fixes >1024-CPU overflow).
  runtime/src/iree/task/topology_sysfs.c
Due: none

Widen task affinity sets from 64-bit to multi-word struct (256 workers).
  runtime/src/iree/task/affinity_set.h
  runtime/src/iree/task/api.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_benchmark.cc
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_test.cc
  runtime/src/iree/task/topology.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_emscripten.c
  runtime/src/iree/task/topology_fallback.c
  runtime/src/iree/task/topology_sysfs.c
  runtime/src/iree/task/topology_win32.c
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/task/worker.h
Due: none

Add compute slots and clean up process drain API.
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_process_test.cc
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/task/worker.h
Due: none

Add compute slot overflow list to prevent silent process drops.
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
Due: none

Add executor process scheduling: immediate list, worker drain loop, Dekker sleeping protocol.
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_process_test.cc
  runtime/src/iree/task/process.c
  runtime/src/iree/task/process.h
  runtime/src/iree/task/process_test.cc
  runtime/src/iree/task/worker.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add block command buffer issue path with process-based cooperative draining.
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/block_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/block_command_buffer_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix worker parallelism: keep workers active during recording, stop spinning on CLOSED.
  runtime/src/iree/hal/drivers/local_task/task_queue.c
Due: none

Fix TSAN data race: propagate worker_index through block processor dispatch.
  runtime/src/iree/hal/drivers/local_task/block_processor.c
Due: none
