Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[Codegen] Add reshape map_scatter folding to BlockDynamicDimensions (#21047)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

Add default option to only do loop fission for unit trip loops
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
  compiler/src/iree/compiler/Codegen/Transforms/RemoveSingleIterationLoop.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

addres reviwer comments
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
Due: none

add comment
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
Due: none

remove canonicalizer from the new run command
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
Due: none

Add default option to only do loop fission for unit trip loops (#21069)
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
  compiler/src/iree/compiler/Codegen/Transforms/RemoveSingleIterationLoop.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

Deployed ca25934 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

Guard HIP macro against redefinition
  runtime/src/iree/hal/drivers/hip/hip_headers.h
Due: none

Update mergeResult.replacement -> replacement
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTileReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[GPU] Add rematerialize parallel ops in the vector distribute pipeline
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/rematerialize_parallel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Enable test for riscv64 mmt4d ukernel, for types f32xf32->f32, using tiles {M0,N0,K0} = {1,32,1} to {7,32,1}
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
  runtime/src/iree/builtins/ukernel/tools/util.c
  runtime/src/iree/schemas/cpu_feature_bits.inl
Due: none

Enable VLEN-based tile size selection and universal VLEN support (128b-65536b) for mmt4d ukernel (f32xf32->f32) for riscv_64 target
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_base.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
Due: none

Use tile size = {7, 16, 1}, for riscv_64 mmt4d ukernel tests and benchmarks
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Due: none

Enable lowering of linalg.matmul to linalg.mmt4d and mmt4d ukernel for riscv_64 target
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  runtime/src/iree/builtins/ukernel/BUILD.bazel
  runtime/src/iree/builtins/ukernel/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/config_riscv_64.h.in
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_base.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Disable mmt4d as default ukernel for riscv64
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

Apply pre-commit hooks to runtime/src/iree/builtins/ukernel/arch/riscv_64/
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update copyright year to 2025 in source files
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_base.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
Due: none

Add commnets and rename getRVVVlenFromCPUFeatures to getRISCVVVlenFromCPUFeatures for clarity
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

Move <riscv_vector.h> header include from common_riscv_64.h to mmt4d_riscv_64_v.c to prevent compilation error while using clang-18
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_v.c
Due: bazel_to_cmake_2

Add vectorized mmt4d ukernel implementation for riscv64 target, for types f32xf32->f32, using tile Size {M0,N0,K0} = {1,32,1} to {7,32,1}
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_base.c
Due: none

Enable compilation of riscv_64 ukernels using system toolchains, add riscv_64 matmul ukernel tile size querying function, and use suffix 'v' for V extension ukernels
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/config_riscv_64.h.in
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_v.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/pack_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/pack_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/unpack_riscv_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/unpack_riscv_64_internal.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update CMake and Bazel files for riscv_64 ukernels and enable v feature while compiling files that include <riscv_vector.h> header
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add comments and format
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  runtime/src/iree/builtins/ukernel/arch/riscv_64/pack_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/query_tile_sizes_riscv_64_entry_point.c
Due: none

Fixed Copyright message
  runtime/src/iree/builtins/ukernel/arch/riscv_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/riscv_64/common_riscv_64.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/config_riscv_64.h.in
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_base.c
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/riscv_64/mmt4d_riscv_64_tiles.inl
Due: buildifier, bazel_to_cmake_1

[runtime] Add riscv pause instruction for spinning
  runtime/src/iree/base/internal/synchronization.c
Due: none

Add comments to the function
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/rematerialize_parallel_ops.mlir
Due: none

[LLVMGPU] Add relayout combination behind a flag
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_relayout_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Bump version to 3.6.0 after 3.5.0 release.
  compiler/version.json
  runtime/version.json
Due: none

[GPU] Add rematerialize parallel ops in the vector distribute pipeline (#21073)
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/rematerialize_parallel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Add sceduling barrier when prefetching
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
Due: none

Bump version to 3.6.0 after 3.5.0 release. (#21078)
  compiler/version.json
  runtime/version.json
Due: none

Implement PartitionableLoopsInterface for tensor.concat
  compiler/src/iree/compiler/Codegen/Common/test/test_partitionable_loops_interface.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
Due: none

Handle bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply suggestions from code review
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Further doc updates
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
