Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[CodeGen] Fix a MemoryEffectsOpInterface bug in FuseConsumerOp.
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/fuse_consumer.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CodeGen] Fix a MemoryEffectsOpInterface bug in FuseConsumerOp. (#20869)
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/test/fuse_consumer.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Loosen test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_warp_reduction.mlir
Due: none

[GPU] Vector distribution support for multiple stores (#20816)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[Encoding][NFC] Move Encoding Utils out from IR definition.
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ElementPackingUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

add visibility
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

fix bazel dep
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Encoding][NFC] Move Encoding Utils out from IR definition. (#20871)
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ElementPackingUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[AMDGPU] Rewrite some gpu.shuffle xor to ds_swizzle, per upstream (#20868)
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_warp_reduction.mlir
Due: none

Update llvm-project
  compiler/src/iree/compiler/Codegen/Common/FoldTensorSubsetIntoVectorTransferOps.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
Due: none

Fix more stuff
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertMeshToFlow.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/SmallVectorDenseMapInfo.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Support multiple forall ops in ReconcileTranslationInfo (#20848)
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize.mlir
Due: none

[Codegen] ukernel support for argmax bf16 (#20768)
  compiler/plugins/target/ROCM/builtins/ukernel/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/ukernel/iree_uk_amdgpu_argmax_bf16i32.c
  compiler/plugins/target/ROCM/builtins/ukernel/iree_uk_amdgpu_argmax_bf16i64.c
  compiler/plugins/target/ROCM/builtins/ukernel/iree_uk_amdgpu_argmax_f32i32.c
  compiler/plugins/target/ROCM/builtins/ukernel/iree_uk_amdgpu_argmax_f32i64.c
  compiler/plugins/target/ROCM/builtins/ukernel/test/argmax_linking.mlir
  compiler/plugins/target/ROCM/test/ukernel_pipeline_transform.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_ukernels.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorExt] Fix illegal transfer_read during gather vectorization
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
Due: none

[VectorExt] Fix illegal transfer_read during gather vectorization (#20876)
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
Due: none

[LinalgExt] Canonicalize gather to an extract_slice
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

Align iree_hal_sync_device_t allocation to 16 bytes. (#20773)
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
Due: none

[NFC][Codegen] Rename early bufferization op operands
  compiler/src/iree/compiler/Codegen/Common/BufferizeDispatchTensorLoadStore.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Use preincrement
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Due: none

[LinalgExt] Canonicalize gather to an extract_slice (#20878)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

[NFC][Codegen] Rename early bufferization op operands (#20874)
  compiler/src/iree/compiler/Codegen/Common/BufferizeDispatchTensorLoadStore.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

Adding `#hal.device.optimal<...>` attr.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/attributes.mlir
Due: none

Deployed 9789fe6 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

Adding `hal.allocator.select` op and `MemoizeDeviceSelectionPass`. I don't like having the two ops but they're an implementation detail that can be fixed in the future without changes above/below.
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points_coarse_fences.mlir
  compiler/src/iree/compiler/Dialect/HAL/Analysis/Attributes/DeviceTargetPVS.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceSelection.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/memoize_device_selection.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/Patterns.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add patterns to fold reshapes into load_from_memref/store_to_memref
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/canonicalize_early_bufferization_ops.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Preprocessing] Add SinkReshapesPass in MakeSingleDispatchPassPipeline
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

Moving pattern to ExpandGPUOpsPass
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Adding option to specify rocdl target
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Fixing implementation issue
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

Defer expansion of subgroup reduce in VectorDistribute pipeline.
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

Replacing option with function to check backend target
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Adding GPUToAMDGPU Pass to LLVMGPU pipeline
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Adding tests to check production of subgroup reduce
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

PR review round 1
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

Making better use of the expandSubgroupReduce flag to avoid SPIRV problems
  compiler/src/iree/compiler/Codegen/Common/GPU/test/vector_reduction_to_gpu.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_warp_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_softmax_rocm.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
