Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Document pattern
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Fix lambda capture
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Update tests
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: none

Fallback for dynamic strides and offset
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

[Encoding] Propagate (Un)SetEncodingOp with dynamic encoding dims
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingTypes.h
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/PropagateEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Revert "[LinalgExt] Generalize ArgCompareOp in GPUGeneralizeNamedOpsPass" (#23074)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGeneralizeNamedOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_generalize_named_ops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/GeneralizeLinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
Due: none

Deployed 9d1b596 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommonGPU/index.html
  search/search_index.json
Due: none

Reapply "[GPU][Codegen] Expand iteration space based on new `expand_dims` attribute
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUExpandDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_expand_dimensions.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Utils/EncodingUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding direct to lds support for pipelining
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

[DispatchCreation] Extend gather fusion to allow transpose producers (#23063)
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
Due: none

linting.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
Due: none

backup
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

removing comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

remove unnecessary changes to config util
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Add async copy mode pipelining for amdgpu.gather_to_lds
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPrefetching.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

adding comment to folding patterns
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

tmp
  beforeprefetch.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/ROCDLPrefetchSharedMemoryCopy.cpp
Due: none

[Preprocessing] Convert conv2d filter layout CFHW to FHWC (#23066)
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv_filter_to_channels_last.mlir
Due: none

[Global Opt] Move conv propagation flag to pipeline options
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
Due: none

updating comments and adding flatness verifier
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

fixing lint issues
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: none

add new pass to flatten allocs right before resolution
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

updating test dimension to trigger test
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Changing swizzle hint op to not require flat allocs at tensor level
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding folding patterns
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Add pass to lower vector loads to amdgpu.transpose_load
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_load_to_transpose_load.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move SinkTransposeThroughPad preprocessing pass to PropagateLinalgTranspose
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/SinkTransposeThroughPad.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/sink_transpose_through_pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding tests
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/flatten_swizzle_hint_allocs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding folding patterns
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding tests for folding patterns
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding tests
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding another test
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

lint fix
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
Due: none

lint fix
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[Stream] Update executables in UnifyEncodingForGlobals pass. (#23059)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Utils.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
