Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

sync table gen option with command line option
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
Due: none

[tokenizer] Return RESOURCE_EXHAUSTED when feed's output buffer is full
  runtime/src/iree/tokenizer/tokenizer.c
  runtime/src/iree/tokenizer/tokenizer_encode_test.cc
Due: none

Add Guard for CI/CD Test
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
Due: none

Address PR feedback
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerAsyncDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_async_dma.mlir
Due: none

add occupancy guard
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Reapply "[Codegen] Enable DMA by default for F16/BF16 Gemm on gfx950 (#24373)" (#24395)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: none

address review comments
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Address PR feedback
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorTileSizes.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_vector_tile_sizes.mlir
Due: none

Use row predicate for masked attention finalization
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/TileAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_online_attention.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: none

[Codegen][CPU] Fix DataTiledMMAAttr::getUndistributedTileTypes to honor swizzle permutation.
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

Squash commits and rebase
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Common/InsertSMTConstraints.cpp
  compiler/src/iree/compiler/Codegen/Common/SMTConstraintUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/SMTConstraintUtils.h
  compiler/src/iree/compiler/Codegen/Common/VerifyPipelineConstraints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/insert_smt_constraints.mlir
  compiler/src/iree/compiler/Codegen/Common/test/verify_smt_constraints_e2e.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConstraintGenerator.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_llvm_gpu_constraints.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address nit
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerAsyncDMA.cpp
Due: none

Keep masked online attention finalization fused
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/TileAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_online_attention.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: none

Add autoload and missing load for bazel 9 support
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel/cc_binary_benchmark.bzl
  build_tools/bazel/enforce_glob.bzl
  build_tools/bazel/iree_cc_fuzz.bzl
  build_tools/bazel/iree_flatcc.bzl
  build_tools/embed_data/BUILD.bazel
  build_tools/embed_data/build_defs.bzl
  build_tools/third_party/cuda/BUILD.template
  build_tools/third_party/flatcc/BUILD.overlay
  build_tools/third_party/hip-api-headers/BUILD.overlay
  build_tools/third_party/hsa-runtime-headers/BUILD.overlay
  build_tools/third_party/nccl/BUILD.overlay
  build_tools/third_party/pybind11/BUILD.overlay
  build_tools/third_party/rccl/BUILD.overlay
  build_tools/third_party/spirv_cross/BUILD.overlay
  build_tools/third_party/tracy_client/BUILD.overlay
  build_tools/third_party/vulkan_headers/BUILD.overlay
  build_tools/third_party/webgpu-headers/BUILD.overlay
  compiler/bindings/c/BUILD.bazel
  compiler/plugins/plugins.bzl
  compiler/src/BUILD.bazel
  llvm-external-projects/iree-dialects/BUILD.bazel
  samples/compiler_plugins/example/BUILD.bazel
  tests/e2e/convolution/BUILD.bazel
  tests/e2e/matmul/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

defs.bzl everywhere
  build_tools/bazel/cc_binary_benchmark.bzl
  build_tools/bazel/iree_cc_fuzz.bzl
  tools/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

Proper llvm-external-projects glob handling
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier

Remove non existing tests
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier

Revert "Proper llvm-external-projects glob handling"
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier

Only remove input tds
  llvm-external-projects/iree-dialects/BUILD.bazel
Due: buildifier

Fix tokenizer postprocessor pending bound
  runtime/src/iree/tokenizer/tokenizer.c
Due: none

Fix file contents temp path test
  runtime/src/iree/io/file_contents_test.cc
Due: none

Fix main CI build breaks
  runtime/src/iree/io/file_contents_test.cc
  runtime/src/iree/tokenizer/tokenizer.c
Due: none

drop benchmarks
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_rdna3_O3.json
Due: none

handle gather_to_lds
  compiler/src/iree/compiler/Codegen/Common/ReinsertSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reinsert_swizzle_hints.mlir
Due: none

[Codegen][DMA] Push DMA in_bounds onto consumer LDS via masked pad
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUInferMemorySpace.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPushDownDMABoundsToConsumers.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_pushdown_dma_bounds_to_consumers.mlir
  compiler/src/iree/compiler/Codegen/Common/ReinsertSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reinsert_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][DMA] Pad DMA source buffer descriptor with validBytes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUBubbleResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPushDownDMABoundsToConsumers.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_pushdown_dma_bounds_to_consumers.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_dma_unaligned.mlir
  tests/e2e/rocm_specific/matmul_unaligned_innermost_dma.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][CPU] Attach swizzle to inner_tiled encoder info.
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_x86_64.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

Update pass ordering
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

[Torch][LinalgExt] Address flex_attention mask reviews
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/test/unstructured_linalg_ext.mlir
Due: none

Refactor scan distribution and share helpers
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Addres nit
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Update subgroup_scan helper in distribution
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
Due: none

Address PR feedback
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_scan.mlir
Due: none

Distribute vector.scan across threads (intra-workgroup)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_scan.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][DMA] Move DWORD-pad validBytes derivation into bufferization
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUBubbleResourceCasts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUConvertToCoalescedDMA.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPushDownDMABoundsToConsumers.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_convert_to_coalesced_dma.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_pushdown_dma_bounds_to_consumers.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_dma_unaligned.mlir
Due: none
