Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[GPU] Handle transient private values in control-flow when prefetching
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Adding the AMDGPU HAL driver factory and options. This is just routing options that come from the API header and does not yet create or manage devices.
  runtime/src/iree/hal/drivers/amdgpu/driver.c
  runtime/src/iree/hal/drivers/amdgpu/driver.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.h
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
Due: none

Adding AMDGPU HAL driver registration and public API header.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/README.md
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/registration/driver_module.c
  runtime/src/iree/hal/drivers/amdgpu/registration/driver_module.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding build boilerplate for IREE_HAL_DRIVER_AMDGPU.
  .github/CODEOWNERS
  CMakeLists.txt
  build_tools/cmake/iree_llvm.cmake
  docs/website/docs/guides/deployment-configurations/index.md
  runtime/src/iree/hal/drivers/BUILD.bazel
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/init.c
  runtime/src/iree/hal/local/executable_library_benchmark.md
  tools/build_config_template.txt.in
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding AMDGPU topology utility.
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/affinity.h
  runtime/src/iree/hal/drivers/amdgpu/util/topology.c
  runtime/src/iree/hal/drivers/amdgpu/util/topology.h
  runtime/src/iree/hal/drivers/amdgpu/util/topology_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding libhsa (ROCR-Runtime) loader and shim.
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/kfd.c
  runtime/src/iree/hal/drivers/amdgpu/util/kfd.h
  runtime/src/iree/hal/drivers/amdgpu/util/kfd_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa.c
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa.h
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_tables.h
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding bitmap data structure.
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap.c
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap.h
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap_test.cc
Due: none

Adding block pool.
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.c
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.h
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
Due: none

Adding virtual memory utilities and ringbuffer.
  runtime/src/iree/hal/drivers/amdgpu/util/vmem.c
  runtime/src/iree/hal/drivers/amdgpu/util/vmem.h
  runtime/src/iree/hal/drivers/amdgpu/util/vmem_test.cc
Due: none

Adding dummy AMDGPU device library. This contains headers shared with the host runtime such that it can build but does not implement any logic.
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_amdgpu_binary.cmake
  runtime/src/iree/hal/drivers/amdgpu/device/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/dummy.c
  runtime/src/iree/hal/drivers/amdgpu/device/kernel_tables.h
  runtime/src/iree/hal/drivers/amdgpu/device/kernels.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/kernel_args.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library.c
  runtime/src/iree/hal/drivers/amdgpu/util/device_library.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding libhsa (ROCR-Runtime) loader and shim. (#20993)
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/kfd.c
  runtime/src/iree/hal/drivers/amdgpu/util/kfd.h
  runtime/src/iree/hal/drivers/amdgpu/util/kfd_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa.c
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa.h
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_tables.h
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding bitmap data structure. (#20996)
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap.c
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap.h
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap_test.cc
Due: none

Adding `iree_hal_amdgpu_block_pool_t`. (#20998)
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.c
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.h
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
Due: none

Adding dummy AMDGPU device library. (#20999)
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_amdgpu_binary.cmake
  runtime/src/iree/hal/drivers/amdgpu/device/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/dummy.c
  runtime/src/iree/hal/drivers/amdgpu/device/kernel_tables.h
  runtime/src/iree/hal/drivers/amdgpu/device/kernels.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/kernel_args.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library.c
  runtime/src/iree/hal/drivers/amdgpu/util/device_library.h
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding virtual memory utilities and iree_hal_amdgpu_vmem_ringbuffer_t. (#20995)
  runtime/src/iree/hal/drivers/amdgpu/util/vmem.c
  runtime/src/iree/hal/drivers/amdgpu/util/vmem.h
  runtime/src/iree/hal/drivers/amdgpu/util/vmem_test.cc
Due: none

Deployed bdc021c with MkDocs version: 1.6.1
  guides/deployment-configurations/gpu-rocm/index.html
  guides/deployment-configurations/gpu-vulkan/index.html
  guides/deployment-configurations/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Adding device-side signal/queue utils. The signal and queue headers are derived from the HSA spec, ROCR implementation, and LLVM device library/codegen.
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/support/mutex.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/signal.h
Due: bazel_to_cmake_2

Adding dummy AMDGPU channel/event. I still need to rip out events and change them to be something command buffer local.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/channel.c
  runtime/src/iree/hal/drivers/amdgpu/channel.h
  runtime/src/iree/hal/drivers/amdgpu/event.c
  runtime/src/iree/hal/drivers/amdgpu/event.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding skeleton AMDGPU buffer handle and handle pool.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding skeleton AMDGPU allocator. This doesn't do anything but is enough to satisfy build requirements of future PRs.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/allocator.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] split-k on argmax to ensure ukernel support (#20906)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_to_ukernels.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/split_reduction.mlir
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/argmax.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove pointless notes from docs
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

[LLVMGPU] Add lowering strategy selection for map_scatter
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

[Codegen] Add reshape map_scatter folding to BlockDynamicDimensions
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Add early bufferization pass to configuration pipieline
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Check for store_to_buffer in VectorDistribute kernel config
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Fixed old typos
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
Due: none

no_approx_on_rocm will also use FastMathPatterns for math.erf
  compiler/src/iree/compiler/Codegen/Common/test/math_transform.mlir
Due: none

[Codegen][GPU] Creating FissionTransferOpsInControlFlow to assist convolution prefetching (#21018)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/fission_transfer_ops_control_flow.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed b839556 with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

[LLVMGPU] Add lowering strategy selection for map_scatter (#21034)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Add argmax op with rountrip and invalid mlir test (#21021)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
