Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Update IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
Due: none

[Tool] `--show-dialects`, `--list-passes` needed to take input (#20003)
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
Due: none

[InputConversion] Support dynamic to bitcast
  compiler/plugins/input/Torch/InputConversion/BitCastQuantTensor.cpp
  compiler/plugins/input/Torch/InputConversion/test/bitcast_quant_tensor.mlir
Due: none

Expand on release management docs following 3.2.0 release. (#19965)
  .pre-commit-config.yaml
  README.md
  docs/website/docs/assets/images/releases_source_to_stable.excalidraw
  docs/website/docs/assets/images/releases_source_to_stable.svg
  docs/website/docs/assets/images/releases_source_to_stable_dark.svg
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/versioning-scheme.md
  docs/website/mkdocs.yml
Due: none

[Dispatch] Remove k2 constraint from BubbleUpExpandShapes
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/attention_fuse_by_expansion.mlir
Due: none

Debug on CI
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
Due: none

Squash of the experiments
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ToUInt16Buffers.cpp
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Stash for trying to make this not a hack
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
Due: buildifier, bazel_to_cmake_1

Whoops, comma, namespaces
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
Due: none

And now we're setting buffer descriptor layout in the bufferizer. No tests yet
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUConfigureBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUDialect.td
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Real plumbed-through buffer detection, has a crash in SLP
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/convert_hal_descriptor_type_to_gpu_address_space.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUDialect.td
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLConfigureBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/configure_buffer_instructions.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/lowering_scalar_dispatch.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Update pipeline tests
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
Due: none

[DT] Disable cseConstant in data-tiling passes.
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
Due: none

[Codegen][CUDA] Remove handling for block ID ranges
  compiler/plugins/target/CUDA/BUILD.bazel
  compiler/plugins/target/CUDA/CMakeLists.txt
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add dep dialect
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
Due: none

[Stream][Encoding] Filter out unrecognized dispatches in specialization.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
Due: none

fix few typos
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
Due: none

fix encodings test
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

Fix minor splat replication issue
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
Due: none

recommit
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ExecutionPlacement.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/execution_placement.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DT] Disable cseConstant in data-tiling passes. (#20008)
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding.mlir
Due: none

rebase on head
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

add a test
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

Simplify the test
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

remove blankline..
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

Add a separator
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[Stream] Drop encodings when they are not recognized by specialization. (#19983)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

Replicate unplaced dispatches accross devices
  compiler/src/iree/compiler/Dialect/Stream/Conversion/PatternUtils.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ExecutionPlacement.cpp
  compiler/src/iree/compiler/ExternalInterfaces/StreamExternalModels.cpp
Due: none
