Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Move pass to Codegen/Common
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_vector_masking.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorExt] Add TransferScatterOp unrolling support
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Formatting
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BufferizationInterfaces.cpp
Due: none

[Codegen] Tune LargeGemm heuristic seeds for better subgroup utilization.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[Codegen] Gate LargeGemm seed tuning and utilization guard to CDNA4 (gfx950).
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

[GPU] Add iree_gpu.global_subgroup_barrier op (#23451)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl_gfx1201.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed fa5580c with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEGPU/index.html
  search/search_index.json
Due: none

cpu_tile_swizzle
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add unified adjustSeeds with gfx950 LDS-aware seed adjustment
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
Due: none

Update deduceMMASchedule to take TargetAttr, update all call sites
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

[MPSC] Fix ARM64 ring buffer oversubscription from load reordering
  runtime/src/iree/base/internal/mpsc_queue.c
  runtime/src/iree/base/internal/mpsc_queue.h
  runtime/src/iree/base/internal/mpsc_queue_test.cc
Due: none

Add lit test for gfx950 LDS-aware seed adjustment
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950_pipelining.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm/torch-mlir@2791d9cf8 (#23678)
  compiler/plugins/input/Torch/torch-mlir/CMakeLists.txt
Due: bazel_to_cmake_2

[Tuner][Codegen] Add iree_codegen.constraints op and supporting infra (#23687)
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/test/ir/dialects_test.py
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 15a37a2 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREECodegen/index.html
  search/search_index.json
Due: none

Use TileSwizzle for inner_tiled layout on CPU (#23705)
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[SPIRV] Rework on rootOp selection in kernel config. (#23685)
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_softmax.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address code review: improve LDS estimation and document gfx950 behavior
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
Due: none

[MPSC] Fix ARM64 ring buffer oversubscription from load reordering (#23707)
  runtime/src/iree/base/internal/mpsc_queue.c
  runtime/src/iree/base/internal/mpsc_queue.h
  runtime/src/iree/base/internal/mpsc_queue_test.cc
Due: none

Deduplicate seed adjustment helpers and fix include ordering
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
Due: none

sort
  build_tools/llvm/llvm_config.cmake
  build_tools/llvm/mlir_config.cmake
  compiler/bindings/python/CMakeLists.txt
  compiler/src/iree/compiler/API/CMakeLists.txt
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_webgpu/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  samples/custom_module/basic/CMakeLists.txt
  samples/custom_module/dynamic/CMakeLists.txt
Due: bazel_to_cmake_2

Improve documentation
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.td
Due: none

[GPU] Update number of VGPRs on gfx1250
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

wip
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL] Add pass pipeline caching to executable translation and configuration (#23643)
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ConfigureExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
  compiler/src/iree/compiler/Utils/PassUtils.h
Due: none

only slightly broken
  compiler/bindings/python/CMakeLists.txt
Due: bazel_to_cmake_2

Hermetic TileSwizzle refactor. Signed-off-by: Benoit Jacob <jacob.benoit.1@gmail.com>
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMUkernelBitcodeSupport.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/unittests/UtilsTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
Due: none

Fully use the upstream implementation.
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Due: none

[GPU] Add coalescing to reduction tiling
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_direct_conv_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

Delete LinalgExt::PackOp and LinalgExt::UnPackOp
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Due: none

Consolidate headers into IREECPUTypes.h (#23710)
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUPrepareUkernels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPU2DScalableTo1DScalable.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[NFC] Make TileSwizzle members private (#23711)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMUkernelBitcodeSupport.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/unittests/UtilsTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Codegen/Utils/EncodingUtils.cpp
Due: none

distributionSize -> distributionFactor
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
Due: none

[Codegen] Do not vectorize with invalid vector sizes from lowering config (#23661)
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Due: none

Fixes
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
Due: none

knobs in configutil
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Delete LinalgExt::PackOp and LinalgExt::UnPackOp (#23550)
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Due: none

[Codegen] Bail out of foldReshapeIntoMapStore/MapLoad for 0-D tensor.
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_result_layout_transformation.mlir
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
Due: none

Deployed 1f3f808 with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
