Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Flow] Tighten required tie liveness
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/unittests/FlowOpsTest.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Flow] Reject pre-conversion indirect ties
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

[LinalgExt] Fix gather->extract_slice to invert the dimension_map
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
Due: none

[Codegen] Forward temporary DPS output copies
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FoldMemRefCopyIntoDPSOps.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/fold_memref_copy_into_dps_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Fix target reads hidden in DPS payloads and late targets
  compiler/src/iree/compiler/Codegen/Common/FoldMemRefCopyIntoDPSOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fold_memref_copy_into_dps_ops.mlir
Due: none

[Codegen] Compare binding ordinals only within one pipeline layout
  compiler/src/iree/compiler/Codegen/Common/FoldMemRefCopyIntoDPSOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/fold_memref_copy_into_dps_ops.mlir
Due: none

[Flow] Clarify required tie contracts
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

Deployed 3d0c17b with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[Flow] Preserve required ties through closure pruning
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

[LLVMGPU] Add dense and paged attention runtime correctness tests (#24829)
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tests/e2e/attention/generate_e2e_paged_attention_tests.py
  tools/testing/e2e/iree-e2e-attention-test.cc
Due: bazel_to_cmake_2

[ci] [test] Route Windows choco installs through cluster-local Nexus mirror
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

[ci] [windows] Route choco installs through cluster-local Nexus mirror (#24836)
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

Add @Manewing to more directories
  .github/CODEOWNERS
Due: none

[LLVMCPU][NFC] Separate the intrinsic MNK shape from its register layout (#24861)
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

[LLVMCPU] Add a `vlen` parameter to DataTiledMMAAttr
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: none

Update test-suites path ownership
  .github/CODEOWNERS
Due: none

[LLVMCPU] Add the RISC-V V f16 vfmacc inner_tiled MMA intrinsic.
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_riscv_inner_tiled.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 377bcd3 with MkDocs version: 1.6.1
  pip-release-links.html
Due: none

Cast ctype function arguments to unsigned char
  runtime/src/iree/base/string_view.c
  runtime/src/iree/tokenizer/regex/internal/lexer.c
Due: none

Addressing devtbis comments
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/base/internal/math.h
  runtime/src/iree/base/internal/math_test.cc
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/arithmetic_ops_f32.vmasm
  runtime/src/iree/vm/test/arithmetic_ops_f64.vmasm
Due: none

Added an implementation of fpowi in vm for vmvx backend
  compiler/src/iree/compiler/Dialect/VM/Conversion/MathToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/isa/isa.json
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
Due: none

Corrected test cases
  runtime/src/iree/base/internal/math_test.cc
Due: none

Reran pre-commit hooks
  compiler/src/iree/compiler/Dialect/VM/Conversion/MathToVM/Patterns.cpp
Due: none

Deployed 377bcd3 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix typo
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetRegistry.cpp
Due: none

Fix build files
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address review comment: apply the same fix to string_util.c iree_hal_parse_buffer_elements
  runtime/src/iree/hal/string_util.c
Due: none

[Runtime] Fix ctype calls for signed char inputs (#24873)
  runtime/src/iree/base/string_view.c
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/tokenizer/regex/internal/lexer.c
Due: none

Add bare-metal riscv64 sample and QEMU smoke test to CI
  .github/workflows/pkgci_test_riscv64.yml
  build_tools/cmake/build_riscv_baremetal.sh
  build_tools/cmake/generic_riscv64_gcc.cmake
  samples/CMakeLists.txt
  samples/baremetal_riscv64/CMakeLists.txt
  samples/baremetal_riscv64/README.md
  samples/baremetal_riscv64/run_qemu.sh
  samples/baremetal_riscv64/runner.c
  samples/baremetal_riscv64/simple_mul.mlir
  samples/baremetal_riscv64/start.S
Due: bazel_to_cmake_2

Fix TargetRegistry de/serialization and fix FixedPointIteratorPass constructor (#24867)
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetRegistry.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetRegistry.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/assign_legacy_target_devices.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Bindings] Reject unranked tensors in native ABI signatures
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
Due: none

[Bindings] Reject unranked tensors in native ABI signatures (#24872)
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
Due: none

Deployed 2512204 with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Update CODEOWNERS: Aug 2026 (#24847)
  .github/CODEOWNERS
  docs/website/docs/developers/general/contributing.md
Due: none

Deployed 0492b21 with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  search/search_index.json
Due: none

[PluginAPI] Fix and test the dynamic plugin build
  CMakeLists.txt
  build_tools/cmake/build_all.sh
  build_tools/cmake/iree_plugin_register.cmake
  build_tools/cmake/iree_renamed_link.cmake
  compiler/CMakeLists.txt
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/PluginAPI/PluginManager.cpp
  compiler/src/iree/compiler/PluginAPI/test/CMakeLists.txt
  samples/compiler_plugins/example/CMakeLists.txt
  samples/compiler_plugins/example/src/PluginRegistration.cpp
  samples/compiler_plugins/example/test/CMakeLists.txt
  samples/compiler_plugins/example/test/dynamic_link.mlir
  samples/compiler_plugins/example/test/static_link.mlir
  samples/lit.cfg.py
Due: bazel_to_cmake_2
