Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Deployed 566c36f with MkDocs version: 1.6.1
  reference/mlir-dialects/Check/index.html
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

Deployed afb0265 with MkDocs version: 1.6.1
  developers/design-docs/metal-hal-driver/index.html
  reference/mlir-dialects/Flow/index.html
  reference/mlir-dialects/HAL/index.html
  reference/mlir-dialects/IREECodegen/index.html
  reference/mlir-dialects/IREEGPU/index.html
  reference/mlir-dialects/IREEVectorExt/index.html
  reference/mlir-passes/CodegenCommon/index.html
  reference/mlir-passes/CodegenCommonGPU/index.html
  reference/mlir-passes/CodegenLLVMCPU/index.html
  reference/mlir-passes/CodegenSPIRV/index.html
  search/search_index.json
Due: none

experimenting
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_amdgpu.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/test/distribute_inner_tiled_to_lanes.mlir
  compiler/src/iree/compiler/Utils/Indexing.cpp
Due: none

[VectorDistribute] Consider all compute ops for thread tile size
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

End loop early
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
Due: none

Address PR feedback
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
Due: none

Deduplicate TransferGatherOp/TransferScatterOp code
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Python] Add Stable ABI (abi3) support for Python 3.12+ (#23600)
  CMakeLists.txt
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/build_macos_packages.sh
  build_tools/python_deploy/build_windows_packages.ps1
  compiler/setup.py
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/binding.h
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/initialize_module.cc
  runtime/bindings/python/invoke.cc
  runtime/bindings/python/io.cc
  runtime/bindings/python/loop.cc
  runtime/bindings/python/numpy_interop.cc
  runtime/bindings/python/numpy_interop.h
  runtime/bindings/python/vm.cc
  runtime/setup.py
Due: bazel_to_cmake_2

Fix typo in IREE acronym description
  README.md
Due: none

[LLVMGPU] Remove old dead code for LLVMGPUVectorDistribute
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_amdgpu.mlir
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorExtFoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUCastTypeToFitMMA.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/cast_type_to_fit_mma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Remove stray tests
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_nvgpu.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorDistribute] Fix error in mask distribution
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_mask.mlir
Due: none

[LLVMGPU] Remove old dead code for LLVMGPUVectorDistribute (#23596)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_amdgpu.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_nvgpu.mlir
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtOps.td
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorExtFoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUCastTypeToFitMMA.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/cast_type_to_fit_mma.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed e889208 with MkDocs version: 1.6.1
  reference/mlir-dialects/IREEVectorExt/index.html
  reference/mlir-passes/CodegenLLVMGPU/index.html
  search/search_index.json
Due: none

review-comments
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
Due: none

inner_tiled-on-cpu
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/test/iree_cpu_inner_tiled_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Lint
  .github/workflows/build_package.yml
Due: none

Add typos pre-commit hook and dictionary. (6/6)
  .pre-commit-config.yaml
  _typos.toml
Due: none

Add context
  _typos.toml
Due: none

Address comments
  .pre-commit-config.yaml
  build_tools/linters/typos.toml
Due: none

Fix paths
  build_tools/linters/typos.toml
Due: none

Fix excludes
  .pre-commit-config.yaml
Due: none

[CPU] Drop scf.for distribution option from CPU pipeline.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[CI] Add typos pre-commit hook and dictionary. (6/6) (#23606)
  .github/workflows/build_package.yml
  .pre-commit-config.yaml
  build_tools/linters/typos.toml
Due: none

[SPIRV] Enable small float support in SPIR-V pipeline.
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VMVX] Enable scf.forall distribution for VMVX pipelines.
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Due: none

clang-format
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
Due: none

lint
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
Due: none

[CPU] Drop scf.for distribution option from CPU pipeline. (#23614)
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Due: none

[SPIRV] Enable small float support in SPIR-V pipeline. (#23391)
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fixed memory leak with external streams
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

Some fixes for UBSan issues around nullptr memcpy.
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[hip] Don't unload RCCL when we unload hip.
  runtime/src/iree/base/internal/dynamic_library.h
  runtime/src/iree/hal/drivers/hip/rccl_dynamic_symbols.c
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
