Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

init commit
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Due: none

[Input] Register IREETensorExtDialect for Torch plugin (#22719)
  compiler/plugins/input/Torch/PluginRegistration.cpp
Due: none

Update
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/hip/api.c
  experimental/streaming/device.c
Due: none

Synchronize against the context when doing a memcpy.
  experimental/streaming/binding/hip/api.c
  experimental/streaming/context.c
Due: none

naming cleanup
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/hip/api.c
Due: none

Added virtual memory APIs to hip.
  runtime/src/iree/hal/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/virtual_memory_test.h
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.h
Due: bazel_to_cmake_2

Update the hip backend to support the stream api.
  experimental/streaming/binding/hip/api.c
  experimental/streaming/graph.c
  experimental/streaming/internal.h
  experimental/streaming/module.c
  experimental/streaming/registry.c
  experimental/streaming/stream.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
Due: bazel_to_cmake_2

Async allocation using virtual memory.
  experimental/streaming/internal.h
  experimental/streaming/mem_pool.c
Due: none

Handle parsing multiple messagepack sections.
  experimental/streaming/binding/hip/api.c
  experimental/streaming/module.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
Due: none

Added some missing API functions.
  experimental/streaming/binding/hip/CMakeLists.txt
  experimental/streaming/binding/hip/api.c
  experimental/streaming/binding/hip/api.h
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
Due: none

Allow the hip driver to be selected & fix a minor bug in hipMalloc.
  experimental/streaming/init.c
  experimental/streaming/memory.c
Due: none

CUDA driver split
  experimental/streaming/binding/cuda/BUILD.bazel
  experimental/streaming/binding/cuda/CMakeLists.txt
  experimental/streaming/binding/cuda/api.h
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/cuda/driver.h
  experimental/streaming/binding/cuda/runtime.c
  experimental/streaming/binding/cuda/runtime.h
  experimental/streaming/test/BUILD.bazel
  experimental/streaming/test/CMakeLists.txt
  experimental/streaming/test/cuda_driver_api_demo.c
  experimental/streaming/test/cuda_runtime_api_demo.c
Due: buildifier

__ attempts
  experimental/streaming/BUILD.bazel
  experimental/streaming/CMakeLists.txt
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/hip/api.c
  experimental/streaming/binding/hip/api.h
  experimental/streaming/context.c
  experimental/streaming/event.c
  experimental/streaming/graph.c
  experimental/streaming/internal.h
  experimental/streaming/memory.c
  experimental/streaming/registry.c
  experimental/streaming/stream.c
  experimental/streaming/test/BUILD.bazel
  experimental/streaming/test/CMakeLists.txt
  experimental/streaming/test/hip_demo.cc
  experimental/streaming/test/hip_graph_capture_api_demo.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/local/local_executable_cache.c
Due: buildifier, bazel_to_cmake_2

Added compressed (zlib) ccob support as well as device queries.
  CMakeLists.txt
  experimental/streaming/binding/cuda/driver.c
  experimental/streaming/binding/hip/api.c
  experimental/streaming/device.c
  experimental/streaming/internal.h
  experimental/streaming/mem_pool.c
  experimental/streaming/module.c
  experimental/webgpu/webgpu_device.c
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Due: bazel_to_cmake_2

Fix some formatting but also export the symbol names.
  .gitignore
  experimental/streaming/binding/hip/api.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.c
  runtime/src/iree/hal/drivers/hip/native_executable_hipf.h
Due: none

Added documents outlining the streaming API.
  experimental/streaming/docs/runtime.md
  experimental/streaming/docs/streaming_api.md
Due: none

Adressing PR review 2
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
Due: none

Adress pr comments pt 3.
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

[tests][e2e] Add custom mxfp4 gemm tests to verify shape of interest.
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Change error to warning
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

Don't fuse with clonable consumers
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
Due: none

address pr comments pt. 4
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

[Codegen][Tuner] Expose the python bindings for LinalgExt::inferScaledContractionDims and LinalgExt::isaScaledContractionOpInterface (#22763)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

Added Dynamic Head NYI check
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: none

Added toggle for using useexp2 for onlineAttention Decomposition
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
Due: none

Added useExp2 as pass option to DecomposeAttention
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
Due: none

[Bazel] Migrate to bzlmod for LLVM compatibility
  .gitignore
  MODULE.bazel
  WORKSPACE
  build_tools/bazel/BZLMOD_LLVM.md
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel/iree_bitcode_library.bzl
  build_tools/third_party/flatcc/BUILD.overlay
Due: buildifier

bazel: fix header search path
  MODULE.bazel
  build_tools/bazel/extensions.bzl
  build_tools/bazel/iree_amdgpu_binary.bzl
  build_tools/bazel/iree_bitcode_library.bzl
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
Due: buildifier

Removed Typo
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

missing scope resiultion
  compiler/plugins/input/Torch/InputConversion/ConvertTorchUnstructuredToLinalgExt.cpp
Due: none

added decompose aggregated ops pass
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAggregatedOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_filtered.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_aggregated_ops_noop.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Adding MI355 specific test
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_amd_mi355x.yml
Due: none

bazel: fix path and add numpy workaround
  MODULE.bazel
  build_tools/bazel/requirements.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  tools/test/BUILD.bazel
  tools/test/iree-tblgen-json.td
  tools/test/python_with_numpy.py
Due: buildifier, bazel_to_cmake_1
