Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

init commit
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[ROCM][CI] Fix lit test timeout
  compiler/plugins/target/ROCM/test/materialize_encoding_ukernel_gfx942.mlir
Due: none

wip
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

honor noubsan
  build_tools/cmake/iree_check_test.cmake
Due: none

[Encoding] Add verifier for gpu_encoding_resolver
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

removing from cli argument
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

Fix tests: `noubsan` was not being honored, and MXFP4 matmul tests are static-shape-only (#22836)
  build_tools/cmake/iree_check_test.cmake
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

ElideAsyncCopiesPass refactoring for SCF/transfer support. (#22739)
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncTransfers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_scf.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_tensor_import_consume.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies_topology.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_transfers.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_materialized_copies.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 3120a77 with MkDocs version: 1.6.1
  reference/mlir-passes/Stream/index.html
  search/search_index.json
Due: none

wip
  tests/e2e/matmul/common.py
  tests/e2e/matmul/generate_code.py
  tests/e2e/matmul/generate_code_mx.py
Due: none

[Codegen][GPU] Enable direct convolution for channel first layout
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
Due: none

removing double negative
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: bazel_to_cmake_2

address review
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
Due: none

Update according to comments.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  tests/e2e/rocm_specific/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

[Runtime][HIP] Correct O(log n) bound search logic and eliminate O(n) loop(#22733) (#22734)
  runtime/src/iree/hal/drivers/hip/util/tree.c
  runtime/src/iree/hal/drivers/hip/util/tree_test.cc
Due: none

some other tests.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
Due: none

init
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/compilation_info.py
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add more details to comments
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

nit
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

check last 2 dims are mnk
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
Due: none

[e2e][ukernel] Remove dead/duplicate tests (#22834)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

merge all tests to one split
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
Due: none

Forgot this test.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: none

wip
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  sudo
Due: none

review-comment
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
Due: none

unwanted-file
  sudo
Due: none

review-comment
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
Due: none

Increase datatiling golden time
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq128_mi325_data_tiling.json
  tests/external/iree-test-suites/torch_models/llama_8b_fp8/decode_benchmark_seq2048_mi325_data_tiling.json
Due: none

[Codegen][GPU] Allow channel first layouts to lower through direct convolution path (#22840)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
Due: none

enable O2 to check CI
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/DispatchCreation/FormSplitReductionDispatches.cpp
  tests/external/iree-test-suites/torch_models/llama_8b_fp16/modules/scheduler_gfx942.json
Due: none

addressing pr comment
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Due: none

Adress according to comments.
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_lower_coalesced_dma_to_global_loads.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.cpp
Due: none

review-comment
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMDialect.td
Due: none

Address comments and improve parser messages
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/PCFOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/test/invalid.mlir
Due: none

[Codegen] Add PCF bufferization interfaces
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/BufferizationExternalModels.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/Interfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/ExternalInterfaces/test/bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add PCF Transforms
  compiler/src/iree/compiler/Codegen/BUILD.bazel
  compiler/src/iree/compiler/Codegen/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConversionDialectInterface.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertForallToLoops.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ConvertSRefToMemRef.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FuseConsumers.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/FusePCFWrites.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/LowerStructuralPCF.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Passes.td
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/ResolveTokens.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_forall_to_loops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/convert_sref_to_memref.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fuse_consumers.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/fuse_pcf_writes.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/lower_structural_pcf.mlir
  compiler/src/iree/compiler/Codegen/Dialect/PCF/Transforms/test/resolve_tokens.mlir
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/RewriteUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add vector.to/from_elements to bf16 -> i16 conversion
  compiler/src/iree/compiler/Codegen/Common/ConvertBf16ToUInt16Buffers.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_bf16_to_uint16_buffers.mlir
Due: none
