Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[ONNX] Update expected failures for newly passing tests
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
Due: none

[LinalgExt] Canonicalize zero zero-points in affine QDQ ops (#24905)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
Due: none

Deployed 3f1d7ae with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 3f1d7ae with MkDocs version: 1.6.1
  pip-release-links.html
Due: none

[StableHLO] Preserve bounds on dynamic dimensions
  compiler/plugins/input/StableHLO/Conversion/Passes.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/LowerBounds.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/Passes.td
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/lower_bounds.mlir
  compiler/plugins/input/StableHLO/Conversion/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/test/lower_bounds_pipeline.mlir
  compiler/plugins/input/StableHLO/Conversion/test/lower_bounds_tuple.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Simplify bounds application and cover shared uses
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/LowerBounds.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/lower_bounds.mlir
Due: none

[VM] Preserve 64-bit values in internal calls
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/test/call_ops.vmasm
Due: none

fix(PackConstants): don't start new storage buffer if current one is still empty
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
Due: none

[LLVMGPU] Add a check for the number of workgroup tile sizes in a config (#24916)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[WASM] Add missing f64 musl builtins for ONNX operations (#24953)
  runtime/src/iree/builtins/musl/Makefile_wasm32.iree
  runtime/src/iree/builtins/musl/Makefile_wasm64.iree
  runtime/src/iree/builtins/musl/bin/libmusl_wasm32_generic.bc
  runtime/src/iree/builtins/musl/bin/libmusl_wasm64_generic.bc
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
Due: none

[StableHLO] Lower the bounds encoding to util.assume.int (#24939)
  compiler/plugins/input/StableHLO/Conversion/Passes.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/LowerBounds.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/Passes.td
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/lower_bounds.mlir
  compiler/plugins/input/StableHLO/Conversion/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/test/lower_bounds_pipeline.mlir
  compiler/plugins/input/StableHLO/Conversion/test/lower_bounds_tuple.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed c83444b with MkDocs version: 1.6.1
  pip-release-links.html
  sitemap.xml
  sitemap.xml.gz
Due: none

[StableHLO] Support dynamic reshape, padding and convolution
  compiler/plugins/input/StableHLO/Conversion/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/StableHLO/Conversion/Rewriters.h
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
  compiler/plugins/input/StableHLO/Conversion/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/test/canonicalize_dynamism_invalid.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_convolution.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
  tests/e2e/stablehlo_ops/convolution.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Avoid intermediate padding tensors
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
Due: none

[StableHLO] Clarify dynamic pad and convolution lowerings
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
Due: none

[Codegen] Avoid rank-one convolution vectorization crashes
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_strided_conv.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Avoid deprecated builders in the Bazel build
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
Due: none

[Stream] Fix O(N²) compile-time scaling in partitionRegionConcurrencyReference
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
Due: none

[GlobalOptimization] Fold empty-set reductions to their init operand.
  compiler/src/iree/compiler/GlobalOptimization/RemoveZeroExtentTensors.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/remove_zero_extent_tensors.mlir
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O0.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync_O2.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna4_O3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan_rdna3_O0.json
Due: none

[HAL] Add command buffer flush and invalidate operations
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_test.cc
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/local/BUILD.bazel
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer_test.cc
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer_test.cc
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Resolve mask layouts before decomposition
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942_masking.mlir
Due: none

[WebGPU] Allow immediate address space for dispatch constants
  compiler/plugins/target/WebGPUSPIRV/SPIRVToWGSL.cpp
  compiler/plugins/target/WebGPUSPIRV/test/CMakeLists.txt
  compiler/plugins/target/WebGPUSPIRV/test/dynamic_shape.mlir
Due: bazel_to_cmake_2

[StableHLO] Simplify gather and share broadcast shape predicates
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
  tests/e2e/stablehlo_ops/broadcast_in_dim.mlir
Due: none

[StableHLO] Support dynamic gather and broadcast shapes
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/GatherToTorchIndexSelect.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/gather_to_torch_index_select.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
  tests/e2e/stablehlo_ops/gather.mlir
Due: none

[StableHLO] Avoid upstream conversion helpers for dynamic shapes
  compiler/plugins/input/StableHLO/Conversion/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[StableHLO] Use local reduction conversion helpers
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
Due: none

[StableHLO] Support dynamic window reductions and batched scatter
  compiler/plugins/input/StableHLO/Conversion/DynamicShapeOps.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/DispatchCreation/test/elementwise_op_fusion.mlir
  tests/e2e/stablehlo_ops/reduce_window.mlir
  tests/e2e/stablehlo_ops/scatter_dynamic.mlir
Due: none

[StableHLO] Avoid intermediate scatter shape tensors
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
  compiler/plugins/input/StableHLO/Conversion/test/dynamic_shape_ops.mlir
Due: none

[Build] Stop CMake riscv64 defaults from clobbering test cpu-features
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  build_tools/cmake/iree_macros.cmake
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorExt] Reject reshapes that reorder nested layout levels
  compiler/src/iree/compiler/Codegen/Common/test/vector_layout_analysis.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/IR/VectorExtAttrs.cpp
Due: none

[spirv] Do not propagate workgroup tiling to fused ops
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_reduction_subgroup.mlir
Due: none

[Build] Split RISC-V test defaults so cpu-features are not merged
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/linux_riscv32.cmake
  build_tools/cmake/linux_riscv64.cmake
Due: none

[Build] Stop CMake riscv64 defaults from clobbering test cpu-features (#24866)
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/linux_riscv32.cmake
  build_tools/cmake/linux_riscv64.cmake
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Apply batched suggestions from code review
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

[Flow] Avoid traversing indirect required ties
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
Due: none

Deployed 5cf0a12 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[Flow] Index dispatch capture metadata once
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
