Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[Codegen] Support inner_tiled and load_from_buffer in ConvertAccGEMMToGEMMPass (#21245)
  compiler/src/iree/compiler/Codegen/Common/ConvertAccGEMMToGEMMPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/convert_accgemm_to_gemm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

[CodeGen] Fix gather fusion on vector distribute path (#21117)
  compiler/src/iree/compiler/Codegen/Common/DecomposeSoftmax.cpp
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_softmax.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Due: none

[LinalgExt] Add an `DeviceMappingInterfaceAttribute` to tag split-k loops (#21309)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1

[DT] Improve encoding hoisting pass. (#21275)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CodeGen][NFC] Simplify logging with LDBG for Utils.cpp. (#21328)
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Due: none

[Codegen] Support dynamic dimensions in collapse_shape into interface store folding (#21126)
  compiler/src/iree/compiler/Codegen/Common/ReshapePatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
  compiler/src/iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  compiler/src/iree/compiler/Codegen/Common/test/fold_reshape_into_interface_tensor.mlir
Due: none

[Codegen][Common] Teach `VerifyWorkgroupDistribution` to allow `scf.forall` generated by split reduction. (#21282)
  compiler/src/iree/compiler/Codegen/Common/VerifyWorkgroupDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/test/verify_workgroup_distribution.mlir
Due: none

Add link to the LLVM Social Bangalore talk (#21265)
  README.md
Due: none

[CodeGen][NFC] Retire native_vector_sizes from LoweringConfigAttr. (#21322)
  compiler/src/iree/compiler/Codegen/Common/DecomposeConvolutionToLowerDimOps.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
Due: none

[mlir][Codegen] Remove workaround for handling consumer fusion along multiple operands. (#21171)
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.h
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
Due: none

[Codegen] Add StoreToBufferOp to vector distribution dispatch check (#21294)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[Preprocessing][NFC] Drop dependency workaround from TransposeMatmulPass. (#21296)
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
Due: none

[DataTiling] Enable layout transformation combination in GPU DT e2e tests (#21163)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[Codegen][AMDGPU] Allow vector distribute configuration selection to handle `scf.forall` from split-reduction. (#21281)
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[Codegen] Fix lhs/rhs batch offsets size in vector contract distribution (#21238)
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPUDistributeContract.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_contract_amdgpu.mlir
Due: none

[CPU] Disable lowering_config propagation for Mmt4dTilingExpert pipeline (#21298)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[Util] Fix assume.int operand deduplication canonicalizer (#21273)
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/test/assume_folding.mlir
Due: none

Revert "[Codegen] Don't fold workgroup loops during workgroup tiling (#21137)" (#21318)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[ROCM] Ping pong matmul Bf16 matcher (#21267)
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx942.mlir
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
Due: none

[integrate|compiler] Drop carried LLVM reverts and use `ub.poison` in some transfer reads (#21259)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FissionTransferOpsInControlFlow.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/VectorizeIREEVectorExtOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/test/vectorize_vector_ext_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transpose_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/VectorizeIREELinalgExtOps.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[mlir][DispatchCreation] Avoid SSA violation due to consumer fusion while forming dispatches (#21186)
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/FusionUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[TensorExt] Add new operation that is a placeholder for modifying number of workgroups for split reduction. (#21314)
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate LLVM to llvm/llvm-project@e3edc1bd (#21272)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_lowering.mlir
Due: none

[LinalgExt] Improve scatter unit dim folding (#21271)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/fold_unit_dims.mlir
Due: none

[Codegen] Fix specialize exports never applies check (#21270)
  compiler/src/iree/compiler/Codegen/Common/SpecializeExports.cpp
  compiler/src/iree/compiler/Codegen/Common/test/specialize_exports.mlir
Due: none

[CodeGen][NFC] Delete DeadMemAlloc patterns. (#21310)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEraseStorageBufferStaticShape.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/erase_storage_buffer_static_shape.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Due: none

[Codegen] Bubble up/down reshape operations before blocking dynamic dimensions (#21241)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/test/block_dynamic_dims.mlir
Due: none

[Integrate] Integrate llvm-project @0f391d6f51217de5cb6735b17f359eb078bbe94e (#21302)
  compiler/src/iree/compiler/Codegen/Common/DropVectorUnitDims.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_affine_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
  compiler/src/iree/compiler/GlobalOptimization/GeneralizeLinalgNamedOps.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv2d_to_img2col.mlir
Due: none

[CPU] Switch all LinalgExt dispatches to root-based tiling pipeline. (#21338)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: none

[DispatchCreation] Avoid hoisting set encodings on scalar tensors (#21376)
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

[codegen][gpu] Add the `iree-rocdl-use-buffer-instructions` pass (#21335)
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLUseBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/use_configure_buffer_instructions.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Switch convolution pipelines to IREE::CPU::LoweringConfigAttr. (#21347)
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  tests/e2e/regression/lowering_config.mlir
Due: none

Reapply "[Codegen] Don't fold workgroup loops during workgroup tiling (#21137)" (#21382)
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_workgroups_using_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

[CPU] Use IREE::CPU::TilingLevel in TileRootAndFuseProducerConsumer pass (#21370)
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_root_and_fuse_producer_consumer.mlir
Due: none

[DispatchCreation] Add pass to cast away unsupported element types (#21339)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/BitcastUnsupportedElementTypes.cpp
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/bitcast_unsupported_element_types.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Fuse nested warp and lane foralls (#21295)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Resolve scf.forall operations created during split-reduction (#21324)
  compiler/src/iree/compiler/Codegen/Common/ReconcileTranslationInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reconcile_translation_info_linearize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Due: none

Implementing AMDGPU logical/physical devices and skeleton queues. (#21251)
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/device_queue.c
  runtime/src/iree/hal/drivers/amdgpu/device_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.h
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
  runtime/src/iree/hal/drivers/amdgpu/registration/driver_module.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
  runtime/src/iree/hal/drivers/amdgpu/system_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/error_callback.h
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.c
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.h
  runtime/src/iree/hal/utils/file_registry.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move all producing uses of flow.bitcast to tensor_ext (#21279)
  compiler/plugins/input/Torch/InputConversion/BitCastTensor.cpp
  compiler/plugins/input/Torch/InputConversion/CMakeLists.txt
  compiler/plugins/input/Torch/InputConversion/test/bitcast_tensor.mlir
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Interfaces/HoistableTypeInterface.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorDistribute] Fix buffer reduction during subgroup reduction (#21315)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution_multi_reduce.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2
