Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[HAL/Memory] Harden pool slab providers and routing
  runtime/src/iree/hal/memory/BUILD.bazel
  runtime/src/iree/hal/memory/CMakeLists.txt
  runtime/src/iree/hal/memory/arena.h
  runtime/src/iree/hal/memory/arena_benchmark.cc
  runtime/src/iree/hal/memory/arena_test.cc
  runtime/src/iree/hal/memory/cpu_slab_provider.c
  runtime/src/iree/hal/memory/cpu_slab_provider.h
  runtime/src/iree/hal/memory/fixed_block_allocator.c
  runtime/src/iree/hal/memory/fixed_block_allocator.h
  runtime/src/iree/hal/memory/fixed_block_allocator_benchmark.cc
  runtime/src/iree/hal/memory/fixed_block_allocator_test.cc
  runtime/src/iree/hal/memory/fixed_block_pool.h
  runtime/src/iree/hal/memory/passthrough_pool.c
  runtime/src/iree/hal/memory/passthrough_pool.h
  runtime/src/iree/hal/memory/slab_cache.c
  runtime/src/iree/hal/memory/slab_cache.h
  runtime/src/iree/hal/memory/slab_provider.c
  runtime/src/iree/hal/memory/slab_provider.h
  runtime/src/iree/hal/memory/tlsf.c
  runtime/src/iree/hal/memory/tlsf.h
  runtime/src/iree/hal/memory/tlsf_benchmark.cc
  runtime/src/iree/hal/memory/tlsf_test.cc
  runtime/src/iree/hal/pool.c
  runtime/src/iree/hal/pool.h
  runtime/src/iree/hal/pool_set.c
  runtime/src/iree/hal/pool_set.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL/Memory] Keep pool headers C++17-compatible
  runtime/src/iree/hal/pool.h
Due: none

[Async] Make frontier header alignment portable to MSVC
  runtime/src/iree/async/frontier.h
Due: none

[HAL/API] Add generic allocation pool substrate
  runtime/src/iree/base/internal/atomics_gcc.h
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/memory/BUILD.bazel
  runtime/src/iree/hal/memory/CMakeLists.txt
  runtime/src/iree/hal/memory/arena.c
  runtime/src/iree/hal/memory/arena.h
  runtime/src/iree/hal/memory/arena_benchmark.cc
  runtime/src/iree/hal/memory/arena_test.cc
  runtime/src/iree/hal/memory/cpu_slab_provider.c
  runtime/src/iree/hal/memory/cpu_slab_provider.h
  runtime/src/iree/hal/memory/fixed_block_allocator.c
  runtime/src/iree/hal/memory/fixed_block_allocator.h
  runtime/src/iree/hal/memory/fixed_block_allocator_benchmark.cc
  runtime/src/iree/hal/memory/fixed_block_allocator_test.cc
  runtime/src/iree/hal/memory/fixed_block_pool.c
  runtime/src/iree/hal/memory/fixed_block_pool.h
  runtime/src/iree/hal/memory/fixed_block_pool_test.cc
  runtime/src/iree/hal/memory/passthrough_pool.c
  runtime/src/iree/hal/memory/passthrough_pool.h
  runtime/src/iree/hal/memory/passthrough_pool_test.cc
  runtime/src/iree/hal/memory/slab_provider.c
  runtime/src/iree/hal/memory/slab_provider.h
  runtime/src/iree/hal/memory/tlsf.c
  runtime/src/iree/hal/memory/tlsf.h
  runtime/src/iree/hal/memory/tlsf_benchmark.cc
  runtime/src/iree/hal/memory/tlsf_pool.c
  runtime/src/iree/hal/memory/tlsf_pool.h
  runtime/src/iree/hal/memory/tlsf_pool_test.cc
  runtime/src/iree/hal/memory/tlsf_test.cc
  runtime/src/iree/hal/memory/tracing.c
  runtime/src/iree/hal/memory/tracing.h
  runtime/src/iree/hal/pool.c
  runtime/src/iree/hal/pool.h
  runtime/src/iree/hal/pool_set.c
  runtime/src/iree/hal/pool_set.h
  runtime/src/iree/hal/pool_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Async] Add notification observe-check-wait tokens
  runtime/src/iree/async/cts/sync/notification_test.cc
  runtime/src/iree/async/frontier_tracker.c
  runtime/src/iree/async/frontier_tracker.h
  runtime/src/iree/async/frontier_tracker_test.cc
  runtime/src/iree/async/notification.c
  runtime/src/iree/async/notification.h
  runtime/src/iree/async/operation.c
  runtime/src/iree/async/operations/scheduling.h
  runtime/src/iree/async/platform/io_uring/notification.c
  runtime/src/iree/async/platform/io_uring/notification.h
  runtime/src/iree/async/platform/io_uring/proactor.c
  runtime/src/iree/async/platform/io_uring/proactor_submit.c
  runtime/src/iree/async/platform/iocp/proactor.c
  runtime/src/iree/async/platform/iocp/proactor_submit.c
  runtime/src/iree/async/platform/posix/proactor.c
  runtime/src/iree/async/proactor.h
Due: none

[Async] Keep frontier merge overflow status-free
  runtime/src/iree/async/cts/sync/semaphore_sync_test.cc
  runtime/src/iree/async/frontier.c
  runtime/src/iree/async/frontier.h
  runtime/src/iree/async/frontier_test.cc
  runtime/src/iree/async/semaphore.c
  runtime/src/iree/async/semaphore.h
Due: none

[Async] Formalize fixed frontier storage
  runtime/src/iree/async/frontier.h
Due: none

[Async] Keep io_uring notifications event-backed
  runtime/src/iree/async/cts/sync/relay_test.cc
  runtime/src/iree/async/notification.h
  runtime/src/iree/async/platform/io_uring/notification.c
  runtime/src/iree/async/proactor.h
Due: none

[HAL/Memory] Keep pool tests C++17-compatible
  runtime/src/iree/hal/memory/fixed_block_allocator.h
  runtime/src/iree/hal/memory/fixed_block_pool_test.cc
  runtime/src/iree/hal/memory/passthrough_pool_test.cc
  runtime/src/iree/hal/memory/tlsf_pool_test.cc
Due: none

[HAL/API] Pass queue allocation pools by handle
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/iree_helpers.h
  runtime/bindings/python/hal.cc
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/memory_pools.c
  runtime/src/iree/hal/drivers/hip/memory_pools.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/testing/mock_device.c
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/hal/module.c
  samples/custom_module/async/module.cc
Due: none

[HAL/Memory] Bound TLSF default metadata growth
  runtime/src/iree/hal/memory/tlsf.c
  runtime/src/iree/hal/memory/tlsf.h
  runtime/src/iree/hal/memory/tlsf_test.cc
Due: none

[HAL/API] Require allocator virtual-memory vtable hooks
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
  runtime/src/iree/hal/drivers/null/allocator.c
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/debug_allocator.c
Due: none

[HAL] Keep pool tests C++17 portable
  runtime/src/iree/hal/pool_test.cc
Due: none

Revert "[Codegen] Use local binders for optimization flags in codegen (#24220)" (#24237)
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_split_reduction_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/Utils/CodegenOptions.cpp
  compiler/src/iree/compiler/Codegen/Utils/CodegenOptions.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 30aaef7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Change to use k str
  compiler/src/iree/compiler/Codegen/Common/SMTConstraintUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/SMTConstraintUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConstraintGenerator.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConstraintGenerator.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/unittests/LLVMGPUConstraintGeneratorTest.cpp
Due: none

Small fix
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConstraintGenerator.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConstraintGenerator.h
Due: none

[LLVMGPU] Fall back to scalar lowering for tiny attention shapes
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

Clean up comments in config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

Drop mlir str parse
  compiler/src/iree/compiler/Codegen/LLVMGPU/unittests/LLVMGPUConstraintGeneratorTest.cpp
Due: none

Clean and fix test
  compiler/src/iree/compiler/Codegen/LLVMGPU/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/unittests/LLVMGPUConstraintGeneratorTest.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Fix attention NaN for fully-masked rows (#24175)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/TileAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_online_attention.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/attention.mlir
  tests/e2e/linalg_ext_ops/attention_f16_mask.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Formatting
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
Due: none

init commit
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
Due: none

NFC: Extract populateSwizzleBasedOffsetsSizesStrides into standalone function
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.h
Due: none

[Runtime/Python] Align HAL profiling bindings
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/bindings/python/tests/hal_test.py
Due: none

[Runtime/Python] Install iree-profile with runtime package
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_profile/__main__.py
Due: bazel_to_cmake_2

[Tools] Package profiling capture tools
  .gitignore
  build_tools/bazel/iree.bazelrc
  build_tools/bin/iree-bazel-lib
  build_tools/bin/iree-bazel-run
  build_tools/tracing/iree_tracy_capture.py
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_profile/__main__.py
  runtime/bindings/python/iree/runtime/_package_test.py
  runtime/setup.py
Due: bazel_to_cmake_2

[Docs] Wire device profiling guides into the website
  docs/website/docs/developers/design-docs/metal-hal-driver.md
  docs/website/mkdocs.yml
Due: none

Allow cloning of constants from other blocks
  compiler/src/iree/compiler/Codegen/Common/VectorLayoutAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/test/vector_layout_analysis_chain_cloning.mlir
Due: none

init commit
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_batch_matmul_tests.py
Due: bazel_to_cmake_2

[Codegen][GPU] Add kernel config for ArgCompareOp with VectorDistribute pipeline (#24003)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_argcompare.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_argcompare_vector_distribute.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[ROCDL] Add pass to group buffer loads for better instruction scheduling
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLGroupBufferLoads.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
Due: bazel_to_cmake_2

[VectorDistribute] Support `linalg_ext.scan` in `ConfigureTensorLayouts` (#24205)
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUConfigureTensorLayouts.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/configure_tensor_layout.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 5cbc54e with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

Duplicate clonable operations in tile size analysis
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorTileSizes.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_vector_tile_sizes.mlir
Due: none
