Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Prevent death in cases of missing stream exports. It's the job of the verifier to ensure correct programs.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeEncodings.cpp
Due: none

Avoid reenabling ASM (#20270)
  CMakeLists.txt
Due: none

Do not set CMAKE_CXX_STANDARD as CACHE (#20261)
  CMakeLists.txt
Due: none

[DT] Add parallel generic op materialization pattern for GPU (#20316)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPUTileSwizzleUtils.h
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  tests/e2e/encoding/BUILD.bazel
  tests/e2e/encoding/CMakeLists.txt
  tests/e2e/encoding/encoding.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding consume attr to tensor import ops. This allows sources and sinks to indicate transfers of ownership. It can roughly be thought of as an std::move on a std::shared_ptr.
  compiler/plugins/input/Torch/InputConversion/FuncConversion.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
Due: none

Mark flags_demo testonly (#20369)
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add HIP data-tiling resolver to e2e encoding.mlir tests. (#20416)
  tests/e2e/encoding/BUILD.bazel
  tests/e2e/encoding/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Do more aggressive reshape propagation in single-dispatch pipeline (#20410)
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

Renaming ONNX test suites from ROCM to HIP (the HAL running the test).
  .github/workflows/pkgci_test_onnx.yml
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_hip_rdna3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_hip_rdna3.json
Due: none

[Dispatch Creation] Allow cloning attention k & v bit-extend (#20364)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
Due: none

[GlobalOpt] Add option to propagate transposes through conv (#20339)
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
Due: none

[Codegen] Teach MaterializeEncodingIntoPadding about resolved layouts. (#20393)
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
Due: none

Do not wrap a single set_encoding op into flow.dispatch.region. (#20322)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

Integrate llvm-project@8244f8210f2e (#20404)
  build_tools/bazel/iree_bitcode_library.bzl
  build_tools/cmake/iree_bitcode_library.cmake
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/ROCM/builtins/ukernel/compile_flags.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  tests/e2e/tosa_ops/clamp.mlir
  tests/e2e/tosa_ops/reduce.mlir
Due: buildifier

[Codegen][Tuner] merge the default td specs (#20127)
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu.mlir
  compiler/plugins/target/ROCM/test/tuning_spec_mmt_tile_and_fuse_default.mlir
  compiler/src/iree/compiler/Codegen/Common/LinkTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeTuningSpecsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/link_tuning_specs.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Do not wrap single unset_encoding op into dispatch region. (#20377)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/ConvertEncodingToFlow.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/convert_encoding_to_flow.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

Limit concurrency of ci_windows_x64_msvc. (#20338)
  .github/workflows/ci_windows_x64_msvc.yml
Due: none

Adding new HAL buffer allocation ownership tracking APIs. These APIs allow deallocation responsibility tracking at runtime by both hosting applications and compiled modules.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  experimental/webgpu/webgpu_device.c
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/iree_helpers.h
  runtime/bindings/python/hal.cc
  runtime/src/iree/base/internal/atomics_msvc.h
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
  samples/custom_module/async/module.cc
Due: none

Integrate LLVM at 94783a8199c5e589d8efd6d4530482d72bf98f4d (#20375)
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8fnuz.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_elementwise_f8ocp.mlir
Due: none

Updating iree-test-suites with new flags.
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
Due: none

Adding low-level `stream.resource.retain`/`stream.resource.release`. These are used to indicate how many conceptual "owners" claim lifetime responsibility for a resource.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/resource_ops.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/Patterns.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/test/resource_ops.mlir
Due: none

[Util] Add transform op for getting nearby symbols (#20405)
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.cpp
  compiler/src/iree/compiler/Dialect/Util/TransformOps/UtilTransformOps.td
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/TransformOps/test/symbol_transforms.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Add canonicalize and cse after im2col decomposition (#20414)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

[GPU] Enable e2e matmul tests for padding approach. (#20426)
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Fixing iree.build target flags, I think. (#20355)
  compiler/bindings/python/iree/build/target_machine.py
Due: none

Avoid nested fashion traversal in ModuleOp when possible. (#20344)
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/OutlineMemoizeRegions.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/StripAndSplatConstants.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/MaterializeConstants.cpp
Due: none

Bump version to 3.4.0 after 3.3.0 release. (#20360)
  compiler/version.json
  runtime/version.json
Due: none

[DispatchCreation] Add support for hoisting Flow ops. (#20346)
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/set_encoding_pipeline.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: none

[LLVMGPU] Support linalg.pack through LLVMGPUTileAndFuse (#20312)
  compiler/src/iree/compiler/Codegen/Common/TileInferenceUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pack_pipeline_test.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Only pin affinity during analysis if an affinity is specified. (#20382)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/ExternalInterfaces/StreamExternalModels.cpp
Due: none

Add pass to propagate tranposes pass when making single dispatch from function (#20348)
  compiler/src/iree/compiler/Preprocessing/Common/test/attr_based_pipeline.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Due: none

Revert recent Windows CI changes, moving back to nightly only. (#20342)
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Due: none

[DT] Add more folders to MaterializeEncoding pass cleanup patterns. (#20334)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncoding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
Due: none

Use a better way to determine C11 support (#20384)
  runtime/src/iree/base/status.c
Due: none

IREE_BUILD_COMPILER doesn't require nanobind (#20403)
  CMakeLists.txt
Due: none

[Encoding] Delete the allocation support of roundDimsTo field. (#20332)
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
  compiler/src/iree/compiler/Utils/ElementPackingUtils.cpp
Due: none

[Stream] Add support for materializing stream.tensor.encode ops. (#20321)
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encodings.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Extend IGEMM utils to support conv2d_chwn_chwf ops (#20330)
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
