Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[ROCm][Vulkan] Add known targets for Radeon R9070 and 9060XT (#21035)
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
Due: none

[GPU] Add overflow flag to index addition in prefetching pass (#20975)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/prefetch_shared_memory.mlir
Due: none

Allow importing an external stream into HIP. (#20972)
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/src/iree/hal/drivers/hip/api.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/hip_driver.c
Due: none

[docs] Update sharktuner documentation (#20704)
  docs/website/docs/reference/tuning.md
Due: none

[Doc] Add note about GPU time synchronization (#20997)
  docs/website/docs/developers/performance/profiling-with-tracy.md
Due: none

[Codegen] Create `scf.forall` -> `scf.for` pass (#20962)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/ForallToFor.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/forall_to_for.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Restrict GPUAllocPrivateMemoryForDPSOps to pure tensor semantics (#20939)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUAllocPrivateMemoryForDPSOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_alloc_private_memory_for_dps_ops.mlir
Due: none

Use adaptor instead of storeOp to fix 'failed to legalize' (#20971)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
Due: none

[DumpExecutableBenchmarks] Use MapVector to simplify code (#20976)
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
Due: none

[Codegen][GPU] Lower gpu.subgroup_reduce to DPP intrinsics on AMD GPUs (#20468)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/ExpandGPUOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx1100.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_warp_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_reduction_subgroup.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Propagate relayout ops before combining (#20901)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

Remove IREE_DISABLE_THREAD_SAFETY_ANALYSIS (#20954)
  runtime/src/iree/base/internal/synchronization.c
Due: none

[Util] Improve Util::FoldDimOp folder to handle memref.assume_alignment ops. (#20984)
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/test/interface_ops_folding.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilDialect.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Integrate llvm-project@28eb66b79413 (#20942)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUAllocPrivateMemoryForDPSOps.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/UKernelOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
Due: buildifier, bazel_to_cmake_1

[CPU][RISCV][NFC] Trim IRs from lowering strategy selection tests. (#20933)
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
Due: none

[Codegen][GPU][NFC] More MMA dead code removal (#20980)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
Due: none

[Dispatch Creation] Merge bubbling of expand and extract (#20989)
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExtractSlices.cpp
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_extract_slice.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU][NFC] Remove dead MMA interface method (#20960)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
Due: none

[Integrate] Mirror and prioritize the old ConvertVectorStore pattern. (#20981)
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: none

[LLVMGPU] Add lowering strategy selection for map_scatter (#21034)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Adding blit kernels and device-side enqueuing. (#21057)
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/blit.c
  runtime/src/iree/hal/drivers/amdgpu/device/blit.h
  runtime/src/iree/hal/drivers/amdgpu/device/dummy.c
  runtime/src/iree/hal/drivers/amdgpu/device/kernel_tables.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/executable.c
Due: bazel_to_cmake_2

Add padding, masking and fold vector.transfer_write -> vector.transfer_read to avoid memory roundtrips (#21074)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute_reduction_gfx942.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Expose creation of FileHandles from FDs to python. (#21016)
  runtime/bindings/python/io.cc
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/bindings/python/tests/io_test.py
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
Due: none

Adding device-side tracing macros and a device-side trace buffer. (#21046)
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/tracing.c
  runtime/src/iree/hal/drivers/amdgpu/device/tracing.h
Due: bazel_to_cmake_2

Force install python version 3.13.5 for windows (#21120)
  build_tools/python_deploy/install_windows_deps.ps1
Due: none

[Codegen] Port AMDGPU device lib implementations to MLIR rewrites (#20598)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FastMathPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/FastMathPatterns.h
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/math_transform.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Move operand promotion control to attribute interface (#21098)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPromoteMatmulOperands.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Ensuring unique names for outlined `hal.dispatch.extern` ops. (#21055)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchExterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_externs.mlir
Due: none

Reland "[Codegen][ROCDL] Drop nominal support for dynamic shared mem (#21020)" (#21102)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/schemas/hip_executable_def.fbs
Due: none

[compiler] remove uses of memref::ExpandOps pass (#21113)
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Due: none

[Codegen] Fix FoldCollapseShapeIntoInterfaceTensorStoreFullSlice (#21036)
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
Due: none

[Codegen][GPU] Sort intrinsic according to k alignment - Step 1 of 2- Track MmaInterfaceAttr via field instead of index (#21103)
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Triggering auto torch input conversion based on func arg/result types. (#21067)
  compiler/plugins/input/Torch/InputConversion/test/auto_input_conversion.mlir
  compiler/plugins/input/Torch/PluginRegistration.cpp
Due: none

Adding device-side AMDGPU signal/queue utils. (#21042)
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/support/mutex.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/signal.h
Due: bazel_to_cmake_2

Adding device->host service worker. (#21094)
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/blit.c
  runtime/src/iree/hal/drivers/amdgpu/device/blit.h
  runtime/src/iree/hal/drivers/amdgpu/device/host_client.c
  runtime/src/iree/hal/drivers/amdgpu/device/host_client.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/amdgpu/host_service.h
  runtime/src/iree/hal/drivers/amdgpu/host_service_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/kfd_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_tables.h
  runtime/src/iree/hal/drivers/amdgpu/util/topology_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/vmem_test.cc
  runtime/src/iree/testing/status_matchers.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Enable hip e2e tests for map_scatter (#21079)
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Translate flat operand index into segment relative index. (#21060)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
Due: none

Don't erase the target executable in the loop using it. (#21097)
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Due: none

[LinalgExt] Add argmax op with rountrip and invalid mlir test (#21021)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Due: none

[NFC] simplify check in scf.if stage selection when prefetching (#21054)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/PrefetchSharedMemoryCopy.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
