Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[CI] Add MI355 e2e tests
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_amd_mi355.yml
  build_tools/cmake/ctest_all.sh
Due: none

[Codegen/Common] Address pr comments
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
Due: none

[Codegen/Common] Skip generating padding scf.forall loops when padding is effectively a no-op
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

[Codegen/Common] Follow up on review feedback
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_layout_transformation.mlir
Due: none

[GPU] Account for scale operands in shared memory calculation (#23111)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

Deployed 9bcc19e with MkDocs version: 1.6.1
  reference/mlir-dialects/Encoding/index.html
  reference/mlir-dialects/IREEGPU/index.html
  reference/mlir-passes/CodegenCommonGPU/index.html
  search/search_index.json
Due: none

[Codegen][GPU] Fix lane offset handling in coalesced DMA lowering
  compiler/src/iree/compiler/Codegen/Common/GPU/AMDGPULowerCoalescedDMAToGatherLDS.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/amdgpu_lower_coalesced_dma_to_gather_lds.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pipeline_coalesced_dma.mlir
Due: none

[LLVMGPU] Add pass to lower vector loads to amdgpu.transpose_load
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/iree_gpu_attrs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_load_to_transpose_load.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed cc5bafc with MkDocs version: 1.6.1
  reference/mlir-dialects/Stream/index.html
  reference/mlir-dialects/VM/index.html
  reference/mlir-passes/Stream/index.html
  reference/mlir-passes/VM/index.html
  search/search_index.json
Due: none

Adding libFuzzer-based fuzzing infrastructure. (#23122)
  CMakeLists.txt
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_cc_fuzz.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_fuzz.cmake
  build_tools/cmake/iree_setup_toolchain.cmake
  docs/website/docs/developers/debugging/fuzzing.md
  docs/website/mkdocs.yml
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/unicode_fuzz.cc
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view_fuzz.cc
  runtime/src/iree/base/string_view_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Remove slice guard when doing pad producer fusion in FuseAndHoist
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

[GPU] Add quantization inefficiency debug print for MMA heuristics.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
Due: none

Improving bazel infrastructure for testing and MLIR experimentation.
  build_tools/bazel/build_test_all.sh
  build_tools/bazel/iree.bazelrc
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/MlirTransformHarness.h
  compiler/src/iree/compiler/Tools/MlirTransformHarnessDemo.cpp
  compiler/src/iree/compiler/Tools/MlirTransformHarnessDemo.mlir
  docs/website/docs/developers/building/bazel.md
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/gbenchmark_harness.h
  runtime/src/iree/testing/gbenchmark_harness_demo.cc
  runtime/src/iree/testing/gtest_harness.h
  runtime/src/iree/testing/gtest_harness_demo.cc
Due: buildifier, bazel_to_cmake_1

[Docs] Add `iree-fusilli-write` team to contributing doc (#23107)
  docs/website/docs/developers/general/contributing.md
Due: none

Deployed 1398d01 with MkDocs version: 1.6.1
  developers/general/contributing/index.html
  search/search_index.json
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_load_to_transpose_load.mlir
Due: none

[Codegen] Implement reshape propagation by expansion for inner_tiled
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

lint
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

clang format
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLLoadToTransposeLoad.cpp
Due: none

[GPU] Remove slice guard when doing pad producer fusion in FuseAndHoist (#23126)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

addressing PR comments
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/flatten_swizzle_hint_allocs.mlir
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
Due: none

Adding iree-bazel-* wrapper tools for improved Bazel workflows.
  build_tools/bin/iree-bazel-build
  build_tools/bin/iree-bazel-configure
  build_tools/bin/iree-bazel-fuzz
  build_tools/bin/iree-bazel-lib
  build_tools/bin/iree-bazel-query
  build_tools/bin/iree-bazel-run
  build_tools/bin/iree-bazel-test
  build_tools/bin/iree-bazel-try
  configure_bazel.py
  docs/website/docs/developers/building/bazel.md
Due: none

Integrate llvm-project@ad947503831a [ours a60d6603fbf8] etc.
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Due: none

Let's see if also running the workaround during the thing that bufferizes constants fixes our dispatch count problem
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
Due: none

PR comments pt 2
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

adjust errors
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Common/test/resolve_swizzle_hints.mlir
Due: none

addresing PR Review comments
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
Due: none

adding folding patterns
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

add new pass to flatten allocs right before resolution
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenSwizzleHintAllocs.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/ResolveSwizzleHints.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/PromotionImpls.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

rebasing off main
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Pr review comments pt 2
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

PR review comments
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

code quality fixes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyTilingLevel.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.h
Due: none

lint fix
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
Due: none

adding new line at the end of test
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fold_swizzle_hint_ops.mlir
Due: none

Fix null pointer dereference in LiftCFGToSCF pass
  compiler/src/iree/compiler/Dialect/Util/Transforms/LiftCFGToSCF.cpp
Due: none
