Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Use iree_encoding.layout when the layouts are resolved.
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingBase.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

[Encoding] Introduce iree_encoding.layout encoding attribute.
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingDialect.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
Due: none

Implement SerializableEncodingInterface for Encoding::LayoutAttr.
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
Due: none

Retire layouts field from EncodingAttr.
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/test/gpu_materialize_encoding_gfx942.mlir
  compiler/src/iree/compiler/Codegen/Common/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_into_padding.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
Due: none

Encode the entire encoding attr for VMVX path.
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
Due: buildifier, bazel_to_cmake_1

Run bazel_to_cmake
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
Due: bazel_to_cmake_2

[GPU] Vector distribution on arbitrary dispatches.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

add assert
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

[tuner] expose python binding for getting the tuner root ops (#20438)
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/CMakeLists.txt
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Due: bazel_to_cmake_2

Properly set the upper bound of gpu.lane_id when rewriteForallToLanes.
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_distribute_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/distribute_lane_forall.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

Address comments
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/Utils.h
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
Due: none

Delete a test that is no longer needed because of the change.
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
Due: none

Make specialize_encodings checks more robust
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
Due: none

collapse two if into a single if
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
Due: none

Adding a Memref flattening pass to IREE.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefs.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/decompose_memref.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix test error
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/decompose_memref.mlir
Due: buildifier, bazel_to_cmake_1

Adding a memref linearizer pass (#20335)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefs.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/decompose_memref.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Fix reshapes created by collapse dimensions (#20515)
  compiler/src/iree/compiler/DispatchCreation/CollapseDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/collapse_dimensions.mlir
Due: none

Deployed 951de5a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Update int8 fp16 punet output.
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Due: none

Update inputs in SDXL regression tests
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Due: none

Update golden values in the new test suite
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp8_rocm.json
Due: none

Update I/O values from shortfin
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Due: none

Delete experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Due: none

Drop a bug-for-bug forcing of approx for math.erf when --iree-codegen-gpu-native-math-precision is passed.
  compiler/src/iree/compiler/Codegen/Common/MathTransformPass.cpp
Due: none

[Encoding] Use assemblyFormat for testing encodings.
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
Due: none

Also apply on TestingEncodingAttr
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/inject_dispatch_tracing.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_encodings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/specialize_encodings.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/convert_encoding_to_flow.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fuse_encoding_ops_into_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
  compiler/src/iree/compiler/DispatchCreation/test/tensor_pad_to_tensor_insert_slice.mlir
Due: none

CMakeLists.txt fix from pre-commit
  compiler/plugins/input/StableHLO/CMakeLists.txt
Due: bazel_to_cmake_2

Add REQUIRED
  CMakeLists.txt
Due: none

Introduce IREE_USE_SYSTEM_DEPS
  CMakeLists.txt
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
