Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Make config more permissive
  compiler/.clang-tidy
  llvm-external-projects/iree-dialects/.clang-tidy
Due: none

Fixes
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Pipelines/Options.cpp
Due: none

Update compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
Due: none

Added toggle for using useexp2 for onlineAttention Decomposition
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
Due: none

Removed Typo
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

Added useExp2 as pass option to DecomposeAttention
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAttention.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
Due: none

Simplified FileChecks; Added check of log2e vs 1.0 scaling
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
Due: none

Newline at EOF
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/decompose_aggregate_op.mlir
Due: none

Reapply [GPU] Remove slice guard when doing pad producer fusion in FuseAndHoist (#23140)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

Formatting
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

[LLVMGPU] Handle mixed-precision matmuls by returning nullopt (#23116)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
Due: none

Nit comment
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

Integrate llvm-project@f9a8096067 [ours 31f0e3e644] (#23101)
  compiler/bindings/python/CMakeLists.txt
Due: bazel_to_cmake_2

[Preprocessing] Refine checks in ConvertConvFilterToChannelsLast (#23103)
  compiler/src/iree/compiler/Preprocessing/Common/ConvertConvFilterToChannelsLast.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/conv_filter_to_channels_last.mlir
Due: none

Refactor computeSubAndExp2 to computeSubAndExp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

Move SinkTransposeThroughPad preprocessing pass to PropagateLinalgTranspose (#23080)
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/SinkTransposeThroughPad.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/sink_transpose_through_pad.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Stream] Handle all stream tensor ops in UnifyEncodingForGlobals (#23069)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/UnifyEncodingForGlobals.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/unify_encoding_for_globals.mlir
Due: none

Revert "[GPU] Remove slice guard when doing pad producer fusion in FuseAndHoist" (#23132)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

[GPU] Remove slice guard when doing pad producer fusion in FuseAndHoist (#23126)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUFuseAndHoistParallelLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_fuse_and_hoist_forall.mlir
Due: none

Adding libFuzzer-based fuzzing infrastructure. (#23122)
  CMakeLists.txt
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/iree_cc_fuzz.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_fuzz.cmake
  build_tools/cmake/iree_setup_toolchain.cmake
  docs/website/docs/developers/debugging/fuzzing.md
  docs/website/mkdocs.yml
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/unicode_fuzz.cc
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view_fuzz.cc
  runtime/src/iree/base/string_view_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Reapply "[GPU][Codegen] Expand iteration space based on new `expand_dims` attribute" (#23076)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUExpandDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_expand_dimensions.mlir
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ReductionConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
  compiler/src/iree/compiler/Dialect/Encoding/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/EncodingUtils.cpp
  compiler/src/iree/compiler/Utils/EncodingUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LinalgExt] Implement generateScalarImplementation for map_gather (#23070)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Due: none

Enforce braces in plugins and bindings. NFC. 1/n (#23143)
  compiler/bindings/c/iree/compiler/loader/loader.cpp
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/plugins/input/StableHLO/Conversion/ConvertCollectives.cpp
  compiler/plugins/input/StableHLO/Conversion/LegalizeControlFlow.cpp
  compiler/plugins/input/StableHLO/Conversion/LegalizeShapeComputations.cpp
  compiler/plugins/input/StableHLO/Conversion/MapStableHLOToScalarOp.h
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/Canonicalization.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/DotGeneralToDot.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/FlattenTuplesInCFG.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/FlattenTuplesInSCF.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/LowerComplex.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOCustomCalls.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgExt.cpp
  compiler/plugins/input/TOSA/InputConversion/Converti48Toi64.cpp
  compiler/plugins/input/TOSA/InputConversion/StripSignedness.cpp
  compiler/plugins/input/TOSA/InputConversion/TosaToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/BindSymbolicShapes.cpp
  compiler/plugins/input/Torch/InputConversion/BitCastTensor.cpp
  compiler/plugins/input/Torch/InputConversion/ConvertTMTensorToLinalgExt.cpp
  compiler/plugins/input/Torch/InputConversion/FuncConversion.cpp
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/LLVMCPU/Builtins/Device.cpp
  compiler/plugins/target/LLVMCPU/Builtins/Musl.cpp
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/LLVMCPU/LLVMIRPasses.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/LLVMCPU/LibraryBuilder.cpp
  compiler/plugins/target/LLVMCPU/LinkerTool.cpp
  compiler/plugins/target/LLVMCPU/internal/AndroidLinkerTool.cpp
  compiler/plugins/target/LLVMCPU/internal/EmbeddedLinkerTool.cpp
  compiler/plugins/target/LLVMCPU/internal/UnixLinkerTool.cpp
  compiler/plugins/target/LLVMCPU/internal/WasmLinkerTool.cpp
  compiler/plugins/target/LLVMCPU/internal/WindowsLinkerTool.cpp
  compiler/plugins/target/MetalSPIRV/MSLToMetalLib.cpp
  compiler/plugins/target/MetalSPIRV/SPIRVToMSL.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
Due: none

Unifying VM testing infrastructure to allow better scaling. (#23099)
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  runtime/src/iree/vm/bytecode/BUILD.bazel
  runtime/src/iree/vm/bytecode/CMakeLists.txt
  runtime/src/iree/vm/bytecode/dispatch_async_test.cc
  runtime/src/iree/vm/bytecode/dispatch_test.cc
  runtime/src/iree/vm/list.c
  runtime/src/iree/vm/list_test.cc
  runtime/src/iree/vm/native_module_packing.h
  runtime/src/iree/vm/test/BUILD.bazel
  runtime/src/iree/vm/test/CMakeLists.txt
  runtime/src/iree/vm/test/async_ops.mlir
  runtime/src/iree/vm/test/bytecode/BUILD.bazel
  runtime/src/iree/vm/test/bytecode/CMakeLists.txt
  runtime/src/iree/vm/test/bytecode/bytecode_module_test.cc
  runtime/src/iree/vm/test/emitc/BUILD.bazel
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
  runtime/src/iree/vm/test/emitc/emitc_module_test.cc
  runtime/src/iree/vm/test/emitc/module_test.cc
  runtime/src/iree/vm/testing/BUILD.bazel
  runtime/src/iree/vm/testing/CMakeLists.txt
  runtime/src/iree/vm/testing/test_runner.cc
  runtime/src/iree/vm/testing/test_runner.h
  runtime/src/iree/vm/testing/yieldable_test_module.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Implement reshape propagation by expansion for inner_tiled (#23118)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
  compiler/src/iree/compiler/Codegen/Common/test/propagate_reshapes_by_expansion.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/ReshapeFusion.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Transforms/Transforms.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Mask scaling is conditional to useExp2
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
Due: none

[Docs] Add `iree-fusilli-write` team to contributing doc (#23107)
  docs/website/docs/developers/general/contributing.md
Due: none

[GPU] Account for scale operands in shared memory calculation (#23111)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Due: none

[Encoding] Add dynamic encoding dims to (Un)SetEncodingOp (#22907)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

Bug in code: Overwriting the existing DecompositionAttr, we want to add use_exp2 not overwrite
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeAttention.cpp
Due: none

Added docs for Decomposition Configuration:
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Due: none

[NFC] Add tablegen_compile_commands.yml to .gitignore (#23104)
  .gitignore
Due: none

Update iree-test-suites (#23112)
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
  tests/external/iree-test-suites/torch_ops/torch_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx1100_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_hip_gfx942_O3.json
  tests/external/iree-test-suites/torch_ops/torch_ops_gpu_vulkan_O3.json
Due: none

[LinalgExt] Add map_gather e2e tests for CPU/VMVX/ROCM (#23124)
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_ext_ops/map_gather.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CI] Enable reverse iteration in UBsan workflow (#23178)
  .github/workflows/ci_linux_x64_clang_ubsan.yml
  build_tools/cmake/build_and_test_ubsan.sh
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
