Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

[CodeGen] Make TilingConfig compatible with LoweringConfigAttrInterface. (#21323)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenInterfaces.td
Due: none

Adding gfx950 default tuning specs
  compiler/plugins/target/ROCM/builtins/tuning/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/tuning/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/tuning/test/BUILD.bazel
  compiler/plugins/target/ROCM/builtins/tuning/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/default_tuning_specs_amdgpu_950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Teach TilingConfig about IREE::CPU::LoweringConfigAttr.
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
Due: none

fix dep
  compiler/src/iree/compiler/Codegen/Common/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/unittests/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
Due: none

getTilingAttr -> getTilingLevelAttr
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
Due: none

Adding missing spec test.
  compiler/plugins/target/ROCM/builtins/tuning/test/spec_gfx950.mlir
Due: none

update
  compiler/plugins/target/ROCM/builtins/tuning/test/spec_gfx950.mlir
Due: none

[CPU] Teach TilingConfig about IREE::CPU::LoweringConfigAttr. (#21327)
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/Common/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/CPU/IR/IREECPUAttrs.td
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[CPU] Switch mmt4d pipeline to use IREE::CPU::LoweringConfigAttr.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fix conflicts
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Due: none

replace 942 with 950
  compiler/plugins/target/ROCM/builtins/tuning/iree_default_tuning_spec_gfx950.mlir
Due: none

fix deps
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[GPU] Remove ROCm llvm plugin (#21311)
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/CMakeLists.txt
  compiler/plugins/target/ROCM/test/opt_pass_plugin/GPUHello.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/gpu_hello.mlir
Due: bazel_to_cmake_2

[CPU] Switch mmt4d pipeline to use IREE::CPU::LoweringConfigAttr. (#21326)
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Distribute workgroups along X dim
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

add rocdl use buffer instructions
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLPasses.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLUseBufferInstructions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/use_configure_buffer_instructions.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Dispatch Creation] Make producer fusable via interchange (#20977)
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[Codegen] Add AMDGPU specific narrow type emulation pass for AMDGPUDialect
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/AMDGPUEmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/amdgpu_emulate_narrow_type.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix year
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.h
Due: none

fix bazel and address comments
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[TensorExt] Mirror a tensor_ext version of flow.tensor.bitcast
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/bitcast.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_folding.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_ops.mlir
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ShapeUtils.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move ElementPackingUtils to Encoding
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TypePropagationPass.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.h
  compiler/src/iree/compiler/Dialect/Stream/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Extend op description
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Due: none

Address comments
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_ops.mlir
  compiler/src/iree/compiler/Utils/ShapeUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen] Add AMDGPU specific narrow type emulation pass for AMDGPUDialect (#21333)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/Common/EmulateNarrowType.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/AMDGPUEmulateNarrowType.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/amdgpu_emulate_narrow_type.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed f2ccccb with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenLLVMGPU/index.html
  search/search_index.json
Due: none

[TensorExt] Mirror a tensor_ext version of flow.tensor.bitcast (#21277)
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TypePropagationPass.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Encoding/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/Utils/ElementPackingUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/bitcast.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOpFolders.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.cpp
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/TensorExt/IR/test/tensor_ext_folding.mlir
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ShapeUtils.cpp
  compiler/src/iree/compiler/Utils/ShapeUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 990d368 with MkDocs version: 1.6.1
  reference/mlir-dialects/TensorExt/index.html
  search/search_index.json
Due: none

setting up matcher
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

intemediate commit
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/GPULoweringConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ExpandUndistributedInnerTiles.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

remove debug statements
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/ExpandUndistributedInnerTiles.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

clean later
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

fixing lint
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.h
Due: bazel_to_cmake_2

messy fixes
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPadOperands.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
Due: none

Clean up code
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fixing padding
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUInterfaces.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
Due: none

removing debug statements
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUApplyPaddingLevel.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPackToIntrinsics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPadOperands.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenOps.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/MatchUtils.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
