Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

validate
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/UninitializedValueValidation.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/uninitialized_value_validation.mlir
  tests/e2e/regression/disable_demote_f64_to_f32.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

verify the number of tuning entry points
  compiler/src/iree/compiler/Codegen/Common/test/verify_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
Due: none

review-comment
  compiler/src/iree/compiler/GlobalOptimization/UninitializedValueValidation.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/uninitialized_value_validation.mlir
Due: none

Workaround network issues on GPU cluster with new dockerfile.
  .github/workflows/pkgci_test_amd_mi300.yml
Due: none

simplify test and update readme
  compiler/src/iree/compiler/Codegen/Common/test/verify_tuning_specs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.cpp
  docs/website/docs/reference/tuning.md
Due: none

[hip] Add async allocations to the list of exportable buffer types.
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
Due: none

review-comment
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/WarnOnUninitializedValues.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/uninitialized_value_validation.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

fix
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/warn_on_uninitialized_values.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

buildifier
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

advance
  compiler/src/iree/compiler/GlobalOptimization/WarnOnUninitializedValues.cpp
Due: none

Validate against some uses of uninitialized values. (#20177)
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/WarnOnUninitializedValues.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/warn_on_uninitialized_values.mlir
  tests/e2e/regression/disable_demote_f64_to_f32.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add digest now that the package is published.
  .github/workflows/pkgci_test_amd_mi300.yml
Due: none

Add back git safe.directory. Also in dockerfile though...
  .github/workflows/pkgci_test_amd_mi300.yml
Due: none

[DT] Enable SpecializeEncoding pass by default.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Due: none

[DT] Enable SpecializeEncoding pass by default. (#19805)
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Due: none

Changes to dispatch formation to allow for fusion with trunc in case of gemm + transpose gemm fusion.
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[DispatchCreation] Address missed horizontal fusion case with transposes
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fuse_horizontal_contractions.mlir
Due: none

Update golden value for the number of dispatches.
  .github/workflows/pkgci_regression_test.yml
Due: none

Address comments.
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Convert data-tiling write-ups into blog posts.
  docs/website/docs/community/blog/posts/data-tiling-with-encoding-specialization.md
  docs/website/docs/community/blog/posts/demo-data-tiling-with-multi-device.md
Due: none

update a comment
  docs/website/docs/community/blog/posts/demo-data-tiling-with-multi-device.md
Due: none

Workaround network issues on GPU cluster with new dockerfile. (#20178)
  .github/workflows/pkgci_test_amd_mi300.yml
Due: none

[NFC] Fixing typos. (tranpose->transpose, startegy->strategy, Fop->For)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinalgOpInfo.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

[NFC] Fixing typos. (tranpose->transpose, startegy->strategy, Fop->For) (#20185)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinalgOpInfo.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
Due: none

Deployed 8e574a9 with MkDocs version: 1.6.1
  reference/mlir-dialects/LinalgExt/index.html
  search/search_index.json
Due: none

Use caching_allocator for async allocation/deallocation in HIP
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/caching_allocator.h
  runtime/src/iree/hal/utils/wrapped_buffer.c
  runtime/src/iree/hal/utils/wrapped_buffer.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Address missed horizontal fusion case with transposes (#20060)
  .github/workflows/pkgci_regression_test.yml
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/DispatchCreation/FormDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/DispatchCreation/test/fuse_horizontal_contractions.mlir
Due: none

Address comment and reduce spookiness
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Utils/OptionUtils.cpp
  compiler/src/iree/compiler/Utils/OptionUtils.h
Due: none

Dont require arg for applyOptimizationDefaults
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Utils/OptionUtils.h
  compiler/src/iree/compiler/Utils/unittests/UtilsTest.cpp
Due: none

[NFC] Fix typo (#20171)
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPadding.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingPatterns.cpp
Due: none

[hip] Fix memory leak caused due to asynchronous cleanup (#20158)
  runtime/src/iree/hal/drivers/hip/hip_device.c
Due: none

[hip] Add async allocations to the list of exportable buffer types. (#20181)
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
Due: none

[LLVMGPU][DT] Add MaterializeDeviceEncodingPass to LLVMGPU passes behind flag
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLKernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
