Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

[VectorDistribute] Allow distributing subgroups on multiple m dimensions
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

Fix the splitReduction pass
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/SplitReduction.cpp
Due: none

Fix dynamic dimension skinny bailing check
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
Due: none

[VectorDistribute] Flush denormals for attention reduction config
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

[NFC][ROCM] Refactor bitcode ukernel to a separate file (#21983)
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/BUILD.bazel
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/CMakeLists.txt
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMAttrs.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMUkernelBitcodeSupport.cpp
  compiler/plugins/target/ROCM/Dialect/ROCM/IR/ROCMUkernelBitcodeSupport.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[VectorDistribute] Allow distributing subgroups on multiple m dimensions (#22000)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_gfx942.mlir
Due: none

Support skinny scaled matmul in kernel config
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx950.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[LLVMGPU] Vectorize map_scatter in LLVMGPUTileAndFuse pipeline (#21890)
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/vae_rocm.json
Due: none

LLVM-Integrate: Drop revert for f645d209d
  WORKSPACE
Due: buildifier

[Codegen] Push up memref reshapes before empty tensor elimination
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/eliminate_empty_tensors.mlir
Due: none

[Encoding] Propagate layout encodings through tensor.cast ops
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/PropagateEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

implement isSerialized for encoding resolvers
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
Due: none

address comments, update docs, fix propagation interface
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingAttrs.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingInterfaces.td
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/PropagateEncodings.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
  compiler/src/iree/compiler/ExternalInterfaces/EncodingExternalModels.cpp
Due: none

add test
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: none

update pipeline test
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

rejiggle
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

ensure 0 vs 1 parity on vae
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute_reduction_gfx942.mlir
Due: none

add fix for unet compilation
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Due: none

dont change DispatchCreation pass pipeline
  compiler/src/iree/compiler/DispatchCreation/FuseEncodingOpsIntoDispatchRegions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/pipeline_tests.mlir
Due: none

[Codegen] Push up memref reshapes before empty tensor elimination (#22045)
  compiler/src/iree/compiler/Codegen/Common/BlockDynamicDimensions.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/eliminate_empty_tensors.mlir
Due: none

[LLVMGPU] Enable iree-llvmgpu-test-combine-layout-transformation by default
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

update test
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_pipeline_data_tiling.mlir
Due: none

Apply suggestion from @ScottTodd
  .github/workflows/pkgci_test_amd_mi355.yml
Due: none

[LLVMGPU] Add support for direct convolution in tile and fuse pipeline (#22033)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_direct_conv_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_direct_conv_tile_and_fuse.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

addressed comments and pinned rocm version
  .github/workflows/pkgci_test_amd_mi355.yml
Due: none

Skip test suites when the input is disabled
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/CMakeLists.txt
Due: bazel_to_cmake_2

address comments
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/CPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

use testing encoding
  compiler/src/iree/compiler/DispatchCreation/test/propagate_encodings.mlir
Due: none

add numerical test
  tests/e2e/regression/linalg_ops_dynamic.mlir
Due: none

don't repeat canonicalization
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

Lower to cf later to allow math.erf to lower correctly
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Due: none

LLVM-Integrate: Drop revert for f645d209d (#22044)
  WORKSPACE
Due: buildifier

Integrate llvm/llvm-project@50ef746a12
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Due: none

fix test
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Due: none

address reviewer comments
  compiler/src/iree/compiler/Preprocessing/Common/test/preprocessing_match_ops.mlir
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensions.cpp
  compiler/src/iree/compiler/Preprocessing/TransformExtensions/PreprocessingExtensionsOps.td
Due: none
