Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/

Outline getReductionAndParallelLoopDims.
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

Flatten
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

[Codegen][GPU] Fix VDMFMA sparse index types for gfx950 variants
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[HAL][HIP] Keep graph test C++17-compatible
  runtime/src/iree/hal/drivers/hip/graph_command_buffer_test.cc
Due: none

Fix release due to missing directory (#24268)
  build_tools/github_actions/build_dist.py
Due: none

Fix bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[HAL][HIP] Xfail transient command-buffer CTS timeouts
  runtime/src/iree/hal/drivers/hip/cts/backends.cc
Due: none

[Runtime/Python] Support BF16 and FP8 buffer view host conversion (#24263)
  runtime/bindings/python/numpy_interop.cc
  runtime/bindings/python/tests/array_interop_test.py
Due: none

[Codegen] Improve transfer_gather vectorization method. (#24201)
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather_masked.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization_using_transfer_gather_unmasked.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][GPU] Address review nits for VDMFMA sparse index fix
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[LLVMCPU] Apply binding subspan byte offsets to base pointers
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
Due: none

updating flag name
  compiler/src/iree/compiler/Codegen/Common/test/materialize_encoding_gfx950.mlir
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  tests/e2e/matmul/CMakeLists.txt
Due: bazel_to_cmake_2

Add pipeline tests
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Due: none

updating shuffle -> swizzle
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
Due: none

Wire up unshuffled operands in ConfigUtils and GPUUtils
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Due: none

[HAL] Propagate tensor import dims from consistent consumers
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/import_dims.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

updating shuffle -> swizzle
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
Due: none

Add gfx950-specific scale-only hoisting in HoistEncodingOps
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

adding new flag
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.cpp
  compiler/src/iree/compiler/Codegen/ExternalInterfaces/GPUEncodingExternalModels.h
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/HoistEncodingOps.cpp
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encoding_ops.mlir
  compiler/src/iree/compiler/DispatchCreation/test/hoist_encodings_ops_pdt.mlir
  tests/e2e/matmul/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[DispatchCreation] Preserve attention K1/N unit dims
  compiler/src/iree/compiler/DispatchCreation/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/DispatchCreation/test/fold_unit_dims.mlir
Due: none

[Codegen] Walk ops instead of using .getOps<...> when raising to named ops
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
Due: none

[TensorExt] Fix insert_slice -> dispatch.tensor.store folder (#24266)
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Address comments
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
Due: none

[DispatchCreation] Prevent fill->scatter fusion at dispatch formation
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/DispatchCreation/test/clone_producers_into_dispatch_regions.mlir
Due: none

Test new ref for iree-test-suite
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
Due: none

[Stream] Preserve explicit dispatch affinity for tied results
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Affinity.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/annotate_affinities.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution_invalid.mlir
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Tools] Diagnose coarse-fences invocation without HAL device
  runtime/src/iree/tooling/function_util.c
Due: none

Full path
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_torch.yml
Due: none

narrow scope of change to CombineSourceLayoutTransformationPass
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
Due: none

Bump LLVM to llvm-project@d48c8411dfe6 (#24267)
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
Due: none

[Tokenizer] Add explicit pair batch encoding
  runtime/src/iree/tokenizer/postprocessor.c
  runtime/src/iree/tokenizer/postprocessor.h
  runtime/src/iree/tokenizer/postprocessor_fuzz.cc
  runtime/src/iree/tokenizer/postprocessor_test.cc
  runtime/src/iree/tokenizer/testdata/BUILD.bazel
  runtime/src/iree/tokenizer/testdata/CMakeLists.txt
  runtime/src/iree/tokenizer/testdata/wordpiece_bert_pair_minimal.json
  runtime/src/iree/tokenizer/testing/fuzzing_util.c
  runtime/src/iree/tokenizer/testing/fuzzing_util.h
  runtime/src/iree/tokenizer/tokenizer.c
  runtime/src/iree/tokenizer/tokenizer.h
  runtime/src/iree/tokenizer/tokenizer_batch_encode_fuzz.cc
  runtime/src/iree/tokenizer/tokenizer_huggingface_test.cc
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Tools] Diagnose coarse-fences invocation without HAL device (#24274)
  runtime/src/iree/tooling/function_util.c
Due: none

[TensorExt] Fold insert_slice -> store when dest is tensor.empty
  compiler/src/iree/compiler/Dialect/TensorExt/Transforms/Folders.cpp
  compiler/src/iree/compiler/DispatchCreation/test/dispatch_linalg_on_tensors.mlir
Due: none

[HAL][CTS] Xfail AMD runner CTS gaps
  runtime/src/iree/hal/drivers/hip/cts/backends.cc
  runtime/src/iree/hal/drivers/vulkan/cts/backends.cc
Due: none

[HAL][CTS] Fix barrier visibility checks
  runtime/src/iree/hal/cts/command_buffer/copy_buffer_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_constants_bindings_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_constants_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_indirect_parameters_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_multi_entrypoint_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_multi_workgroup_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_pipeline_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_reuse_test.cc
  runtime/src/iree/hal/cts/command_buffer/dispatch_test.cc
  runtime/src/iree/hal/cts/command_buffer/fill_buffer_test.cc
  runtime/src/iree/hal/cts/command_buffer/stress_test.cc
  runtime/src/iree/hal/cts/command_buffer/transient_buffer_test.cc
  runtime/src/iree/hal/cts/command_buffer/update_buffer_test.cc
  runtime/src/iree/hal/cts/queue/queue_alloca_test.cc
  runtime/src/iree/hal/cts/queue/queue_dispatch_test.cc
  runtime/src/iree/hal/cts/queue/queue_transfer_test.cc
  runtime/src/iree/hal/cts/queue/semaphore_submission_test.cc
  runtime/src/iree/hal/cts/util/test_base.h
  runtime/src/iree/hal/drivers/vulkan/cts/backends.cc
Due: none

Fix bug in inlineConstantGlobalLoads
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
Due: none

vector distribute change
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUNestedLayoutDistributionPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_nested_layout_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

experimental
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
Due: none

[Bazel] Accept directories in bazel_to_cmake
  build_tools/bazel_to_cmake/bazel_to_cmake.py
Due: none
