Repository iree-org/iree: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel_to_cmake_1, bazel_to_cmake_2, check_path_lengths, build_file_names

buildifier:
  name: Run buildifier
  entry: buildifier
  language: golang
  additional_dependencies:
  - github.com/bazelbuild/buildtools/buildifier@1429e15ae755a6762d0edf9198062dc6ed04408d
  language_version: '1.16'

bazel_to_cmake_1:
  name: Run bazel_to_cmake.py on BUILD.bazel files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

bazel_to_cmake_2:
  name: Run bazel_to_cmake.py on CMakeLists.txt files
  language: python
  entry: ./build_tools/bazel_to_cmake/bazel_to_cmake.py

check_path_lengths:
  name: Check for excessively long path lengths
  language: fail
  entry: Path lengths relative to the root should be < 75 characters (run ./build_tools/scripts/check_path_lengths.py for detailed output)

build_file_names:
  name: Check Bazel file names
  entry: Files should be named BUILD.bazel instead of BUILD
  language: fail

Hoist SMFMAC acc expand/collapse across loop boundary
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLHoistSMFMACAccExpand.cpp
Due: none

Add peephole pass to eliminate redundant SMFMAC acc expand/collapse pairs
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLHoistSMFMACAccExpand.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Common] Update CombineSourceLayoutTransform pass to fold broadcast (#23511)
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/CombineLayoutTransformation.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUCombineLayoutTransformation.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Common/test/combine_source_layout_transformation.mlir
Due: none

Add note about create_mask special case
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
Due: none

[Codegen][VectorExt] Add TransferScatterOp bufferization support (#23719)
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/BufferizationInterfaces.cpp
Due: none

Split UnrollTransferDim into separate gather/scatter patterns
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
Due: none

Address comments and fix build
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IntTuple.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/unittests/PackMapTest.cpp
  compiler/src/iree/compiler/Tools/BUILD.bazel
Due: buildifier, bazel_to_cmake_1

init commit
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

[Codegen] Add iree_map dialect with PackMapAttr (#23671)
  compiler/src/iree/compiler/Codegen/Dialect/Map/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapBase.td
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapDialect.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IntTuple.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IntTuple.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/unittests/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/unittests/PackMapTest.cpp
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Deployed 00b956a with MkDocs version: 1.6.1
  reference/mlir-passes/CodegenCommon/index.html
  search/search_index.json
Due: none

Address review comments on unroll patterns
  compiler/src/iree/compiler/Codegen/Dialect/VectorExt/Transforms/LowerTransferGatherScatterOps.cpp
Due: none

Address code nits
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
Due: none

[Codegen] Add PackLayoutAttr and VectorLayoutInterface to iree_map dialect
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/Interfaces.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/VectorLayoutInterfaceImpl.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/VectorLayoutInterfaceImpl.h
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Map/ExternalInterfaces/test/pack_layout_vector_analysis.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/IREEMapDialect.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Map/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Use llvm::concat
  compiler/src/iree/compiler/Codegen/Common/MaterializeVectorMasking.cpp
Due: none

Add get_constraints_ops() and test
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/test/api/tuner_api_test.py
  compiler/src/iree/compiler/API/Internal/IREECodegenDialectCAPI.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Due: none

Fix comments
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

review-comments
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenTypes.h
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/unittests/UtilsTest.cpp
Due: none

Fix lint
  compiler/bindings/c/iree/compiler/dialects/iree_codegen.h
  compiler/bindings/python/test/api/tuner_api_test.py
Due: none

address reviewer comments
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
Due: none

remove void
  compiler/src/iree/compiler/Utils/PassUtils.h
Due: none

[LinalgExt] Fix im2col decomposition to handle multiple K input positions (#23731)
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
Due: none

[GPU] Add coalescing to reduction tiling (#23673)
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_tiling_level.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tile_and_convert_conv_to_matmul.mlir
  compiler/src/iree/compiler/Codegen/Common/TileAndFuseUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_direct_conv_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
Due: none

[Utils] Add MultiPipelineNest and revise MultiOpNest for cross-type parallelism (#23620)
  compiler/src/iree/compiler/Bindings/Native/Transforms/Passes.cpp
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/Utils/PassUtils.cpp
  compiler/src/iree/compiler/Utils/PassUtils.h
  compiler/src/iree/compiler/Utils/unittests/BUILD.bazel
  compiler/src/iree/compiler/Utils/unittests/CMakeLists.txt
  compiler/src/iree/compiler/Utils/unittests/PassUtilsTest.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

[Codegen][LLVMGPU] Replace LLVMGPUSimpleDistribute pipeline with TileAndFuse
  compiler/plugins/target/ROCM/test/ukernel_pipeline_transform.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeCopyUsingForall.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUGreedilyDistributeToThreads.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_derived_thread_config.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_greedily_distribute_to_threads.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/DerivedConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/DispatchCreation/FuseHorizontalContractions.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Move seeds table to KnowTarget.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
Due: none

Minor: flip condition
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
Due: none

address reviews
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
Due: none

[LLVMGPU] Optimize broadcast masks in ROCDLBufferInstructionsOptimization
  compiler/src/iree/compiler/Codegen/LLVMGPU/ROCDLBufferInstructionsOptimization.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/buffer_instructions_optimization.mlir
Due: none

[Common] Materialize implicit broadcasts for iGEMM consumer fusions
  compiler/src/iree/compiler/Codegen/Common/ConvolutionToIGEMM.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convolution_to_igemm.mlir
Due: none

[LinalgExt] Rewrite im2col decomposition with unified attributes and shared utilities
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_apply_derived_thread_config.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_promote_matmul_operands.mlir
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_igemm_tile_and_fuse_gfx950.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/AggregatedOpInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/Im2colUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/Im2colUtils.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/TilingInterfaceImpl.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/canonicalize.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/ConvertConvToIm2ColOp.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/DecomposeIm2col.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/conv_to_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/decompose_im2col.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Add 256-alignment padding tier for IGEMM tile size heuristics
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
Due: none

Add InferIntDivisibilityOpInterface for affine.delinearize_index
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/test_integer_divisibility_analysis.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Due: none

Fix 3x3 wrw perf regression: hoist expand_shape out of forall
  compiler/src/iree/compiler/Codegen/Common/ConvolutionToIGEMM.cpp
  compiler/src/iree/compiler/Codegen/Common/PropagateReshapesByExpansion.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
Due: none

[Codegen][GPU] Fix shared memory estimation for multi-buffering (#23736)
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUHeuristics.h
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/ConfigUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_tile_and_fuse_gfx950.mlir
Due: none

Migrate im2col vectorization to VectorizableOpInterface
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/VectorizableOpInterface.cpp
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Fix bazel build
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/CMakeLists.txt
Due: buildifier, bazel_to_cmake_1, bazel_to_cmake_2

Path conditions:
  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE|WORKSPACE\.bazel|WORKSPACE\.bzlmod|MODULE\.bazel)$|\.BUILD$|\.bzl$, but not: third_party/
  bazel_to_cmake_1: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(BUILD\.bazel)$, but not: third_party/
  bazel_to_cmake_2: any of: ^(compiler|runtime|samples|tests|tools)/(.*/)?(CMakeLists.txt)$, but not: third_party/
  check_path_lengths: any of: ^compiler/.{66,}/\w+\. and not (test/) and not (third_party/)
  build_file_names: any of: BUILD$, but not: third_party/
